Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

Update Playwright tests for the profile menu theme selector
  pwa/tests/index.spec.ts
  pwa/tests/theme.spec.ts
Due: none

screenshots: profile menu v2 light/dark/signed-out
  shots/pwa-profile-menu/v2-signed-in-dark-2662a350.png
  shots/pwa-profile-menu/v2-signed-in-light-b5a01030.png
  shots/pwa-profile-menu/v2-signed-out-66f45504.png
Due: none

Use the brand token for GameDay chrome
  pwa/app/components/tba/gameday/ChatSidebar.tsx
  pwa/app/components/tba/gameday/GamedayToolbar.tsx
Due: none

Use brand blue for default buttons
  pwa/app/components/ui/button.tsx
Due: none

Use brand blue for default buttons (#10177)
  pwa/app/components/ui/button.tsx
Due: none

Remove dead code left by the Base UI migration (#10172)
  pwa/app/components/tba/navigation/searchModal.tsx
  pwa/app/components/ui/popover.tsx
Due: none

Move link content inside Base UI render anchors (drops 12 eslint suppressions) (#10171)
  pwa/app/components/tba/addToCalendarLinks.tsx
  pwa/app/components/tba/eventListTable.tsx
  pwa/app/components/tba/match/matchRows.tsx
  pwa/app/routes/about.tsx
  pwa/app/routes/contact.tsx
  pwa/app/routes/donate.tsx
  pwa/app/routes/event.$eventKey.tsx
Due: none

Fix Base UI Select regressions: clipped popup list and raw-value triggers (#10167)
  pwa/app/components/tba/charts/coprScatterChart.tsx
  pwa/app/components/ui/select.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/events.{-$year}.tsx
  pwa/app/routes/teams.{-$pgNum}.tsx
  pwa/tests/select.spec.ts
Due: none

Fix Base UI NavigationMenu regressions: never-closed root and hover-opening hamburger (#10168)
  pwa/app/components/tba/navigation/navbar.tsx
  pwa/tests/navigation.spec.ts
Due: none

Restore dialog content-focus-on-open via a shared DialogContent prop (#10169)
  pwa/app/components/tba/gameday/ChatSidebar.tsx
  pwa/app/components/tba/gameday/SwapPositionDialog.tsx
  pwa/app/components/tba/gameday/WebcastSelectorDialog.tsx
  pwa/app/components/tba/match/matchModal.tsx
  pwa/app/components/ui/credenza.tsx
  pwa/app/components/ui/dialog.tsx
  pwa/tests/dialog-focus.spec.ts
Due: none

Use the brand token for GameDay chrome (#10176)
  pwa/app/components/tba/gameday/ChatSidebar.tsx
  pwa/app/components/tba/gameday/GamedayToolbar.tsx
Due: none

Add PWA suggestion review UI (phase 1)
  pwa/.env.example
  pwa/app/api/tba/moderation/@tanstack/react-query.gen.ts
  pwa/app/api/tba/moderation/client.gen.ts
  pwa/app/api/tba/moderation/client/client.gen.ts
  pwa/app/api/tba/moderation/client/index.ts
  pwa/app/api/tba/moderation/client/types.gen.ts
  pwa/app/api/tba/moderation/client/utils.gen.ts
  pwa/app/api/tba/moderation/core/auth.gen.ts
  pwa/app/api/tba/moderation/core/bodySerializer.gen.ts
  pwa/app/api/tba/moderation/core/params.gen.ts
  pwa/app/api/tba/moderation/core/pathSerializer.gen.ts
  pwa/app/api/tba/moderation/core/queryKeySerializer.gen.ts
  pwa/app/api/tba/moderation/core/serverSentEvents.gen.ts
  pwa/app/api/tba/moderation/core/types.gen.ts
  pwa/app/api/tba/moderation/core/utils.gen.ts
  pwa/app/api/tba/moderation/index.ts
  pwa/app/api/tba/moderation/sdk.gen.ts
  pwa/app/api/tba/moderation/types.gen.ts
  pwa/app/components/tba/moderation/keyboardShortcutsDialog.tsx
  pwa/app/components/tba/moderation/reviewGuidelines.test.ts
  pwa/app/components/tba/moderation/reviewGuidelines.tsx
  pwa/app/components/tba/moderation/suggestionReviewCard.tsx
  pwa/app/components/ui/breadcrumb.tsx
  pwa/app/lib/hooks/useModeration.ts
  pwa/app/lib/moderationUtils.test.ts
  pwa/app/lib/moderationUtils.ts
  pwa/app/routeTree.gen.ts
  pwa/app/routes/__root.tsx
  pwa/app/routes/suggest.review.$suggestionType.tsx
  pwa/app/routes/suggest.review.index.tsx
  pwa/app/vite-env.d.ts
  pwa/generate-api.sh
  pwa/openapi-ts/moderation.config.ts
  pwa/scripts/moderation-e2e.mjs
  pwa/tests/routes.spec.ts
Due: node-lint, node-test

Add moderation API (phase 1)
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/moderation.py
  src/backend/api/handlers/tests/moderation_test.py
  src/backend/api/main.py
  src/backend/api/moderation_api_main.py
  src/backend/common/models/user.py
  src/backend/common/suggestions/suggestion_reviewer.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/suggestions_seed.py
  src/backend/web/handlers/admin/tests/suggestions_seed_test.py
  src/backend/web/static/swagger/api_moderation_v1.json
  src/backend/web/templates/admin/suggestion_seed.html
Due: py3-type, py3-lint, py3-test

Require start/end dates when accepting offseason event suggestions
  src/backend/api/handlers/tests/moderation_test.py
  src/backend/common/suggestions/suggestion_reviewer.py
Due: py3-type, py3-lint, py3-test

[pwa] Swap to v2 insights
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  pwa/app/components/tba/insightCard.tsx
  pwa/app/components/tba/leaderboard.tsx
  pwa/app/components/tba/streakInsight.tsx
  pwa/app/components/tba/timeseriesInsight.tsx
  pwa/app/lib/insightUtils.ts
  pwa/app/routes/insights.{-$year}.tsx
  src/backend/web/static/swagger/api_v3.json
Due: none

[pwa] Fix a couple 2015 data issues
  pwa/app/api/tba/read/zod.gen.ts
  pwa/app/lib/oprUtils.ts
  pwa/app/router.tsx
  pwa/app/routes/event.$eventKey.tsx
  src/backend/web/static/swagger/api_v3.json
Due: none

[pwa] Fix a couple 2015 data issues (#10204)
  pwa/app/api/tba/read/zod.gen.ts
  pwa/app/lib/oprUtils.ts
  pwa/app/router.tsx
  pwa/app/routes/event.$eventKey.tsx
  src/backend/web/static/swagger/api_v3.json
Due: none

[pwa] Add shadcn typeset
  pwa/app/routes/about.tsx
  pwa/app/routes/add-data.tsx
  pwa/app/routes/contact.tsx
  pwa/app/routes/privacy.tsx
  pwa/app/routes/thanks.tsx
  pwa/app/style/tailwind.css
  pwa/app/style/typeset.css
Due: none

[pwa] Add shadcn typeset (#10205)
  pwa/app/routes/about.tsx
  pwa/app/routes/add-data.tsx
  pwa/app/routes/contact.tsx
  pwa/app/routes/privacy.tsx
  pwa/app/routes/thanks.tsx
  pwa/app/style/tailwind.css
  pwa/app/style/typeset.css
Due: none

Fix duplicated 'Division' in 2002 CMP division blue banner names
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Add before/after screenshots for PR #10215 (2002 division banner fix)
  evidence/pr-10215/after.png
  evidence/pr-10215/before.png
Due: none

[pwa] Swap to v2 insights (#10203)
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  pwa/app/components/tba/insightCard.tsx
  pwa/app/components/tba/leaderboard.tsx
  pwa/app/components/tba/streakInsight.tsx
  pwa/app/components/tba/timeseriesInsight.tsx
  pwa/app/lib/insightUtils.ts
  pwa/app/routes/insights.{-$year}.tsx
  src/backend/web/static/swagger/api_v3.json
Due: none

Various V2 insight bugfixes
  src/backend/common/helpers/insights_v2/leaderboards/calculator.py
  src/backend/common/helpers/insights_v2/leaderboards/most_coral_scored.py
  src/backend/common/helpers/insights_v2/leaderboards/most_fuel_scored.py
  src/backend/common/helpers/insights_v2/leaderboards/most_game_pieces_scored.py
  src/backend/common/helpers/insights_v2/match_alliance_points.py
  src/backend/common/helpers/insights_v2/names.py
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/insights_v2/timeseries/high_score_over_time.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_coral_scored_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_fuel_scored_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_game_pieces_scored_test.py
  src/backend/common/helpers/tests/insights_v2/match_alliance_points_test.py
  src/backend/common/helpers/tests/insights_v2/registry_test.py
  src/backend/common/helpers/tests/insights_v2/timeseries/high_score_over_time_test.py
  src/backend/tasks_cpu/handlers/insights.py
  src/backend/tasks_cpu/handlers/tests/insights_v2_test.py
Due: py3-type, py3-lint, py3-test

Various V2 insight bugfixes and new gamepiece insights (#10221)
  src/backend/common/helpers/insights_v2/leaderboards/calculator.py
  src/backend/common/helpers/insights_v2/leaderboards/most_coral_scored.py
  src/backend/common/helpers/insights_v2/leaderboards/most_fuel_scored.py
  src/backend/common/helpers/insights_v2/leaderboards/most_game_pieces_scored.py
  src/backend/common/helpers/insights_v2/match_alliance_points.py
  src/backend/common/helpers/insights_v2/names.py
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/insights_v2/timeseries/high_score_over_time.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_coral_scored_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_fuel_scored_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_game_pieces_scored_test.py
  src/backend/common/helpers/tests/insights_v2/match_alliance_points_test.py
  src/backend/common/helpers/tests/insights_v2/registry_test.py
  src/backend/common/helpers/tests/insights_v2/timeseries/high_score_over_time_test.py
  src/backend/tasks_cpu/handlers/insights.py
  src/backend/tasks_cpu/handlers/tests/insights_v2_test.py
Due: py3-type, py3-lint, py3-test

Add win margin/match score over time v2 insights
  src/backend/common/helpers/insights_v2/names.py
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/insights_v2/timeseries/average_match_score_by_week.py
  src/backend/common/helpers/insights_v2/timeseries/average_win_margin_by_week.py
  src/backend/common/helpers/tests/insights_v2/registry_test.py
  src/backend/common/helpers/tests/insights_v2/timeseries/average_match_score_by_week_test.py
  src/backend/common/helpers/tests/insights_v2/timeseries/average_win_margin_by_week_test.py
Due: py3-type, py3-lint, py3-test

Add win margin/match score over time v2 insights (#10231)
  src/backend/common/helpers/insights_v2/names.py
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/insights_v2/timeseries/average_match_score_by_week.py
  src/backend/common/helpers/insights_v2/timeseries/average_win_margin_by_week.py
  src/backend/common/helpers/tests/insights_v2/registry_test.py
  src/backend/common/helpers/tests/insights_v2/timeseries/average_match_score_by_week_test.py
  src/backend/common/helpers/tests/insights_v2/timeseries/average_win_margin_by_week_test.py
Due: py3-type, py3-lint, py3-test

[pwa] rm mise.toml that i accidentlaly added
  pwa/mise.toml
Due: none

[pwa] rm mise.toml that i accidentlaly added (#10251)
  pwa/mise.toml
Due: none

[pwa] Add default staleTime to tanstack queries
  pwa/README.md
  pwa/app/lib/queryClient.test.ts
  pwa/app/lib/queryClient.ts
  pwa/app/router.tsx
  pwa/app/routes/districts.{-$year}.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/team.$teamNumber.{-$year}.tsx
Due: none

[pwa] Add default staleTime to tanstack queries (#10252)
  pwa/README.md
  pwa/app/lib/queryClient.test.ts
  pwa/app/lib/queryClient.ts
  pwa/app/router.tsx
  pwa/app/routes/districts.{-$year}.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/team.$teamNumber.{-$year}.tsx
Due: none

[pwa] Resolve /status once in root beforeLoad, not per-route
  pwa/README.md
  pwa/app/lib/queryClient.test.ts
  pwa/app/lib/queryClient.ts
  pwa/app/lib/utils.test.ts
  pwa/app/lib/utils.tsx
  pwa/app/routes/__root.tsx
  pwa/app/routes/district.$districtAbbreviation.champs.$year.tsx
  pwa/app/routes/district.$districtAbbreviation.{-$year}.tsx
  pwa/app/routes/districts.{-$year}.tsx
  pwa/app/routes/events.{-$year}.tsx
  pwa/app/routes/index.tsx
  pwa/app/routes/team.$teamNumber.{-$year}.tsx
  pwa/app/routes/teams.{-$pgNum}.tsx
  pwa/app/routes/webcasts.tsx
Due: none

[pwa] Resolve /status once in root beforeLoad, not per-route (#10255)
  pwa/README.md
  pwa/app/lib/queryClient.test.ts
  pwa/app/lib/queryClient.ts
  pwa/app/lib/utils.test.ts
  pwa/app/lib/utils.tsx
  pwa/app/routes/__root.tsx
  pwa/app/routes/district.$districtAbbreviation.champs.$year.tsx
  pwa/app/routes/district.$districtAbbreviation.{-$year}.tsx
  pwa/app/routes/districts.{-$year}.tsx
  pwa/app/routes/events.{-$year}.tsx
  pwa/app/routes/index.tsx
  pwa/app/routes/team.$teamNumber.{-$year}.tsx
  pwa/app/routes/teams.{-$pgNum}.tsx
  pwa/app/routes/webcasts.tsx
Due: none

[pwa] Split heavy libraries out of route/entry chunks
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/match/scoreBreakdown2015.tsx
  pwa/app/router.tsx
  pwa/app/routes/__root.tsx
  pwa/app/routes/apidocs_.v3.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/tests/lazy-chunks.spec.ts
Due: none

[pwa] Split heavy libraries out of route/entry chunks (#10253)
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/match/scoreBreakdown2015.tsx
  pwa/app/router.tsx
  pwa/app/routes/__root.tsx
  pwa/app/routes/apidocs_.v3.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/tests/lazy-chunks.spec.ts
Due: none

Add tanstack eslint plugins
  .github/dependabot.yml
  pwa/app/lib/hooks/useFavoriteTeams.ts
  pwa/app/lib/hooks/useMyTBA.ts
  pwa/app/routes/account.index.tsx
  pwa/app/routes/account.mytba.tsx
  pwa/app/routes/district.$districtAbbreviation.insights.tsx
  pwa/app/routes/district.$districtAbbreviation.{-$year}.tsx
  pwa/app/routes/districts.{-$year}.tsx
  pwa/app/routes/match_suggestion.tsx
  pwa/app/routes/team.$teamNumber.stats.tsx
  pwa/eslint.config.js
  pwa/package.json
  pwa/pnpm-lock.yaml
Due: node-lint, node-test

Add tanstack eslint plugins (#10257)
  .github/dependabot.yml
  pwa/app/lib/hooks/useFavoriteTeams.ts
  pwa/app/lib/hooks/useMyTBA.ts
  pwa/app/routes/account.index.tsx
  pwa/app/routes/account.mytba.tsx
  pwa/app/routes/district.$districtAbbreviation.insights.tsx
  pwa/app/routes/district.$districtAbbreviation.{-$year}.tsx
  pwa/app/routes/districts.{-$year}.tsx
  pwa/app/routes/match_suggestion.tsx
  pwa/app/routes/team.$teamNumber.stats.tsx
  pwa/eslint.config.js
  pwa/package.json
  pwa/pnpm-lock.yaml
Due: node-lint, node-test

Make local bootstrap use bulk ops
  src/backend/web/local/bootstrap.py
  src/backend/web/local/tests/bootstrap_test.py
Due: py3-type, py3-lint, py3-test

[pwa] Make search more responsive on page load
  pwa/app/components/tba/navigation/searchModal.tsx
  pwa/app/components/tba/teamTooltip.tsx
  pwa/app/lib/queryClient.test.ts
  pwa/app/lib/queryClient.ts
  pwa/app/routes/__root.tsx
  pwa/app/routes/search.tsx
  pwa/tests/search.spec.ts
Due: none

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
