Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [pre-commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [pre-commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [pre-commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [pre-commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [pre-commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [pre-commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [pre-commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]
    - id: gcloud-sdk-version
      name: "Checking Google Cloud SDK Version"
      entry: ./ops/check_sdk_version.sh
      language: script
      always_run: true
      stages: [post-checkout]

Add failing tests for AddRemoveSingleTeam re-fetch reset (Bug #41)
  src/frontend/eventwizard/components/teamsTab/__tests__/AddRemoveSingleTeam.test.tsx
Due: none

Add failing test for clearing the single-team picker (Bug #42)
  src/frontend/eventwizard/components/teamsTab/__tests__/AddRemoveSingleTeam.test.tsx
Due: none

Add failing test for bug #1: clearing a team's cache 500s
  src/backend/web/handlers/admin/tests/cache_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for bug #2: creating an event with alliance/rankings JSON 500s and half-saves
  src/backend/web/handlers/admin/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for Bug #54: 2018 Fouls Received shows each alliance's own fouls
  pwa/app/components/tba/match/scoreBreakdown2018.test.tsx
Due: none

Add failing test for bug #3: uppercase event_short redirects to a non-existent uppercase key
  src/backend/web/handlers/admin/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for bug #4: clearing an event's cache 404s when it has no EventDetails
  src/backend/web/handlers/admin/tests/cache_test.py
Due: py3-type, py3-lint, py3-test

Split bug-asserting tests out of the prediction coverage PR; fix two misnamed tests
  src/backend/common/helpers/tests/predictions_helper_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for bug #5: api_auth edit never saves offseason_webcast_channels on an existing key
  src/backend/web/handlers/admin/tests/api_auth_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for Bug #55: 2017 breakdown crashes for a two-team alliance
  pwa/app/components/tba/match/scoreBreakdown2017.test.tsx
Due: none

Split bug-asserting tests out of the web handlers coverage PR
  src/backend/web/handlers/tests/account_test.py
  src/backend/web/handlers/tests/index_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for bug #6: api_auth edit on a READ_API key with a write flag 500s
  src/backend/web/handlers/admin/tests/api_auth_test.py
Due: py3-type, py3-lint, py3-test

Drop tests that pin gameday2 state, liveevent and zebramotionworks bugs
  src/frontend/gameday2/__tests__/gameday2.test.js
  src/frontend/gameday2/reducers/__tests__/chats.test.js
  src/frontend/gameday2/reducers/__tests__/videoGrid.test.js
  src/frontend/gameday2/reducers/__tests__/visibility.test.js
  src/frontend/liveevent/components/__tests__/CurrentMatchDisplay.test.js
  src/frontend/zebramotionworks/components/__tests__/HeatmapVisualizer.test.js
  src/frontend/zebramotionworks/components/__tests__/RobotTrajectory.test.js
  src/frontend/zebramotionworks/components/__tests__/ZebraMotionWorksVisualizer.test.js
Due: node-lint, node-test

Add failing test for bug #26: mytba eventteam 500s for a team with no events
  src/backend/web/handlers/tests/account_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for SET_LAYOUT_DRAWER_VISIBILITY (Bug #43)
  src/frontend/gameday2/reducers/__tests__/visibility.test.js
Due: node-lint, node-test

Add failing test for chats default-state leak (Bug #44)
  src/frontend/gameday2/reducers/__tests__/chats.test.js
Due: node-lint, node-test

Add failing tests for defaultChat reset on WEBCASTS_UPDATED (Bug #45)
  src/frontend/gameday2/__tests__/gameday2.test.js
  src/frontend/gameday2/reducers/__tests__/chats.test.js
Due: node-lint, node-test

Add failing test for bug #7: empty divisions field 500s on admin event edit
  src/backend/web/handlers/admin/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for RESET_WEBCASTS livescore flags (Bug #46)
  src/frontend/gameday2/reducers/__tests__/videoGrid.test.js
Due: node-lint, node-test

Add failing test for RobotTrajectory at x = 0 (Bug #47)
  src/frontend/zebramotionworks/components/__tests__/RobotTrajectory.test.js
Due: node-lint, node-test

Add failing test for bug #27: cached /avatars page reassembles shards out of order
  src/backend/web/handlers/tests/index_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for HeatmapVisualizer negative coordinates (Bug #48)
  src/frontend/zebramotionworks/components/__tests__/HeatmapVisualizer.test.js
Due: node-lint, node-test

Add failing tests for minor liveevent and zebramotionworks bugs (Bug #49)
  src/frontend/liveevent/components/__tests__/CurrentMatchDisplay.test.js
  src/frontend/liveevent/components/__tests__/LiveEventPanel.test.js
  src/frontend/liveevent/components/__tests__/UpcomingMatchesTable.test.js
  src/frontend/zebramotionworks/components/__tests__/RobotTrajectory.test.js
  src/frontend/zebramotionworks/components/__tests__/ZebraMotionWorksVisualizer.test.js
Due: node-lint, node-test

Add failing test for bug #8: admin team_detail media years are not sorted
  src/backend/web/handlers/admin/tests/team_test.py
Due: py3-type, py3-lint, py3-test

Move Bug #50 sponsor-parsing pin out of the coverage PR
  pwa/app/lib/teamUtils.test.ts
Due: none

Add failing test for bug #9: get_similarity acronym matching is dead code
  src/backend/common/helpers/tests/location_helper_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for bug #23: robot_on_stage extractor shadows the match index
  src/backend/common/helpers/tests/predictions_helper_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for Bug #50: attemptToParseSponsors splits an embedded-ampersand school name
  pwa/app/lib/teamUtils.test.ts
Due: none

Add failing test for bug #10: compute_event_location_score raises KeyError without formatted_address
  src/backend/common/helpers/tests/location_helper_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for bug #11: google_maps_geocode caches empty results but never serves them
  src/backend/common/helpers/tests/location_helper_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for bug #24: 2024/2025 bonus predictions read never-computed stats
  src/backend/common/helpers/tests/predictions_helper_test.py
Due: py3-type, py3-lint, py3-test

Drop the LampIcon test that pins ignored defaultProps
  src/frontend/gameday2/components/__tests__/LampIcon.test.js
Due: node-lint, node-test

Add failing test for Bug #51: isEventWithinDays throws on an undefined start_date
  pwa/app/lib/eventUtils.test.ts
Due: none

Add failing test for LampIcon default size (Bug #68)
  src/frontend/gameday2/components/__tests__/LampIcon.test.js
Due: node-lint, node-test

Add failing test for bug #12: LocationInfo annotates types as str and postal_code as int
  src/backend/common/helpers/tests/location_helper_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for bug #13: missing-key warnings name google.api_key instead of google.secrets
  src/backend/common/helpers/tests/location_helper_test.py
Due: py3-type, py3-lint, py3-test

Split bug-pinning insights tests out into per-bug PRs
  src/backend/common/helpers/insights_helper.py
  src/backend/common/helpers/tests/insights_helper_test.py
  src/backend/tasks_cpu/handlers/tests/insights_test.py
Due: py3-type, py3-lint, py3-test

Split bug-asserting tests out of the common data coverage PR
  src/backend/common/datafeed_parsers/tests/csv_offseason_matches_parser_test.py
  src/backend/common/models/tests/event_test.py
  src/backend/common/models/tests/regional_pool_team_test.py
  src/backend/common/queries/tests/insight_query_test.py
  src/backend/common/queries/tests/team_query_test.py
  src/backend/common/suggestions/tests/suggestion_creator_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for bug #14: unknown overall-insight kind 500s outside the task queue
  src/backend/tasks_cpu/handlers/tests/insights_test.py
Due: py3-type, py3-lint, py3-test

Move Bug #60 highlight pins out of the coverage PR
  pwa/app/components/tba/doubleElim4TeamBracket.test.tsx
  pwa/app/components/tba/traditionalBracket.test.tsx
Due: none
