Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [pre-commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [pre-commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [pre-commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [pre-commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [pre-commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [pre-commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [pre-commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]
    - id: gcloud-sdk-version
      name: "Checking Google Cloud SDK Version"
      entry: ./ops/check_sdk_version.sh
      language: script
      always_run: true
      stages: [post-checkout]

[pwa] Cut team robot-image load times (#10632)
  pwa/app/components/tba/teamMediaGallery.tsx
  pwa/app/components/tba/teamRobotPicsCarousel.tsx
  pwa/app/lib/mediaUtils.test.ts
  pwa/app/lib/mediaUtils.ts
  pwa/tests/carousel.spec.ts
Due: none

[pwa] Increase event page cache TTLs
  pwa/app/lib/eventUtils.test.ts
  pwa/app/lib/eventUtils.ts
  pwa/app/lib/utils.tsx
  pwa/app/routes/event.$eventKey.tsx
Due: none

[pwa] Increase event page cache TTLs (#10633)
  pwa/app/lib/eventUtils.test.ts
  pwa/app/lib/eventUtils.ts
  pwa/app/lib/utils.tsx
  pwa/app/routes/event.$eventKey.tsx
Due: none

[pwa] Cut match page load times by lazyloading youtube embed
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/videoEmbeds.tsx
  pwa/tests/lazy-chunks.spec.ts
Due: none

[pwa] Cut match page load times by lazyloading youtube embed (#10634)
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/videoEmbeds.tsx
  pwa/tests/lazy-chunks.spec.ts
Due: none

[pwa] Overhaul testing approach
  pwa/AGENTS.md
  pwa/README.md
  pwa/app/components/tba/links.test.tsx
  pwa/package.json
  pwa/pnpm-lock.yaml
  pwa/tests/carousel.spec.ts
  pwa/tests/data-caching.spec.ts
  pwa/tests/dialog-focus.spec.ts
  pwa/tests/district-insights.spec.ts
  pwa/tests/district.spec.ts
  pwa/tests/districts.spec.ts
  pwa/tests/event-media.spec.ts
  pwa/tests/event.spec.ts
  pwa/tests/events.spec.ts
  pwa/tests/index.spec.ts
  pwa/tests/lazy-chunks.spec.ts
  pwa/tests/match.spec.ts
  pwa/tests/mytba-write.spec.ts
  pwa/tests/navigation.spec.ts
  pwa/tests/rankings-table.spec.ts
  pwa/tests/round-robin-rankings.spec.ts
  pwa/tests/search.spec.ts
  pwa/tests/select.spec.ts
  pwa/tests/team.spec.ts
  pwa/tests/teams.spec.ts
  pwa/tests/theme.spec.ts
Due: none

[pwa] Refactor minor playwright tests
  pwa/tests/district.spec.ts
  pwa/tests/districts.spec.ts
  pwa/tests/events.spec.ts
  pwa/tests/match.spec.ts
  pwa/tests/teams.spec.ts
Due: none

[pwa] Refactor /team/key tests
  pwa/AGENTS.md
  pwa/tests/team.spec.ts
Due: none

[pwa] Refactor routes tests
  pwa/tests/routes.spec.ts
Due: none

[pwa] Refactor /event/key tests
  pwa/tests/event.spec.ts
Due: none

pwa testing overhaul (#10635)
  pwa/AGENTS.md
  pwa/README.md
  pwa/app/components/tba/links.test.tsx
  pwa/package.json
  pwa/pnpm-lock.yaml
  pwa/tests/carousel.spec.ts
  pwa/tests/data-caching.spec.ts
  pwa/tests/dialog-focus.spec.ts
  pwa/tests/district-insights.spec.ts
  pwa/tests/district.spec.ts
  pwa/tests/districts.spec.ts
  pwa/tests/event-media.spec.ts
  pwa/tests/event.spec.ts
  pwa/tests/events.spec.ts
  pwa/tests/index.spec.ts
  pwa/tests/lazy-chunks.spec.ts
  pwa/tests/match.spec.ts
  pwa/tests/mytba-write.spec.ts
  pwa/tests/navigation.spec.ts
  pwa/tests/rankings-table.spec.ts
  pwa/tests/round-robin-rankings.spec.ts
  pwa/tests/search.spec.ts
  pwa/tests/select.spec.ts
  pwa/tests/team.spec.ts
  pwa/tests/teams.spec.ts
  pwa/tests/theme.spec.ts
Due: none

pwa refactor routes tests (#10636)
  pwa/tests/routes.spec.ts
Due: none

pwa refactor event tests (#10638)
  pwa/tests/event.spec.ts
Due: none

pwa refactor minor tests (#10639)
  pwa/tests/district.spec.ts
  pwa/tests/districts.spec.ts
  pwa/tests/events.spec.ts
  pwa/tests/match.spec.ts
  pwa/tests/teams.spec.ts
Due: none

pwa refactor team tests (#10637)
  pwa/AGENTS.md
  pwa/tests/team.spec.ts
Due: none

Add Beta Link to Mod Cron Nag Text
  src/backend/tasks_io/handlers/cron_misc.py
Due: py3-type, py3-lint, py3-test

Making linting happy....
  src/backend/tasks_io/handlers/cron_misc.py
Due: py3-type, py3-lint, py3-test

[api] Optimize validate_keys cache sizing, TTL differentiation, and pipeline
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/apiv3_auth_test.py
  src/backend/api/handlers/tests/test_validate_keys.py
Due: py3-type, py3-lint, py3-test

[api] Optimize ETag validation and dependency-saving pipeline
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/helpers/etag_helper.py
  src/backend/api/handlers/helpers/tests/etag_helper_test.py
  src/backend/api/handlers/tests/test_validate_etag.py
  src/backend/conftest.py
Due: py3-type, py3-lint, py3-test

[api] Optimize validate_keys cache sizing, TTL differentiation, and pipeline (#10642)
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/apiv3_auth_test.py
  src/backend/api/handlers/tests/test_validate_keys.py
Due: py3-type, py3-lint, py3-test

[api] Optimize ETag validation and dependency-saving pipeline (#10643)
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/helpers/etag_helper.py
  src/backend/api/handlers/helpers/tests/etag_helper_test.py
  src/backend/api/handlers/tests/test_validate_etag.py
  src/backend/conftest.py
Due: py3-type, py3-lint, py3-test

[pwa] Add various component tests
  pwa/app/components/tba/eventListTable.test.tsx
  pwa/app/components/tba/favoriteButton.test.tsx
  pwa/app/components/tba/match/breakers.test.ts
  pwa/app/components/tba/scoutingExport.test.tsx
  pwa/app/components/tba/videoEmbeds.test.tsx
  pwa/app/components/ui/breadcrumb.test.tsx
  pwa/app/components/ui/breadcrumb.tsx
  pwa/app/lib/middleware/network-cache.test.ts
  pwa/app/lib/moderationUtils.test.ts
  pwa/app/lib/queryClient.test.ts
  pwa/app/routes/suggest.review.$suggestionType.tsx
  pwa/scripts/moderation-e2e.mjs
  pwa/vite.config.ts
Due: node-lint, node-test

[pwa] Fix various vitest configurations
  pwa/AGENTS.md
  pwa/app/components/tba/eventListTable.test.tsx
  pwa/app/components/tba/favoriteButton.test.tsx
  pwa/app/components/tba/links.test.tsx
  pwa/app/components/tba/match/breakers.test.ts
  pwa/app/components/tba/moderation/reviewGuidelines.test.ts
  pwa/app/components/tba/scoutingExport.test.tsx
  pwa/app/components/tba/videoEmbeds.test.tsx
  pwa/app/components/ui/breadcrumb.test.tsx
  pwa/app/lib/apiError.test.ts
  pwa/app/lib/appleSplashLinks.test.ts
  pwa/app/lib/csvUtils.test.ts
  pwa/app/lib/eventUtils.test.ts
  pwa/app/lib/gameday/layouts.test.ts
  pwa/app/lib/gameday/reducer.test.ts
  pwa/app/lib/gameday/useGamedayUrlSync.test.ts
  pwa/app/lib/insightUtils.test.ts
  pwa/app/lib/kickoffUtils.test.ts
  pwa/app/lib/logger.test.ts
  pwa/app/lib/matchUtils.test.ts
  pwa/app/lib/mediaUtils.test.ts
  pwa/app/lib/middleware/network-cache.test.ts
  pwa/app/lib/moderationUtils.test.ts
  pwa/app/lib/oprUtils.test.ts
  pwa/app/lib/queryClient.test.ts
  pwa/app/lib/scoutingUtils.test.ts
  pwa/app/lib/successRateUtils.test.ts
  pwa/app/lib/teamUtils.test.ts
  pwa/app/lib/utils.test.ts
  pwa/vite.config.ts
  pwa/vitest.setup.ts
Due: none

[pwa] Fix various vitest config issues, add some starter component tests (#10650)
  pwa/AGENTS.md
  pwa/app/components/tba/eventListTable.test.tsx
  pwa/app/components/tba/favoriteButton.test.tsx
  pwa/app/components/tba/links.test.tsx
  pwa/app/components/tba/match/breakers.test.ts
  pwa/app/components/tba/moderation/reviewGuidelines.test.ts
  pwa/app/components/tba/scoutingExport.test.tsx
  pwa/app/components/tba/videoEmbeds.test.tsx
  pwa/app/components/ui/breadcrumb.test.tsx
  pwa/app/components/ui/breadcrumb.tsx
  pwa/app/lib/apiError.test.ts
  pwa/app/lib/appleSplashLinks.test.ts
  pwa/app/lib/csvUtils.test.ts
  pwa/app/lib/eventUtils.test.ts
  pwa/app/lib/gameday/layouts.test.ts
  pwa/app/lib/gameday/reducer.test.ts
  pwa/app/lib/gameday/useGamedayUrlSync.test.ts
  pwa/app/lib/insightUtils.test.ts
  pwa/app/lib/kickoffUtils.test.ts
  pwa/app/lib/logger.test.ts
  pwa/app/lib/matchUtils.test.ts
  pwa/app/lib/mediaUtils.test.ts
  pwa/app/lib/middleware/network-cache.test.ts
  pwa/app/lib/moderationUtils.test.ts
  pwa/app/lib/oprUtils.test.ts
  pwa/app/lib/queryClient.test.ts
  pwa/app/lib/scoutingUtils.test.ts
  pwa/app/lib/successRateUtils.test.ts
  pwa/app/lib/teamUtils.test.ts
  pwa/app/lib/utils.test.ts
  pwa/app/routes/suggest.review.$suggestionType.tsx
  pwa/scripts/moderation-e2e.mjs
  pwa/vite.config.ts
  pwa/vitest.setup.ts
Due: node-lint, node-test

Add Beta Link to Mod Cron Nag Text (#10641)
  src/backend/tasks_io/handlers/cron_misc.py
Due: py3-type, py3-lint, py3-test

[api] Canonicalize query hash across fetch_json and fetch_dict
  src/backend/api/handlers/tests/test_validate_etag.py
  src/backend/common/queries/database_query.py
Due: py3-type, py3-lint, py3-test

[api] Canonicalize query hash across fetch_json and fetch_dict (#10651)
  src/backend/api/handlers/tests/test_validate_etag.py
  src/backend/common/queries/database_query.py
Due: py3-type, py3-lint, py3-test

[api] Use models_query_response in district and insights handlers
  src/backend/api/handlers/district.py
  src/backend/api/handlers/insights.py
  src/backend/api/handlers/tests/district_test.py
  src/backend/api/handlers/tests/insight_test.py
  src/backend/api/handlers/tests/insight_v2_test.py
Due: py3-type, py3-lint, py3-test

[api] Use models_query_response in district and insights handlers (#10652)
  src/backend/api/handlers/district.py
  src/backend/api/handlers/insights.py
  src/backend/api/handlers/tests/district_test.py
  src/backend/api/handlers/tests/insight_test.py
  src/backend/api/handlers/tests/insight_v2_test.py
Due: py3-type, py3-lint, py3-test

[api] Unify _do_json_query pipeline to ensure single JSON serialization
  src/backend/common/queries/database_query.py
  src/backend/common/queries/tests/database_query_test.py
Due: py3-type, py3-lint, py3-test

[api] Unify _do_json_query pipeline to ensure single JSON serialization (#10653)
  src/backend/common/queries/database_query.py
  src/backend/common/queries/tests/database_query_test.py
Due: py3-type, py3-lint, py3-test

[api] Combine pre-serialized JSON chunks at byte level for multi-query handlers
  src/backend/api/handlers/event.py
  src/backend/api/handlers/helpers/model_query_response.py
  src/backend/api/handlers/helpers/tests/model_query_response_test.py
  src/backend/api/handlers/team.py
  src/backend/api/handlers/tests/event_test.py
  src/backend/api/handlers/tests/team_test.py
Due: py3-type, py3-lint, py3-test

Revert byte concatenation for team_history
  src/backend/api/handlers/team.py
  src/backend/api/handlers/tests/team_test.py
Due: py3-type, py3-lint, py3-test

Revert changes to max_team_key in team_list_all
  src/backend/api/handlers/team.py
  src/backend/api/handlers/tests/team_test.py
Due: py3-type, py3-lint, py3-test

Optimize multi-query API handlers via pre-serialized JSON chunk combining (#10654)
  src/backend/api/handlers/event.py
  src/backend/api/handlers/helpers/model_query_response.py
  src/backend/api/handlers/helpers/tests/model_query_response_test.py
  src/backend/api/handlers/team.py
  src/backend/api/handlers/tests/event_test.py
  src/backend/api/handlers/tests/team_test.py
Due: py3-type, py3-lint, py3-test

[models/api] Standardize on orjson across models and client_api_method
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/decorator_order_test.py
  src/backend/common/models/award.py
  src/backend/common/models/cached_query_result.py
  src/backend/common/models/media.py
  src/backend/common/models/tests/award_test.py
  src/backend/common/models/tests/cached_query_result_test.py
  src/backend/common/models/tests/media_test.py
Due: py3-type, py3-lint, py3-test

Standardize on orjson across models and client_api_method (#10655)
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/decorator_order_test.py
  src/backend/common/models/award.py
  src/backend/common/models/cached_query_result.py
  src/backend/common/models/media.py
  src/backend/common/models/tests/award_test.py
  src/backend/common/models/tests/cached_query_result_test.py
  src/backend/common/models/tests/media_test.py
Due: py3-type, py3-lint, py3-test

Fix GameDay hydration mismatch
  pwa/vite.config.ts
Due: none

Fix GameDay hydration mismatch (#10662)
  pwa/vite.config.ts
Due: none

Preview SmugMug album contents on the PWA suggestion review page
  pwa/app/api/tba/moderation/index.ts
  pwa/app/api/tba/moderation/types.gen.ts
  pwa/app/components/tba/moderation/suggestionReviewCard.tsx
  src/backend/api/handlers/moderation.py
  src/backend/api/handlers/tests/moderation_test.py
  src/backend/common/helpers/smugmug_helper.py
  src/backend/common/helpers/tests/smugmug_helper_test.py
  src/backend/web/static/swagger/api_moderation_v1.json
Due: py3-type, py3-lint, py3-test
