Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]

Appease the formatter and typechecker
  src/backend/common/queries/team_query.py
Due: py3-type, py3-lint, py3-test

whitespace
  src/backend/common/queries/team_query.py
Due: py3-type, py3-lint, py3-test

appease the linter (again)
  src/backend/common/queries/team_query.py
Due: py3-type, py3-lint, py3-test

Bump cache version and use `keys_only`
  src/backend/common/queries/team_query.py
Due: py3-type, py3-lint, py3-test

Run queries in parallel
  src/backend/common/queries/team_query.py
Due: py3-type, py3-lint, py3-test

Attempt to fix the test!
  src/backend/common/queries/tests/district_teams_query_test.py
Due: py3-type, py3-lint, py3-test

fix some more tests
  src/backend/api/handlers/tests/district_test.py
  src/backend/web/handlers/tests/helpers.py
Due: py3-type, py3-lint, py3-test

Support double digit set numbers in EF and QF matches
  src/backend/common/models/match.py
  src/backend/common/models/tests/match_test.py
Due: py3-type, py3-lint, py3-test

Support double digit set numbers in EF and QF matches (#5310)
  src/backend/common/models/match.py
  src/backend/common/models/tests/match_test.py
Due: py3-type, py3-lint, py3-test

fix test
  src/backend/common/helpers/tests/firebase_pusher_test.py
Due: py3-type, py3-lint, py3-test

port clientapi ping methods
  old_py2/mobile_main.py
  ops/test_ops.sh
  ops/tests/client_api_fullstack.test.js
  src/backend/api/client_api_types.py
  src/backend/api/handlers/client_api.py
  src/backend/api/handlers/tests/client_api_ping_test.py
  src/backend/api/main.py
  src/backend/web/local/blueprint.py
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Port clientapi ping to py3 (#5328)
  old_py2/mobile_main.py
  ops/test_ops.sh
  ops/tests/client_api_fullstack.test.js
  src/backend/api/client_api_types.py
  src/backend/api/handlers/client_api.py
  src/backend/api/handlers/tests/client_api_ping_test.py
  src/backend/api/main.py
  src/backend/web/local/blueprint.py
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Sort 2023 breakdown keys
  src/backend/common/helpers/score_breakdown_keys.py
Due: py3-type, py3-lint, py3-test

Add missing 2023 breakdown keys
  src/backend/common/helpers/score_breakdown_keys.py
Due: py3-type, py3-lint, py3-test

Fix error message for invalid breakdown field
  src/backend/api/api_trusted_parsers/json_matches_parser.py
Due: py3-type, py3-lint, py3-test

Improve error messages for invalid score breakdown keys
  src/backend/api/api_trusted_parsers/json_matches_parser.py
  src/backend/common/helpers/score_breakdown_keys.py
Due: py3-type, py3-lint, py3-test

Add missing 2023 breakdown fields (#5348)
  src/backend/api/api_trusted_parsers/json_matches_parser.py
  src/backend/common/helpers/score_breakdown_keys.py
Due: py3-type, py3-lint, py3-test

Also update eslint-plugin-prettier to v5.0.0
  package-lock.json
  package.json
Due: none

apply fixes
  src/frontend/gameday2/selectors/index.js
Due: node-lint, node-test

port clientapi suggestion creation to py3
  old_py2/mobile_main.py
  src/backend/api/api_trusted_parsers/json_matches_parser.py
  src/backend/api/client_api_types.py
  src/backend/api/handlers/client_api.py
  src/backend/api/handlers/tests/client_api_suggestion_test.py
  src/backend/api/main.py
Due: py3-type, py3-lint, py3-test

Port ClientAPI Suggestion Creation to py3 (#5385)
  old_py2/mobile_main.py
  src/backend/api/api_trusted_parsers/json_matches_parser.py
  src/backend/api/client_api_types.py
  src/backend/api/handlers/client_api.py
  src/backend/api/handlers/tests/client_api_suggestion_test.py
  src/backend/api/main.py
Due: py3-type, py3-lint, py3-test

Port mytba methods to clientapi
  old_py2/helpers/mytba_helper.py
  old_py2/helpers/notification_helper.py
  old_py2/mobile_main.py
  ops/tests/client_api_fullstack.test.js
  src/backend/api/client_api_types.py
  src/backend/api/handlers/client_api.py
  src/backend/api/handlers/tests/client_api_mytba_test.py
  src/backend/api/main.py
  src/backend/common/helpers/mytba_helper.py
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/models/notifications/mytba.py
Due: py3-type, py3-lint, py3-test, node-lint, node-test

extend tbans to allow filtering logic done by notification
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/models/notifications/mytba.py
  src/backend/common/models/notifications/notification.py
  src/backend/common/models/notifications/tests/mocks/notifications/mock_notification.py
  src/backend/common/models/notifications/tests/notification_test.py
  src/backend/common/models/notifications/tests/update_favorites_test.py
  src/backend/common/models/notifications/tests/update_subscriptions_test.py
Due: py3-type, py3-lint, py3-test

Port MyTBA management clientapi methods to py3 (#5384)
  old_py2/helpers/mytba_helper.py
  old_py2/helpers/notification_helper.py
  old_py2/mobile_main.py
  ops/tests/client_api_fullstack.test.js
  src/backend/api/client_api_types.py
  src/backend/api/handlers/client_api.py
  src/backend/api/handlers/tests/client_api_mytba_test.py
  src/backend/api/main.py
  src/backend/common/helpers/mytba_helper.py
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/models/notifications/mytba.py
  src/backend/common/models/notifications/notification.py
  src/backend/common/models/notifications/tests/mocks/notifications/mock_notification.py
  src/backend/common/models/notifications/tests/notification_test.py
  src/backend/common/models/notifications/tests/update_favorites_test.py
  src/backend/common/models/notifications/tests/update_subscriptions_test.py
Due: py3-type, py3-lint, py3-test, node-lint, node-test

account deletion support
  src/backend/common/auth.py
  src/backend/common/consts/suggestion_state.py
  src/backend/common/helpers/account_deletion.py
  src/backend/common/helpers/tests/account_deletion_helper_test.py
  src/backend/common/tests/auth_test.py
  src/backend/web/handlers/account.py
  src/backend/web/handlers/tests/account_overview_test.py
  src/backend/web/handlers/tests/account_test.py
  src/backend/web/templates/account_delete.html
  src/backend/web/templates/account_overview.html
Due: py3-type, py3-lint, py3-test

Add Account Deletion (#5387)
  src/backend/common/auth.py
  src/backend/common/consts/suggestion_state.py
  src/backend/common/helpers/account_deletion.py
  src/backend/common/helpers/tests/account_deletion_helper_test.py
  src/backend/common/tests/auth_test.py
  src/backend/web/handlers/account.py
  src/backend/web/handlers/tests/account_overview_test.py
  src/backend/web/handlers/tests/account_test.py
  src/backend/web/templates/account_delete.html
  src/backend/web/templates/account_overview.html
Due: py3-type, py3-lint, py3-test

route clientapi to py3
  dispatch.yaml
Due: none

deploy dispatch.yaml from py3 repo
  .github/workflows/push.yml
  ops/deploy/deploy_dispatch.sh
  ops/prod_dispatch.yaml
  src/dispatch.yaml
Due: none

deploy dispatch.yaml from py3 repo (#5389)
  .github/workflows/push.yml
  ops/deploy/deploy_dispatch.sh
  ops/prod_dispatch.yaml
  src/dispatch.yaml
Due: none

fix setting of fullstack test timeouts
  ops/test_ops.sh
  ops/tests/client_api_fullstack.test.js
Due: node-lint, node-test

update dispatch to route to py3 in prod
  ops/prod_dispatch.yaml
Due: none

port remaining /_/account endpoints to py3
  old_py2/controllers/ajax_controller.py
  old_py2/main.py
  src/backend/web/handlers/ajax.py
  src/backend/web/handlers/tests/ajax_test.py
  src/backend/web/main.py
  src/backend/web/static/javascript/tba_js/tba_favorites.js
  src/backend/web/static/javascript/tba_js/tba_fcm.js
  src/backend/web/templates/account_overview.html
  src/backend/web/templates/team_details.html
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Port /_/account endpoints to py3 (#5390)
  old_py2/controllers/ajax_controller.py
  old_py2/main.py
  ops/prod_dispatch.yaml
  src/backend/web/handlers/ajax.py
  src/backend/web/handlers/tests/ajax_test.py
  src/backend/web/main.py
  src/backend/web/static/javascript/tba_js/tba_favorites.js
  src/backend/web/static/javascript/tba_js/tba_fcm.js
  src/backend/web/templates/account_overview.html
  src/backend/web/templates/team_details.html
Due: py3-type, py3-lint, py3-test, node-lint, node-test

port search page to py3
  old_py2/controllers/main_controller.py
  old_py2/main.py
  ops/prod_dispatch.yaml
  src/backend/web/handlers/search.py
  src/backend/web/handlers/tests/search_test.py
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

port search page to py3 (#5391)
  old_py2/controllers/main_controller.py
  old_py2/main.py
  ops/prod_dispatch.yaml
  src/backend/web/handlers/search.py
  src/backend/web/handlers/tests/search_test.py
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

remove py2 url routing rules
  ops/prod_dispatch.yaml
Due: none

remove py2 url routing rules (#5392)
  ops/prod_dispatch.yaml
Due: none

standardize on one dispatch.yaml
  ops/deploy/deploy_dispatch.sh
  ops/prod_dispatch.yaml
  src/dispatch.yaml
Due: none

standardize on one dispatch.yaml (#5393)
  ops/deploy/deploy_dispatch.sh
  ops/prod_dispatch.yaml
  src/dispatch.yaml
Due: none

deploy default module from py3
  .github/workflows/push.yml
Due: none
