Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

cn usage, move/use methods from utils files
  pwa/app/components/tba/eliminationBracket.tsx
  pwa/app/components/tba/match/matchRows.tsx
  pwa/app/lib/eventUtils.ts
  pwa/app/lib/matchUtils.ts
Due: none

[PWA] Visual fixes for tool tips (#7996)
  pwa/app/components/ui/tooltip.tsx
Due: none

Update push.yml
  .github/workflows/push.yml
Due: none

Update push.yml (#8007)
  .github/workflows/push.yml
Due: none

Fix 2025 event insights without coop
  src/backend/common/helpers/event_insights_helper.py
Due: py3-type, py3-lint, py3-test

Fix 2025 event insights without coop (#8013)
  src/backend/common/helpers/event_insights_helper.py
Due: py3-type, py3-lint, py3-test

[Eventwizard2] Add match videos tab for batch importing youtube videos
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/matchVideosTab/MatchVideosTab.js
  src/frontend/eventwizard/containers/MatchVideosContainer.js
Due: node-lint, node-test

[Eventwizard2] Add match videos tab for batch importing youtube videos (#8022)
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/matchVideosTab/MatchVideosTab.js
  src/frontend/eventwizard/containers/MatchVideosContainer.js
Due: node-lint, node-test

Expose event team remappings in API
  src/backend/api/handlers/tests/event_test.py
  src/backend/common/models/event.py
  src/backend/common/queries/dict_converters/event_converter.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Bootstrap with team remappingsg
  src/backend/common/queries/dict_converters/event_converter.py
  src/backend/web/local/tests/bootstrap_test.py
Due: py3-type, py3-lint, py3-test

Fix tests
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/common/queries/dict_converters/event_converter.py
  src/backend/web/local/tests/bootstrap_test.py
Due: py3-type, py3-lint, py3-test

Update api changes
  src/backend/web/static/swagger/api_v3.json
Due: none

Be more clear about numeric / letter suffix
  pwa/app/api/tba/read/types.gen.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

[APIv3] Expose event team remapping (#8028)
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/api/handlers/tests/event_test.py
  src/backend/common/models/event.py
  src/backend/common/queries/dict_converters/event_converter.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Decrease team/event caches to avoid within_a_day issues
  src/backend/web/handlers/event.py
  src/backend/web/handlers/team.py
  src/backend/web/handlers/tests/event_detail_test.py
  src/backend/web/handlers/tests/team_canonical_test.py
  src/backend/web/handlers/tests/team_detail_test.py
  src/backend/web/handlers/tests/team_history_test.py
Due: py3-type, py3-lint, py3-test

Decrease team/event caches to avoid within_a_day issues (#8037)
  src/backend/web/handlers/event.py
  src/backend/web/handlers/team.py
  src/backend/web/handlers/tests/event_detail_test.py
  src/backend/web/handlers/tests/team_canonical_test.py
  src/backend/web/handlers/tests/team_detail_test.py
  src/backend/web/handlers/tests/team_history_test.py
Due: py3-type, py3-lint, py3-test

Remove fetch data helper
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

Separate fetch_hof
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

Turn HOF into tasklet
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

Awards by event key tasklet
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

Social media tasklet
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

Participation tasklet
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

Lint/format
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

Events tasklet
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

Fix typing
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

Async current event info
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

Async fetch matches by event key
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

Async alliance info
  src/backend/common/helpers/event_team_status_helper.py
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

Revert some stuff
  src/backend/common/helpers/event_team_status_helper.py
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

Optimize team renderer data fetching (#8040)
  src/backend/common/models/event.py
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

Fetch alliance info in parallel
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

Fetch alliance info in parallel (#8045)
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

Update API tracking to GA4
  src/backend/common/google_analytics.py
  src/backend/common/tests/google_analytics_test.py
Due: py3-type, py3-lint, py3-test

Trace callbacks
  src/backend/common/middleware.py
  src/backend/common/run_after_response.py
Due: py3-type, py3-lint, py3-test

Trace callbacks (#8046)
  src/backend/common/middleware.py
  src/backend/common/run_after_response.py
Due: py3-type, py3-lint, py3-test

Adjust middleware order
  src/backend/common/middleware.py
  src/backend/common/tests/middleware_test.py
Due: py3-type, py3-lint, py3-test

Adjust middleware order (#8047)
  src/backend/common/middleware.py
  src/backend/common/tests/middleware_test.py
Due: py3-type, py3-lint, py3-test

Reproduce failing test
  src/backend/common/tests/middleware_test.py
Due: py3-type, py3-lint, py3-test

Use werkzeug context
  src/backend/common/run_after_response.py
Due: py3-type, py3-lint, py3-test

Lint/format
  src/backend/common/run_after_response.py
  src/backend/common/tests/middleware_test.py
Due: py3-type, py3-lint, py3-test

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
