Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - commit

Setup Google Cloud Logging to try to get logs to connect to requests (#4750)
  .pyre_configuration
  src/backend/common/logging.py
  src/requirements.txt
Due: py3-type, py3-lint, py3-test

Revert "Setup Google Cloud Logging to try to get logs to connect to requests (#4750)"
  .pyre_configuration
  src/backend/common/logging.py
  src/requirements.txt
Due: py3-type, py3-lint, py3-test

Alliance name fallback in double elim bracket
  src/backend/common/helpers/playoff_advancement_helper.py
  src/backend/common/helpers/tests/data/expected_advancement_2015nyny.json
  src/backend/common/helpers/tests/data/expected_advancement_apiv3_2015nyny.json
  src/backend/common/helpers/tests/playoff_advancement_helper_test.py
Due: py3-type, py3-lint, py3-test

Alliance name fallback in double elim bracket (#4766)
  src/backend/common/helpers/playoff_advancement_helper.py
  src/backend/common/helpers/tests/data/expected_advancement_2015nyny.json
  src/backend/common/helpers/tests/data/expected_advancement_apiv3_2015nyny.json
  src/backend/common/helpers/tests/playoff_advancement_helper_test.py
Due: py3-type, py3-lint, py3-test

update double elim bracket
  src/backend/web/static/css/less_css/less/tba/tba_double_elim_bracket_table.less
  src/backend/web/templates/bracket_partials/double_elim_bracket_table.html
Due: none

Flip default routing to py3
  dispatch.yaml
Due: none

Flip default routing to py3 (#4777)
  dispatch.yaml
Due: none

Pin /mytba to py2 for now
  dispatch.yaml
Due: none

update double elim bracket (#4770)
  src/backend/web/static/css/less_css/less/tba/tba_double_elim_bracket_table.less
  src/backend/web/templates/bracket_partials/double_elim_bracket_table.html
Due: none

port /thanks to py3
  src/backend/web/handlers/static.py
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

Port TeamAdminAccess admin pages to py3
  src/backend/common/models/team_admin_access.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/team_media_mod.py
  src/backend/web/templates/admin/team_media_mod_add.html
  src/backend/web/templates/admin/team_media_mod_edit.html
  src/backend/web/templates/admin/team_media_mod_list.html
Due: py3-type, py3-lint, py3-test

Add support for 9xxx teams
  src/backend/web/handlers/team.py
Due: py3-type, py3-lint, py3-test

Add support for 9xxx teams (#4797)
  src/backend/web/handlers/team.py
Due: py3-type, py3-lint, py3-test

Route py2 css/js to py2
  dispatch.yaml
Due: none

Port /thanks to py3 (#4790)
  src/backend/web/handlers/static.py
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

Port TeamAdminAccess admin pages to py3 (#4791)
  src/backend/common/models/team_admin_access.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/team_media_mod.py
  src/backend/web/templates/admin/team_media_mod_add.html
  src/backend/web/templates/admin/team_media_mod_edit.html
  src/backend/web/templates/admin/team_media_mod_list.html
Due: py3-type, py3-lint, py3-test

Port team remap to py3 admin
  old_py2/controllers/admin/admin_event_controller.py
  old_py2/controllers/cron_controller.py
  src/backend/common/helpers/event_remapteams_helper.py
  src/backend/tasks_io/handlers/tasks.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/event.py
  src/backend/web/templates/admin/event_details.html
Due: py3-type, py3-lint, py3-test

Port team remap to py3 admin (#4809)
  old_py2/controllers/admin/admin_event_controller.py
  old_py2/controllers/cron_controller.py
  src/backend/common/helpers/event_remapteams_helper.py
  src/backend/tasks_io/handlers/tasks.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/event.py
  src/backend/web/templates/admin/event_details.html
Due: py3-type, py3-lint, py3-test

Port admin homepage to py3
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/templates/admin/index.html
Due: py3-type, py3-lint, py3-test

Port admin homepage to py3 (#4810)
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/templates/admin/index.html
Due: py3-type, py3-lint, py3-test

Validate zebra json
  src/backend/api/api_trusted_parsers/json_zebra_motionworks_parser.py
  src/backend/api/api_trusted_parsers/tests/test_json_zebra_motion_parser.py
Due: py3-type, py3-lint, py3-test

Validate zebra json for dict (#4829)
  src/backend/api/api_trusted_parsers/json_zebra_motionworks_parser.py
  src/backend/api/api_trusted_parsers/tests/test_json_zebra_motion_parser.py
Due: py3-type, py3-lint, py3-test

Pin image to ubuntu:22.04
  ops/dev/docker/Dockerfile
Due: none

Pin image to ubuntu:22.04 (#4843)
  ops/dev/docker/Dockerfile
Due: none

Port team admin pages to py3
  old_py2/controllers/team_admin_controller.py
  old_py2/tests/team_admin/__init__.py
  old_py2/tests/team_admin/test_suggest_team_admin_review.py
  old_py2/tests/team_admin/test_team_admin_redeem.py
  src/backend/web/handlers/suggestions/suggest_team_media_review_controller.py
  src/backend/web/handlers/suggestions/suggestion_review_base.py
  src/backend/web/handlers/team_admin.py
  src/backend/web/handlers/tests/test_suggest_team_admin_review.py
  src/backend/web/handlers/tests/test_team_admin_redeem.py
  src/backend/web/main.py
  src/backend/web/templates/team_admin_dashboard.html
  src/backend/web/templates/team_admin_redeem.html
Due: py3-type, py3-lint, py3-test

Port team admin pages to py3 (#4824)
  old_py2/controllers/team_admin_controller.py
  old_py2/tests/team_admin/__init__.py
  old_py2/tests/team_admin/test_suggest_team_admin_review.py
  old_py2/tests/team_admin/test_team_admin_redeem.py
  src/backend/web/handlers/suggestions/suggest_team_media_review_controller.py
  src/backend/web/handlers/suggestions/suggestion_review_base.py
  src/backend/web/handlers/team_admin.py
  src/backend/web/handlers/tests/test_suggest_team_admin_review.py
  src/backend/web/handlers/tests/test_team_admin_redeem.py
  src/backend/web/main.py
  src/backend/web/templates/team_admin_dashboard.html
  src/backend/web/templates/team_admin_redeem.html
Due: py3-type, py3-lint, py3-test

Refactor matchstats_helper to simplify API; first step towards component OPRs.
  src/backend/common/helpers/matchstats_helper.py
  src/backend/common/models/event_matchstats.py
Due: py3-type, py3-lint, py3-test

Implement cOPR calculator in matchstats_helper.
  src/backend/common/helpers/matchstats_helper.py
  src/backend/common/helpers/tests/data/2019mttd_coprs.json
  src/backend/common/helpers/tests/data/2019nyny_coprs.json
  src/backend/common/helpers/tests/matchstats_helper_test.py
  src/backend/common/models/event_matchstats.py
Due: py3-type, py3-lint, py3-test

Move eventwizard2
  src/backend/web/handlers/eventwizard.py
  src/backend/web/main.py
  src/backend/web/templates/eventwizard2.html
Due: py3-type, py3-lint, py3-test

Point to correect js
  src/backend/web/templates/eventwizard2.html
Due: none

Bugfixes
  ops/tests/fullstack.test.js
  src/backend/web/handlers/ajax.py
  src/backend/web/main.py
  src/frontend/eventwizard/components/EventSelector.js
  src/frontend/eventwizard/components/EventWizardFrame.js
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/infoTab/PlayoffTypeDropdown.js
Due: py3-type, py3-lint, py3-test, node-lint, node-test

fix lint
  src/backend/web/handlers/ajax.py
  src/backend/web/handlers/eventwizard.py
  src/backend/web/main.py
  src/frontend/eventwizard/components/EventWizardTabFrame.js
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Disable broken lib
  src/frontend/eventwizard/components/teamsTab/AddTeamsFMSReport.js
Due: node-lint, node-test

Port Eventwizard2 to py3 (#4848)
  old_py2/templates/react-eventwizard.html
  ops/tests/fullstack.test.js
  src/backend/web/handlers/ajax.py
  src/backend/web/handlers/eventwizard.py
  src/backend/web/main.py
  src/backend/web/templates/eventwizard2.html
  src/frontend/eventwizard/components/EventSelector.js
  src/frontend/eventwizard/components/EventWizardFrame.js
  src/frontend/eventwizard/components/infoTab/PlayoffTypeDropdown.js
  src/frontend/eventwizard/components/teamsTab/AddTeamsFMSReport.js
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Add cOPRs to event details db model
  src/backend/common/models/event.py
  src/backend/common/models/event_details.py
  src/backend/tasks_io/handlers/math.py
  src/backend/web/handlers/event.py
  src/backend/web/templates/event_details.html
Due: py3-type, py3-lint, py3-test

fix instagram embeds
  src/backend/common/decorators.py
  src/backend/common/models/media.py
  src/backend/common/sitevars/instagram_api_secret.py
  src/backend/common/suggestions/media_parser.py
  src/backend/web/handlers/admin/authkeys.py
  src/backend/web/handlers/embed.py
  src/backend/web/handlers/tests/embed_test.py
  src/backend/web/main.py
  src/backend/web/templates/admin/authkeys.html
  src/backend/web/templates/media_partials/instagram_partial.html
Due: py3-type, py3-lint, py3-test

Switch alliance name and alliance teams in double elim bracket display
  src/backend/web/templates/bracket_partials/double_elim_bracket_table.html
Due: none

Add COPR table to event page.
  src/backend/common/helpers/matchstats_helper.py
  src/backend/common/models/event_details.py
  src/backend/tasks_io/handlers/math.py
  src/backend/tasks_io/handlers/tests/matchstats_calc_test.py
  src/backend/web/handlers/event.py
  src/backend/web/templates/event_details.html
  src/backend/web/templates/event_partials/event_copr_table.html
Due: py3-type, py3-lint, py3-test

Working with docker-compose
  .dockerignore
  docker-compose.yml
  docker-entry.sh
  package-lock.json
Due: none

Ignore extra files
  .gitignore
Due: none

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
