Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [pre-commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [pre-commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [pre-commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [pre-commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [pre-commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [pre-commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [pre-commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]
    - id: gcloud-sdk-version
      name: "Checking Google Cloud SDK Version"
      entry: ./ops/check_sdk_version.sh
      language: script
      always_run: true
      stages: [post-checkout]

Fix table layout issues on admin authkeys page
  src/backend/web/templates/admin/authkeys.html
Due: none

Fix /avatars memcache overflow with 10k+ teams
  src/backend/web/handlers/index.py
Due: py3-type, py3-lint, py3-test

2026 avatar blog post (#8835)
  src/backend/web/templates/avatars.html
Due: none

Fix Match_alliance score description in API spec
  pwa/app/api/tba/read/types.gen.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

Add missing Webcast fields to API spec
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

Handle GA4 urlfetch failures gracefully instead of 500ing
  src/backend/common/google_analytics.py
  src/backend/common/tests/google_analytics_test.py
Due: py3-type, py3-lint, py3-test

Note that tests must run inside dev container in AGENTS.md
  AGENTS.md
Due: none

Handle missing fields in Onshape API response
  src/backend/common/suggestions/media_parser.py
  src/backend/common/suggestions/tests/media_url_parse_test.py
Due: py3-type, py3-lint, py3-test

Note that tests must run inside dev container (#8892)
  AGENTS.md
Due: none

Handle GA4 urlfetch failures gracefully (#8891)
  src/backend/common/google_analytics.py
  src/backend/common/tests/google_analytics_test.py
Due: py3-type, py3-lint, py3-test

Fix table layout issues on admin authkeys page (#8883)
  src/backend/web/templates/admin/authkeys.html
Due: none

Auto-populate event type for offseason event suggestions (#8882)
  src/backend/common/models/suggestion_dict.py
  src/backend/common/suggestions/suggestion_creator.py
  src/backend/common/suggestions/tests/suggestion_creator_test.py
  src/backend/web/handlers/suggestions/suggest_offseason_event_review_controller.py
  src/backend/web/handlers/suggestions/tests/suggest_offseason_event_controller_test.py
  src/backend/web/handlers/suggestions/tests/suggest_offseason_event_review_controller_test.py
  src/backend/web/templates/event_partials/suggest_event_info.html
Due: py3-type, py3-lint, py3-test

Add tba-cli reference to AGENTS.md
  AGENTS.md
Due: none

Add tba-cli reference to AGENTS.md (#8896)
  AGENTS.md
Due: none

Fix /avatars memcache overflow with 10k+ teams (#8884)
  src/backend/web/handlers/index.py
Due: py3-type, py3-lint, py3-test

Fix Match_alliance score description in API spec (#8885)
  pwa/app/api/tba/read/types.gen.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

Add missing Webcast fields to API spec (#8886)
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

Consolidate to single Firebase emulator in Docker Compose
  docker-compose.yml
  ops/dev/vagrant/dev_appserver.sh
  ops/dev/vagrant/start-devserver.sh
  src/backend/web/handlers/account.py
Due: py3-type, py3-lint, py3-test

Fix CI: read firebase emulator hosts from config with localhost defaults
  ops/dev/vagrant/dev_appserver.sh
  ops/dev/vagrant/start-devserver.sh
  tba_dev_config.json
Due: none

Fix clearing first_code via admin event edit
  src/backend/common/manipulators/tests/event_manipulator_test.py
  src/backend/common/models/event.py
Due: py3-type, py3-lint, py3-test

Fix clearing first_code via admin event edit (#8908)
  src/backend/common/manipulators/tests/event_manipulator_test.py
  src/backend/common/models/event.py
Due: py3-type, py3-lint, py3-test

Add Artifact Registry cleanup policy for gae-standard
  ops/artifact-registry-cleanup-policy.json
Due: none

Handle missing fields in Onshape API response (#8894)
  src/backend/common/suggestions/media_parser.py
  src/backend/common/suggestions/tests/media_url_parse_test.py
Due: py3-type, py3-lint, py3-test

Consolidate to single Firebase emulator in Docker Compose (#8906)
  docker-compose.yml
  ops/dev/vagrant/dev_appserver.sh
  ops/dev/vagrant/start-devserver.sh
  src/backend/web/handlers/account.py
  tba_dev_config.json
Due: py3-type, py3-lint, py3-test

Add Artifact Registry cleanup policy (#8909)
  ops/artifact-registry-cleanup-policy.json
Due: none

Populate direct_url and view_url for social media profiles in APIv3
  src/backend/common/queries/dict_converters/media_converter.py
  src/backend/common/queries/dict_converters/tests/media_converter_test.py
Due: py3-type, py3-lint, py3-test

Fix homepage countdown pluralization for "1 Days"
  src/backend/web/static/javascript/tba_js/tba_countdown.js
Due: node-lint, node-test

wip
  src/backend/web/templates/event_partials/event_copr_table.html
Due: none

Got it all working
  src/backend/web/templates/event_partials/event_copr_table.html
Due: none

Resolve various visual overflow issues
  src/backend/web/templates/event_partials/event_copr_table.html
Due: none

Populate direct_url and view_url for social media profiles (#8910)
  src/backend/common/queries/dict_converters/media_converter.py
  src/backend/common/queries/dict_converters/tests/media_converter_test.py
Due: py3-type, py3-lint, py3-test

Fix homepage countdown pluralization for '1 Days' (#8911)
  src/backend/web/static/javascript/tba_js/tba_countdown.js
Due: node-lint, node-test

Add schema.org SportsEvent structured data to event pages
  src/backend/web/handlers/tests/event_detail_test.py
  src/backend/web/templates/event_details.html
  src/backend/web/templates/event_partials/event_macros.html
  src/backend/web/templates/event_partials/event_schema_org_markup.html
Due: py3-type, py3-lint, py3-test

Add schema.org SportsTeam structured data to team pages
  src/backend/web/handlers/tests/team_detail_test.py
  src/backend/web/templates/team_details.html
  src/backend/web/templates/team_history.html
  src/backend/web/templates/team_partials/team_schema_org_markup.html
Due: py3-type, py3-lint, py3-test

Fix OG meta tags to match page title and description
  src/backend/web/templates/district_details.html
  src/backend/web/templates/regional_details.html
Due: none

Move offline warning to bottom of viewport
  src/backend/web/static/css/less_css/less/tba/tba_base.less
Due: none

Fix OG meta tags to match page title and description (#8932)
  src/backend/web/templates/district_details.html
  src/backend/web/templates/regional_details.html
Due: none

Add schema.org SportsTeam structured data to team pages (#8931)
  src/backend/web/handlers/tests/team_detail_test.py
  src/backend/web/templates/team_details.html
  src/backend/web/templates/team_history.html
  src/backend/web/templates/team_partials/team_schema_org_markup.html
Due: py3-type, py3-lint, py3-test

Add schema.org SportsEvent structured data to event pages (#8930)
  src/backend/web/handlers/tests/event_detail_test.py
  src/backend/web/templates/event_details.html
  src/backend/web/templates/event_partials/event_macros.html
  src/backend/web/templates/event_partials/event_schema_org_markup.html
Due: py3-type, py3-lint, py3-test

Add schema.org BreadcrumbList structured data to pages
  src/backend/web/templates/event_details.html
  src/backend/web/templates/event_list.html
  src/backend/web/templates/event_partials/event_breadcrumb_schema.html
  src/backend/web/templates/event_partials/event_list_breadcrumb_schema.html
  src/backend/web/templates/match_details.html
  src/backend/web/templates/match_partials/match_breadcrumb_schema.html
  src/backend/web/templates/team_details.html
  src/backend/web/templates/team_history.html
  src/backend/web/templates/team_partials/team_breadcrumb_schema.html
  src/backend/web/templates/team_partials/team_history_breadcrumb_schema.html
Due: none
