Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]

[pwa] add webcast links to homepage and event page (#7277)
  pwa/app/components/tba/eventListTable.tsx
  pwa/app/components/tba/inlineIcon.tsx
  pwa/app/components/ui/button.tsx
  pwa/app/routes/event.$eventKey.tsx
Due: none

[pwa] center table headers on alliance selection table
  pwa/app/components/tba/allianceSelectionTable.tsx
Due: none

[pwa] only include played matches on frontend insight tab
  pwa/app/lib/matchUtils.ts
  pwa/app/routes/event.$eventKey.tsx
Due: none

[PWA] fix event/insights 500 on old, pre-RP events
  pwa/app/routes/event.$eventKey.tsx
Due: none

[pwa] center table headers on alliance selection table (#7279)
  pwa/app/components/tba/allianceSelectionTable.tsx
Due: none

Fix event insights erroring on 0 elims played
  src/backend/common/helpers/event_insights_helper.py
Due: py3-type, py3-lint, py3-test

Fix event insights erroring on 0 elims played (#7281)
  src/backend/common/helpers/event_insights_helper.py
Due: py3-type, py3-lint, py3-test

[pwa] only include played matches on frontend insight tab (#7286)
  pwa/app/lib/matchUtils.ts
  pwa/app/routes/event.$eventKey.tsx
Due: none

[PWA] fix event/insights 500 on old, pre-RP events (#7285)
  pwa/app/routes/event.$eventKey.tsx
Due: none

Patch threading not to throw an error from upstream Google Cloud Logging exception
  src/backend/common/logging.py
Due: py3-type, py3-lint, py3-test

Patch threading not to throw an error from upstream Google Cloud Logging exception (#7288)
  src/backend/common/logging.py
Due: py3-type, py3-lint, py3-test

Handle single event teams in regional champs points
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/regional_champs_pool_helper.py
  src/backend/common/helpers/tests/district_helper_test.py
  src/backend/common/helpers/tests/regional_champs_pool_helper_test.py
  src/backend/common/models/regional_pool_ranking.py
  src/backend/tasks_io/handlers/math.py
  src/backend/tasks_io/handlers/tests/district_rankings_calc_test.py
  src/backend/tasks_io/handlers/tests/regional_champs_pool_rankings_calc_test.py
  src/backend/web/templates/regional_details.html
Due: py3-type, py3-lint, py3-test

Handle single event teams in regional champs points (#7289)
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/regional_champs_pool_helper.py
  src/backend/common/helpers/tests/district_helper_test.py
  src/backend/common/helpers/tests/regional_champs_pool_helper_test.py
  src/backend/common/models/regional_pool_ranking.py
  src/backend/tasks_io/handlers/math.py
  src/backend/tasks_io/handlers/tests/district_rankings_calc_test.py
  src/backend/tasks_io/handlers/tests/regional_champs_pool_rankings_calc_test.py
  src/backend/web/templates/regional_details.html
Due: py3-type, py3-lint, py3-test

Add links to event public agendas
  src/backend/common/models/event.py
  src/backend/web/handlers/event.py
  src/backend/web/main.py
  src/backend/web/templates/event_details.html
Due: py3-type, py3-lint, py3-test

Add links to event public agendas (#7290)
  src/backend/common/models/event.py
  src/backend/web/handlers/event.py
  src/backend/web/main.py
  src/backend/web/templates/event_details.html
Due: py3-type, py3-lint, py3-test

Populate Regional --> CMP Advancement Checks
  src/backend/common/cache_clearing/get_affected_queries.py
  src/backend/common/queries/event_query.py
  src/backend/tasks_io/handlers/math.py
Due: py3-type, py3-lint, py3-test

Compute qualifying method for CMP
  src/backend/common/models/championship_qualification_method.py
Due: py3-type, py3-lint, py3-test

lint
  src/backend/common/queries/event_query.py
  src/backend/tasks_io/handlers/math.py
Due: py3-type, py3-lint, py3-test

tests
  src/backend/tasks_io/handlers/tests/regional_champs_pool_rankings_calc_test.py
Due: py3-type, py3-lint, py3-test

update cache clearer test
  src/backend/common/cache_clearing/tests/database_cache_clearer_test.py
Due: py3-type, py3-lint, py3-test

Populate Regional --> CMP Advancement Checks (#7291)
  src/backend/common/cache_clearing/get_affected_queries.py
  src/backend/common/cache_clearing/tests/database_cache_clearer_test.py
  src/backend/common/models/championship_qualification_method.py
  src/backend/common/queries/event_query.py
  src/backend/tasks_io/handlers/math.py
  src/backend/tasks_io/handlers/tests/regional_champs_pool_rankings_calc_test.py
Due: py3-type, py3-lint, py3-test

[PWA] overhaul teams tab to add avatars and be more compact
  pwa/app/components/tba/teamAvatar.tsx
  pwa/app/components/tba/teamPageTeamInfo.tsx
  pwa/app/components/ui/avatar.tsx
  pwa/app/components/ui/dialog.tsx
  pwa/app/lib/utils.test.ts
  pwa/app/lib/utils.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/package-lock.json
  pwa/package.json
Due: none

Add react-router group to dependabot
  .github/dependabot.yml
Due: none

[PWA] Upgrade to react 19
  pwa/package-lock.json
  pwa/package.json
Due: none

Fix 500 on mytba
  src/backend/common/helpers/mytba.py
Due: py3-type, py3-lint, py3-test

Fix 500 on mytba (#7311)
  src/backend/common/helpers/mytba.py
Due: py3-type, py3-lint, py3-test

Add react-router group to dependabot (#7309)
  .github/dependabot.yml
Due: none

[PWA] overhaul teams tab to add avatars and be more compact (#7284)
  pwa/app/components/tba/teamAvatar.tsx
  pwa/app/components/tba/teamPageTeamInfo.tsx
  pwa/app/components/ui/avatar.tsx
  pwa/app/components/ui/dialog.tsx
  pwa/app/lib/utils.test.ts
  pwa/app/lib/utils.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/package-lock.json
  pwa/package.json
Due: none

[PWA] Add component OPR scatter plot w/ FRC-Colors
  pwa/app/api/colors.ts
  pwa/app/components/tba/charts/coprScatterChart.tsx
  pwa/app/components/ui/chart.tsx
  pwa/app/components/ui/select.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/package-lock.json
  pwa/package.json
Due: none

[PWA] Add component OPR scatter plot w/ FRC-Colors (#7278)
  pwa/app/api/colors.ts
  pwa/app/components/tba/charts/coprScatterChart.tsx
  pwa/app/components/ui/chart.tsx
  pwa/app/components/ui/select.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/package-lock.json
  pwa/package.json
Due: none

Add cache clearing across renamed district
  src/backend/common/cache_clearing/get_affected_queries.py
  src/backend/common/cache_clearing/tests/database_cache_clearer_test.py
Due: py3-type, py3-lint, py3-test

Add cache clearing across renamed district (#7320)
  src/backend/common/cache_clearing/get_affected_queries.py
  src/backend/common/cache_clearing/tests/database_cache_clearer_test.py
Due: py3-type, py3-lint, py3-test

show district/regional advancement in admin panel
  src/backend/web/templates/admin/district_details.html
  src/backend/web/templates/admin/regional_champs_pool_list.html
Due: none

show district/regional advancement in admin panel (#7321)
  src/backend/web/templates/admin/district_details.html
  src/backend/web/templates/admin/regional_champs_pool_list.html
Due: none

Refactor team/event leaderboards to separate helper (#7248)
  src/backend/common/helpers/insights_helper.py
  src/backend/common/helpers/insights_helper_utils.py
  src/backend/common/helpers/insights_leaderboard_event_helper.py
  src/backend/common/helpers/insights_leaderboard_team_helper.py
  src/backend/common/helpers/tests/data/2024mil.json
  src/backend/common/helpers/tests/data/2024mil_awards.json
  src/backend/common/helpers/tests/insights_helper_test.py
  src/backend/common/helpers/tests/insights_leaderboard_event_helper_test.py
  src/backend/common/helpers/tests/insights_leaderboard_match_helper_test.py
  src/backend/common/helpers/tests/insights_leaderboard_team_helper_test.py
  src/backend/common/models/insight.py
  src/backend/common/queries/insight_query.py
  src/backend/tasks_cpu/handlers/insights.py
Due: py3-type, py3-lint, py3-test

Remove event key validation in admin panel
  src/backend/web/handlers/admin/event.py
Due: py3-type, py3-lint, py3-test

Remove one more event key validation blocking deletes
  src/backend/web/handlers/admin/event.py
Due: py3-type, py3-lint, py3-test

[PWA] Actually use prettier-plugin-tailwindcss
  pwa/app/components/tba/allianceSelectionTable.tsx
  pwa/app/components/tba/banner.tsx
  pwa/app/components/tba/cards.tsx
  pwa/app/components/tba/charts/coprScatterChart.tsx
  pwa/app/components/tba/dataTable.tsx
  pwa/app/components/tba/leaderboard.tsx
  pwa/app/components/tba/matchResultsTable.tsx
  pwa/app/components/tba/nav.tsx
  pwa/app/components/tba/rankingsTable.tsx
  pwa/app/components/tba/rpDot.tsx
  pwa/app/components/tba/searchbar.tsx
  pwa/app/components/tba/teamAvatar.tsx
  pwa/app/components/ui/accordion.tsx
  pwa/app/components/ui/avatar.tsx
  pwa/app/components/ui/card.tsx
  pwa/app/components/ui/carousel.tsx
  pwa/app/components/ui/chart.tsx
  pwa/app/components/ui/command.tsx
  pwa/app/components/ui/dialog.tsx
  pwa/app/components/ui/divider.tsx
  pwa/app/components/ui/drawer.tsx
  pwa/app/components/ui/dropdown-menu.tsx
  pwa/app/components/ui/input.tsx
  pwa/app/components/ui/navigation-menu.tsx
  pwa/app/components/ui/popover.tsx
  pwa/app/components/ui/scroll-area.tsx
  pwa/app/components/ui/select.tsx
  pwa/app/components/ui/tabs.tsx
  pwa/app/components/ui/toc.tsx
  pwa/app/components/ui/tooltip.tsx
  pwa/app/routes/_index.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/events.$districtAbbreviation.($year).tsx
  pwa/app/routes/team.$teamNumber.($year).tsx
  pwa/package-lock.json
  pwa/package.json
  pwa/prettier.config.js
Due: node-lint, node-test

[PWA] Actually use prettier-plugin-tailwindcss (#7324)
  pwa/app/components/tba/allianceSelectionTable.tsx
  pwa/app/components/tba/banner.tsx
  pwa/app/components/tba/cards.tsx
  pwa/app/components/tba/charts/coprScatterChart.tsx
  pwa/app/components/tba/dataTable.tsx
  pwa/app/components/tba/leaderboard.tsx
  pwa/app/components/tba/matchResultsTable.tsx
  pwa/app/components/tba/nav.tsx
  pwa/app/components/tba/rankingsTable.tsx
  pwa/app/components/tba/rpDot.tsx
  pwa/app/components/tba/searchbar.tsx
  pwa/app/components/tba/teamAvatar.tsx
  pwa/app/components/ui/accordion.tsx
  pwa/app/components/ui/avatar.tsx
  pwa/app/components/ui/card.tsx
  pwa/app/components/ui/carousel.tsx
  pwa/app/components/ui/chart.tsx
  pwa/app/components/ui/command.tsx
  pwa/app/components/ui/dialog.tsx
  pwa/app/components/ui/divider.tsx
  pwa/app/components/ui/drawer.tsx
  pwa/app/components/ui/dropdown-menu.tsx
  pwa/app/components/ui/input.tsx
  pwa/app/components/ui/navigation-menu.tsx
  pwa/app/components/ui/popover.tsx
  pwa/app/components/ui/scroll-area.tsx
  pwa/app/components/ui/select.tsx
  pwa/app/components/ui/tabs.tsx
  pwa/app/components/ui/toc.tsx
  pwa/app/components/ui/tooltip.tsx
  pwa/app/routes/_index.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/events.$districtAbbreviation.($year).tsx
  pwa/app/routes/team.$teamNumber.($year).tsx
  pwa/package-lock.json
  pwa/package.json
  pwa/prettier.config.js
Due: node-lint, node-test

[PWA] Hide 'Watch Now' text on mobile for gameday buttons
  pwa/app/components/tba/eventListTable.tsx
Due: none
