Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [pre-commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [pre-commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [pre-commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [pre-commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [pre-commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [pre-commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [pre-commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]
    - id: gcloud-sdk-version
      name: "Checking Google Cloud SDK Version"
      entry: ./ops/check_sdk_version.sh
      language: script
      always_run: true
      stages: [post-checkout]

Fix black formatting violations in 4 files
  ops/check_venv_deps.py
  src/backend/common/helpers/tests/youtube_video_helper_test.py
  src/backend/common/helpers/youtube_video_helper.py
  src/backend/web/local/blueprint.py
Due: py3-type, py3-lint, py3-test

Pin click==8.1.8 to resolve pyre-check/Flask dependency conflict
  requirements.txt
Due: none

Pin click==8.1.8 to resolve pyre-check/Flask dependency conflict (#9033)
  requirements.txt
Due: none

Add myTBA write operations: favorite toggle and preferences dialog
  pwa/app/components/tba/favoriteButton.tsx
  pwa/app/components/tba/preferencesDialog.tsx
  pwa/app/firebase/firebaseConfig.tsx
  pwa/app/lib/hooks/useMyTBA.ts
  pwa/app/lib/myTBAConstants.ts
  pwa/app/routeTree.gen.ts
  pwa/app/routes/__root.tsx
  pwa/app/routes/account.mytba.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/team.$teamNumber.{-$year}.tsx
  pwa/app/vite-env.d.ts
  pwa/default.env
  pwa/tests/mytba-write.spec.ts
Due: none

Fix CI: run prettier and fix routes.spec.ts type error
  pwa/app/components/tba/preferencesDialog.tsx
  pwa/app/firebase/firebaseConfig.tsx
  pwa/app/lib/hooks/useMyTBA.ts
  pwa/app/lib/myTBAConstants.ts
  pwa/app/routes/account.mytba.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/team.$teamNumber.{-$year}.tsx
  pwa/tests/mytba-write.spec.ts
  pwa/tests/routes.spec.ts
Due: none

Fix black formatting violations in 4 files (#9032)
  ops/check_venv_deps.py
  src/backend/common/helpers/tests/youtube_video_helper_test.py
  src/backend/common/helpers/youtube_video_helper.py
  src/backend/web/local/blueprint.py
Due: py3-type, py3-lint, py3-test

Add set -e to lint_py3.sh to catch black failures (#9031)
  ops/lint_py3.sh
Due: none

Add GitHub sponsor button linking to PayPal donations
  .github/FUNDING.yml
Due: none

Add GitHub sponsor button for PayPal donations (#9036)
  .github/FUNDING.yml
Due: none

Update `suggest` pages.
  src/backend/web/templates/suggestions/suggest_match_video_playlist.html
  src/backend/web/templates/suggestions/suggest_offseason_event.html
Due: none

Round Robin is also `sf` matches, but slightly different. Add section on special cases.
  src/backend/web/templates/suggestions/suggest_match_video_playlist.html
Due: none

Checking in uv work from AI
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  .gitignore
  AGENTS.md
  Makefile
  docker-compose.yml
  docs/Developing/Test-Lint-Check.md
  docs/Setup/Setup-Guide-Beta.md
  ops/check_python_version.sh
  ops/check_venv_deps.py
  ops/check_venv_deps.sh
  ops/deploy/deploy_module.sh
  ops/dev/docker/Dockerfile.lint
  ops/dev/docker/Dockerfile.test
  ops/dev/docker/Dockerfile.typecheck
  ops/dev/vagrant/bootstrap-dev-container.sh
  ops/update_venv_deps.sh
  pyproject.toml
  requirements.txt
  src/requirements.txt
  uv.lock
Due: py3-type, py3-lint, py3-test

Add trusted api endpoints to PATCH/DELETE individual webcasts
  src/backend/api/api_trusted_parsers/json_webcast_update_parser.py
  src/backend/api/handlers/tests/update_event_webcasts_test.py
  src/backend/api/handlers/trusted.py
  src/backend/api/trusted_api_main.py
  src/backend/common/helpers/event_webcast_adder.py
Due: py3-type, py3-lint, py3-test

Attempt to fix broken jobs
  AGENTS.md
  ops/check_python_version.sh
  ops/check_venv_deps.sh
  ops/update_venv_deps.sh
  pytest.ini
Due: none

include swagger
  src/backend/web/static/swagger/api_trusted_v1.json
Due: none

use webcast model
  src/backend/api/api_trusted_parsers/json_webcast_update_parser.py
Due: py3-type, py3-lint, py3-test

more
  src/backend/api/api_trusted_parsers/json_webcast_update_parser.py
  src/backend/api/handlers/tests/update_event_webcasts_test.py
  src/backend/common/helpers/event_webcast_adder.py
  src/backend/web/static/swagger/api_trusted_v1.json
Due: py3-type, py3-lint, py3-test

Split CI coverage deps into their own bit. Add a Python version to our pyproject.toml. Update our check_python_version.sh to keep that version in sync as well
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  Makefile
  ops/check_python_version.sh
  pyproject.toml
  uv.lock
Due: none

PR feedback
  docker-compose.yml
  ops/check_python_version.sh
Due: none

Update docs
  docs/Maintainers/Maintainer-Runbook.md
Due: none

Update Python command execution guidelines
  AGENTS.md
Due: none

Lint
  src/backend/api/handlers/tests/clientapi_auth_test.py
  src/backend/common/cloudrun/clients/tests/gcloud_client_test.py
  src/backend/common/deferred/tests/defer_handler_test.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/models/fcm/tests/platform_config_test.py
  src/backend/common/models/notifications/requests/tests/fcm_request_test.py
  src/backend/common/storage/clients/tests/gcloud_client_test.py
  src/backend/common/storage/clients/tests/local_client_test.py
  src/backend/common/tests/auth_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_awards_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_distrct_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_event_alliances_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_event_matches_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_event_rankings_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_event_team_avatars_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_event_teams_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_event_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_teams_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_html_test.py
  src/backend/web/handlers/tests/account_test.py
  src/backend/web/tests/decorators_test.py
Due: py3-type, py3-lint, py3-test

Freeze deps when running on CI
  Makefile
Due: none

Add trusted api endpoints to PATCH/DELETE individual webcasts (#9046)
  src/backend/api/api_trusted_parsers/json_webcast_update_parser.py
  src/backend/api/handlers/tests/update_event_webcasts_test.py
  src/backend/api/handlers/trusted.py
  src/backend/api/trusted_api_main.py
  src/backend/common/helpers/event_webcast_adder.py
  src/backend/web/static/swagger/api_trusted_v1.json
Due: py3-type, py3-lint, py3-test

Update `suggest` pages. (#9038)
  src/backend/web/templates/suggestions/suggest_match_video_playlist.html
  src/backend/web/templates/suggestions/suggest_offseason_event.html
Due: none

Add frc_api typing
  src/backend/common/frc_api/frc_api.py
  src/backend/common/frc_api/tests/frcapi_test.py
  src/backend/common/frc_api/types.py
  src/backend/common/urlfetch.py
Due: py3-type, py3-lint, py3-test

push type hints up into datafeed
  src/backend/tasks_io/datafeeds/datafeed_base.py
  src/backend/tasks_io/datafeeds/datafeed_fms_api.py
  src/backend/tasks_io/datafeeds/datafeed_nexus.py
  src/backend/tasks_io/datafeeds/datafeed_regional_advancement.py
  src/backend/tasks_io/datafeeds/datafeed_twitch.py
  src/backend/tasks_io/datafeeds/datafeed_youtube.py
  src/backend/tasks_io/datafeeds/parsers/json/parser_json.py
  src/backend/tasks_io/datafeeds/parsers/nexus_api/pit_location_parser.py
  src/backend/tasks_io/datafeeds/parsers/nexus_api/queue_status_parser.py
  src/backend/tasks_io/datafeeds/parsers/parser_base.py
  src/backend/tasks_io/datafeeds/parsers/parser_html.py
  src/backend/tasks_io/datafeeds/parsers/ra/regional_advancement_parser.py
  src/backend/tasks_io/datafeeds/parsers/twitch/twitch_access_token_parser.py
  src/backend/tasks_io/datafeeds/parsers/twitch/twitch_stream_status_parser.py
  src/backend/tasks_io/datafeeds/parsers/youtube/youtube_stream_stauts_parser.py
  src/backend/tasks_io/datafeeds/tests/datafeed_base_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_nexus_test.py
Due: py3-type, py3-lint, py3-test

update type hints for frc api parsers
  src/backend/common/frc_api/frc_api.py
  src/backend/common/urlfetch.py
  src/backend/tasks_io/datafeeds/datafeed_fms_api.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_awards_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_district_list_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_district_rankings_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_alliances_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_rankings_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_root_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_team_avatar_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_team_details_parser.py
  src/backend/tasks_io/datafeeds/parsers/json/parser_paginated_json.py
  src/backend/tasks_io/datafeeds/parsers/parser_paginated.py
Due: py3-type, py3-lint, py3-test

test fixes
  src/backend/common/frc_api/types.py
  src/backend/tasks_io/datafeeds/datafeed_base.py
  src/backend/tasks_io/datafeeds/datafeed_fms_api.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_district_rankings_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_team_details_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_awards_parser_test.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_district_list_parser_test.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_event_alliances_parser_test.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_event_rankings_parser_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_awards_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_distrct_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_event_alliances_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_event_rankings_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_event_team_avatars_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_event_teams_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_event_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_teams_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_nexus_test.py
Due: py3-type, py3-lint, py3-test

Fix webhook test notification targeting and data consistency (#9048)
  src/backend/web/handlers/apidocs.py
  src/backend/web/handlers/tests/apidocs_test.py
  src/backend/web/templates/apidocs_partials/apidocs_webhooks_test.html
Due: py3-type, py3-lint, py3-test

Add copilot-setup-steps.yml (#9047)
  copilot-setup-steps.yml
Due: none

First pass at removing the Vagrantfile, use docker-compose instead
  .github/workflows/comment_screenshots_on_pr.yml
  .github/workflows/publish_docker_image.yml
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  AGENTS.md
  Vagrantfile
  docker-compose.yml
  docs/Deployment/GAE-Firebase-Setup.md
  docs/Developing/Development-Runbook.md
  docs/Developing/Test-Lint-Check.md
  docs/Developing/tba_dev_config.md
  docs/Maintainers/Maintainer-Runbook.md
  docs/Setup/Setup-Guide-Beta.md
  docs/Setup/Setup-Guide.md
  docs/Setup/WSL-Guide.md
  ops/build/do_compress.py
  ops/build/run_buildweb.sh
  ops/check_python_version.sh
  ops/check_sdk_version.sh
  ops/dev/docker/Dockerfile
  ops/dev/docker/docker-entry.sh
  ops/dev/host.sh
  ops/dev/init_event_test_data.sh
  ops/dev/print-gae-logs.sh
  ops/dev/print-webpack-logs.sh
  ops/dev/pull-datastore.sh
  ops/dev/pull-gae-logs.sh
  ops/dev/scripts/config.sh
  ops/dev/scripts/dev_appserver.sh
  ops/dev/vagrant/bootstrap-dev-container.sh
  ops/dev/vagrant/run_datastore_emulator.sh
  ops/dev/vagrant/run_firebase_emulator.sh
  ops/dev/vagrant/run_webpack.sh
  ops/dev/vagrant/start-devserver.sh
  ops/dev/webpack/Dockerfile.webpack
  ops/dev/webpack/entrypoint.sh
  ops/pr_screenshots/generate_screenshots_message.py
  ops/test_docker_startup.py
  ops/test_ops.sh
Due: py3-type, py3-lint, py3-test

Attempt to add a watch for the legacy JS
  docs/Services/Web.md
  ops/build/do_compress.py
  ops/dev/webpack/Dockerfile.webpack
  ops/dev/webpack/entrypoint.sh
Due: py3-type, py3-lint, py3-test

Fix Docker build
  docs/Maintainers/Maintainer-Runbook.md
  ops/dev/docker/Dockerfile
  ops/dev/scripts/dev_appserver.sh
  tba_dev_config.json
Due: none

Fix bash lint errors. Update typecheck to support watchdog
  .pyre_configuration
  ops/dev/scripts/dev_appserver.sh
  ops/dev/webpack/Dockerfile.webpack
  ops/dev/webpack/entrypoint.sh
  pyproject.toml
  uv.lock
Due: none

Lint bash
  ops/dev/webpack/entrypoint.sh
Due: none

Attempt to fix fullstack tests
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  docker-compose.ci.yml
  ops/test_docker_startup.py
  ops/tests/fullstack.test.js
Due: py3-type, py3-lint, py3-test, node-lint, node-test
