Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

Fix pwa 500 (#8329)
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

Update references to PlayoffType definition in docs (#8336)
  pwa/app/api/tba/read/types.gen.ts
  src/backend/web/static/swagger/api_trusted_v1.json
  src/backend/web/static/swagger/api_v3.json
Due: none

add lines
  AGENTS.md
  pwa/AGENTS.md
Due: none

Increase 'Most Successful Teamups' insight from 4 slots to 5
  src/backend/web/templates/insights.html
Due: none

Increase 'Most Successful Teamups' insight from 4 slots to 5 (#8351)
  src/backend/web/templates/insights.html
Due: none

Upgrade & regen API
  pwa/app/api/tba/mobile/client/index.ts
  pwa/app/api/tba/mobile/client/types.gen.ts
  pwa/app/api/tba/mobile/client/utils.gen.ts
  pwa/app/api/tba/mobile/core/bodySerializer.gen.ts
  pwa/app/api/tba/mobile/core/params.gen.ts
  pwa/app/api/tba/mobile/core/queryKeySerializer.gen.ts
  pwa/app/api/tba/read/client/index.ts
  pwa/app/api/tba/read/client/types.gen.ts
  pwa/app/api/tba/read/client/utils.gen.ts
  pwa/app/api/tba/read/core/bodySerializer.gen.ts
  pwa/app/api/tba/read/core/params.gen.ts
  pwa/app/api/tba/read/core/queryKeySerializer.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  pwa/package-lock.json
  pwa/package.json
Due: none

[PWA] Add in-memory KV cache
  pwa/app/lib/middleware/network-cache.test.ts
  pwa/app/lib/middleware/network-cache.ts
  pwa/app/root.tsx
Due: none

[PWA] Upgrade & regen API (#8353)
  pwa/app/api/tba/mobile/client/index.ts
  pwa/app/api/tba/mobile/client/types.gen.ts
  pwa/app/api/tba/mobile/client/utils.gen.ts
  pwa/app/api/tba/mobile/core/bodySerializer.gen.ts
  pwa/app/api/tba/mobile/core/params.gen.ts
  pwa/app/api/tba/mobile/core/queryKeySerializer.gen.ts
  pwa/app/api/tba/read/client/index.ts
  pwa/app/api/tba/read/client/types.gen.ts
  pwa/app/api/tba/read/client/utils.gen.ts
  pwa/app/api/tba/read/core/bodySerializer.gen.ts
  pwa/app/api/tba/read/core/params.gen.ts
  pwa/app/api/tba/read/core/queryKeySerializer.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  pwa/package-lock.json
  pwa/package.json
Due: none

add agents.md (#8330)
  AGENTS.md
  CLAUDE.md
  pwa/AGENTS.md
  pwa/CLAUDE.md
  pwa/README.md
Due: none

[PWA] Add in-memory KV cache (#8352)
  pwa/app/lib/middleware/network-cache.test.ts
  pwa/app/lib/middleware/network-cache.ts
  pwa/app/root.tsx
Due: none

[PWA] handle null alliances on event pages
  pwa/app/routes/event.$eventKey.tsx
Due: none

[PWA] handle null alliances on event pages (#8355)
  pwa/app/routes/event.$eventKey.tsx
Due: none

add swagger spec for trusted endpoint to get event info
  src/backend/web/static/swagger/api_trusted_v1.json
Due: none

add swagger spec for trusted endpoint to get event info (#8356)
  src/backend/web/static/swagger/api_trusted_v1.json
Due: none

Add Scouting tab to event pages
  src/backend/web/handlers/admin/event.py
  src/backend/web/handlers/event.py
  src/backend/web/templates/event_details.html
Due: py3-type, py3-lint, py3-test

Add Scouting tab to event pages (#8357)
  src/backend/web/handlers/admin/event.py
  src/backend/web/handlers/event.py
  src/backend/web/templates/event_details.html
Due: py3-type, py3-lint, py3-test

Fix 500 with null advancement
  src/backend/web/templates/regional_details.html
Due: none

Fix 500 with null advancement (#8369)
  src/backend/web/templates/regional_details.html
Due: none

Add /event/<key>/html/* routes
  src/backend/web/handlers/event.py
  src/backend/web/main.py
  src/backend/web/templates/event_details.html
  src/backend/web/templates/simple_event_flat_schedule.html
  src/backend/web/templates/simple_event_schedule.html
  src/backend/web/templates/simple_event_teams.html
Due: py3-type, py3-lint, py3-test

Add inital clientside-only stab at this
  src/backend/web/templates/event_details.html
Due: none

Added copy to clipboard function; cleaned up some code for extremely old browser compatibility.
  src/backend/web/templates/event_details.html
Due: none

Add event key to download
  src/backend/web/templates/event_details.html
Due: none

Added download CSV + Copy to Clipboard functions to Scouting page (#8385)
  src/backend/web/templates/event_details.html
Due: none

Attempt 1
  src/backend/web/templates/event_partials/event_copr_table.html
Due: none

Fixed issue with selection
  src/backend/web/templates/event_partials/event_copr_table.html
Due: none

Made sure table renders correctly if checkboxes were selected.
  src/backend/web/templates/event_partials/event_copr_table.html
Due: none

Switched to label over anchor tags
  src/backend/web/templates/event_partials/event_copr_table.html
Due: none

Added sorting - preliminary
  src/backend/web/templates/event_partials/event_copr_table.html
Due: none

Add csv
  src/backend/web/templates/event_partials/event_copr_table.html
Due: none

Fix the event_copr and button alignment
  src/backend/web/templates/event_partials/event_copr_table.html
Due: none

Show user email for mod codes instead of user account. Link mod code emails to user inspect
  src/backend/common/models/team_admin_access.py
  src/backend/common/models/tests/team_admin_access_test.py
  src/backend/web/templates/admin/team_media_mod_list.html
Due: py3-type, py3-lint, py3-test

Show user email for mod codes instead of user account. Link mod code emails to user inspect (#8392)
  src/backend/common/models/team_admin_access.py
  src/backend/common/models/tests/team_admin_access_test.py
  src/backend/web/templates/admin/team_media_mod_list.html
Due: py3-type, py3-lint, py3-test

fix trusted getEventInfo url
  src/backend/web/static/swagger/api_trusted_v1.json
Due: none

Modernize react bootstrap dependencies
  package-lock.json
  package.json
  src/frontend/eventwizard/eventwizard.js
  src/frontend/gameday2/components/AppBar.js
  src/frontend/gameday2/components/ChatSelector.js
  src/frontend/gameday2/components/ChatSidebar.js
  src/frontend/gameday2/components/LayoutDrawer.js
  src/frontend/gameday2/components/LayoutSelectionPanel.js
  src/frontend/gameday2/components/MainContent.js
  src/frontend/gameday2/components/NoWebcasts.js
  src/frontend/gameday2/components/SwapPositionDialog.js
  src/frontend/gameday2/components/TickerMatch.js
  src/frontend/gameday2/components/VideoCell.js
  src/frontend/gameday2/components/VideoCellToolbar.js
  src/frontend/gameday2/components/WebcastSelectionDialog.js
  src/frontend/gameday2/components/WebcastSelectionDialogItem.js
  src/frontend/gameday2/components/embeds/EmbedDirectLink.js
  src/frontend/gameday2/components/icons/TwitchIcon.js
  src/frontend/gameday2/components/icons/YouTubeIcon.js
  src/frontend/gameday2/gameday2.js
  src/frontend/gameday2/utils/layoutUtils.js
Due: node-lint, node-test

Modernize react bootstrap dependencies (#8404)
  package-lock.json
  package.json
  src/frontend/eventwizard/eventwizard.js
  src/frontend/gameday2/components/AppBar.js
  src/frontend/gameday2/components/ChatSelector.js
  src/frontend/gameday2/components/ChatSidebar.js
  src/frontend/gameday2/components/LayoutDrawer.js
  src/frontend/gameday2/components/LayoutSelectionPanel.js
  src/frontend/gameday2/components/MainContent.js
  src/frontend/gameday2/components/NoWebcasts.js
  src/frontend/gameday2/components/SwapPositionDialog.js
  src/frontend/gameday2/components/TickerMatch.js
  src/frontend/gameday2/components/VideoCell.js
  src/frontend/gameday2/components/VideoCellToolbar.js
  src/frontend/gameday2/components/WebcastSelectionDialog.js
  src/frontend/gameday2/components/WebcastSelectionDialogItem.js
  src/frontend/gameday2/components/embeds/EmbedDirectLink.js
  src/frontend/gameday2/components/icons/TwitchIcon.js
  src/frontend/gameday2/components/icons/YouTubeIcon.js
  src/frontend/gameday2/gameday2.js
  src/frontend/gameday2/utils/layoutUtils.js
Due: node-lint, node-test

Add some basic gameday unit tests
  src/frontend/gameday2/components/__tests__/MainContent.test.js
Due: node-lint, node-test

Add some basic gameday unit tests (#8415)
  src/frontend/gameday2/components/__tests__/MainContent.test.js
Due: node-lint, node-test

fix gameday styles
  src/frontend/gameday2/components/AppBar.js
  src/frontend/gameday2/components/LayoutDrawer.js
Due: node-lint, node-test

fix gameday styles (#8428)
  src/frontend/gameday2/components/AppBar.js
  src/frontend/gameday2/components/LayoutDrawer.js
Due: node-lint, node-test

[pwa] refactor match result grouping calculation
  pwa/app/lib/matchUtils.test.ts
  pwa/app/lib/matchUtils.ts
Due: none

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
