Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [pre-commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [pre-commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [pre-commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [pre-commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [pre-commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [pre-commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [pre-commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]
    - id: gcloud-sdk-version
      name: "Checking Google Cloud SDK Version"
      entry: ./ops/check_sdk_version.sh
      language: script
      always_run: true
      stages: [post-checkout]

Name tests by behaviour
  src/frontend/eventwizard/components/teamsTab/__tests__/AddRemoveSingleTeam.test.tsx
Due: none

Name tests by behaviour
  src/backend/common/game_specific/seasons/tests/game_specifics_2026_test.py
Due: py3-type, py3-lint, py3-test

Name tests by behaviour
  src/frontend/gameday2/reducers/__tests__/visibility.test.js
Due: node-lint, node-test

Name tests by behaviour
  src/frontend/gameday2/reducers/__tests__/chats.test.js
Due: node-lint, node-test

Name tests by behaviour
  src/frontend/gameday2/__tests__/gameday2.test.js
  src/frontend/gameday2/reducers/__tests__/chats.test.js
Due: node-lint, node-test

Name tests by behaviour
  src/frontend/gameday2/reducers/__tests__/videoGrid.test.js
Due: node-lint, node-test

Name tests by behaviour
  src/frontend/zebramotionworks/components/__tests__/RobotTrajectory.test.js
Due: node-lint, node-test

Name tests by behaviour
  pwa/app/components/tba/match/scoreBreakdown2017.test.tsx
Due: none

Name tests by behaviour
  src/frontend/zebramotionworks/components/__tests__/HeatmapVisualizer.test.js
Due: node-lint, node-test

Name tests by behaviour
  src/frontend/liveevent/components/__tests__/CurrentMatchDisplay.test.js
  src/frontend/liveevent/components/__tests__/LiveEventPanel.test.js
  src/frontend/liveevent/components/__tests__/UpcomingMatchesTable.test.js
  src/frontend/zebramotionworks/components/__tests__/RobotTrajectory.test.js
  src/frontend/zebramotionworks/components/__tests__/ZebraMotionWorksVisualizer.test.js
Due: node-lint, node-test

Name tests by behaviour
  src/frontend/gameday2/components/__tests__/LampIcon.test.js
Due: node-lint, node-test

Name tests by behaviour
  pwa/app/lib/teamUtils.test.ts
Due: none

Name tests by behaviour; label 2026 counter Auto FUEL Win Conversion
  src/backend/common/game_specific/base.py
  src/backend/common/game_specific/seasons/game_specifics_2026.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2026_test.py
  src/backend/web/handlers/tests/event_detail_test.py
  src/backend/web/handlers/tests/insights_test.py
  src/backend/web/templates/event_partials/event_insights_2026.html
Due: py3-type, py3-lint, py3-test

Name tests by behaviour
  src/backend/web/handlers/admin/tests/cache_test.py
Due: py3-type, py3-lint, py3-test

Name tests by behaviour
  pwa/app/lib/eventUtils.test.ts
Due: none

Document how to get screenshots onto PRs (with a reusable capture script) (#10529)
  AGENTS.md
  pwa/scripts/screenshot_html.mjs
Due: node-lint, node-test

Upgrade the public site to jQuery 3.7.1 and Bootstrap 3.4.1; drop unused fancybox (#10600)
  src/backend/tasks_io/templates/datafeeds/base.html
  src/backend/web/static/css/precompiled_css/jquery.fancybox.css
  src/backend/web/static/images/icons/fancybox_loading.gif
  src/backend/web/static/images/icons/fancybox_sprite.png
  src/backend/web/static/javascript/tba_js/tba.js
  src/backend/web/templates/account_login_required.html
  src/backend/web/templates/admin/base.html
  src/backend/web/templates/base.html
  webpack.config.js
Due: node-lint, node-test

Name the 2019 HAB climb test by behaviour
  pwa/app/components/tba/match/scoreBreakdown2019.test.tsx
Due: none

Name tests by behaviour
  src/backend/web/handlers/admin/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Name tests by behaviour
  pwa/app/components/tba/match/scoreBreakdownTeamTooltips.test.tsx
Due: none

Drive AnimatableContainer from react-transition-group v4 in/onExited props
  src/frontend/gameday2/components/AnimatableContainer.js
Due: node-lint, node-test

Name tests by behaviour
  src/backend/web/handlers/admin/tests/api_auth_test.py
Due: py3-type, py3-lint, py3-test

Name tests by behaviour
  pwa/app/components/tba/doubleElim4TeamBracket.test.tsx
  pwa/app/components/tba/traditionalBracket.test.tsx
Due: none

Name tests by behaviour
  src/backend/web/handlers/tests/account_test.py
Due: py3-type, py3-lint, py3-test

Use ListItemButton instead of MUI's removed ListItem button prop
  src/frontend/gameday2/components/ChatSelector.js
  src/frontend/gameday2/components/LayoutDrawer.js
  src/frontend/gameday2/components/LayoutSelectionPanel.js
  src/frontend/gameday2/components/WebcastSelectionDialogItem.js
Due: node-lint, node-test

Name tests by behaviour
  src/backend/web/handlers/tests/index_test.py
Due: py3-type, py3-lint, py3-test

Fix LivescoreDisplay interval leak, matches propType and indicator class names
  src/frontend/gameday2/components/LivescoreDisplay.js
Due: node-lint, node-test

Name tests by behaviour
  pwa/app/components/ui/chart.test.tsx
Due: none

Name tests by behaviour
  src/backend/web/handlers/admin/tests/team_test.py
Due: py3-type, py3-lint, py3-test

Set NUM_LAYOUTS to 13 so Nona-View is offered
  src/frontend/gameday2/constants/LayoutConstants.js
Due: node-lint, node-test

Name tests by behaviour
  src/backend/common/helpers/tests/location_helper_test.py
Due: py3-type, py3-lint, py3-test

Decode every &lt; and &gt; in EmbedIframe markup
  src/frontend/gameday2/components/embeds/EmbedIframe.js
Due: node-lint, node-test

Name tests by behaviour
  pwa/app/lib/hooks/useModeration.test.tsx
Due: none

Name tests by behaviour
  src/backend/common/helpers/tests/predictions_helper_test.py
Due: py3-type, py3-lint, py3-test

[pwa] Show fouls committed per alliance, with Foul Points Received as its own row
  pwa/app/components/tba/match/common.test.tsx
  pwa/app/components/tba/match/common.tsx
  pwa/app/components/tba/match/scoreBreakdown2016.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2016.tsx
  pwa/app/components/tba/match/scoreBreakdown2017.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2017.tsx
  pwa/app/components/tba/match/scoreBreakdown2018.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2018.tsx
  pwa/app/components/tba/match/scoreBreakdown2019.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2019.tsx
  pwa/app/components/tba/match/scoreBreakdown2020.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2020.tsx
  pwa/app/components/tba/match/scoreBreakdown2022.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2022.tsx
  pwa/app/components/tba/match/scoreBreakdown2023.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2023.tsx
  pwa/app/components/tba/match/scoreBreakdown2024.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2024.tsx
  pwa/app/components/tba/match/scoreBreakdown2025.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2025.tsx
  pwa/app/components/tba/match/scoreBreakdown2026.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2026.tsx
  pwa/app/lib/pointValues.test.ts
  pwa/app/lib/pointValues.ts
Due: none
