Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [pre-commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [pre-commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [pre-commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [pre-commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [pre-commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [pre-commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [pre-commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]
    - id: gcloud-sdk-version
      name: "Checking Google Cloud SDK Version"
      entry: ./ops/check_sdk_version.sh
      language: script
      always_run: true
      stages: [post-checkout]

[PWA] Fix npm warning
  pwa/package-lock.json
  pwa/package.json
Due: none

[PWA] Fix npm warning (#7760)
  pwa/package-lock.json
  pwa/package.json
Due: none

[PWA] Upgrade to React 19
  .github/dependabot.yml
  pwa/app/components/tba/globalLoadingProgress.tsx
  pwa/app/components/tba/nav.tsx
  pwa/app/components/ui/accordion.tsx
  pwa/app/components/ui/badge.tsx
  pwa/app/components/ui/button.tsx
  pwa/app/components/ui/card.tsx
  pwa/app/components/ui/carousel.tsx
  pwa/app/components/ui/command.tsx
  pwa/app/components/ui/dialog.tsx
  pwa/app/components/ui/drawer.tsx
  pwa/app/components/ui/dropdown-menu.tsx
  pwa/app/components/ui/input.tsx
  pwa/app/components/ui/navigation-menu.tsx
  pwa/app/components/ui/popover.tsx
  pwa/app/components/ui/progress.tsx
  pwa/app/components/ui/scroll-area.tsx
  pwa/app/components/ui/select.tsx
  pwa/app/components/ui/separator.tsx
  pwa/app/components/ui/sheet.tsx
  pwa/app/components/ui/table.tsx
  pwa/app/components/ui/tabs.tsx
  pwa/app/components/ui/toc.tsx
  pwa/app/components/ui/tooltip.tsx
  pwa/app/root.tsx
  pwa/package-lock.json
  pwa/package.json
Due: none

[PWA] Add zod as first party dependency, fix 500
  pwa/package-lock.json
  pwa/package.json
Due: none

[PWA] Add zod as first party dependency, fix 500 (#7770)
  pwa/package-lock.json
  pwa/package.json
Due: none

Correct returned type
  src/backend/common/helpers/insights_helper.py
Due: py3-type, py3-lint, py3-test

Add district-specific insights
  pwa/app/api/tba/@tanstack/react-query.gen.ts
  pwa/app/api/tba/sdk.gen.ts
  pwa/app/api/tba/types.gen.ts
  pwa/app/api/tba/zod.gen.ts
  src/backend/api/handlers/district.py
  src/backend/api/main.py
  src/backend/common/consts/insight_type.py
  src/backend/common/consts/renamed_districts.py
  src/backend/common/helpers/insights_districts_helper.py
  src/backend/common/helpers/insights_helper.py
  src/backend/common/helpers/insights_helper_utils.py
  src/backend/common/models/insight.py
  src/backend/common/queries/insight_query.py
  src/backend/tasks_cpu/handlers/insights.py
  src/backend/tasks_cpu/templates/math/year_insights_do.html
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Add district-specific insights (#7602)
  pwa/app/api/tba/@tanstack/react-query.gen.ts
  pwa/app/api/tba/sdk.gen.ts
  pwa/app/api/tba/types.gen.ts
  pwa/app/api/tba/zod.gen.ts
  src/backend/api/handlers/district.py
  src/backend/api/main.py
  src/backend/common/consts/insight_type.py
  src/backend/common/consts/renamed_districts.py
  src/backend/common/helpers/insights_districts_helper.py
  src/backend/common/helpers/insights_helper.py
  src/backend/common/helpers/insights_helper_utils.py
  src/backend/common/models/insight.py
  src/backend/common/queries/insight_query.py
  src/backend/tasks_cpu/handlers/insights.py
  src/backend/tasks_cpu/templates/math/year_insights_do.html
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Correct alliance.status API response spec
  pwa/app/api/tba/types.gen.ts
  pwa/app/api/tba/zod.gen.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

Fix import ordering
  src/backend/common/helpers/insights_helper.py
Due: py3-type, py3-lint, py3-test

Correct alliance.status API response spec (#7771)
  pwa/app/api/tba/types.gen.ts
  pwa/app/api/tba/zod.gen.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

[PWA] Add devbox
  .github/workflows/pull_request.yml
  pwa/README.md
  pwa/devbox.json
  pwa/devbox.lock
Due: none

Update from code review
  src/backend/common/helpers/insights_helper.py
Due: py3-type, py3-lint, py3-test

Update insights_helper.py
  src/backend/common/helpers/insights_helper.py
Due: py3-type, py3-lint, py3-test

Fix einstein streak calculations (#7741)
  src/backend/common/helpers/insights_helper.py
  src/backend/common/helpers/tests/insights_helper_test.py
Due: py3-type, py3-lint, py3-test

Add district insights to cron
  src/cron.yaml
Due: none

Add PWA API regeneration CI
  .github/workflows/pull_request.yml
Due: none

[PWA] Remove unnecessary files, add tw-animate-css instead of hand-written version
  .github/dependabot.yml
  pwa/app/components/ui/dialog.tsx
  pwa/app/tailwind-animate.css
  pwa/app/tailwind.css
  pwa/package-lock.json
  pwa/package.json
  pwa/postcss.config.js
  pwa/vite.config.ts
Due: node-lint, node-test

[PWA] Add cva to tailwind functions in Prettier
  pwa/app/components/ui/badge.tsx
  pwa/app/components/ui/button.tsx
  pwa/app/components/ui/navigation-menu.tsx
  pwa/prettier.config.js
Due: node-lint, node-test

[PWA] Add devbox (#7758)
  .github/workflows/pull_request.yml
  pwa/README.md
  pwa/devbox.json
  pwa/devbox.lock
Due: none

Add district insights to cron (#7780)
  src/cron.yaml
Due: none

Add PWA API regeneration CI (#7781)
  .github/workflows/pull_request.yml
Due: none

[PWA] Add cva to tailwind functions in Prettier (#7783)
  pwa/app/components/ui/badge.tsx
  pwa/app/components/ui/button.tsx
  pwa/app/components/ui/navigation-menu.tsx
  pwa/prettier.config.js
Due: node-lint, node-test

[PWA] Switch tailwind from Postcss to Vite, switch to maintained tw animation lib (#7782)
  .github/dependabot.yml
  pwa/app/components/ui/dialog.tsx
  pwa/app/tailwind-animate.css
  pwa/app/tailwind.css
  pwa/package-lock.json
  pwa/package.json
  pwa/postcss.config.js
  pwa/vite.config.ts
Due: node-lint, node-test

[PWA] Fix district insight typing. Add district insight page
  pwa/app/api/tba/types.gen.ts
  pwa/app/api/tba/zod.gen.ts
  pwa/app/lib/utils.tsx
  pwa/app/routes/events.$districtAbbreviation.insights.tsx
  src/backend/web/static/swagger/api_v3.json
Due: none

[PWA] Upgrade to React 19
  .github/dependabot.yml
  pwa/package-lock.json
  pwa/package.json
Due: none

[PWA] Persist user state on login
  pwa/app/components/tba/auth/context.tsx
  pwa/app/components/tba/auth/signInButton.tsx
  pwa/app/root.tsx
  pwa/app/routes/account.tsx
Due: none

[PWA] Add write API client
  pwa/app/api/tba/write/client.gen.ts
  pwa/app/api/tba/write/index.ts
  pwa/app/api/tba/write/sdk.gen.ts
  pwa/app/api/tba/write/types.gen.ts
  pwa/generate-api.sh
  pwa/openapi-ts/read.config.ts
  pwa/openapi-ts/write.config.ts
Due: none

[PWA] Fix district insight typing. Add district insight page (#7779)
  pwa/app/api/tba/types.gen.ts
  pwa/app/api/tba/zod.gen.ts
  pwa/app/lib/utils.tsx
  pwa/app/routes/events.$districtAbbreviation.insights.tsx
  src/backend/web/static/swagger/api_v3.json
Due: none

[PWA] Upgrade to React 19 (#7792)
  .github/dependabot.yml
  pwa/package-lock.json
  pwa/package.json
Due: none

Scalar API docs
  pwa/app/routes/apidocs.$doc.($version).tsx
  pwa/app/routes/apidocs._index.tsx
  pwa/package-lock.json
  pwa/package.json
  pwa/public/swagger/api_trusted_v1.json
  pwa/public/swagger/api_v3.json
Due: none

Format and lint
  pwa/public/swagger/api_trusted_v1.json
  pwa/public/swagger/api_v3.json
Due: none

[PWA] Remove unused dependencies
  pwa/package-lock.json
  pwa/package.json
Due: none

do a cleanup pass on frontend
  pwa/app/routes/apidocs.$doc.($version).tsx
Due: none

Add file copying infrastructure
  pwa/.prettierignore
  pwa/generate-api.sh
  pwa/public/swagger/swagger/api_trusted_v1.json
  pwa/public/swagger/swagger/api_v3.json
Due: none

Fix formatting CI
  src/backend/common/helpers/insights_helper.py
  src/backend/common/helpers/tests/insights_helper_test.py
Due: py3-type, py3-lint, py3-test

Fix formatting CI (#7824)
  src/backend/common/helpers/insights_helper.py
  src/backend/common/helpers/tests/insights_helper_test.py
Due: py3-type, py3-lint, py3-test
