Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]

[PWA] Upgrade to tailwind v4
  pwa/.eslintrc.cjs
  pwa/app/components/tba/inlineIcon.tsx
  pwa/app/components/tba/matchResultsTable.tsx
  pwa/app/components/tba/nav.tsx
  pwa/app/components/tba/teamEventAppearance.tsx
  pwa/app/components/ui/badge.tsx
  pwa/app/components/ui/button.tsx
  pwa/app/components/ui/card.tsx
  pwa/app/components/ui/command.tsx
  pwa/app/components/ui/dialog.tsx
  pwa/app/components/ui/dropdown-menu.tsx
  pwa/app/components/ui/input.tsx
  pwa/app/components/ui/navigation-menu.tsx
  pwa/app/components/ui/popover.tsx
  pwa/app/components/ui/select.tsx
  pwa/app/components/ui/table.tsx
  pwa/app/components/ui/tabs.tsx
  pwa/app/routes/add-data.tsx
  pwa/app/routes/apidocs.tsx
  pwa/app/routes/contact.tsx
  pwa/app/routes/donate.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/privacy.tsx
  pwa/app/routes/team.$teamNumber.($year).tsx
  pwa/app/routes/thanks.tsx
  pwa/app/tailwind-animate.css
  pwa/app/tailwind.css
  pwa/package-lock.json
  pwa/package.json
  pwa/postcss.config.js
  pwa/tailwind.config.ts
Due: node-lint, node-test

Refactor out match leaderboards to separate helper (#7189)
  .flake8
  src/backend/common/helpers/insights_helper.py
  src/backend/common/helpers/insights_helper_utils.py
  src/backend/common/helpers/insights_leaderboard_match_helper.py
  src/backend/common/helpers/tests/data/2019mttd.json
  src/backend/common/helpers/tests/data/2025isde1.json
  src/backend/common/helpers/tests/data/2025isde1_matches.json
  src/backend/common/helpers/tests/insights_helper_utils_test.py
  src/backend/common/helpers/tests/insights_leaderboard_match_helper_test.py
  src/backend/common/models/insight.py
  src/backend/tasks_cpu/handlers/insights.py
Due: py3-type, py3-lint, py3-test

[PWA] Upgrade to tailwind v4 (#7245)
  pwa/.eslintrc.cjs
  pwa/app/components/tba/inlineIcon.tsx
  pwa/app/components/tba/matchResultsTable.tsx
  pwa/app/components/tba/nav.tsx
  pwa/app/components/tba/teamEventAppearance.tsx
  pwa/app/components/ui/badge.tsx
  pwa/app/components/ui/button.tsx
  pwa/app/components/ui/card.tsx
  pwa/app/components/ui/command.tsx
  pwa/app/components/ui/dialog.tsx
  pwa/app/components/ui/dropdown-menu.tsx
  pwa/app/components/ui/input.tsx
  pwa/app/components/ui/navigation-menu.tsx
  pwa/app/components/ui/popover.tsx
  pwa/app/components/ui/select.tsx
  pwa/app/components/ui/table.tsx
  pwa/app/components/ui/tabs.tsx
  pwa/app/routes/add-data.tsx
  pwa/app/routes/apidocs.tsx
  pwa/app/routes/contact.tsx
  pwa/app/routes/donate.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/privacy.tsx
  pwa/app/routes/team.$teamNumber.($year).tsx
  pwa/app/routes/thanks.tsx
  pwa/app/tailwind-animate.css
  pwa/app/tailwind.css
  pwa/package-lock.json
  pwa/package.json
  pwa/postcss.config.js
  pwa/tailwind.config.ts
Due: node-lint, node-test

[pwa] Enable Sentry profiling for code performance analysis (#7051)
  pwa/app/entry.client.tsx
  pwa/app/entry.server.tsx
Due: none

[pwa] fix div escaping its parent (#7050)
  pwa/app/routes/event.$eventKey.tsx
Due: none

[pwa] Add /event/districtAbbr/year page (#6845)
  pwa/app/components/tba/cards.tsx
  pwa/app/components/tba/leaderboard.tsx
  pwa/app/components/tba/links.tsx
  pwa/app/components/ui/divider.tsx
  pwa/app/components/ui/table.tsx
  pwa/app/lib/eventUtils.ts
  pwa/app/lib/teamUtils.ts
  pwa/app/lib/utils.tsx
  pwa/app/routes/events.$districtAbbreviation.($year).tsx
  pwa/app/routes/insights.($year).tsx
Due: none

[PWA] Enable v3_routeConfig option for RR7 upgrade
  pwa/app/routes.ts
  pwa/package-lock.json
  pwa/package.json
  pwa/vite.config.ts
Due: none

[PWA] Add COPRs and basic match stats to event insights tab
  pwa/app/lib/matchUtils.ts
  pwa/app/lib/utils.test.ts
  pwa/app/lib/utils.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/tsconfig.json
Due: none

Refactor team/event leaderboards to separate helper
  src/backend/common/helpers/insights_helper.py
  src/backend/common/helpers/insights_helper_utils.py
  src/backend/common/helpers/insights_leaderboard_event_helper.py
  src/backend/common/helpers/insights_leaderboard_team_helper.py
  src/backend/common/helpers/tests/data/2024mil.json
  src/backend/common/helpers/tests/data/2024mil_awards.json
  src/backend/common/helpers/tests/insights_helper_test.py
  src/backend/common/helpers/tests/insights_leaderboard_event_helper_test.py
  src/backend/common/helpers/tests/insights_leaderboard_match_helper_test.py
  src/backend/common/helpers/tests/insights_leaderboard_team_helper_test.py
  src/backend/common/models/insight.py
  src/backend/common/queries/insight_query.py
  src/backend/tasks_cpu/handlers/insights.py
Due: py3-type, py3-lint, py3-test

Update gameday image for 2025
  src/backend/web/static/images/gameday_image.jpg
Due: none

Update gameday image for 2025 (#7249)
  src/backend/web/static/images/gameday_image.jpg
Due: none

[PWA] Improve event search results
  pwa/app/lib/search/fuzzysortFilterer.ts
Due: none

Revert "Add nav bar padding; Fixes #7225 (#7231)"
  subtrees/bootstrap/less/navs.less
Due: none

Revert "Add nav bar padding; Fixes #7225" (#7258)
  subtrees/bootstrap/less/navs.less
Due: none

[PWA] Improve event search results (#7250)
  pwa/app/lib/search/fuzzysortFilterer.ts
Due: none

Bump vitest+coverage and fix dependabot
  .github/dependabot.yml
  pwa/package-lock.json
  pwa/package.json
Due: none

[pwa] Fix in-progress event UI (500 + predicted match times)
  pwa/app/components/tba/matchResultsTable.tsx
Due: none

[PWA] Add COPRs and basic match stats to event insights tab (#7006)
  pwa/app/lib/matchUtils.ts
  pwa/app/lib/utils.test.ts
  pwa/app/lib/utils.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/tsconfig.json
Due: none

[PWA] Enable v3_routeConfig option for RR7 upgrade (#7247)
  pwa/app/routes.ts
  pwa/package-lock.json
  pwa/package.json
  pwa/vite.config.ts
Due: none

Bump vitest+coverage and fix dependabot (#7232)
  .github/dependabot.yml
  pwa/package-lock.json
  pwa/package.json
Due: none

[pwa] Add predicted match times (#7103)
  pwa/app/components/tba/matchResultsTable.tsx
Due: none

Add 2025 RP definitions
  pwa/app/lib/rankingPoints.ts
Due: none

Fix RP dot rendering
  pwa/app/components/tba/rpDot.tsx
Due: none

Cleanup styles on Event Wizard 2
  src/frontend/eventwizard/components/EventSelector.js
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/infoTab/AddRemoveTeamMap.js
  src/frontend/eventwizard/components/infoTab/AddRemoveWebcast.js
  src/frontend/eventwizard/components/infoTab/EventInfoTab.js
  src/frontend/eventwizard/components/infoTab/PlayoffTypeDropdown.js
  src/frontend/eventwizard/components/infoTab/SyncCodeInput.js
Due: node-lint, node-test

add shell.nix
  .gitignore
  shell.nix
  tba-key-setup.sh
Due: none

Update shell.nix
  shell.nix
Due: none

Address review comments
  pwa/app/components/tba/rpDot.tsx
  pwa/app/lib/rankingPoints.ts
Due: none

Update predictions for 2025
  src/backend/common/helpers/prediction_helper.py
  src/backend/tasks_io/handlers/math.py
  src/backend/web/templates/match_partials/match_predictions_table_header.html
  src/backend/web/templates/match_partials/match_table_cell_macros.html
Due: py3-type, py3-lint, py3-test

Rename tech foul to major foul for 2025
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2025.html
Due: none

Update predictions for 2025 (#7272)
  src/backend/common/helpers/prediction_helper.py
  src/backend/tasks_io/handlers/math.py
  src/backend/web/templates/match_partials/match_predictions_table_header.html
  src/backend/web/templates/match_partials/match_table_cell_macros.html
Due: py3-type, py3-lint, py3-test

Rename tech foul to major foul for 2025 (#7273)
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2025.html
Due: none

[PWA] 2025 RP dots (#7262)
  pwa/app/components/tba/rpDot.tsx
  pwa/app/lib/rankingPoints.ts
Due: none

Cleanup styles on Event Wizard 2 (#7263)
  src/frontend/eventwizard/components/EventSelector.js
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/infoTab/AddRemoveTeamMap.js
  src/frontend/eventwizard/components/infoTab/AddRemoveWebcast.js
  src/frontend/eventwizard/components/infoTab/EventInfoTab.js
  src/frontend/eventwizard/components/infoTab/PlayoffTypeDropdown.js
  src/frontend/eventwizard/components/infoTab/SyncCodeInput.js
Due: node-lint, node-test

Add pointer cursor to clickable tabs
  pwa/app/components/ui/tabs.tsx
Due: none

Fix 500 for schedule-released events insights tab
  pwa/app/lib/matchUtils.ts
  pwa/app/routes/event.$eventKey.tsx
Due: none

[pwa] Fix 500 for schedule-released events insights tab (#7275)
  pwa/app/lib/matchUtils.ts
  pwa/app/routes/event.$eventKey.tsx
Due: none

[pwa] Add pointer cursor to clickable tabs (#7276)
  pwa/app/components/ui/tabs.tsx
Due: none

[pwa] add webcast links to homepage and event page
  pwa/app/components/tba/eventListTable.tsx
  pwa/app/components/tba/inlineIcon.tsx
  pwa/app/components/ui/button.tsx
  pwa/app/routes/event.$eventKey.tsx
Due: none
