Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

Add post-checkout hookto update dev container (#8445)
  .pre-commit-config.yaml
  ops/check_dev_container_version.sh
Due: none

add basic eventwizard tests
  src/frontend/eventwizard/actions/__tests__/actions.test.js
  src/frontend/eventwizard/components/__tests__/AuthInput.test.js
  src/frontend/eventwizard/components/__tests__/AuthTools.test.js
  src/frontend/eventwizard/components/__tests__/EventSelector.test.js
  src/frontend/eventwizard/components/__tests__/EventWizardFrame.test.js
  src/frontend/eventwizard/components/__tests__/SetupFrame.test.js
  src/frontend/eventwizard/reducers/__tests__/auth.test.js
Due: node-lint, node-test

add infotab tests
  package-lock.json
  package.json
  src/frontend/eventwizard/components/__tests__/AuthInput.test.js
  src/frontend/eventwizard/components/__tests__/AuthTools.test.js
  src/frontend/eventwizard/components/__tests__/EventSelector.test.js
  src/frontend/eventwizard/components/infoTab/__tests__/AddRemoveTeamMap.test.js
  src/frontend/eventwizard/components/infoTab/__tests__/AddRemoveWebcast.test.js
  src/frontend/eventwizard/components/infoTab/__tests__/EventInfoTab.test.js
  src/frontend/eventwizard/components/infoTab/__tests__/PlayoffTypeDropdown.test.js
  src/frontend/eventwizard/components/infoTab/__tests__/SyncCodeInput.test.js
Due: node-lint, node-test

teams tests
  package-lock.json
  package.json
  src/backend/web/templates/eventwizard2.html
  src/frontend/eventwizard/components/__tests__/AuthTools.test.js
  src/frontend/eventwizard/components/infoTab/__tests__/AddRemoveTeamMap.test.js
  src/frontend/eventwizard/components/infoTab/__tests__/AddRemoveWebcast.test.js
  src/frontend/eventwizard/components/infoTab/__tests__/EventInfoTab.test.js
  src/frontend/eventwizard/components/infoTab/__tests__/PlayoffTypeDropdown.test.js
  src/frontend/eventwizard/components/teamsTab/AddTeamsFMSReport.js
  src/frontend/eventwizard/components/teamsTab/__tests__/AddTeamsFMSReport.test.js
  src/frontend/eventwizard/components/teamsTab/__tests__/TeamListTab.test.js
  src/frontend/eventwizard/components/teamsTab/__tests__/data/2025nysu_TeamListReport.xlsx
  webpack.config.js
Due: node-lint, node-test

Fix up eventwizard2 team import & add tests (#8448)
  package-lock.json
  package.json
  src/backend/web/templates/eventwizard2.html
  src/frontend/eventwizard/actions/__tests__/actions.test.js
  src/frontend/eventwizard/components/__tests__/AuthInput.test.js
  src/frontend/eventwizard/components/__tests__/AuthTools.test.js
  src/frontend/eventwizard/components/__tests__/EventSelector.test.js
  src/frontend/eventwizard/components/__tests__/EventWizardFrame.test.js
  src/frontend/eventwizard/components/__tests__/SetupFrame.test.js
  src/frontend/eventwizard/components/infoTab/__tests__/AddRemoveTeamMap.test.js
  src/frontend/eventwizard/components/infoTab/__tests__/AddRemoveWebcast.test.js
  src/frontend/eventwizard/components/infoTab/__tests__/EventInfoTab.test.js
  src/frontend/eventwizard/components/infoTab/__tests__/PlayoffTypeDropdown.test.js
  src/frontend/eventwizard/components/infoTab/__tests__/SyncCodeInput.test.js
  src/frontend/eventwizard/components/teamsTab/AddTeamsFMSReport.js
  src/frontend/eventwizard/components/teamsTab/__tests__/AddTeamsFMSReport.test.js
  src/frontend/eventwizard/components/teamsTab/__tests__/TeamListTab.test.js
  src/frontend/eventwizard/components/teamsTab/__tests__/data/2025nysu_TeamListReport.xlsx
  src/frontend/eventwizard/reducers/__tests__/auth.test.js
  webpack.config.js
Due: node-lint, node-test

write more eventwizard tests
  package-lock.json
  package.json
  src/frontend/eventwizard/components/teamsTab/__tests__/AddMultipleTeams.test.js
  src/frontend/eventwizard/components/teamsTab/__tests__/AddRemoveSingleTeam.test.js
  src/frontend/eventwizard/components/teamsTab/__tests__/AttendingTeamList.test.js
Due: node-lint, node-test

add award tab tests
  src/frontend/eventwizard/components/awardsTab/__tests__/AwardsTab.test.js
Due: node-lint, node-test

add match videos tab tests
  src/frontend/eventwizard/components/matchVideosTab/__tests__/MatchVideosTab.test.js
Due: node-lint, node-test

write more eventwizard tests (#8449)
  package-lock.json
  package.json
  src/frontend/eventwizard/components/awardsTab/__tests__/AwardsTab.test.js
  src/frontend/eventwizard/components/matchVideosTab/__tests__/MatchVideosTab.test.js
  src/frontend/eventwizard/components/teamsTab/__tests__/AddMultipleTeams.test.js
  src/frontend/eventwizard/components/teamsTab/__tests__/AddRemoveSingleTeam.test.js
  src/frontend/eventwizard/components/teamsTab/__tests__/AttendingTeamList.test.js
Due: node-lint, node-test

implement FMS schedule import tab
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/eventScheduleTab/EventScheduleTab.js
  src/frontend/eventwizard/components/eventScheduleTab/__tests__/EventScheduleTab.test.js
  src/frontend/eventwizard/components/eventScheduleTab/__tests__/data/2025nysu_ScheduleReport_Playoffs.xlsx
  src/frontend/eventwizard/components/eventScheduleTab/__tests__/data/2025nysu_ScheduleReport_Quals.xlsx
  src/frontend/eventwizard/containers/AwardsTabContainer.js
  src/frontend/eventwizard/containers/EventScheduleTabContainer.js
  src/frontend/eventwizard/containers/MatchVideosContainer.js
  src/frontend/eventwizard/containers/TeamListContainer.js
  src/frontend/eventwizard/net/TrustedApiRequest.js
  src/frontend/eventwizard/utils/__tests__/scheduleParser.test.js
  src/frontend/eventwizard/utils/scheduleParser.js
Due: node-lint, node-test

implement FMS schedule import tab (#8450)
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/eventScheduleTab/EventScheduleTab.js
  src/frontend/eventwizard/components/eventScheduleTab/__tests__/EventScheduleTab.test.js
  src/frontend/eventwizard/components/eventScheduleTab/__tests__/data/2025nysu_ScheduleReport_Playoffs.xlsx
  src/frontend/eventwizard/components/eventScheduleTab/__tests__/data/2025nysu_ScheduleReport_Quals.xlsx
  src/frontend/eventwizard/containers/AwardsTabContainer.js
  src/frontend/eventwizard/containers/EventScheduleTabContainer.js
  src/frontend/eventwizard/containers/MatchVideosContainer.js
  src/frontend/eventwizard/containers/TeamListContainer.js
  src/frontend/eventwizard/net/TrustedApiRequest.js
  src/frontend/eventwizard/utils/__tests__/scheduleParser.test.js
  src/frontend/eventwizard/utils/scheduleParser.js
Due: node-lint, node-test

Add Firebase user to account page, show custom claims
  src/backend/web/handlers/admin/users.py
  src/backend/web/templates/admin/user_details.html
Due: py3-type, py3-lint, py3-test

Organize import statements in users.py
  src/backend/web/handlers/admin/users.py
Due: py3-type, py3-lint, py3-test

[pwa] bump sentry
  pwa/package-lock.json
  pwa/package.json
Due: none

Add Firebase user to account page, show custom claims (#8451)
  src/backend/web/handlers/admin/users.py
  src/backend/web/templates/admin/user_details.html
Due: py3-type, py3-lint, py3-test

Rename any **/test_*.py to *_test.py to standardize naming
  src/backend/api/api_trusted_parsers/tests/json_zebra_motion_parser_test.py
  src/backend/common/cache/tests/gae_builtin_cache_test.py
  src/backend/common/cache/tests/noop_cache_test.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_match_details_parser_test.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_match_tiebreaker_test.py
  src/backend/web/handlers/tests/suggest_team_admin_review_test.py
  src/backend/web/handlers/tests/team_admin_redeem_test.py
  src/backend/web/handlers/tests/webhooks_test.py
Due: py3-type, py3-lint, py3-test

Change firebase auth domain to thebluealliance.com
  src/frontend/liveevent/firebaseapp.js
Due: node-lint, node-test

Rename any `**/test_*.py` to `*_test.py` to standardize naming (#8453)
  src/backend/api/api_trusted_parsers/tests/json_zebra_motion_parser_test.py
  src/backend/common/cache/tests/gae_builtin_cache_test.py
  src/backend/common/cache/tests/noop_cache_test.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_match_details_parser_test.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_match_tiebreaker_test.py
  src/backend/web/handlers/tests/suggest_team_admin_review_test.py
  src/backend/web/handlers/tests/team_admin_redeem_test.py
  src/backend/web/handlers/tests/webhooks_test.py
Due: py3-type, py3-lint, py3-test

Change firebase auth domain to thebluealliance.com (#8454)
  src/frontend/liveevent/firebaseapp.js
Due: node-lint, node-test

Revert "Change firebase auth domain to thebluealliance.com (#8454)"
  src/frontend/liveevent/firebaseapp.js
Due: node-lint, node-test

Change firebase auth domain to thebluealliance.com
  ops/build/run_buildweb.sh
Due: none

Change firebase auth domain to thebluealliance.com (#8455)
  ops/build/run_buildweb.sh
  src/frontend/liveevent/firebaseapp.js
Due: node-lint, node-test

Revert "Change firebase auth domain to thebluealliance.com"
  ops/build/run_buildweb.sh
Due: none

Revert "Change firebase auth domain to thebluealliance.com" (#8456) [clowntown]
  ops/build/run_buildweb.sh
Due: none

Attempt to change Firebase auth login domain again
  ops/build/run_buildweb.sh
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

Attempt to change Firebase auth login domain again (#8457) [clowntown]
  ops/build/run_buildweb.sh
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

Make sure to pass query params when rewriting auth redirect
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

Make sure to pass query params when rewriting auth redirect (#8458) [clowntown]
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

Remove dynamic gcloud get for auth redirect for now
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

Remove dynamic gcloud get for auth redirect for now (#8459) [clowntown]
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

Remove references to rq in Vagrant - not used
  Vagrantfile
  docker-compose.yml
  ops/dev/docker/Dockerfile
Due: none

Revert "Remove dynamic gcloud get for auth redirect for now (#8459) [clowntown]"
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

Revert "Make sure to pass query params when rewriting auth redirect (#8458) [clowntown]"
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

Revert "Attempt to change Firebase auth login domain again (#8457) [clowntown]"
  ops/build/run_buildweb.sh
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

Revert login domain (#8461) [clowntown]
  ops/build/run_buildweb.sh
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

[pwa] bump sentry (#8452)
  pwa/package-lock.json
  pwa/package.json
Due: none

Use firebase emulators:exec for importing Firebase Auth users
  ops/dev/vagrant/run_firebase_emulator.sh
Due: none

Remove references to rq in Vagrant - not used (#8460)
  Vagrantfile
  docker-compose.yml
  ops/dev/docker/Dockerfile
Due: none

Use `firebase emulators:exec` for importing Firebase Auth users (#8462)
  ops/dev/vagrant/run_firebase_emulator.sh
Due: none

Remove stray binary.bin file checked in
  binary.bin
Due: none

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
