Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]

Minor fix: Removal of unnecessary double quotes around utf-8 in HTTP header for webhooks (#5739)
  src/backend/common/models/notifications/requests/tests/webhook_request_test.py
  src/backend/common/models/notifications/requests/webhook_request.py
Due: py3-type, py3-lint, py3-test

removed a non-existant breakdown key
  src/backend/common/helpers/prediction_helper.py
Due: py3-type, py3-lint, py3-test

2024 prediction (#5746)
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/prediction_helper.py
  src/backend/common/helpers/score_breakdown_keys.py
  src/backend/common/helpers/tests/district_helper_test.py
  src/backend/common/models/event_details.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
  src/backend/tasks_io/handlers/math.py
  src/backend/web/templates/match_partials/match_predictions_table_header.html
  src/backend/web/templates/match_partials/match_table_cell_macros.html
Due: py3-type, py3-lint, py3-test

Add 2024 field image
  src/backend/web/static/images/2024_field.png
Due: none

Add 2024 field image (#5788)
  src/backend/web/static/images/2024_field.png
Due: none

only count played matches in matches plyaed per team
  src/backend/common/helpers/insights_helper.py
Due: py3-type, py3-lint, py3-test

Set match.push_sent for match score notifications
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
Due: py3-type, py3-lint, py3-test

Set match.push_sent for match score notifications (#5800)
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
Due: py3-type, py3-lint, py3-test

Remove Redis docs
  docs/Deployment/CI-CD-Setup.md
  docs/Developing/Redis.md
  docs/Home.md
  docs/Maintainers/Maintainer-Runbook.md
Due: none

only count played matches in matches plyaed per team (#5789)
  src/backend/common/helpers/insights_helper.py
Due: py3-type, py3-lint, py3-test

Remove Redis docs (#5801)
  docs/Deployment/CI-CD-Setup.md
  docs/Developing/Redis.md
  docs/Home.md
  docs/Maintainers/Maintainer-Runbook.md
Due: none

work around broken schedules in FRC API
  src/backend/tasks_io/datafeeds/datafeed_fms_api.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
Due: py3-type, py3-lint, py3-test

work around broken schedules in FRC API (#5802)
  src/backend/tasks_io/datafeeds/datafeed_fms_api.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
Due: py3-type, py3-lint, py3-test

[gameday] Skip match ticker if no teams
  src/frontend/gameday2/components/VideoCellToolbar.js
Due: node-lint, node-test

[gameday] Skip match ticker if no teams (#5803)
  src/frontend/gameday2/components/VideoCellToolbar.js
Due: node-lint, node-test

[gameday] validate rt/bt exist as well
  src/frontend/gameday2/components/VideoCellToolbar.js
Due: node-lint, node-test

[gameday] skip more code that depends on teams
  src/frontend/gameday2/components/VideoCellToolbar.js
  src/frontend/gameday2/gameday2.js
Due: node-lint, node-test

[gameday] fix import
  src/frontend/gameday2/gameday2.js
Due: node-lint, node-test

Check Match.push_sent in the match manipulator
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/manipulators/match_manipulator.py
  src/backend/common/manipulators/tests/match_manipulator_test.py
Due: py3-type, py3-lint, py3-test

Check Match.push_sent in the match manipulator (#5805)
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/manipulators/match_manipulator.py
  src/backend/common/manipulators/tests/match_manipulator_test.py
Due: py3-type, py3-lint, py3-test

Bail on bracket render if finals information isn't available for round robin
  src/backend/web/templates/bracket_partials/double_elim_bracket_table.html
Due: none

Add team website to mod dashboard
  src/backend/web/handlers/team_admin.py
  src/backend/web/templates/team_admin_dashboard.html
  src/backend/web/templates/team_partials/team_info.html
Due: py3-type, py3-lint, py3-test

Fix team admin dashboard form styling
  src/backend/web/templates/team_admin_dashboard.html
Due: none

Fix alignment in admin event details page
  src/backend/web/templates/admin/event_details.html
Due: none

Fix team admin dashboard form styling (#5809)
  src/backend/web/templates/team_admin_dashboard.html
Due: none

Support empty requests for client api (list endpoints)
  src/backend/api/handlers/decorators.py
Due: py3-type, py3-lint, py3-test

Support empty requests for client api (list endpoints) (#5821)
  src/backend/api/handlers/decorators.py
Due: py3-type, py3-lint, py3-test

Added helpful error responses to webhook test notifications
  src/backend/web/handlers/apidocs.py
  src/backend/web/templates/apidocs_webhooks.html
Due: py3-type, py3-lint, py3-test

Fixed response text mistake
  src/backend/web/templates/apidocs_webhooks.html
Due: none

Async query subscriptions to speed up post-update-hooks
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/models/subscription.py
  src/backend/common/models/tests/conftest.py
  src/backend/common/models/tests/subscription_test.py
Due: py3-type, py3-lint, py3-test

Async query subscriptions to speed up post-update-hooks (#5823)
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/models/subscription.py
  src/backend/common/models/tests/conftest.py
  src/backend/common/models/tests/subscription_test.py
Due: py3-type, py3-lint, py3-test

Fixed CSRF error on cached apidocs/webhooks page by moving the test buttons to an 'authenticated' variant of the page which is not cached
  src/backend/web/handlers/apidocs.py
  src/backend/web/templates/account_overview.html
  src/backend/web/templates/apidocs_partials/apidocs_webhooks_test.html
Due: py3-type, py3-lint, py3-test

Kickoff TBANS notifications via deferred. Batch subscription fetches
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/manipulators/award_manipulator.py
  src/backend/common/manipulators/event_details_manipulator.py
  src/backend/common/manipulators/match_manipulator.py
  src/backend/common/manipulators/tests/award_manipulator_test.py
  src/backend/common/manipulators/tests/event_details_manipulator_test.py
  src/backend/common/manipulators/tests/match_manipulator_test.py
  src/backend/common/models/subscription.py
  src/backend/common/models/tests/subscription_test.py
Due: py3-type, py3-lint, py3-test

Kickoff TBANS notifications via deferred. Batch subscription fetches (#5830)
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/manipulators/award_manipulator.py
  src/backend/common/manipulators/event_details_manipulator.py
  src/backend/common/manipulators/match_manipulator.py
  src/backend/common/manipulators/tests/award_manipulator_test.py
  src/backend/common/manipulators/tests/event_details_manipulator_test.py
  src/backend/common/manipulators/tests/match_manipulator_test.py
  src/backend/common/models/subscription.py
  src/backend/common/models/tests/subscription_test.py
Due: py3-type, py3-lint, py3-test

Defer batch subscription -> user ID work
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
Due: py3-type, py3-lint, py3-test

Add try/catch to TBANS defer adds - will catch TaskAlreadyExistsError or TombstonedTaskError
  src/backend/common/manipulators/award_manipulator.py
  src/backend/common/manipulators/event_details_manipulator.py
  src/backend/common/manipulators/match_manipulator.py
Due: py3-type, py3-lint, py3-test

Add try/catch to TBANS defer adds - will catch TaskAlreadyExistsError or TombstonedTaskError (#5832)
  src/backend/common/manipulators/award_manipulator.py
  src/backend/common/manipulators/event_details_manipulator.py
  src/backend/common/manipulators/match_manipulator.py
Due: py3-type, py3-lint, py3-test

Remove showing localized location from event pages
  src/backend/web/templates/event_details.html
Due: none

Remove showing localized location from event pages (#5835)
  src/backend/web/templates/event_details.html
Due: none

Use Event.city_state_country for event details location
  src/backend/common/models/event.py
  src/backend/web/templates/event_details.html
Due: py3-type, py3-lint, py3-test
