Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - commit

Fix cOPRs for L2-L4 coral
  src/backend/common/helpers/matchstats_helper.py
Due: py3-type, py3-lint, py3-test

Fix cOPRs for L2-L4 coral (#7177)
  src/backend/common/helpers/matchstats_helper.py
Due: py3-type, py3-lint, py3-test

more cache debug admin panel
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/cache.py
  src/backend/web/handlers/admin/tests/event_test.py
  src/backend/web/templates/admin/cached_query_detail.html
  src/backend/web/templates/admin/cached_query_info.html
  src/backend/web/templates/admin/cached_query_list.html
Due: py3-type, py3-lint, py3-test

lint
  src/backend/web/handlers/admin/blueprint.py
Due: py3-type, py3-lint, py3-test

add to base template
  src/backend/web/templates/admin/base.html
Due: none

Add admin panel views (#7178)
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/cache.py
  src/backend/web/handlers/admin/tests/event_test.py
  src/backend/web/templates/admin/base.html
  src/backend/web/templates/admin/cached_query_detail.html
  src/backend/web/templates/admin/cached_query_info.html
  src/backend/web/templates/admin/cached_query_list.html
Due: py3-type, py3-lint, py3-test

Fixes API docs to document proper penalties for 2025
  src/backend/web/static/swagger/api_v3.json
Due: none

Fixes API docs to document proper penalties for 2025 (#7186)
  src/backend/web/static/swagger/api_v3.json
Due: none

Update allianceSelectionTable.tsx
  pwa/app/components/tba/allianceSelectionTable.tsx
Due: none

Fix formatting
  pwa/app/components/tba/allianceSelectionTable.tsx
Due: none

Fixed #6378 (#6623)
  pwa/app/components/tba/allianceSelectionTable.tsx
Due: none

Fix coral and barge RP dots in 2025 match breakdowns overlapping
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2025.html
Due: none

Show correct foul points for red/blue for 2025 breakdowns
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2025.html
Due: none

Show correct foul points for red/blue for 2025 breakdowns (#7188)
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2025.html
Due: none

Add exception logging for webhooks [clowntown]
  src/backend/common/models/notifications/requests/webhook_request.py
Due: py3-type, py3-lint, py3-test

Fix debug logging message to be accurate [clowntown]
  src/backend/common/models/notifications/requests/webhook_request.py
Due: py3-type, py3-lint, py3-test

Add robots.txt to pwa
  pwa/public/robots.txt
Due: none

Add robots.txt to pwa (#7201)
  pwa/public/robots.txt
Due: none

Update GAE deploy instructions
  docs/Deployment/GAE-Firebase-Setup.md
Due: none

Update GAE deploy instructions (#7202)
  docs/Deployment/GAE-Firebase-Setup.md
Due: none

Fix coral and barge RP dots in 2025 match breakdowns overlapping (#7187)
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2025.html
Due: none

Adds Rising All-Star Award
  src/backend/common/consts/award_matching_strings.py
  src/backend/common/consts/award_type.py
  src/backend/common/helpers/tests/award_helper_test.py
Due: py3-type, py3-lint, py3-test

Adds Rising All-Star Award (#7203)
  src/backend/common/consts/award_matching_strings.py
  src/backend/common/consts/award_type.py
  src/backend/common/helpers/tests/award_helper_test.py
Due: py3-type, py3-lint, py3-test

Add docs on adding support for new awards
  docs/Maintainers/New-Season.md
Due: none

Add docs on adding support for new awards (#7207)
  docs/Maintainers/New-Season.md
Due: none

Change admin nav bar to green for local env
  src/backend/web/static/javascript/tba_js/tba.js
  src/backend/web/templates/admin/base.html
Due: node-lint, node-test

Change admin nav bar to green for local env (#7208)
  src/backend/web/static/javascript/tba_js/tba.js
  src/backend/web/templates/admin/base.html
Due: node-lint, node-test

Fix Firebase Auth setup to require less messing with locally
  src/backend/web/static/javascript/tba_js/tba_auth.js
  src/backend/web/static/javascript/tba_js/tba_firebase.js
  src/backend/web/static/javascript/tba_js/tba_keys_template.js
  src/backend/web/templates/account_login_required.html
  src/backend/web/templates/admin/base.html
  src/backend/web/templates/base.html
Due: node-lint, node-test

Replace Firebase performance with standalone again (for now)
  docs/Deployment/GAE-Firebase-Setup.md
  src/backend/web/templates/account_login_required.html
  src/backend/web/templates/base.html
Due: none

Formatting tweak
  src/backend/web/templates/account_login_required.html
  src/backend/web/templates/base.html
Due: none

Fix Firebase Auth setup to require less messing with locally (#7209)
  docs/Deployment/GAE-Firebase-Setup.md
  src/backend/web/static/javascript/tba_js/tba_auth.js
  src/backend/web/static/javascript/tba_js/tba_firebase.js
  src/backend/web/static/javascript/tba_js/tba_keys_template.js
  src/backend/web/templates/admin/base.html
  src/backend/web/templates/base.html
Due: node-lint, node-test

Switch GH Actions to using Python 3.12 for setup
  .github/workflows/push.yml
  docs/Setup/Repo-Setup.md
Due: none

Switch GH Actions to using Python 3.12 for setup (#7210)
  .github/workflows/push.yml
  docs/Setup/Repo-Setup.md
Due: none

Move gcloud deploy off beta deploy. Add app_engine_apis flag to default.yaml
  ops/deploy/deploy_module.sh
  src/default.yaml
Due: none

Move gcloud deploy off beta deploy. Add app_engine_apis flag to default.yaml (#7211)
  ops/deploy/deploy_module.sh
  src/default.yaml
Due: none

Add cache clearing for RegionalEventsQuery
  src/backend/common/cache_clearing/get_affected_queries.py
Due: py3-type, py3-lint, py3-test

Add cache clearing for RegionalEventsQuery (#7212)
  src/backend/common/cache_clearing/get_affected_queries.py
Due: py3-type, py3-lint, py3-test

Allow for cache clearing to clear API dictionaries
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/cache.py
  src/backend/web/templates/admin/cached_query_detail.html
  src/backend/web/templates/admin/cached_query_info.html
Due: py3-type, py3-lint, py3-test

Allow for cache clearing to clear API dictionaries (#7213)
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/cache.py
  src/backend/web/templates/admin/cached_query_detail.html
  src/backend/web/templates/admin/cached_query_info.html
Due: py3-type, py3-lint, py3-test

Fix double alliances in alliances table. Only show alliances table if we have non-empty alliances
  pwa/README.md
  pwa/app/components/tba/allianceSelectionTable.tsx
  pwa/app/routes/event.$eventKey.tsx
Due: none

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
