Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

Add failing test for bug #15: year_insights_do.html heading is always blank
  src/backend/tasks_cpu/handlers/tests/insights_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for bug #28: dummy offseason suggestions are never created
  src/backend/common/suggestions/tests/suggestion_creator_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for bug #16: high-score insight is emitted even when there are no matches
  src/backend/common/helpers/tests/insights_helper_test.py
Due: py3-type, py3-lint, py3-test

Move bug-pinning 2023/2024 breakdown tests out of the coverage PR
  pwa/app/components/tba/match/scoreBreakdown2023.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2024.test.tsx
Due: none

Add failing test for bug #17: zero-count MATCH_PREDICTIONS insight emitted with no predictions
  src/backend/common/helpers/tests/insights_helper_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for bug #29: RegionalTeamsQuery.fetch_dict always raises
  src/backend/common/queries/tests/team_query_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for bug #18: doOverallAwardInsights double-counts district-scoped champs/division/Einstein insights
  src/backend/common/helpers/tests/insights_helper_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for Bug #56: 2023/2024 breakdowns show each alliance its own fouls as received
  pwa/app/components/tba/match/scoreBreakdown2023.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2024.test.tsx
Due: none

Add failing test for bug #30: DistrictInsightQuery returns a list despite its Insight annotation
  src/backend/common/queries/tests/insight_query_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for bug #31: venue_address_safe embeds bytes reprs
  src/backend/common/models/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for Bug #57: 2024 Spotlit label computed from trap flags instead of microphone flags
  pwa/app/components/tba/match/scoreBreakdown2024.test.tsx
Due: none

Add failing test for bug #10841-a: CSV offseason parser keeps whitespace in team numbers
  src/backend/common/datafeed_parsers/tests/csv_offseason_matches_parser_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for bug #10841-b: CSV parser truncates two-digit elim set numbers
  src/backend/common/datafeed_parsers/tests/csv_offseason_matches_parser_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for bug #10841-c: RegionalPoolTeam.validate_key_name staticmethod takes cls
  src/backend/common/models/tests/regional_pool_team_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for Bug #58: 2023/2024 robot tooltips blank because the team key is stripped twice
  pwa/app/components/tba/match/scoreBreakdownTeamTooltips.test.tsx
Due: none

Add failing test for Bug #59: SimpleMatchRow formats predicted time differently from MatchRow
  pwa/app/components/tba/match/matchRows.test.tsx
Due: none

Add failing test for Bug #60: bracket rows for teams in no alliance start highlighted
  pwa/app/components/tba/doubleElim4TeamBracket.test.tsx
  pwa/app/components/tba/traditionalBracket.test.tsx
Due: none

Add failing test for bug #61: ChartTooltipContent throws on a label missing from the chart config
  pwa/app/components/ui/chart.test.tsx
Due: none

Add failing test for bug #62: useReviewSubmission silently drops rejects whose request fails
  pwa/app/lib/hooks/useModeration.test.tsx
Due: none

Add failing test for bug #63: EliminationBracket highlights rows for teams in no alliance by default
  pwa/app/components/tba/eliminationBracket.test.tsx
Due: none

Add failing test for bug #64: AllianceSelectionTable shows only two columns for an empty alliance list
  pwa/app/components/tba/allianceSelectionTable.test.tsx
Due: none

Add failing test for bug #65: DoubleSlider passes the Radix prop minStepsBetweenThumbs to the DOM
  pwa/app/components/tba/doubleSlider.test.tsx
Due: none

Add failing test for bug #66: TeamPageTeamInfo sponsor label has a double space
  pwa/app/components/tba/teamPageTeamInfo.test.tsx
Due: none

Add failing test for bug #67: CoprScatterChart mutates the team colors passed to it
  pwa/app/components/tba/charts/coprScatterChart.test.tsx
Due: none

Split bug-asserting tests out of the common-rest coverage PR
  src/backend/common/frc_api/tests/frcapi_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for bug #32: _merge_match KeyError on capitalised Teams
  src/backend/common/frc_api/tests/frcapi_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for bug #33: get_cached_gcs_files returns dir//file on download
  src/backend/common/frc_api/tests/frcapi_test.py
Due: py3-type, py3-lint, py3-test

Count every frontend source file in Jest coverage (#10826)
  package.json
Due: none

[pwa] Measure coverage over every source file, excluding generated code (#10827)
  pwa/vite.config.ts
Due: none

Keep vendored cloudstorage and type-checker-only lines out of Python coverage (#10828)
  .coveragerc
Due: none

Cover the admin event, api_auth, match, cache, and team handlers (#10830)
  src/backend/web/handlers/admin/tests/api_auth_test.py
  src/backend/web/handlers/admin/tests/cache_test.py
  src/backend/web/handlers/admin/tests/event_test.py
  src/backend/web/handlers/admin/tests/match_test.py
  src/backend/web/handlers/admin/tests/team_test.py
Due: py3-type, py3-lint, py3-test

Cover location_helper.py (#10831)
  src/backend/common/helpers/tests/location_helper_test.py
Due: py3-type, py3-lint, py3-test

[pwa] Cover the 2015–2020 score breakdowns (#10836)
  pwa/app/components/tba/match/common.test.tsx
  pwa/app/components/tba/match/scoreBreakdown.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2015.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2016.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2017.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2018.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2019.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2020.test.tsx
  pwa/app/components/tba/match/scoreCell.test.tsx
Due: none

Cover the gameday2 components (#10837)
  src/frontend/gameday2/components/AutoScale/__tests__/AutoScale.test.js
  src/frontend/gameday2/components/__tests__/AnalyticsTrackers.test.js
  src/frontend/gameday2/components/__tests__/AnimatableContainer.test.js
  src/frontend/gameday2/components/__tests__/AppBar.test.js
  src/frontend/gameday2/components/__tests__/ChatSelector.test.js
  src/frontend/gameday2/components/__tests__/ChatSidebar.test.js
  src/frontend/gameday2/components/__tests__/CountWrapper.test.js
  src/frontend/gameday2/components/__tests__/GamedayFrame.test.js
  src/frontend/gameday2/components/__tests__/HashtagSidebar.test.js
  src/frontend/gameday2/components/__tests__/LampIcon.test.js
  src/frontend/gameday2/components/__tests__/LayoutDrawer.test.js
  src/frontend/gameday2/components/__tests__/LayoutSelectionPanel.test.js
  src/frontend/gameday2/components/__tests__/LivescoreDisplay.test.js
  src/frontend/gameday2/components/__tests__/MainContent.test.js
  src/frontend/gameday2/components/__tests__/NoWebcasts.test.js
  src/frontend/gameday2/components/__tests__/PlatformIcon.test.js
  src/frontend/gameday2/components/__tests__/SwapPositionDialog.test.js
  src/frontend/gameday2/components/__tests__/SwapPositionPreviewCell.test.js
  src/frontend/gameday2/components/__tests__/TickerMatch.test.js
  src/frontend/gameday2/components/__tests__/TwitchChatEmbed.test.js
  src/frontend/gameday2/components/__tests__/VideoCell.test.js
  src/frontend/gameday2/components/__tests__/VideoCellToolbar.test.js
  src/frontend/gameday2/components/__tests__/VideoGrid.test.js
  src/frontend/gameday2/components/__tests__/WebcastEmbed.test.js
  src/frontend/gameday2/components/__tests__/WebcastSelectionDialog.test.js
  src/frontend/gameday2/components/__tests__/WebcastSelectionDialogItem.test.js
  src/frontend/gameday2/components/embeds/__tests__/embeds.test.js
  src/frontend/gameday2/components/icons/__tests__/icons.test.js
Due: node-lint, node-test

Cover the account, mytba, index, match_suggestion, and webcast_mod handlers (#10838)
  src/backend/web/handlers/tests/account_test.py
  src/backend/web/handlers/tests/index_test.py
  src/backend/web/handlers/tests/match_suggestion_test.py
  src/backend/web/handlers/tests/mytba_test.py
  src/backend/web/handlers/tests/webcast_mod_test.py
Due: py3-type, py3-lint, py3-test

[pwa] Cover the 2022–2026 score breakdowns, match rows, details, and modal (#10839)
  pwa/app/components/tba/match/matchDetails.test.tsx
  pwa/app/components/tba/match/matchModal.test.tsx
  pwa/app/components/tba/match/matchRows.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2022.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2023.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2024.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2025.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2026.test.tsx
  pwa/app/components/tba/match/scoreByShift2026.test.tsx
Due: none

[pwa] Cover the brackets, rankings, and team stats components (#10843)
  pwa/app/components/tba/districtChampsTab.test.tsx
  pwa/app/components/tba/doubleElim4TeamBracket.test.tsx
  pwa/app/components/tba/eliminationBracketPaths.test.tsx
  pwa/app/components/tba/rankingsTable.test.tsx
  pwa/app/components/tba/teamAwardsSummary.test.tsx
  pwa/app/components/tba/teamEventAppearance.test.tsx
  pwa/app/components/tba/teamMatchStats.test.tsx
  pwa/app/components/tba/traditionalBracket.test.tsx
Due: none

[pwa] Cover the ui primitives (#10844)
  pwa/app/components/ui/accordion.test.tsx
  pwa/app/components/ui/animated-tabs.test.tsx
  pwa/app/components/ui/animatedTabIndicator.test.tsx
  pwa/app/components/ui/avatar.test.tsx
  pwa/app/components/ui/badge.test.tsx
  pwa/app/components/ui/breadcrumb.test.tsx
  pwa/app/components/ui/card.test.tsx
  pwa/app/components/ui/carousel.test.tsx
  pwa/app/components/ui/chart.test.tsx
  pwa/app/components/ui/checkbox.test.tsx
  pwa/app/components/ui/command.test.tsx
  pwa/app/components/ui/credenza.test.tsx
  pwa/app/components/ui/dialog.test.tsx
  pwa/app/components/ui/divider.test.tsx
  pwa/app/components/ui/drawer.test.tsx
  pwa/app/components/ui/dropdown-menu.test.tsx
  pwa/app/components/ui/input.test.tsx
  pwa/app/components/ui/kbd.test.tsx
  pwa/app/components/ui/navigation-menu.test.tsx
  pwa/app/components/ui/popover.test.tsx
  pwa/app/components/ui/progress.test.tsx
  pwa/app/components/ui/scroll-area.test.tsx
  pwa/app/components/ui/select.test.tsx
  pwa/app/components/ui/separator.test.tsx
  pwa/app/components/ui/skeleton.test.tsx
  pwa/app/components/ui/slider.test.tsx
  pwa/app/components/ui/sonner.test.tsx
  pwa/app/components/ui/spinner.test.tsx
  pwa/app/components/ui/table.test.tsx
  pwa/app/components/ui/tabs.test.tsx
  pwa/app/components/ui/toc.test.tsx
  pwa/app/components/ui/tooltip.test.tsx
Due: none

Cover gameday2 state, liveevent, and zebramotionworks (#10845)
  src/frontend/gameday2/__tests__/gameday2.test.js
  src/frontend/gameday2/actions/__tests__/actions.test.js
  src/frontend/gameday2/containers/__tests__/containers.test.js
  src/frontend/gameday2/reducers/__tests__/chats.test.js
  src/frontend/gameday2/reducers/__tests__/index.test.js
  src/frontend/gameday2/reducers/__tests__/videoGrid.test.js
  src/frontend/gameday2/reducers/__tests__/visibility.test.js
  src/frontend/gameday2/reducers/__tests__/webcastsById.test.js
  src/frontend/gameday2/selectors/__tests__/selectors.test.js
  src/frontend/liveevent/__tests__/firebaseapp.test.js
  src/frontend/liveevent/__tests__/helpers.test.js
  src/frontend/liveevent/__tests__/liveevent.test.js
  src/frontend/liveevent/components/__tests__/CurrentMatchDisplay.test.js
  src/frontend/liveevent/components/__tests__/LastMatchesTable.test.js
  src/frontend/liveevent/components/__tests__/LiveEventPanel.test.js
  src/frontend/liveevent/components/__tests__/PowerupCount.test.js
  src/frontend/liveevent/components/__tests__/UpcomingMatchesTable.test.js
  src/frontend/zebramotionworks/__tests__/zebramotionworks.test.js
  src/frontend/zebramotionworks/components/__tests__/HeatmapVisualizer.test.js
  src/frontend/zebramotionworks/components/__tests__/RobotTrajectory.test.js
  src/frontend/zebramotionworks/components/__tests__/TrajectoryVisualizer.test.js
  src/frontend/zebramotionworks/components/__tests__/ZebraMotionWorksVisualizer.test.js
Due: node-lint, node-test

[pwa] Cover the moderation, account, auth, navigation, gameday, and chart components (#10850)
  pwa/app/components/tba/account/apiKeys.test.tsx
  pwa/app/components/tba/auth/auth.test.tsx
  pwa/app/components/tba/auth/loginPage.test.tsx
  pwa/app/components/tba/auth/signInButton.test.tsx
  pwa/app/components/tba/auth/signInWithAppleButton.test.tsx
  pwa/app/components/tba/auth/signInWithGoogleButton.test.tsx
  pwa/app/components/tba/charts/coprScatterChart.test.tsx
  pwa/app/components/tba/gameday/ChatSidebar.test.tsx
  pwa/app/components/tba/gameday/GamedayFrame.test.tsx
  pwa/app/components/tba/gameday/GamedayToolbar.test.tsx
  pwa/app/components/tba/gameday/LayoutIcon.test.tsx
  pwa/app/components/tba/gameday/LayoutSelector.test.tsx
  pwa/app/components/tba/gameday/MatchRecommendationsPanel.test.tsx
  pwa/app/components/tba/gameday/SwapPositionDialog.test.tsx
  pwa/app/components/tba/gameday/VideoCell.test.tsx
  pwa/app/components/tba/gameday/VideoGrid.test.tsx
  pwa/app/components/tba/gameday/WebcastEmbed.test.tsx
  pwa/app/components/tba/gameday/WebcastSelectorDialog.test.tsx
  pwa/app/components/tba/gameday/WebcastTypeIcon.test.tsx
  pwa/app/components/tba/moderation/keyboardShortcutsDialog.test.tsx
  pwa/app/components/tba/moderation/reviewGuidelines.test.ts
  pwa/app/components/tba/moderation/reviewGuidelines.test.tsx
  pwa/app/components/tba/moderation/suggestionReviewCard.test.tsx
  pwa/app/components/tba/navigation/footer.test.tsx
  pwa/app/components/tba/navigation/navbar.test.tsx
  pwa/app/components/tba/navigation/searchModal.test.tsx
Due: none

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
