Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - commit

Bump several Google deps together (#7124)
  src/requirements.txt
Due: none

Fix broken sitevar creation flow
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/sitevars.py
  src/backend/web/templates/admin/sitevar_create.html
Due: py3-type, py3-lint, py3-test

Fix broken sitevar creation flow (#7125)
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/sitevars.py
  src/backend/web/templates/admin/sitevar_create.html
Due: py3-type, py3-lint, py3-test

Run safe deferred on own URL
  src/backend/common/helpers/deferred.py
  src/backend/common/helpers/tests/deferred_test.py
Due: py3-type, py3-lint, py3-test

Run safe deferred on own URL (#7127)
  src/backend/common/helpers/deferred.py
  src/backend/common/helpers/tests/deferred_test.py
Due: py3-type, py3-lint, py3-test

Revert "Run safe deferred on own URL (#7127)"
  src/backend/common/helpers/deferred.py
  src/backend/common/helpers/tests/deferred_test.py
Due: py3-type, py3-lint, py3-test

Revert "unfork App Engine SDK dependency (#7121)"
  .flake8
  flake8_plugins/use_safe_deferred_checker.py
  src/backend/api/handlers/trusted.py
  src/backend/common/deferred/defer_handler.py
  src/backend/common/deferred/tests/defer_handler_test.py
  src/backend/common/helpers/deferred.py
  src/backend/common/helpers/firebase_pusher.py
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/deferred_test.py
  src/backend/common/helpers/tests/firebase_pusher_test.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/manipulators/award_manipulator.py
  src/backend/common/manipulators/event_details_manipulator.py
  src/backend/common/manipulators/manipulator_base.py
  src/backend/common/manipulators/match_manipulator.py
  src/backend/common/manipulators/tests/award_manipulator_test.py
  src/backend/common/manipulators/tests/base_manipulator_test.py
  src/backend/common/manipulators/tests/district_manipulator_test.py
  src/backend/common/manipulators/tests/event_details_manipulator_test.py
  src/backend/common/manipulators/tests/event_manipulator_test.py
  src/backend/common/manipulators/tests/match_manipulator_test.py
  src/backend/common/models/notifications/requests/request.py
  src/backend/tasks_io/handlers/tests/conftest.py
  src/backend/web/handlers/admin/team_media_mod.py
  src/backend/web/handlers/admin/tests/team_media_mod_test.py
  src/backend/web/local/bootstrap.py
  src/backend/web/local/tests/bootstrap_test.py
  src/requirements.txt
  stubs/google/appengine/ext/deferred/deferred.pyi
Due: py3-type, py3-lint, py3-test

update google versions
  src/requirements.txt
Due: none

Add L1-4 coral 2025 coprs
  src/backend/common/helpers/matchstats_helper.py
Due: py3-type, py3-lint, py3-test

temp district page pwa
  pwa/app/components/tba/cards.tsx
  pwa/app/components/tba/leaderboard.tsx
  pwa/app/components/tba/links.tsx
  pwa/app/components/ui/divider.tsx
  pwa/app/components/ui/table.tsx
  pwa/app/lib/eventUtils.ts
  pwa/app/lib/teamUtils.ts
  pwa/app/lib/utils.tsx
  pwa/app/routes/events.$districtAbbreviation.($year).tsx
  pwa/app/routes/insights.($year).tsx
Due: none

Add 2025 coprs (#7119)
  src/backend/common/helpers/matchstats_helper.py
Due: py3-type, py3-lint, py3-test

Update bs4
  src/backend/web/handlers/conftest.py
  stubs/bs4/__init__.pyi
  stubs/bs4/_deprecation.pyi
  stubs/bs4/_typing.pyi
  stubs/bs4/_warnings.pyi
  stubs/bs4/builder/__init__.pyi
  stubs/bs4/builder/_html5lib.pyi
  stubs/bs4/builder/_htmlparser.pyi
  stubs/bs4/builder/_lxml.pyi
  stubs/bs4/css.pyi
  stubs/bs4/dammit.pyi
  stubs/bs4/diagnose.pyi
  stubs/bs4/element.pyi
  stubs/bs4/exceptions.pyi
  stubs/bs4/filter.pyi
  stubs/bs4/formatter.pyi
Due: py3-type, py3-lint, py3-test

Update awards tests
  src/backend/common/helpers/tests/tbans_helper_test.py
Due: py3-type, py3-lint, py3-test

Add back in only_webhooks send
  src/backend/common/helpers/tbans_helper.py
Due: py3-type, py3-lint, py3-test

Remove double call in alliance_selection test
  src/backend/common/helpers/tests/tbans_helper_test.py
Due: py3-type, py3-lint, py3-test

Remove double call in alliance_selection test (#7142)
  src/backend/common/helpers/tests/tbans_helper_test.py
Due: py3-type, py3-lint, py3-test

Add graphical reef scoring location breakdown
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2025.html
Due: none

simplify coordinates
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2025.html
Due: none

remove invalid property
  src/backend/common/tasklets.py
  src/backend/tasks_io/handlers/frc_api.py
Due: py3-type, py3-lint, py3-test

Fix Invalid RegionalPoolTeam property (#7150)
  src/backend/common/tasklets.py
  src/backend/tasks_io/handlers/frc_api.py
Due: py3-type, py3-lint, py3-test

Add test for invalid event deletion
  src/backend/web/handlers/admin/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Fix lint errors in event_test
  src/backend/web/handlers/admin/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Fix formatting in event_test (again)
  src/backend/web/handlers/admin/tests/event_test.py
Due: py3-type, py3-lint, py3-test

[admin] Allow events with invalid keys to be deleted (#7037)
  src/backend/web/handlers/admin/event.py
  src/backend/web/handlers/admin/tests/event_test.py
Due: py3-type, py3-lint, py3-test

[PWA] Enable v3_routeConfig option for RR7 upgrade
  pwa/app/routes.ts
  pwa/package-lock.json
  pwa/package.json
  pwa/vite.config.ts
Due: none

Upgrade to RR7
  pwa/.gitignore
  pwa/app/components/tba/eventListTable.tsx
  pwa/app/components/tba/globalLoadingProgress.tsx
  pwa/app/components/tba/links.tsx
  pwa/app/components/tba/matchResultsTable.tsx
  pwa/app/components/tba/nav.tsx
  pwa/app/components/tba/rankingsTable.tsx
  pwa/app/components/tba/searchbar.tsx
  pwa/app/components/tba/teamPageTeamInfo.tsx
  pwa/app/components/tba/teamSocialMediaList.tsx
  pwa/app/components/ui/toc.tsx
  pwa/app/entry.client.tsx
  pwa/app/entry.server.tsx
  pwa/app/lib/utils.tsx
  pwa/app/root.tsx
  pwa/app/routes.ts
  pwa/app/routes/_index.tsx
  pwa/app/routes/about.tsx
  pwa/app/routes/add-data.tsx
  pwa/app/routes/apidocs.tsx
  pwa/app/routes/contact.tsx
  pwa/app/routes/donate.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/events.($year).tsx
  pwa/app/routes/insights.($year).tsx
  pwa/app/routes/match.$matchKey.tsx
  pwa/app/routes/privacy.tsx
  pwa/app/routes/team.$teamNumber.($year).tsx
  pwa/app/routes/team.$teamNumber.history.tsx
  pwa/app/routes/thanks.tsx
  pwa/package-lock.json
  pwa/package.json
  pwa/react-router.config.ts
  pwa/server.js
  pwa/tsconfig.json
  pwa/vite.config.ts
Due: node-lint, node-test

Add graphical reef scoring location breakdown (#7147)
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2025.html
Due: none

fix redux-thunk imports
  src/frontend/eventwizard/eventwizard.js
  src/frontend/gameday2/gameday2.js
Due: node-lint, node-test

migrate to new react-transition-group
  package.json
  src/frontend/gameday2/components/ChatSelector.js
Due: node-lint, node-test

Update material-ui
  package.json
Due: none

remove react-event-listener
  package.json
  src/frontend/gameday2/components/LayoutSelectionPanel.js
  src/frontend/gameday2/components/SwapPositionDialog.js
Due: node-lint, node-test

fix web build
  package.json
  src/frontend/gameday2/components/AppBar.js
  src/frontend/gameday2/components/ChatSelector.js
  src/frontend/gameday2/components/ChatSidebar.js
  src/frontend/gameday2/components/LayoutDrawer.js
  src/frontend/gameday2/components/LayoutSelectionPanel.js
  src/frontend/gameday2/components/MainContent.js
  src/frontend/gameday2/components/NoWebcasts.js
  src/frontend/gameday2/components/SwapPositionDialog.js
  src/frontend/gameday2/components/TickerMatch.js
  src/frontend/gameday2/components/VideoCell.js
  src/frontend/gameday2/components/VideoCellToolbar.js
  src/frontend/gameday2/components/WebcastSelectionDialog.js
  src/frontend/gameday2/components/WebcastSelectionDialogItem.js
  src/frontend/gameday2/components/embeds/EmbedDirectLink.js
  src/frontend/gameday2/gameday2.js
  src/frontend/gameday2/utils/layoutUtils.js
Due: node-lint, node-test

update package lock
  package-lock.json
Due: none

Revert "Bump serialize-javascript from 6.0.0 to 6.0.2 (#7149)"
  package-lock.json
Due: none

Add date field to eventwizard2 UI
  src/frontend/eventwizard/components/infoTab/AddRemoveWebcast.js
  src/frontend/eventwizard/components/infoTab/EventInfoTab.js
  src/frontend/eventwizard/components/infoTab/WebcastItem.js
  src/frontend/eventwizard/constants/ApiWebcast.js
Due: node-lint, node-test

Remove date from webcast JSON if not defined
  src/frontend/eventwizard/components/infoTab/EventInfoTab.js
Due: node-lint, node-test

[wip] cache debug admin panel
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/cache.py
  src/backend/web/templates/admin/cached_query_list.html
Due: py3-type, py3-lint, py3-test

Add webcast date field to eventwizard2 UI (#7169)
  src/frontend/eventwizard/components/infoTab/AddRemoveWebcast.js
  src/frontend/eventwizard/components/infoTab/EventInfoTab.js
  src/frontend/eventwizard/components/infoTab/WebcastItem.js
  src/frontend/eventwizard/constants/ApiWebcast.js
Due: node-lint, node-test

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
