Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - commit

Fix types
  src/backend/web/handlers/match_suggestion.py
Due: py3-type, py3-lint, py3-test

2024 match suggestions (#5888)
  src/backend/web/handlers/match_suggestion.py
  src/backend/web/templates/match_partials/match_suggestion_table_macros.html
  src/backend/web/templates/match_suggestion.html
Due: py3-type, py3-lint, py3-test

replaced mistyped "1" char with "!"
  src/backend/web/templates/404.html
Due: none

Fix max suggestions with null data
  src/backend/web/handlers/match_suggestion.py
  src/backend/web/templates/match_partials/match_suggestion_table_macros.html
Due: py3-type, py3-lint, py3-test

Bump tasks-io instance to F2
  src/tasks_io.yaml
Due: none

Fix match suggestions with null data (#5893)
  src/backend/web/handlers/match_suggestion.py
  src/backend/web/templates/match_partials/match_suggestion_table_macros.html
Due: py3-type, py3-lint, py3-test

Bump tasks-io instance to F2 (#5894)
  src/tasks_io.yaml
Due: none

Increase task timeout
  src/tasks_io.yaml
Due: none

Increase task timeout (#5895)
  src/tasks_io.yaml
Due: none

Try/catch [clowntown]
  src/backend/web/handlers/match_suggestion.py
Due: py3-type, py3-lint, py3-test

Try/catch match suggestions (#5896)
  src/backend/web/handlers/match_suggestion.py
Due: py3-type, py3-lint, py3-test

Skip events that are now
  src/backend/web/handlers/match_suggestion.py
Due: py3-type, py3-lint, py3-test

Sort by start date
  src/backend/web/handlers/match_suggestion.py
Due: py3-type, py3-lint, py3-test

Match suggestion patch (#5897)
  src/backend/web/handlers/match_suggestion.py
Due: py3-type, py3-lint, py3-test

Update match_suggestion.py
  src/backend/web/handlers/match_suggestion.py
Due: py3-type, py3-lint, py3-test

Fix null case [clowntown]
  src/backend/web/handlers/match_suggestion.py
Due: py3-type, py3-lint, py3-test

Cache team details [clowntown]
  src/backend/web/handlers/match_suggestion.py
Due: py3-type, py3-lint, py3-test

[dockerpublish] cross-compile for amd64
  .github/workflows/publish_docker_image.yml
Due: none

fix typecheck
  src/backend/web/handlers/match_suggestion.py
Due: py3-type, py3-lint, py3-test

lint the world
  src/backend/api/api_trusted_parsers/json_awards_parser.py
  src/backend/api/api_trusted_parsers/json_matches_parser.py
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/event_team_status_helper.py
  src/backend/common/helpers/insights_helper.py
  src/backend/common/helpers/listify.py
  src/backend/common/helpers/match_helper.py
  src/backend/common/helpers/outgoing_notification_helper.py
  src/backend/common/helpers/playoff_advancement_helper.py
  src/backend/common/helpers/prediction_helper.py
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/manipulators/manipulator_base.py
  src/backend/common/models/event.py
  src/backend/common/models/event_details.py
  src/backend/common/models/fcm/platform_config.py
  src/backend/common/models/keys.py
  src/backend/common/models/match.py
  src/backend/common/queries/database_query.py
  src/backend/common/queries/dict_converters/award_converter.py
  src/backend/common/queries/dict_converters/event_converter.py
  src/backend/common/queries/dict_converters/event_details_converter.py
  src/backend/common/queries/dict_converters/match_converter.py
  src/backend/common/queries/dict_converters/media_converter.py
  src/backend/common/sitevars/sitevar.py
  src/backend/common/storage/clients/storage_client.py
  src/backend/common/suggestions/media_creator.py
  src/backend/common/tests/event_simulator.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_awards_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_team_avatar_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_team_details_parser.py
  src/backend/tasks_io/datafeeds/parsers/json/parser_json.py
  src/backend/tasks_io/datafeeds/parsers/json/parser_paginated_json.py
  src/backend/tasks_io/datafeeds/parsers/parser_base.py
  src/backend/web/handlers/event.py
  src/backend/web/handlers/match_suggestion.py
  src/backend/web/handlers/tests/helpers.py
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

suppress E704 from flake
  .flake8
Due: none

lint the world (#5902)
  .flake8
  src/backend/api/api_trusted_parsers/json_awards_parser.py
  src/backend/api/api_trusted_parsers/json_matches_parser.py
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/event_team_status_helper.py
  src/backend/common/helpers/insights_helper.py
  src/backend/common/helpers/listify.py
  src/backend/common/helpers/match_helper.py
  src/backend/common/helpers/outgoing_notification_helper.py
  src/backend/common/helpers/playoff_advancement_helper.py
  src/backend/common/helpers/prediction_helper.py
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/manipulators/manipulator_base.py
  src/backend/common/models/event.py
  src/backend/common/models/event_details.py
  src/backend/common/models/fcm/platform_config.py
  src/backend/common/models/keys.py
  src/backend/common/models/match.py
  src/backend/common/queries/database_query.py
  src/backend/common/queries/dict_converters/award_converter.py
  src/backend/common/queries/dict_converters/event_converter.py
  src/backend/common/queries/dict_converters/event_details_converter.py
  src/backend/common/queries/dict_converters/match_converter.py
  src/backend/common/queries/dict_converters/media_converter.py
  src/backend/common/sitevars/sitevar.py
  src/backend/common/storage/clients/storage_client.py
  src/backend/common/suggestions/media_creator.py
  src/backend/common/tests/event_simulator.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_awards_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_team_avatar_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_team_details_parser.py
  src/backend/tasks_io/datafeeds/parsers/json/parser_json.py
  src/backend/tasks_io/datafeeds/parsers/json/parser_paginated_json.py
  src/backend/tasks_io/datafeeds/parsers/parser_base.py
  src/backend/web/handlers/event.py
  src/backend/web/handlers/match_suggestion.py
  src/backend/web/handlers/tests/helpers.py
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

npm install runs, but things are broken
  package-lock.json
  package.json
Due: none

Better support for hot reloading webpack in docker
  docker-compose.yml
  ops/dev/docker/Dockerfile
  package.json
Due: none

Update material-ui and other react libs
  package-lock.json
  package.json
  src/frontend/eventwizard/components/teamsTab/AddTeamsFMSReport.js
  src/frontend/eventwizard/eventwizard.js
  src/frontend/gameday2/components/AnimatableContainer.js
  src/frontend/gameday2/components/AppBar.js
  src/frontend/gameday2/components/ChatSelector.js
  src/frontend/gameday2/components/ChatSidebar.js
  src/frontend/gameday2/components/LayoutDrawer.js
  src/frontend/gameday2/components/LayoutSelectionPanel.js
  src/frontend/gameday2/components/MainContent.js
  src/frontend/gameday2/components/NoWebcasts.js
  src/frontend/gameday2/components/SwapPositionDialog.js
  src/frontend/gameday2/components/TickerMatch.js
  src/frontend/gameday2/components/VideoCell.js
  src/frontend/gameday2/components/VideoCellToolbar.js
  src/frontend/gameday2/components/WebcastSelectionDialog.js
  src/frontend/gameday2/components/WebcastSelectionDialogItem.js
  src/frontend/gameday2/components/embeds/EmbedDirectLink.js
  src/frontend/gameday2/gameday2.js
  src/frontend/gameday2/utils/layoutUtils.js
Due: node-lint, node-test

Fix gameday2 imports
  src/frontend/gameday2/gameday2.js
Due: node-lint, node-test

Make the linter happy
  src/frontend/gameday2/components/LayoutSelectionPanel.js
  src/frontend/gameday2/components/SwapPositionDialog.js
  src/frontend/gameday2/components/WebcastSelectionDialog.js
Due: node-lint, node-test

Downgrade tasks instance back to F1
  src/tasks_io.yaml
Due: none

Downgrade tasks instance back to F1 (#5907)
  src/tasks_io.yaml
Due: none

Add @reduxjs/toolkit
  package-lock.json
  package.json
Due: none

Remove old packages
  package-lock.json
  package.json
Due: none

Fix process/browser usage
  package-lock.json
  webpack.config.js
Due: node-lint, node-test

Update eventwizard2
  src/frontend/eventwizard/eventwizard.js
  src/frontend/eventwizard/reducers/auth.js
Due: node-lint, node-test

Update apidocs
  src/frontend/apidocs/apidocs.js
Due: node-lint, node-test

Update liveevent
  src/frontend/liveevent/liveevent.js
Due: node-lint, node-test

WIP on fixing redux
  package-lock.json
  package.json
  src/frontend/gameday2/components/AppBar.js
  src/frontend/gameday2/components/ChatSidebar.js
  src/frontend/gameday2/components/LayoutDrawer.js
  src/frontend/gameday2/components/MainContent.js
  src/frontend/gameday2/gameday2.js
  src/frontend/gameday2/gameday2.less
  src/frontend/gameday2/reducers/index.js
Due: node-lint, node-test

add alliance details to team detail page
  src/backend/web/renderers/team_renderer.py
  src/backend/web/templates/team_details.html
Due: py3-type, py3-lint, py3-test

appease lints
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

handle round robin backup as backups
  src/backend/common/consts/event_type.py
  src/backend/common/models/alliance.py
  src/backend/web/renderers/team_renderer.py
  src/backend/web/templates/team_details.html
Due: py3-type, py3-lint, py3-test

Handle null full name from FRC API
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_team_details_parser.py
Due: py3-type, py3-lint, py3-test

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
