Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - commit

Require >=10 matches for highest median score by event insight (#6291)
  src/backend/common/helpers/insights_helper.py
Due: py3-type, py3-lint, py3-test

Vite PWA WIP
  pwa/app/root.tsx
  pwa/package-lock.json
  pwa/package.json
  pwa/public/icon-512.png
  pwa/tsconfig.json
  pwa/vite.config.ts
Due: none

Add notables insights and API routes
  pwa/app/api/v3.ts
  src/backend/api/handlers/insights.py
  src/backend/api/main.py
  src/backend/common/cache_clearing/get_affected_queries.py
  src/backend/common/cache_clearing/tests/database_cache_clearer_test.py
  src/backend/common/helpers/insights_helper.py
  src/backend/common/models/insight.py
  src/backend/common/queries/insight_query.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

[pwa] minor styling on insights page
  pwa/app/routes/insights.($year).tsx
Due: none

[pwa] minor styling on insights page (#6293)
  pwa/app/routes/insights.($year).tsx
Due: none

[PWA] Add component OPR scatter plot with frc-colors integration
  pwa/app/api/colors.ts
  pwa/app/components/tba/coprScatterPlot.tsx
  pwa/app/components/ui/chart.tsx
  pwa/app/components/ui/select.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/package-lock.json
  pwa/package.json
Due: none

Custom express server configuration
  pwa/.eslintrc.cjs
  pwa/package-lock.json
  pwa/package.json
  pwa/server.js
Due: node-lint, node-test

[PWA] Custom express server configuration (#6295)
  pwa/.eslintrc.cjs
  pwa/package-lock.json
  pwa/package.json
  pwa/server.js
Due: node-lint, node-test

Add most awards, most regional/district win leaderboards
  src/backend/common/helpers/insights_helper.py
  src/backend/common/models/insight.py
Due: py3-type, py3-lint, py3-test

Cleanup
  pwa/app/root.tsx
Due: none

Add most awards, most regional/district win leaderboards (#6296)
  src/backend/common/helpers/insights_helper.py
  src/backend/common/models/insight.py
Due: py3-type, py3-lint, py3-test

Icons
  pwa/app/root.tsx
  pwa/public/icons/android_launcher_icon_blue.svg
  pwa/public/icons/apple-touch-icon-180.png
  pwa/public/icons/icon-192.png
  pwa/public/icons/icon-512.png
  pwa/public/icons/icon-64.png
  pwa/public/icons/maskable-icon-512.png
  pwa/vite.config.ts
Due: none

Remove unused dep
  pwa/package-lock.json
  pwa/package.json
Due: none

Compres pngs
  pwa/public/icons/android_launcher_icon_blue.svg
  pwa/public/icons/apple-touch-icon-180.png
  pwa/public/icons/icon-192.png
  pwa/public/icons/icon-512.png
  pwa/public/icons/icon-64.png
  pwa/public/icons/maskable-icon-512.png
Due: none

Cleanup
  pwa/package-lock.json
Due: none

Set start url
  pwa/vite.config.ts
Due: none

Fix lint
  pwa/.eslintrc.cjs
  pwa/tsconfig.json
Due: node-lint, node-test

Format
  pwa/tsconfig.json
Due: none

[PWA] Add webapp manifest & icons (#6298)
  pwa/.eslintrc.cjs
  pwa/app/root.tsx
  pwa/package-lock.json
  pwa/package.json
  pwa/public/icons/apple-touch-icon-180.png
  pwa/public/icons/icon-192.png
  pwa/public/icons/icon-512.png
  pwa/public/icons/icon-64.png
  pwa/public/icons/maskable-icon-512.png
  pwa/tsconfig.json
  pwa/vite.config.ts
Due: node-lint, node-test

Include venue and location in venue_address_safe
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Cleanup logic
  src/backend/common/models/event.py
Due: py3-type, py3-lint, py3-test

Include venue and location in venue_address_safe (#6299)
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Event list year picker
  pwa/app/components/ui/select.tsx
  pwa/app/lib/utils.ts
  pwa/app/routes/events.($year).tsx
  pwa/package-lock.json
  pwa/package.json
Due: none

TOC
  pwa/app/components/ui/toc.tsx
  pwa/app/lib/utils.ts
  pwa/app/routes/events.($year).tsx
  pwa/package-lock.json
  pwa/package.json
Due: none

Intersection observer
  pwa/app/routes/events.($year).tsx
Due: none

Lint
  pwa/app/components/ui/select.tsx
  pwa/app/components/ui/toc.tsx
  pwa/app/routes/events.($year).tsx
Due: none

Replace history
  pwa/app/routes/events.($year).tsx
Due: none

Add total event count
  pwa/app/routes/events.($year).tsx
Due: none

Apple splash images
  pwa/app/root.tsx
  pwa/package-lock.json
  pwa/package.json
  pwa/public/icons/apple-splash-landscape-1136x640.png
  pwa/public/icons/apple-splash-landscape-1334x750.png
  pwa/public/icons/apple-splash-landscape-1792x828.png
  pwa/public/icons/apple-splash-landscape-2048x1536.png
  pwa/public/icons/apple-splash-landscape-2160x1620.png
  pwa/public/icons/apple-splash-landscape-2208x1242.png
  pwa/public/icons/apple-splash-landscape-2224x1668.png
  pwa/public/icons/apple-splash-landscape-2388x1668.png
  pwa/public/icons/apple-splash-landscape-2436x1125.png
  pwa/public/icons/apple-splash-landscape-2532x1170.png
  pwa/public/icons/apple-splash-landscape-2556x1179.png
  pwa/public/icons/apple-splash-landscape-2688x1242.png
  pwa/public/icons/apple-splash-landscape-2732x2048.png
  pwa/public/icons/apple-splash-landscape-2778x1284.png
  pwa/public/icons/apple-splash-landscape-2796x1290.png
  pwa/public/icons/apple-splash-portrait-1125x2436.png
  pwa/public/icons/apple-splash-portrait-1170x2532.png
  pwa/public/icons/apple-splash-portrait-1179x2556.png
  pwa/public/icons/apple-splash-portrait-1242x2208.png
  pwa/public/icons/apple-splash-portrait-1242x2688.png
  pwa/public/icons/apple-splash-portrait-1284x2778.png
  pwa/public/icons/apple-splash-portrait-1290x2796.png
  pwa/public/icons/apple-splash-portrait-1536x2048.png
  pwa/public/icons/apple-splash-portrait-1620x2160.png
  pwa/public/icons/apple-splash-portrait-1668x2224.png
  pwa/public/icons/apple-splash-portrait-1668x2388.png
  pwa/public/icons/apple-splash-portrait-2048x2732.png
  pwa/public/icons/apple-splash-portrait-640x1136.png
  pwa/public/icons/apple-splash-portrait-750x1334.png
  pwa/public/icons/apple-splash-portrait-828x1792.png
  pwa/public/icons/tba-lamp.svg
  pwa/pwa-assets.config.ts
Due: none

[PWA] iOS splash images (#6301)
  pwa/app/root.tsx
  pwa/package-lock.json
  pwa/package.json
  pwa/public/icons/apple-splash-landscape-1136x640.png
  pwa/public/icons/apple-splash-landscape-1334x750.png
  pwa/public/icons/apple-splash-landscape-1792x828.png
  pwa/public/icons/apple-splash-landscape-2048x1536.png
  pwa/public/icons/apple-splash-landscape-2160x1620.png
  pwa/public/icons/apple-splash-landscape-2208x1242.png
  pwa/public/icons/apple-splash-landscape-2224x1668.png
  pwa/public/icons/apple-splash-landscape-2388x1668.png
  pwa/public/icons/apple-splash-landscape-2436x1125.png
  pwa/public/icons/apple-splash-landscape-2532x1170.png
  pwa/public/icons/apple-splash-landscape-2556x1179.png
  pwa/public/icons/apple-splash-landscape-2688x1242.png
  pwa/public/icons/apple-splash-landscape-2732x2048.png
  pwa/public/icons/apple-splash-landscape-2778x1284.png
  pwa/public/icons/apple-splash-landscape-2796x1290.png
  pwa/public/icons/apple-splash-portrait-1125x2436.png
  pwa/public/icons/apple-splash-portrait-1170x2532.png
  pwa/public/icons/apple-splash-portrait-1179x2556.png
  pwa/public/icons/apple-splash-portrait-1242x2208.png
  pwa/public/icons/apple-splash-portrait-1242x2688.png
  pwa/public/icons/apple-splash-portrait-1284x2778.png
  pwa/public/icons/apple-splash-portrait-1290x2796.png
  pwa/public/icons/apple-splash-portrait-1536x2048.png
  pwa/public/icons/apple-splash-portrait-1620x2160.png
  pwa/public/icons/apple-splash-portrait-1668x2224.png
  pwa/public/icons/apple-splash-portrait-1668x2388.png
  pwa/public/icons/apple-splash-portrait-2048x2732.png
  pwa/public/icons/apple-splash-portrait-640x1136.png
  pwa/public/icons/apple-splash-portrait-750x1334.png
  pwa/public/icons/apple-splash-portrait-828x1792.png
  pwa/public/icons/tba-lamp.svg
  pwa/pwa-assets.config.ts
Due: none

[PWA] Event list year picker & table of contents (#6300)
  pwa/app/components/ui/select.tsx
  pwa/app/components/ui/toc.tsx
  pwa/app/lib/utils.ts
  pwa/app/routes/events.($year).tsx
  pwa/package-lock.json
  pwa/package.json
Due: none

[PWA] add display strings for new insights
  pwa/app/lib/insightUtils.ts
Due: none

[PWA] add display strings for new insights (#6302)
  pwa/app/lib/insightUtils.ts
Due: none

Add event/key/team_media API endpoint
  pwa/app/api/v3.ts
  pwa/package-lock.json
  src/backend/api/handlers/event.py
  src/backend/api/main.py
  src/backend/common/queries/dict_converters/media_converter.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Add event/key/team_media API endpoint (#6297)
  pwa/app/api/v3.ts
  src/backend/api/handlers/event.py
  src/backend/api/main.py
  src/backend/common/queries/dict_converters/media_converter.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

[PWA] Add vitest; add team sponsor parsing & accordion
  pwa/app/components/ui/accordion.tsx
  pwa/app/lib/teamUtils.test.ts
  pwa/app/lib/teamUtils.ts
  pwa/app/routes/team.$teamNumber.tsx
  pwa/package-lock.json
  pwa/package.json
Due: none

Get all awards when computing award insights
  src/backend/common/helpers/insights_helper.py
Due: py3-type, py3-lint, py3-test

Get all awards when computing award insights (#6304)
  src/backend/common/helpers/insights_helper.py
Due: py3-type, py3-lint, py3-test

[PWA] Add vitest; add team sponsor parsing & accordion (#6303)
  pwa/app/components/ui/accordion.tsx
  pwa/app/lib/teamUtils.test.ts
  pwa/app/lib/teamUtils.ts
  pwa/app/routes/team.$teamNumber.tsx
  pwa/package-lock.json
  pwa/package.json
Due: none

[PWA] Add images to event teams tab
  pwa/app/lib/mediaUtils.ts
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/tailwind.css
Due: none

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
