Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [pre-commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [pre-commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [pre-commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [pre-commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [pre-commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [pre-commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [pre-commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]
    - id: gcloud-sdk-version
      name: "Checking Google Cloud SDK Version"
      entry: ./ops/check_sdk_version.sh
      language: script
      always_run: true
      stages: [post-checkout]

Catch all exception for validating user auth - allows for deleted users to not 500 the site
  src/backend/common/auth.py
Due: py3-type, py3-lint, py3-test

Add details about timeout
  src/backend/common/models/notifications/requests/tests/webhook_request_test.py
  src/backend/common/models/notifications/requests/webhook_request.py
  src/backend/web/templates/apidocs_webhooks.html
Due: py3-type, py3-lint, py3-test

Catch all exception for validating user auth - allows for deleted users to not 500 the site (#7644)
  src/backend/common/auth.py
Due: py3-type, py3-lint, py3-test

Dispatch webhooks individually. Update ping to have success and valid booleans. (#7646)
  src/backend/api/handlers/client_api.py
  src/backend/api/handlers/tests/client_api_ping_test.py
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/models/notifications/requests/tests/webhook_request_test.py
  src/backend/common/models/notifications/requests/webhook_request.py
  src/backend/web/handlers/account.py
  src/backend/web/handlers/tests/account_test.py
  src/backend/web/templates/apidocs_webhooks.html
Due: py3-type, py3-lint, py3-test

Add validation to some District API endpoints
  src/backend/api/handlers/district.py
  src/backend/api/handlers/tests/district_test.py
Due: py3-type, py3-lint, py3-test

Add validation to some District API endpoints (#7647)
  src/backend/api/handlers/district.py
  src/backend/api/handlers/tests/district_test.py
Due: py3-type, py3-lint, py3-test

Working on this one - need to share env variable across from Docker to Vagrant
  docker-compose.yml
  ops/dev/docker/Dockerfile
  ops/dev/docker/firebase_emulator/Dockerfile
  ops/dev/docker/firebase_emulator/package.json
  ops/dev/docker/firebase_emulator/run_firebase_emulator.sh
  ops/dev/vagrant/bootstrap-dev-container.sh
  ops/dev/vagrant/create_auth_emulator_accounts.py
  ops/dev/vagrant/run_firebase_emulator.sh
  ops/dev/vagrant/start-devserver.sh
Due: py3-type, py3-lint, py3-test

Update eventwizard_apiwrite.js
  src/backend/web/static/javascript/tba_js/eventwizard_apiwrite.js
Due: node-lint, node-test

Update EventWizard team validation to support 5-digit team numbers (#7649)
  src/backend/web/static/javascript/tba_js/eventwizard_apiwrite.js
Due: node-lint, node-test

Fix dependabot automerge
  .github/workflows/dependabot_auto_merge.yml
Due: none

Fix dependabot automerge (#7674)
  .github/workflows/dependabot_auto_merge.yml
Due: none

Update pwa dependabot groups
  .github/dependabot.yml
Due: none

Update pwa dependabot groups (#7681)
  .github/dependabot.yml
Due: none

Debugging ci pyre
  ops/typecheck_py3.sh
  src/backend/common/helpers/tbans_helper.py
Due: py3-type, py3-lint, py3-test

yolo?
  ops/typecheck_py3.sh
Due: none

Run just pyre and have pyre figure out incremental or check
  ops/typecheck_py3.sh
  src/backend/common/helpers/tbans_helper.py
Due: py3-type, py3-lint, py3-test

Debugging ci pyre (#7712)
  ops/typecheck_py3.sh
Due: none

Revert typecheck changes
  ops/typecheck_py3.sh
Due: none

explicitly specify pyre version arg
  ops/typecheck_py3.sh
Due: none

Downgrade sentry
  .github/dependabot.yml
  pwa/package-lock.json
  pwa/package.json
Due: none

print container logs on fullstack startup failure
  ops/test_vagrant_startup.py
Due: py3-type, py3-lint, py3-test

explicitly set cacerts location
  ops/dev/docker/Dockerfile
Due: none

Downgrade sentry (#7735)
  .github/dependabot.yml
  pwa/package-lock.json
  pwa/package.json
Due: none

include cert env var in dev_appserver
  ops/dev/vagrant/dev_appserver.sh
Due: none

disable fullstack test
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
Due: none

Add new DCMP event/awards history endpoint (#7620)
  pwa/app/api/v3.ts
  src/backend/api/handlers/district.py
  src/backend/api/main.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

[PWA] Add banners to team history page (#7621)
  pwa/app/routes/team.$teamNumber.history.tsx
Due: none

Fix dependabot syntax
  .github/dependabot.yml
Due: none

Upgrade to OpenAPI 3.1
  pwa/app/api/v3.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

Update spec to be more-right typing-wise for v3.1
  src/backend/web/static/swagger/api_v3.json
Due: none

Correct Einstein streak calculation
  src/backend/common/helpers/insights_helper.py
Due: py3-type, py3-lint, py3-test

Add new specs to cover Einstein streak calculation fixes
  src/backend/common/helpers/tests/insights_helper_test.py
Due: py3-type, py3-lint, py3-test

Fix dependabot syntax (#7736)
  .github/dependabot.yml
Due: none
