Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [pre-commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [pre-commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [pre-commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [pre-commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [pre-commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [pre-commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [pre-commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]
    - id: gcloud-sdk-version
      name: "Checking Google Cloud SDK Version"
      entry: ./ops/check_sdk_version.sh
      language: script
      always_run: true
      stages: [post-checkout]

Remove stray binary.bin file checked in (#8463) [nodeploy]
  binary.bin
Due: none

Show unfilled RP circles, hide playoff RP dots
  src/backend/web/templates/match_partials/match_table_cell_macros.html
Due: none

Dockerize the Firebase emulator
  docker-compose.yml
  docs/common/Current-User.md
  ops/dev/docker/Dockerfile
  ops/dev/firebase/Dockerfile.firebase
  ops/dev/firebase/create_auth_emulator_accounts.js
  ops/dev/firebase/firebase.json
  ops/dev/firebase/package.json
  ops/dev/firebase/start.sh
  ops/dev/vagrant/bootstrap-dev-container.sh
  ops/dev/vagrant/create_auth_emulator_accounts.py
  ops/dev/vagrant/run_firebase_emulator.sh
  ops/dev/vagrant/start-devserver.sh
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Add datastore via Docker compose
  docker-compose.yml
  ops/dev/datastore/Dockerfile.datastore
  ops/dev/docker/Dockerfile
  ops/dev/firebase/Dockerfile.firebase
  ops/dev/vagrant/run_datastore_emulator.sh
  ops/dev/vagrant/start-devserver.sh
Due: none

Small tweak to land for code review
  docker-compose.yml
  ops/dev/docker/Dockerfile
  ops/dev/firebase/start.sh
  ops/dev/vagrant/bootstrap-dev-container.sh
  ops/dev/vagrant/run_firebase_emulator.sh
  ops/dev/vagrant/start-devserver.sh
Due: none

Show unfilled RP circles, hide playoff RP dots (#8475)
  src/backend/web/templates/match_partials/match_table_cell_macros.html
Due: none

Use normalized_location for legacy events that may not have venue_address and venue
  .eslintignore
  ops/dev/firebase/Dockerfile.firebase
  ops/dev/firebase/create_auth_emulator_accounts.js
  ops/dev/firebase/start.sh
  ops/dev/vagrant/run_datastore_emulator.sh
  ops/dev/vagrant/run_firebase_emulator.sh
Due: node-lint, node-test

Begin decomposing Vagrant setup with Docker Compose (#8476)
  .eslintignore
  docker-compose.yml
  docs/common/Current-User.md
  ops/dev/datastore/Dockerfile.datastore
  ops/dev/docker/Dockerfile
  ops/dev/firebase/Dockerfile.firebase
  ops/dev/firebase/create_auth_emulator_accounts.js
  ops/dev/firebase/firebase.json
  ops/dev/firebase/package.json
  ops/dev/firebase/start.sh
  ops/dev/vagrant/create_auth_emulator_accounts.py
  ops/dev/vagrant/run_firebase_emulator.sh
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Remove forked flask-caching whl
  src/lib/flask-caching/Flask_Caching-1.11.0_tba.1-py3-none-any.whl
  src/lib/flask-caching/LICENSE
  src/lib/flask-caching/README
Due: none

Remove forked flask-caching whl (#8478)
  src/lib/flask-caching/Flask_Caching-1.11.0_tba.1-py3-none-any.whl
  src/lib/flask-caching/LICENSE
  src/lib/flask-caching/README
Due: none

Migrate config to v9 format
  .eslintignore
  .eslintrc.js
  eslint.config.js
Due: node-lint, node-test

Clean up dangling issues
  src/frontend/eventwizard/components/teamsTab/AddTeamsFMSReport.js
  src/frontend/gameday2/components/AnimatableContainer.js
  src/frontend/gameday2/components/HashtagSidebar.js
  src/frontend/gameday2/components/SwapPositionPreviewCell.js
  src/frontend/gameday2/components/VideoCellToolbar.js
  src/frontend/gameday2/components/embeds/EmbedIframe.js
  src/frontend/gameday2/reducers/visibility.js
  src/frontend/gameday2/selectors/index.js
Due: node-lint, node-test

Update conflicting libraries
  package-lock.json
  package.json
  src/frontend/gameday2/components/ChatAnalyticsTracker.js
  src/frontend/gameday2/components/LayoutAnalyticsTracker.js
  src/frontend/gameday2/components/VideoCellAnalyticsTracker.js
  src/frontend/gameday2/gameday2.js
Due: node-lint, node-test

run migration codemods
  src/frontend/apidocs/apidocs.js
  src/frontend/gameday2/gameday2.js
  src/frontend/liveevent/liveevent.js
  src/frontend/zebramotionworks/zebramotionworks.js
Due: node-lint, node-test

Hide rp dots for playoff matches
  src/backend/web/templates/match_partials/match_table_cell_macros.html
Due: none

Hide rp dots for playoff matches (#8485)
  src/backend/web/templates/match_partials/match_table_cell_macros.html
Due: none

Unpin node deps & add MUI group
  .github/dependabot.yml
Due: none

[eventwizard] Port Match Play tab
  src/frontend/eventwizard/components/EventSelector.js
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/matchPlayTab/MatchPlayTab.js
  src/frontend/eventwizard/components/matchPlayTab/__tests__/MatchPlayTab.test.js
  src/frontend/eventwizard/containers/MatchPlayTabContainer.js
  src/frontend/eventwizard/net/ApiV3Request.js
  src/frontend/eventwizard/net/__tests__/ApiV3Request.test.js
Due: node-lint, node-test

lint
  src/frontend/eventwizard/components/matchPlayTab/MatchPlayTab.js
  src/frontend/eventwizard/components/matchPlayTab/__tests__/MatchPlayTab.test.js
Due: node-lint, node-test

[eventwizard] Port Match Play tab (#8486)
  src/frontend/eventwizard/components/EventSelector.js
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/matchPlayTab/MatchPlayTab.js
  src/frontend/eventwizard/components/matchPlayTab/__tests__/MatchPlayTab.test.js
  src/frontend/eventwizard/containers/MatchPlayTabContainer.js
  src/frontend/eventwizard/net/ApiV3Request.js
  src/frontend/eventwizard/net/__tests__/ApiV3Request.test.js
Due: node-lint, node-test

[eventwizard] Migrate FMS Match Results tab
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/eventMatchResultsTab/EventMatchResultsTab.js
  src/frontend/eventwizard/components/eventMatchResultsTab/__tests__/EventMatchResultsTab.test.js
  src/frontend/eventwizard/components/eventScheduleTab/EventScheduleTab.js
  src/frontend/eventwizard/components/fmsMatchesTab/__tests__/data/2025nysu_MatchResultsReport_Playoffs.xlsx
  src/frontend/eventwizard/components/fmsMatchesTab/__tests__/data/2025nysu_MatchResultsReport_Quals.xlsx
  src/frontend/eventwizard/containers/EventMatchResultsTabContainer.js
  src/frontend/eventwizard/utils/__tests__/playoffHelpers.test.js
  src/frontend/eventwizard/utils/__tests__/playoffMappings.test.js
  src/frontend/eventwizard/utils/__tests__/resultsParser.test.js
  src/frontend/eventwizard/utils/__tests__/scheduleParser.test.js
  src/frontend/eventwizard/utils/playoffHelpers.js
  src/frontend/eventwizard/utils/playoffMappings.js
  src/frontend/eventwizard/utils/resultsParser.js
  src/frontend/eventwizard/utils/scheduleParser.js
Due: node-lint, node-test

[eventwizard] Migrate FMS Match Results tab (#8488)
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/eventMatchResultsTab/EventMatchResultsTab.js
  src/frontend/eventwizard/components/eventMatchResultsTab/__tests__/EventMatchResultsTab.test.js
  src/frontend/eventwizard/components/eventScheduleTab/EventScheduleTab.js
  src/frontend/eventwizard/components/fmsMatchesTab/__tests__/data/2025nysu_MatchResultsReport_Playoffs.xlsx
  src/frontend/eventwizard/components/fmsMatchesTab/__tests__/data/2025nysu_MatchResultsReport_Quals.xlsx
  src/frontend/eventwizard/containers/EventMatchResultsTabContainer.js
  src/frontend/eventwizard/utils/__tests__/playoffHelpers.test.js
  src/frontend/eventwizard/utils/__tests__/playoffMappings.test.js
  src/frontend/eventwizard/utils/__tests__/resultsParser.test.js
  src/frontend/eventwizard/utils/__tests__/scheduleParser.test.js
  src/frontend/eventwizard/utils/playoffHelpers.js
  src/frontend/eventwizard/utils/playoffMappings.js
  src/frontend/eventwizard/utils/resultsParser.js
  src/frontend/eventwizard/utils/scheduleParser.js
Due: node-lint, node-test

Fix eslint
  eslint.config.js
Due: node-lint, node-test

Show API changelog in docs
  src/backend/web/static/swagger/api_v3.json
  src/backend/web/templates/apidocs_swagger.html
  src/frontend/apidocs/ApiDocsFrame.js
Due: node-lint, node-test

Lint, PR feedback
  src/frontend/apidocs/ApiDocsFrame.js
Due: node-lint, node-test

Modernize for React
  src/frontend/apidocs/ApiDocsFrame.js
Due: node-lint, node-test

[eventwizard] Port FMS Rankings tab
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/eventRankingsTab/EventRankingsTab.js
  src/frontend/eventwizard/components/eventRankingsTab/__tests__/EventRankingsTab.test.js
  src/frontend/eventwizard/components/eventRankingsTab/__tests__/data/2025nysu_RankingsReport_Quals.xlsx
  src/frontend/eventwizard/containers/EventRankingsTabContainer.js
  src/frontend/eventwizard/utils/__tests__/rankingsParser.test.js
  src/frontend/eventwizard/utils/rankingsParser.js
Due: node-lint, node-test

More PR feedback
  src/backend/web/static/swagger/api_v3.json
  src/backend/web/templates/apidocs_swagger.html
  src/frontend/apidocs/ApiDocsFrame.js
Due: node-lint, node-test

[eventwizard] Port FMS Rankings tab (#8489)
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/eventRankingsTab/EventRankingsTab.js
  src/frontend/eventwizard/components/eventRankingsTab/__tests__/EventRankingsTab.test.js
  src/frontend/eventwizard/components/eventRankingsTab/__tests__/data/2025nysu_RankingsReport_Quals.xlsx
  src/frontend/eventwizard/containers/EventRankingsTabContainer.js
  src/frontend/eventwizard/utils/__tests__/rankingsParser.test.js
  src/frontend/eventwizard/utils/rankingsParser.js
Due: node-lint, node-test

Fix apidocs / swagger-ui / react 19 issues
  package-lock.json
  package.json
  src/frontend/lib/readme.md
  src/frontend/lib/swagger-ui-5.31.0-dev.tgz
Due: none

regen package-lock
  package-lock.json
Due: none

Fix apidocs / swagger-ui / react 19 issues (#8490)
  package-lock.json
  package.json
  src/frontend/lib/readme.md
  src/frontend/lib/swagger-ui-5.31.0-dev.tgz
Due: none

Fix fullstack test
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
Due: none

Fix fullstack test (#8491)
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
Due: none

Deweird
  src/frontend/apidocs/ApiDocsFrame.js
Due: node-lint, node-test

[pwa] most matches played with/against stats
  pwa/app/components/tba/teamMatchStats.tsx
Due: none

[pwa] most matches played with/against stats (#8492)
  pwa/app/components/tba/teamMatchStats.tsx
Due: none

Style API docs for PWA to mirror py3 look
  pwa/app/routes/apidocs.tsx
  pwa/app/tailwind.css
Due: none

Adds APIv3 docs frame to PWA
  pwa/app/components/tba/api/ApiDocsFrame.tsx
  pwa/app/routes/apidocs_.v3.tsx
  pwa/app/routes/swagger.api.v3.ts
  pwa/package-lock.json
  pwa/package.json
Due: none
