Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [pre-commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [pre-commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [pre-commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [pre-commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [pre-commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [pre-commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [pre-commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]
    - id: gcloud-sdk-version
      name: "Checking Google Cloud SDK Version"
      entry: ./ops/check_sdk_version.sh
      language: script
      always_run: true
      stages: [post-checkout]

Reset livescore flags on RESET_WEBCASTS
  src/frontend/gameday2/reducers/videoGrid.js
Due: node-lint, node-test

Draw the trajectory indicator when x is 0
  src/frontend/zebramotionworks/components/RobotTrajectory.js
Due: node-lint, node-test

Skip negative coordinates in the zebra heatmap
  src/frontend/zebramotionworks/components/HeatmapVisualizer.js
Due: node-lint, node-test

Require a team list re-fetch after a single-team edit even without clearTeams
  src/frontend/eventwizard/components/teamsTab/AddRemoveSingleTeam.tsx
  src/frontend/eventwizard/components/teamsTab/__tests__/AddRemoveSingleTeam.test.tsx
Due: none

Let the single-team picker be cleared with Backspace, Escape or the clear button
  src/frontend/eventwizard/components/teamsTab/AddRemoveSingleTeam.tsx
Due: none

Set, rather than toggle, GameDay layout drawer visibility
  src/frontend/gameday2/reducers/visibility.js
Due: node-lint, node-test

[pwa] Show 2015 fouls committed and foul points deducted per alliance
  pwa/app/components/tba/match/scoreBreakdown2015.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2015.tsx
Due: none

Screenshots for PR #10949 (2015)
  pr-10949-fouls-2015-after.png
  pr-10949-fouls-2015-before.png
Due: none

Make before/after screenshot tables a SHOULD for UI pull requests (#10824)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/comment_screenshots_on_pr.yml
  .github/workflows/pull_request.yml
  .github/workflows/pwa_screenshots.yml
  .pyre_configuration
  AGENTS.md
  ops/pr_screenshots/artifact_data.py
  ops/pr_screenshots/capture_screenshots.py
  ops/pr_screenshots/diff_screenshots.py
  ops/pr_screenshots/generate_screenshots_message.py
  ops/pr_screenshots/tests/conftest.py
  ops/pr_screenshots/tests/diff_screenshots_test.py
  ops/pwa/generate-screenshot-comment.mjs
  ops/pwa/take-screenshots.mjs
  pwa/AGENTS.md
  pwa/README.md
  pwa/scripts/screenshot-route.mjs
  pwa/scripts/screenshot_html.mjs
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Fix: No divider after a BlueZone-only special webcasts section (#10859)
  src/frontend/gameday2/components/WebcastSelectionDialog.js
  src/frontend/gameday2/components/__tests__/WebcastSelectionDialog.test.js
Due: node-lint, node-test

Fix: EmbedIframe decodes only the first &lt; and &gt; (#10858)
  src/frontend/gameday2/components/embeds/EmbedIframe.js
  src/frontend/gameday2/components/embeds/__tests__/embeds.test.js
Due: node-lint, node-test

Fix: GameDay lists pass MUI's removed button prop to ListItem (#10855)
  src/frontend/gameday2/components/ChatSelector.js
  src/frontend/gameday2/components/LayoutDrawer.js
  src/frontend/gameday2/components/LayoutSelectionPanel.js
  src/frontend/gameday2/components/WebcastSelectionDialogItem.js
  src/frontend/gameday2/components/__tests__/ChatSelector.test.js
  src/frontend/gameday2/components/__tests__/LayoutDrawer.test.js
  src/frontend/gameday2/components/__tests__/LayoutSelectionPanel.test.js
  src/frontend/gameday2/components/__tests__/WebcastSelectionDialogItem.test.js
Due: node-lint, node-test

Fix: LivescoreDisplay leaks interval and emits false/0 class names (#10856)
  src/frontend/gameday2/components/LivescoreDisplay.js
  src/frontend/gameday2/components/__tests__/LivescoreDisplay.test.js
Due: node-lint, node-test

Fix: Single-team picker can't be cleared (#10867)
  src/frontend/eventwizard/components/teamsTab/AddRemoveSingleTeam.tsx
  src/frontend/eventwizard/components/teamsTab/__tests__/AddRemoveSingleTeam.test.tsx
Due: none

Fix: GameDay layout pickers never offer Nona-View (#10857)
  src/frontend/gameday2/components/__tests__/LayoutDrawer.test.js
  src/frontend/gameday2/components/__tests__/LayoutSelectionPanel.test.js
  src/frontend/gameday2/constants/LayoutConstants.js
Due: node-lint, node-test

Fix: Rankings preview shows rank for 'Ranking Score' column (#10865)
  src/frontend/eventwizard/components/eventRankingsTab/EventRankingsTab.tsx
  src/frontend/eventwizard/components/eventRankingsTab/__tests__/EventRankingsTab.test.tsx
Due: none

Fix: GameDay chat selector never animates in or unmounts (#10854)
  src/frontend/gameday2/components/AnimatableContainer.js
  src/frontend/gameday2/components/__tests__/ChatSelector.test.js
Due: node-lint, node-test

Drop an import left unused by the merge
  src/backend/api/handlers/moderation.py
Due: py3-type, py3-lint, py3-test

Stop add_fms_companion_db_test from hanging under a frozen clock (#10950)
  src/backend/api/handlers/tests/add_fms_companion_db_test.py
Due: py3-type, py3-lint, py3-test

Fix: HeatmapVisualizer throws on negative coordinates (#10885)
  src/frontend/zebramotionworks/components/HeatmapVisualizer.js
  src/frontend/zebramotionworks/components/__tests__/HeatmapVisualizer.test.js
Due: node-lint, node-test

[pwa] Refactor theme apply script to be type checkable
  pwa/app/lib/theme.test.tsx
  pwa/app/lib/theme.tsx
  pwa/app/routes/-__root.test.tsx
  pwa/app/routes/__root.tsx
Due: none

[pwa] Refactor theme apply script to be type checkable (#10952)
  pwa/app/lib/theme.test.tsx
  pwa/app/lib/theme.tsx
  pwa/app/routes/-__root.test.tsx
  pwa/app/routes/__root.tsx
Due: none

Add screenshots for PR #10857
  pr-10857-layouts-drawer-after.png
  pr-10857-layouts-drawer-before.png
  pr-10857-layouts-drawer-diff.png
  pr-10857-layouts-panel-after.png
  pr-10857-layouts-panel-before.png
  pr-10857-layouts-panel-diff.png
Due: none

Remove per-request API auth log line (~14 GiB/mo of logs) (#10489)
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/auth_logging_test.py
Due: py3-type, py3-lint, py3-test

Fix: Single-team edit doesn't require re-fetch without clearTeams (#10866)
  src/frontend/eventwizard/components/teamsTab/AddRemoveSingleTeam.tsx
  src/frontend/eventwizard/components/teamsTab/__tests__/AddRemoveSingleTeam.test.tsx
Due: none

Use SimilarEventHelper for similar events in the moderation API (PWA review parity with #10436) (#10528)
  src/backend/api/handlers/moderation.py
  src/backend/api/handlers/tests/moderation_test.py
  src/backend/common/helpers/similar_event_helper.py
  src/backend/common/helpers/tests/similar_event_helper_test.py
  src/backend/common/suggestions/offseason_event_candidate.py
Due: py3-type, py3-lint, py3-test

Fix: Layout drawer visibility action toggles instead of setting (#10880)
  src/frontend/gameday2/reducers/__tests__/visibility.test.js
  src/frontend/gameday2/reducers/visibility.js
Due: node-lint, node-test

Fix: gameday2 RESET_WEBCASTS keeps livescore flags (#10883)
  src/frontend/gameday2/reducers/__tests__/videoGrid.test.js
  src/frontend/gameday2/reducers/videoGrid.js
Due: node-lint, node-test

Fix minor liveevent and zebramotionworks bugs
  src/frontend/liveevent/components/CurrentMatchDisplay.js
  src/frontend/liveevent/components/LiveEventPanel.js
  src/frontend/liveevent/components/UpcomingMatchesTable.js
  src/frontend/zebramotionworks/components/RobotTrajectory.js
  src/frontend/zebramotionworks/components/ZebraMotionWorksVisualizer.js
Due: node-lint, node-test

Fix: 2024 RP sweep tested MELODY twice instead of MELODY and ENSEMBLE (#10860)
  src/backend/common/game_specific/seasons/game_specifics_2024.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2024_test.py
Due: py3-type, py3-lint, py3-test

Use default parameters for LampIcon size
  src/frontend/gameday2/components/LampIcon.js
Due: node-lint, node-test

Keep embedded-ampersand school names intact when parsing sponsors
  pwa/app/lib/teamUtils.ts
Due: none

Don't highlight bracket rows for series with no alliance when nothing is hovered
  pwa/app/components/tba/doubleElim4TeamBracket.tsx
  pwa/app/components/tba/traditionalBracket.tsx
Due: none

Don't highlight elimination bracket rows for series with no alliance when nothing is hovered
  pwa/app/components/tba/eliminationBracket.tsx
Due: none

Fix: 2026 AUTO climbs miscounted (missing key counted, 6 vs 4 opportunities, no 2-per-alliance cap) (#10862)
  src/backend/common/game_specific/seasons/game_specifics_2026.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2026_test.py
Due: py3-type, py3-lint, py3-test

Fix: RobotTrajectory hides indicator and renders stray 0 at x = 0 (#10884)
  src/frontend/zebramotionworks/components/RobotTrajectory.js
  src/frontend/zebramotionworks/components/__tests__/RobotTrajectory.test.js
Due: node-lint, node-test

Show 2018 Adjustments row when either alliance was adjusted
  pwa/app/components/tba/match/scoreBreakdown2018.tsx
Due: none

Treat a missing event start/end date as not within days
  pwa/app/lib/eventUtils.ts
Due: none

Fall back to three team columns for an empty alliance list
  pwa/app/components/tba/allianceSelectionTable.tsx
Due: none

Fall back to the raw label when the chart config has no entry
  pwa/app/components/ui/chart.tsx
Due: none
