Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

Implement match modal routing
  pwa/app/components/tba/links.tsx
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/match/matchModal.tsx
  pwa/app/components/tba/match/matchRows.tsx
  pwa/app/components/ui/dialog.tsx
  pwa/app/components/ui/drawer.tsx
  pwa/app/lib/matchModalContext.tsx
  pwa/app/root.tsx
  pwa/app/routes/match.$matchKey.tsx
Due: none

[eventwizard] port alliance input
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/eventAlliances/EventAlliancesTab.js
  src/frontend/eventwizard/components/eventAlliances/__tests__/EventAlliancesTab.test.js
  src/frontend/eventwizard/containers/EventAlliancesTabContainer.js
Due: node-lint, node-test

[eventwizard] port alliance input (#8499)
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/eventAlliances/EventAlliancesTab.js
  src/frontend/eventwizard/components/eventAlliances/__tests__/EventAlliancesTab.test.js
  src/frontend/eventwizard/containers/EventAlliancesTabContainer.js
Due: node-lint, node-test

Some work from Zach
  pwa/.prettierignore
  pwa/app/routes/apidocs.$doc.($version).tsx
  pwa/app/routes/apidocs.v3.tsx
  pwa/generate-api.sh
  pwa/package-lock.json
  pwa/package.json
  pwa/public/swagger/api_trusted_v1.json
  pwa/public/swagger/api_v3.json
  src/backend/web/static/swagger/api_v3.json
Due: none

[eventwizard] Add FMS Alliances tab
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/fmsAlliancesTab/FmsAlliancesTab.js
  src/frontend/eventwizard/components/fmsAlliancesTab/__tests__/FmsAlliancesTab.test.js
  src/frontend/eventwizard/components/fmsAlliancesTab/__tests__/data/2025nysu_RankingsReport_Playoffs.xlsx
  src/frontend/eventwizard/containers/FmsAlliancesTabContainer.js
  src/frontend/eventwizard/utils/__tests__/fmsAlliancesParser.test.js
  src/frontend/eventwizard/utils/fmsAlliancesParser.js
Due: node-lint, node-test

Check in re-generated models
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
Due: none

[eventwizard] Add FMS Alliances tab (#8500)
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/fmsAlliancesTab/FmsAlliancesTab.js
  src/frontend/eventwizard/components/fmsAlliancesTab/__tests__/FmsAlliancesTab.test.js
  src/frontend/eventwizard/components/fmsAlliancesTab/__tests__/data/2025nysu_RankingsReport_Playoffs.xlsx
  src/frontend/eventwizard/containers/FmsAlliancesTabContainer.js
  src/frontend/eventwizard/utils/__tests__/fmsAlliancesParser.test.js
  src/frontend/eventwizard/utils/fmsAlliancesParser.js
Due: node-lint, node-test

Update keyType in JS code
  pwa/app/components/tba/leaderboard.tsx
  pwa/app/lib/insightUtils.ts
Due: none

[eventwizard] Quality of life fixes
  src/frontend/eventwizard/components/AuthTools.js
  src/frontend/eventwizard/components/EventSelector.js
  src/frontend/eventwizard/components/__tests__/AuthTools.test.js
  src/frontend/eventwizard/components/__tests__/EventSelector.test.js
Due: node-lint, node-test

[eventwizard] Quality of life fixes (#8501)
  src/frontend/eventwizard/components/AuthTools.js
  src/frontend/eventwizard/components/EventSelector.js
  src/frontend/eventwizard/components/__tests__/AuthTools.test.js
  src/frontend/eventwizard/components/__tests__/EventSelector.test.js
Due: node-lint, node-test

[pwa] reorg team matchstats and add best/worst records
  pwa/app/components/tba/teamAwardsSummary.tsx
  pwa/app/components/tba/teamMatchStats.tsx
  pwa/app/lib/utils.tsx
  pwa/app/routes/team.$teamNumber.stats.tsx
Due: none

Fix docker build
  ops/dev/docker/Dockerfile
  ops/dev/firebase/Dockerfile.firebase
Due: none

Fix docker build (#8504)
  ops/dev/docker/Dockerfile
  ops/dev/firebase/Dockerfile.firebase
Due: none

[eventwizard] Consolidate alliance tabs into one
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/eventAlliances/EventAlliancesTab.js
  src/frontend/eventwizard/components/eventAlliances/EventManualAlliances.js
  src/frontend/eventwizard/components/eventAlliances/FMSAllianceImport.js
  src/frontend/eventwizard/components/eventAlliances/__tests__/EventAlliancesTab.test.js
  src/frontend/eventwizard/components/eventAlliances/__tests__/FMSAllianceImport.test.js
  src/frontend/eventwizard/components/eventAlliances/__tests__/data/2025nysu_RankingsReport_Playoffs.xlsx
  src/frontend/eventwizard/components/fmsAlliancesTab/FmsAlliancesTab.js
  src/frontend/eventwizard/components/fmsAlliancesTab/__tests__/FmsAlliancesTab.test.js
  src/frontend/eventwizard/containers/FmsAlliancesTabContainer.js
  src/frontend/eventwizard/utils/__tests__/fmsAlliancesParser.test.js
  src/frontend/eventwizard/utils/fmsAlliancesParser.js
Due: node-lint, node-test

[eventwizard] Consolidate alliance tabs into one (#8506)
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/eventAlliances/EventAlliancesTab.js
  src/frontend/eventwizard/components/eventAlliances/EventManualAlliances.js
  src/frontend/eventwizard/components/eventAlliances/FMSAllianceImport.js
  src/frontend/eventwizard/components/eventAlliances/__tests__/EventAlliancesTab.test.js
  src/frontend/eventwizard/components/eventAlliances/__tests__/FMSAllianceImport.test.js
  src/frontend/eventwizard/components/eventAlliances/__tests__/data/2025nysu_RankingsReport_Playoffs.xlsx
  src/frontend/eventwizard/components/fmsAlliancesTab/FmsAlliancesTab.js
  src/frontend/eventwizard/components/fmsAlliancesTab/__tests__/FmsAlliancesTab.test.js
  src/frontend/eventwizard/containers/FmsAlliancesTabContainer.js
  src/frontend/eventwizard/utils/__tests__/fmsAlliancesParser.test.js
  src/frontend/eventwizard/utils/fmsAlliancesParser.js
Due: node-lint, node-test

[eventwizard] Consolidate match results tabs
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/eventMatchResultsTab/EventMatchResultsTab.js
  src/frontend/eventwizard/components/eventMatchResultsTab/FMSMatchResults.js
  src/frontend/eventwizard/components/eventMatchResultsTab/MatchResultsFromMatchPlay.js
  src/frontend/eventwizard/components/eventMatchResultsTab/__tests__/EventMatchResultsTab.test.js
  src/frontend/eventwizard/components/eventMatchResultsTab/__tests__/FMSMatchResults.test.js
  src/frontend/eventwizard/components/eventMatchResultsTab/__tests__/data/2025nysu_MatchResultsReport_Playoffs.xlsx
  src/frontend/eventwizard/components/eventMatchResultsTab/__tests__/data/2025nysu_MatchResultsReport_Quals.xlsx
  src/frontend/eventwizard/components/matchPlayTab/__tests__/MatchPlayTab.test.js
  src/frontend/eventwizard/containers/EventMatchResultsTabContainer.js
  src/frontend/eventwizard/containers/MatchPlayTabContainer.js
  src/frontend/eventwizard/utils/__tests__/resultsParser.test.js
Due: node-lint, node-test

[eventwizard] Consolidate match results tabs (#8507)
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/eventMatchResultsTab/EventMatchResultsTab.js
  src/frontend/eventwizard/components/eventMatchResultsTab/FMSMatchResults.js
  src/frontend/eventwizard/components/eventMatchResultsTab/MatchResultsFromMatchPlay.js
  src/frontend/eventwizard/components/eventMatchResultsTab/__tests__/EventMatchResultsTab.test.js
  src/frontend/eventwizard/components/eventMatchResultsTab/__tests__/FMSMatchResults.test.js
  src/frontend/eventwizard/components/eventMatchResultsTab/__tests__/data/2025nysu_MatchResultsReport_Playoffs.xlsx
  src/frontend/eventwizard/components/eventMatchResultsTab/__tests__/data/2025nysu_MatchResultsReport_Quals.xlsx
  src/frontend/eventwizard/components/matchPlayTab/__tests__/MatchPlayTab.test.js
  src/frontend/eventwizard/containers/EventMatchResultsTabContainer.js
  src/frontend/eventwizard/containers/MatchPlayTabContainer.js
  src/frontend/eventwizard/utils/__tests__/resultsParser.test.js
Due: node-lint, node-test

[eventwizard] Refactor match video tab
  src/frontend/eventwizard/components/matchVideosTab/MatchVideosTab.js
  src/frontend/eventwizard/components/matchVideosTab/__tests__/MatchVideosTab.test.js
  src/frontend/eventwizard/containers/MatchVideosContainer.js
Due: node-lint, node-test

[eventwizard] Refactor match video tab (#8508)
  src/frontend/eventwizard/components/matchVideosTab/MatchVideosTab.js
  src/frontend/eventwizard/components/matchVideosTab/__tests__/MatchVideosTab.test.js
  src/frontend/eventwizard/containers/MatchVideosContainer.js
Due: node-lint, node-test

[eventwizard] Make new one the default
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

[eventwizard] Make new one the default (#8509)
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

Fix spinning up Docker Compose Firebase emulator - uses demo-test
  docker-compose.yml
  ops/dev/firebase/Dockerfile.firebase
  ops/dev/firebase/package-lock.json
Due: none

Fix spinning up Docker Compose Firebase emulator - uses demo-test (#8510) [nodeploy] [dockerpublish]
  docker-compose.yml
  ops/dev/firebase/Dockerfile.firebase
  ops/dev/firebase/package-lock.json
Due: none

Remove some references to Python 3.12. Update README to mention updating dev_appserver.sh when bumping Python version
  docs/Maintainers/Maintainer-Runbook.md
  docs/Setup/Repo-Setup.md
  ops/dev/vagrant/dev_appserver.sh
Due: none

Remove some references to Python 3.12. Update README to mention updating dev_appserver.sh when bumping Python version (#8511)
  docs/Maintainers/Maintainer-Runbook.md
  docs/Setup/Repo-Setup.md
  ops/dev/vagrant/dev_appserver.sh
Due: none

No longer geocode Event models. Remove unused code for Team geocoding. Update Event API models to use FRC-API address and venue.
  .test_durations
  old_py2/test_keys_template.json
  src/backend/common/helpers/location_helper.py
  src/backend/common/helpers/tests/location_helper_test.py
  src/backend/common/manipulators/event_manipulator.py
  src/backend/common/manipulators/team_manipulator.py
  src/backend/common/manipulators/tests/event_manipulator_test.py
  src/backend/common/models/event.py
  src/backend/common/models/team.py
  src/backend/common/queries/dict_converters/converter_base.py
  src/backend/common/queries/dict_converters/event_converter.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_event_list_parser_test.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/event.py
  src/backend/web/static/swagger/api_v3.json
  src/backend/web/templates/team_partials/team_info.html
  src/requirements.txt
Due: py3-type, py3-lint, py3-test

Use normalized_location for legacy events that may not have venue_address and venue
  src/backend/common/queries/dict_converters/event_converter.py
Due: py3-type, py3-lint, py3-test

Much, much less aggressive code removal
  .test_durations
  src/backend/common/helpers/location_helper.py
  src/backend/common/helpers/tests/location_helper_test.py
  src/backend/common/manipulators/event_manipulator.py
  src/backend/common/manipulators/tests/event_manipulator_test.py
  src/backend/common/queries/dict_converters/converter_base.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/event.py
Due: py3-type, py3-lint, py3-test

Simplify the event conversion API logic, add tests
  src/backend/common/queries/dict_converters/event_converter.py
  src/backend/common/queries/dict_converters/tests/event_converter_test.py
Due: py3-type, py3-lint, py3-test

Fix media details in api spec (again)
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

Attempt to satisfy CI
  src/backend/common/manipulators/event_manipulator.py
  stubs/tzlocal/__init__.pyi
  stubs/tzlocal/windows_tz.pyi
Due: py3-type, py3-lint, py3-test

Add back in some dead code. Add missing overwrite bits for 2026 onward events
  old_py2/test_keys_template.json
  src/backend/common/manipulators/team_manipulator.py
  src/backend/common/queries/dict_converters/event_converter.py
  src/backend/common/queries/dict_converters/tests/event_converter_test.py
Due: py3-type, py3-lint, py3-test

Re-generate PWA models
  pwa/app/api/tba/read/types.gen.ts
Due: none

[pwa] Fix duplicate keys
  pwa/app/components/tba/match/matchRows.tsx
Due: none

Tweak
  src/backend/common/manipulators/event_manipulator.py
  src/backend/common/manipulators/tests/event_manipulator_test.py
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
  src/backend/common/queries/dict_converters/event_converter.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
Due: py3-type, py3-lint, py3-test

Only update the post-event logic to change the timezone. Geocoding still happens, just ignored via model
  src/backend/common/manipulators/event_manipulator.py
  src/backend/common/manipulators/tests/event_manipulator_test.py
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Update tests
  src/backend/common/manipulators/tests/event_manipulator_test.py
  src/backend/common/queries/dict_converters/tests/converter_base_test.py
Due: py3-type, py3-lint, py3-test

[pwa] Fix duplicate keys (#8513)
  pwa/app/components/tba/match/matchRows.tsx
Due: none

Simplfy geocoding flow
  src/backend/common/helpers/location_helper.py
  src/backend/common/manipulators/event_manipulator.py
  src/backend/common/manipulators/tests/event_manipulator_test.py
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
  src/backend/common/queries/dict_converters/converter_base.py
  src/backend/common/queries/dict_converters/event_converter.py
  src/backend/common/queries/dict_converters/tests/converter_base_test.py
  src/backend/common/queries/dict_converters/tests/event_converter_test.py
Due: py3-type, py3-lint, py3-test

Shuffle protocol typing
  src/backend/common/models/event.py
  src/backend/common/models/team.py
  src/backend/common/protocols/locatable.py
  src/backend/common/queries/dict_converters/converter_base.py
Due: py3-type, py3-lint, py3-test

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
