Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]

[Refactor] Removed split function, added a check for event length in html, added commit hash to bottom of table
  pwa/app/routes/_index.tsx
Due: none

[Refactor] Stopped posting status when unused on page
  pwa/app/routes/_index.tsx
Due: none

[Refactor] Removed silly goose unused import
  pwa/app/lib/eventUtils.ts
Due: none

[PWA] Home page (#6392)
  pwa/app/lib/eventUtils.ts
  pwa/app/lib/utils.ts
  pwa/app/routes/_index.tsx
Due: none

Create history API endpoint
  pwa/app/api/v3.ts
  src/backend/api/handlers/team.py
  src/backend/api/main.py
  src/backend/common/models/history.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Support up to team 10999 (#6263)
  src/backend/web/handlers/team.py
Due: py3-type, py3-lint, py3-test

Pin pytz version
  src/requirements.txt
Due: none

Update Slack `nag-bot` notifications 4 hours earlier
  ops/standalone/cron-skeleton.yaml
  src/cron.yaml
Due: none

Update dockerfile
  ops/dev/docker/Dockerfile
Due: none

ensurepip
  ops/dev/vagrant/bootstrap-dev-container.sh
Due: none

Fix build / tests (#6535)
  ops/dev/docker/Dockerfile
  ops/dev/vagrant/bootstrap-dev-container.sh
  src/requirements.txt
Due: none

Update Slack `nag-bot` notifications 4 hours earlier (#6536)
  ops/standalone/cron-skeleton.yaml
  src/cron.yaml
Due: none

Reduce team list cache time
  src/backend/web/handlers/team.py
Due: py3-type, py3-lint, py3-test

Update test
  src/backend/web/handlers/tests/team_list_test.py
Due: py3-type, py3-lint, py3-test

Reduce team list cache time (#6538)
  src/backend/web/handlers/team.py
  src/backend/web/handlers/tests/team_list_test.py
Due: py3-type, py3-lint, py3-test

Corrects district points bug when a backup robot is in position 0
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/tests/data/2024nytr.json
  src/backend/common/helpers/tests/data/2024nytr_alliances.json
  src/backend/common/helpers/tests/data/2024nytr_awards.json
  src/backend/common/helpers/tests/data/2024nytr_district_points.json
  src/backend/common/helpers/tests/data/2024nytr_matches.json
  src/backend/common/helpers/tests/data/2024nytr_rankings.json
  src/backend/common/helpers/tests/data/2024nytr_teams.json
  src/backend/common/helpers/tests/district_helper_test.py
Due: py3-type, py3-lint, py3-test

Corrects district points bug when a backup robot is in position 0 (#6563)
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/tests/data/2024nytr.json
  src/backend/common/helpers/tests/data/2024nytr_alliances.json
  src/backend/common/helpers/tests/data/2024nytr_awards.json
  src/backend/common/helpers/tests/data/2024nytr_district_points.json
  src/backend/common/helpers/tests/data/2024nytr_matches.json
  src/backend/common/helpers/tests/data/2024nytr_rankings.json
  src/backend/common/helpers/tests/data/2024nytr_teams.json
  src/backend/common/helpers/tests/district_helper_test.py
Due: py3-type, py3-lint, py3-test

[PWA] Clean up carousel styles
  pwa/app/components/tba/teamRobotPicsCarousel.tsx
  pwa/app/routes/event.$eventKey.tsx
Due: none

api_week & tests
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_event_list_parser_test.py
Due: py3-type, py3-lint, py3-test

Add test data
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/data/2025_event_list.json
Due: none

Add comment
  src/backend/common/models/event.py
Due: py3-type, py3-lint, py3-test

Add week to admin details page
  src/backend/web/templates/admin/event_details.html
Due: none

Filter api_week==0
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Create history API endpoint
  pwa/app/api/v3.ts
  src/backend/api/handlers/team.py
  src/backend/api/handlers/tests/team_test.py
  src/backend/api/main.py
  src/backend/common/models/history.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

[WIP] Implement search on PWA
  pwa/app/components/tba/nav.tsx
  pwa/app/components/tba/searchbar.tsx
  pwa/app/components/ui/command.tsx
  pwa/app/components/ui/dialog.tsx
  pwa/app/lib/indexedDb.ts
  pwa/package-lock.json
  pwa/package.json
Due: none

Fixed #6378
  pwa/app/components/tba/allianceSelectionTable.tsx
Due: none

Use merge bot token for dependabot automerge
  .github/workflows/dependabot_auto_merge.yml
Due: none

Revert "Bump @babel/preset-env from 7.25.9 to 7.26.0 (#6625)"
  package-lock.json
  package.json
Due: none

Revert "Bump @babel/preset-env from 7.25.9 to 7.26.0 (#6625)" (#6629)
  package-lock.json
  package.json
Due: none

Use merge bot token for dependabot automerge (#6628)
  .github/workflows/dependabot_auto_merge.yml
Due: none

Create history API endpoint (#6532)
  pwa/app/api/v3.ts
  src/backend/api/handlers/team.py
  src/backend/api/handlers/tests/team_test.py
  src/backend/api/main.py
  src/backend/common/models/history.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Fix eventwizard parsing of schedule times
  src/backend/web/static/javascript/tba_js/eventwizard_apiwrite.js
Due: node-lint, node-test

Fix eventwizard parsing of schedule times (#6630)
  src/backend/web/static/javascript/tba_js/eventwizard_apiwrite.js
Due: node-lint, node-test

Call APIv3 from eventwizard
  src/backend/api/handlers/decorators.py
  src/backend/web/static/javascript/tba_js/eventwizard.js
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Update for 2024 rankings reports
  src/backend/web/static/javascript/tba_js/eventwizard_apiwrite.js
Due: node-lint, node-test

Call APIv3 from eventwizard, support 2024 rankings (#6631)
  src/backend/api/handlers/decorators.py
  src/backend/web/static/javascript/tba_js/eventwizard.js
  src/backend/web/static/javascript/tba_js/eventwizard_apiwrite.js
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Use actions/create-github-app-token [nodeploy]
  .github/workflows/dependabot_auto_merge.yml
Due: none

[PWA] Clean up carousel styles (#6584)
  pwa/app/components/tba/teamRobotPicsCarousel.tsx
  pwa/app/routes/event.$eventKey.tsx
Due: none
