Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

Add num matches over time v2 insight
  src/backend/common/helpers/insights_v2/names.py
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/insights_v2/timeseries/num_matches_by_year.py
  src/backend/common/helpers/tests/insights_v2/registry_test.py
  src/backend/common/helpers/tests/insights_v2/timeseries/num_matches_by_year_test.py
Due: py3-type, py3-lint, py3-test

Add num matches over time v2 insight (#10487)
  src/backend/common/helpers/insights_v2/names.py
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/insights_v2/timeseries/num_matches_by_year.py
  src/backend/common/helpers/tests/insights_v2/registry_test.py
  src/backend/common/helpers/tests/insights_v2/timeseries/num_matches_by_year_test.py
Due: py3-type, py3-lint, py3-test

Demote App Engine deferred header dump to DEBUG
  src/backend/common/helpers/deferred.py
  src/backend/common/logging.py
  src/backend/common/tests/logging_test.py
Due: py3-type, py3-lint, py3-test

Remove per-request API auth log line (~14 GiB/mo of logs)
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/auth_logging_test.py
Due: py3-type, py3-lint, py3-test

[pwa] Demote hot-path logs to debug (~6 GiB/mo of logs)
  pwa/app/lib/logger.test.ts
  pwa/app/lib/logger.ts
  pwa/app/router.tsx
  pwa/app/routes/__root.tsx
  pwa/server.ts
Due: none

Make FRC API response dedupe resilient to str/bytes mismatch
  src/backend/common/frc_api/frc_api.py
  src/backend/common/frc_api/tests/frcapi_test.py
Due: py3-type, py3-lint, py3-test

Declare _DEFAULT_LOG_LEVEL in the deferred stub
  stubs/google/appengine/ext/deferred/deferred.pyi
Due: none

[pwa] Replace networkidle waits with the data-hydrated wait in Playwright tests
  pwa/tests/dialog-focus.spec.ts
  pwa/tests/navigation.spec.ts
  pwa/tests/select.spec.ts
Due: none

Add match suggestion firebase feed
  .pyre_configuration
  ops/export_match_suggestion_schema.py
  pwa/app/api/firebase/index.ts
  pwa/app/api/firebase/matchSuggestions.schema.gen.ts
  pwa/app/api/firebase/matchSuggestions.ts
  pwa/package.json
  pwa/pnpm-lock.yaml
  pyproject.toml
  src/backend/common/helpers/firebase_pusher.py
  src/backend/common/helpers/match_suggestion_helper.py
  src/backend/common/helpers/team_favorite_counts_helper.py
  src/backend/common/helpers/tests/firebase_pusher_test.py
  src/backend/common/helpers/tests/match_suggestion_helper_test.py
  src/backend/common/helpers/tests/team_favorite_counts_helper_test.py
  src/backend/common/models/match_suggestion.py
  src/backend/common/models/tests/match_suggestion_test.py
  src/backend/tasks_io/handlers/match_suggestions.py
  src/backend/tasks_io/handlers/tests/match_suggestions_test.py
  src/backend/tasks_io/main.py
  src/backend/web/local/blueprint.py
  src/backend/web/local/tests/test_match_suggestions.py
  src/cron.yaml
  uv.lock
Due: py3-type, py3-lint, py3-test

[pwa] Demote hot-path logs to debug (~6 GiB/mo of logs) (#10490)
  pwa/app/lib/logger.test.ts
  pwa/app/lib/logger.ts
  pwa/app/router.tsx
  pwa/app/routes/__root.tsx
  pwa/server.ts
Due: none

[pwa] Replace networkidle waits with the data-hydrated wait in Playwright tests (#10496)
  pwa/tests/dialog-focus.spec.ts
  pwa/tests/navigation.spec.ts
  pwa/tests/select.spec.ts
Due: none

[pwa] improve timeseries charts
  pwa/app/components/tba/timeseriesInsight.tsx
Due: none

[pwa] improve timeseries charts (#10498)
  pwa/app/components/tba/timeseriesInsight.tsx
Due: none

Fetch CSRF tokens client-side instead of baking them into cached pages
  src/backend/common/decorators.py
  src/backend/web/handlers/ajax.py
  src/backend/web/handlers/tests/ajax_test.py
  src/backend/web/handlers/tests/team_detail_test.py
  src/backend/web/static/javascript/tba_js/tba_favorites.js
  src/backend/web/templates/team_details.html
  src/backend/web/tests/cached_public_csrf_test.py
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Port HOF parser to py3
  src/backend/tasks_io/datafeeds/datafeed_resource_library.py
  src/backend/tasks_io/datafeeds/parsers/first/resource_library_parser.py
  src/backend/tasks_io/datafeeds/parsers/first/tests/data/hall_of_fame.html
  src/backend/tasks_io/datafeeds/parsers/first/tests/resource_library_parser_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_resource_library_test.py
  src/backend/tasks_io/handlers/hall_of_fame.py
  src/backend/tasks_io/handlers/tests/hall_of_fame_test.py
  src/backend/tasks_io/main.py
Due: py3-type, py3-lint, py3-test

Add new 'club' v2 insight for HOF
  pwa/app/api/tba/read/@tanstack/react-query.gen.ts
  pwa/app/api/tba/read/index.ts
  pwa/app/api/tba/read/sdk.gen.ts
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/api/handlers/insights.py
  src/backend/api/handlers/tests/insight_v2_test.py
  src/backend/common/helpers/insights_v2/clubs/calculator.py
  src/backend/common/helpers/insights_v2/clubs/hall_of_fame.py
  src/backend/common/helpers/insights_v2/names.py
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/tests/insights_v2/clubs/hall_of_fame_test.py
  src/backend/common/helpers/tests/insights_v2/registry_test.py
  src/backend/common/models/insight_v2.py
  src/backend/common/models/tests/insight_v2_test.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Add worlds winners club to v2 insights
  src/backend/common/helpers/insights_v2/clubs/world_championship_winners.py
  src/backend/common/helpers/insights_v2/names.py
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/tests/insights_v2/clubs/__init__.py
  src/backend/common/helpers/tests/insights_v2/clubs/world_championship_winners_test.py
  src/backend/common/helpers/tests/insights_v2/registry_test.py
  src/backend/common/models/tests/insight_v2_test.py
Due: py3-type, py3-lint, py3-test

Rename matches over time
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  pwa/app/components/tba/timeseriesInsight.tsx
  pwa/app/lib/insightUtils.test.ts
  pwa/app/lib/insightUtils.ts
  src/backend/common/helpers/insights_v2/names.py
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/insights_v2/timeseries/cumulative_matches_by_day.py
  src/backend/common/helpers/insights_v2/timeseries/num_matches_by_year.py
  src/backend/common/helpers/tests/insights_v2/registry_test.py
  src/backend/common/helpers/tests/insights_v2/timeseries/cumulative_matches_by_day_test.py
  src/backend/common/helpers/tests/insights_v2/timeseries/num_matches_by_year_test.py
  src/backend/common/models/insight_v2.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

port hof parser py3 (#10504)
  src/backend/tasks_io/datafeeds/datafeed_resource_library.py
  src/backend/tasks_io/datafeeds/parsers/first/resource_library_parser.py
  src/backend/tasks_io/datafeeds/parsers/first/tests/data/hall_of_fame.html
  src/backend/tasks_io/datafeeds/parsers/first/tests/resource_library_parser_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_resource_library_test.py
  src/backend/tasks_io/handlers/hall_of_fame.py
  src/backend/tasks_io/handlers/tests/hall_of_fame_test.py
  src/backend/tasks_io/main.py
Due: py3-type, py3-lint, py3-test

Add clubs to v2 insights (#10505)
  pwa/app/api/tba/read/@tanstack/react-query.gen.ts
  pwa/app/api/tba/read/index.ts
  pwa/app/api/tba/read/sdk.gen.ts
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/api/handlers/insights.py
  src/backend/api/handlers/tests/insight_v2_test.py
  src/backend/common/helpers/insights_v2/clubs/calculator.py
  src/backend/common/helpers/insights_v2/clubs/hall_of_fame.py
  src/backend/common/helpers/insights_v2/names.py
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/tests/insights_v2/clubs/hall_of_fame_test.py
  src/backend/common/helpers/tests/insights_v2/registry_test.py
  src/backend/common/models/insight_v2.py
  src/backend/common/models/tests/insight_v2_test.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Add year-specific matches-over-time v2 insight (#10507)
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  pwa/app/components/tba/timeseriesInsight.tsx
  pwa/app/lib/insightUtils.test.ts
  pwa/app/lib/insightUtils.ts
  src/backend/common/helpers/insights_v2/names.py
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/insights_v2/timeseries/cumulative_matches_by_day.py
  src/backend/common/helpers/insights_v2/timeseries/num_matches_by_year.py
  src/backend/common/helpers/tests/insights_v2/registry_test.py
  src/backend/common/helpers/tests/insights_v2/timeseries/cumulative_matches_by_day_test.py
  src/backend/common/helpers/tests/insights_v2/timeseries/num_matches_by_year_test.py
  src/backend/common/models/insight_v2.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Add 'worlds winners' v2 insight (#10506)
  src/backend/common/helpers/insights_v2/clubs/world_championship_winners.py
  src/backend/common/helpers/insights_v2/names.py
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/tests/insights_v2/clubs/__init__.py
  src/backend/common/helpers/tests/insights_v2/clubs/world_championship_winners_test.py
  src/backend/common/helpers/tests/insights_v2/registry_test.py
  src/backend/common/models/tests/insight_v2_test.py
Due: py3-type, py3-lint, py3-test

[pwa] fix lint
  pwa/app/components/tba/charts/coprScatterChart.tsx
  pwa/app/components/tba/favoriteButton.tsx
  pwa/app/components/tba/gameday/WebcastSelectorDialog.tsx
  pwa/app/components/tba/globalLoadingProgress.tsx
  pwa/app/components/tba/match/matchModal.tsx
  pwa/app/components/tba/navigation/footer.tsx
  pwa/app/components/tba/preferencesDialog.tsx
  pwa/app/components/ui/carousel.tsx
  pwa/app/lib/gameday/context.tsx
  pwa/app/lib/gameday/reducer.test.ts
  pwa/app/lib/gameday/reducer.ts
  pwa/app/lib/gameday/useGamedayUrlSync.ts
  pwa/app/lib/hooks.ts
  pwa/app/lib/theme.tsx
  pwa/app/routes/district.$districtAbbreviation.champs.$year.tsx
Due: none

Add match suggestion firebase feed (#10454)
  .pyre_configuration
  ops/export_match_suggestion_schema.py
  pwa/app/api/firebase/index.ts
  pwa/app/api/firebase/matchSuggestions.schema.gen.ts
  pwa/app/api/firebase/matchSuggestions.ts
  pwa/package.json
  pwa/pnpm-lock.yaml
  pyproject.toml
  src/backend/common/helpers/firebase_pusher.py
  src/backend/common/helpers/match_suggestion_helper.py
  src/backend/common/helpers/team_favorite_counts_helper.py
  src/backend/common/helpers/tests/firebase_pusher_test.py
  src/backend/common/helpers/tests/match_suggestion_helper_test.py
  src/backend/common/helpers/tests/team_favorite_counts_helper_test.py
  src/backend/common/models/match_suggestion.py
  src/backend/common/models/tests/match_suggestion_test.py
  src/backend/tasks_io/handlers/match_suggestions.py
  src/backend/tasks_io/handlers/tests/match_suggestions_test.py
  src/backend/tasks_io/main.py
  src/backend/web/local/blueprint.py
  src/backend/web/local/tests/test_match_suggestions.py
  src/cron.yaml
  uv.lock
Due: py3-type, py3-lint, py3-test

Add smugmug support
  pwa/app/api/tba/read/index.ts
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/common/consts/media_type.py
  src/backend/common/manipulators/media_manipulator.py
  src/backend/common/manipulators/tests/media_manipulator_test.py
  src/backend/common/models/media.py
  src/backend/common/models/tests/media_test.py
  src/backend/common/queries/dict_converters/tests/media_converter_test.py
  src/backend/common/sitevars/smugmug_api_secret.py
  src/backend/common/sitevars/tests/smugmug_api_secret_test.py
  src/backend/common/suggestions/media_parser.py
  src/backend/common/suggestions/suggestion_creator.py
  src/backend/common/suggestions/tests/media_url_parse_test.py
  src/backend/common/suggestions/tests/suggestion_creator_test.py
  src/backend/web/handlers/suggestions/suggest_team_media_review_controller.py
  src/backend/web/handlers/suggestions/tests/suggest_team_media_review_controller_test.py
  src/backend/web/handlers/tests/event_detail_test.py
  src/backend/web/handlers/tests/team_detail_test.py
  src/backend/web/static/swagger/api_v3.json
  src/backend/web/templates/event_details.html
  src/backend/web/templates/media_partials/media_display_partial.html
  src/backend/web/templates/media_partials/smugmug_album_partial.html
  src/backend/web/templates/media_partials/smugmug_photo_partial.html
  src/backend/web/templates/suggestions/suggest_team_media_review_list.html
  src/backend/web/templates/team_details.html
Due: py3-type, py3-lint, py3-test

[pwa] fix lint (#10509)
  pwa/app/components/tba/charts/coprScatterChart.tsx
  pwa/app/components/tba/favoriteButton.tsx
  pwa/app/components/tba/gameday/WebcastSelectorDialog.tsx
  pwa/app/components/tba/globalLoadingProgress.tsx
  pwa/app/components/tba/match/matchModal.tsx
  pwa/app/components/tba/navigation/footer.tsx
  pwa/app/components/tba/preferencesDialog.tsx
  pwa/app/components/ui/carousel.tsx
  pwa/app/lib/gameday/context.tsx
  pwa/app/lib/gameday/reducer.test.ts
  pwa/app/lib/gameday/reducer.ts
  pwa/app/lib/gameday/useGamedayUrlSync.ts
  pwa/app/lib/hooks.ts
  pwa/app/lib/theme.tsx
  pwa/app/routes/district.$districtAbbreviation.champs.$year.tsx
Due: none

docs: fix Architecture-Caching, which still described Redis
  docs/Architecture/Architecture-Caching.md
Due: none

docs: fix Architecture-Caching, which still described Redis (#10511)
  docs/Architecture/Architecture-Caching.md
Due: none

Show event dates and computed key expirations on apiwrite review
  src/backend/web/handlers/suggestions/suggest_apiwrite_review_controller.py
  src/backend/web/handlers/tests/suggest_apiwrite_review_expiration_test.py
  src/backend/web/templates/suggestions/suggest_apiwrite_review_list.html
Due: py3-type, py3-lint, py3-test

Clarify the expiration label states the whichever-is-later rule
  src/backend/web/templates/suggestions/suggest_apiwrite_review_list.html
Due: none

Add DCMP advancement cutoff calculations (#10457)
  src/backend/common/helpers/district_advancement_helper.py
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/tests/data/2026fim_awards.json
  src/backend/common/helpers/tests/data/2026fim_district_points.json
  src/backend/common/helpers/tests/data/2026fim_events.json
  src/backend/common/helpers/tests/data/2026fim_rankings.json
  src/backend/common/helpers/tests/data/2026fit_awards.json
  src/backend/common/helpers/tests/data/2026fit_district_points.json
  src/backend/common/helpers/tests/data/2026fit_events.json
  src/backend/common/helpers/tests/data/2026fit_rankings.json
  src/backend/common/helpers/tests/data/2026ne_awards.json
  src/backend/common/helpers/tests/data/2026ne_district_points.json
  src/backend/common/helpers/tests/data/2026ne_events.json
  src/backend/common/helpers/tests/data/2026ne_rankings.json
  src/backend/common/helpers/tests/data/2026ont_awards.json
  src/backend/common/helpers/tests/data/2026ont_district_points.json
  src/backend/common/helpers/tests/data/2026ont_events.json
  src/backend/common/helpers/tests/data/2026ont_rankings.json
  src/backend/common/helpers/tests/district_advancement_helper_test.py
  src/backend/common/models/district.py
  src/backend/common/models/district_advancement.py
  src/backend/tasks_io/handlers/math.py
  src/backend/tasks_io/handlers/tests/district_rankings_calc_test.py
Due: py3-type, py3-lint, py3-test

Add [d]cmp cutoff/qualifications to API
  pwa/app/api/tba/read/@tanstack/react-query.gen.ts
  pwa/app/api/tba/read/index.ts
  pwa/app/api/tba/read/sdk.gen.ts
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/api/handlers/district.py
  src/backend/api/handlers/tests/district_test.py
  src/backend/common/consts/tests/api_spec_enum_test.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Add [d]cmp cutoff/qualifications to API (#10521)
  pwa/app/api/tba/read/@tanstack/react-query.gen.ts
  pwa/app/api/tba/read/index.ts
  pwa/app/api/tba/read/sdk.gen.ts
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/api/handlers/district.py
  src/backend/api/handlers/tests/district_test.py
  src/backend/common/consts/tests/api_spec_enum_test.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Add advancement methods, fix typo
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/api/handlers/district.py
  src/backend/api/handlers/tests/district_test.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Add moderation API (phase 1)
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/moderation.py
  src/backend/api/handlers/tests/moderation_test.py
  src/backend/api/main.py
  src/backend/api/moderation_api_main.py
  src/backend/common/models/user.py
  src/backend/common/suggestions/suggestion_reviewer.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/suggestions_seed.py
  src/backend/web/handlers/admin/tests/suggestions_seed_test.py
  src/backend/web/static/swagger/api_moderation_v1.json
  src/backend/web/templates/admin/suggestion_seed.html
Due: py3-type, py3-lint, py3-test

Require start/end dates when accepting offseason event suggestions (#10178)
  src/backend/api/handlers/tests/moderation_test.py
  src/backend/common/suggestions/suggestion_reviewer.py
Due: py3-type, py3-lint, py3-test

Add advancement methods, fix typo (#10522)
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/api/handlers/district.py
  src/backend/api/handlers/tests/district_test.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Add PWA suggestion review UI (phase 1)
  pwa/.env.example
  pwa/app/api/tba/moderation/@tanstack/react-query.gen.ts
  pwa/app/api/tba/moderation/client.gen.ts
  pwa/app/api/tba/moderation/client/client.gen.ts
  pwa/app/api/tba/moderation/client/index.ts
  pwa/app/api/tba/moderation/client/types.gen.ts
  pwa/app/api/tba/moderation/client/utils.gen.ts
  pwa/app/api/tba/moderation/core/auth.gen.ts
  pwa/app/api/tba/moderation/core/bodySerializer.gen.ts
  pwa/app/api/tba/moderation/core/params.gen.ts
  pwa/app/api/tba/moderation/core/pathSerializer.gen.ts
  pwa/app/api/tba/moderation/core/queryKeySerializer.gen.ts
  pwa/app/api/tba/moderation/core/serverSentEvents.gen.ts
  pwa/app/api/tba/moderation/core/types.gen.ts
  pwa/app/api/tba/moderation/core/utils.gen.ts
  pwa/app/api/tba/moderation/index.ts
  pwa/app/api/tba/moderation/sdk.gen.ts
  pwa/app/api/tba/moderation/types.gen.ts
  pwa/app/components/tba/moderation/keyboardShortcutsDialog.tsx
  pwa/app/components/tba/moderation/reviewGuidelines.test.ts
  pwa/app/components/tba/moderation/reviewGuidelines.tsx
  pwa/app/components/tba/moderation/suggestionReviewCard.tsx
  pwa/app/components/ui/breadcrumb.tsx
  pwa/app/lib/hooks/useModeration.ts
  pwa/app/lib/moderationUtils.test.ts
  pwa/app/lib/moderationUtils.ts
  pwa/app/routeTree.gen.ts
  pwa/app/routes/__root.tsx
  pwa/app/routes/suggest.review.$suggestionType.tsx
  pwa/app/routes/suggest.review.index.tsx
  pwa/app/vite-env.d.ts
  pwa/generate-api.sh
  pwa/openapi-ts/moderation.config.ts
  pwa/scripts/moderation-e2e.mjs
  pwa/tests/routes.spec.ts
Due: node-lint, node-test

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
