Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]

Add 2023 field image
  src/backend/web/static/images/2023_field.png
Due: none

Fix heatmap out of bounds
  src/frontend/zebramotionworks/components/HeatmapVisualizer.js
Due: node-lint, node-test

Rotate image
  src/backend/web/static/images/2023_field.png
Due: none

Compress image
  src/backend/web/static/images/2023_field.png
Due: none

fix lint/type
  src/backend/web/local/bootstrap.py
Due: py3-type, py3-lint, py3-test

Fix tests
  src/backend/web/local/tests/bootstrap_test.py
Due: py3-type, py3-lint, py3-test

fix lint
  src/backend/web/local/tests/bootstrap_test.py
Due: py3-type, py3-lint, py3-test

Fix tests
  src/backend/web/local/bootstrap.py
  src/backend/web/local/tests/bootstrap_test.py
Due: py3-type, py3-lint, py3-test

2023 zebra (#5051)
  src/backend/web/local/bootstrap.py
  src/backend/web/local/tests/bootstrap_test.py
  src/backend/web/static/images/2023_field.png
  src/frontend/zebramotionworks/components/HeatmapVisualizer.js
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Update thanks
  src/backend/web/static/images/andymark_logo.png
  src/backend/web/templates/base.html
  src/backend/web/templates/thanks.html
Due: none

Update thanks (#5052)
  src/backend/web/static/images/andymark_logo.png
  src/backend/web/templates/base.html
  src/backend/web/templates/thanks.html
Due: none

update bracket
  src/backend/common/helpers/playoff_advancement_helper.py
  src/backend/web/static/css/less_css/less/tba/tba_double_elim_bracket_table.less
  src/backend/web/templates/bracket_partials/double_elim_bracket_table.html
Due: py3-type, py3-lint, py3-test

Parse FIRST impact as chairman's, add sustainability award
  src/backend/common/consts/award_matching_strings.py
  src/backend/common/consts/award_type.py
Due: py3-type, py3-lint, py3-test

Add tests
  src/backend/common/helpers/tests/award_helper_test.py
Due: py3-type, py3-lint, py3-test

2023 awards (#5057)
  src/backend/common/consts/award_matching_strings.py
  src/backend/common/consts/award_type.py
  src/backend/common/helpers/tests/award_helper_test.py
Due: py3-type, py3-lint, py3-test

fix errors on old events
  src/backend/web/handlers/event.py
Due: py3-type, py3-lint, py3-test

Fix coopertition count
  src/backend/common/helpers/event_insights_helper.py
Due: py3-type, py3-lint, py3-test

Fix COPR errors on old events (#5058)
  src/backend/web/handlers/event.py
Due: py3-type, py3-lint, py3-test

Fix blue banner for first impact award
  src/backend/common/consts/award_type.py
  src/backend/common/models/award.py
Due: py3-type, py3-lint, py3-test

Fix blue banner for first impact award (#5060)
  src/backend/common/consts/award_type.py
  src/backend/common/models/award.py
Due: py3-type, py3-lint, py3-test

Add event_key logging for EventDetails manipulator
  src/backend/common/manipulators/event_details_manipulator.py
Due: py3-type, py3-lint, py3-test

Add event_key logging for EventDetails manipulator (#5062)
  src/backend/common/manipulators/event_details_manipulator.py
Due: py3-type, py3-lint, py3-test

Update swagger documentation for the 2023 season
  src/backend/web/static/swagger/api_v3.json
Due: none

Support 2023 district points
  src/backend/common/consts/district_point_values.py
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/tests/data/2023mijac.json
  src/backend/common/helpers/tests/data/2023mijac_alliances.json
  src/backend/common/helpers/tests/data/2023mijac_awards.json
  src/backend/common/helpers/tests/data/2023mijac_district_points.json
  src/backend/common/helpers/tests/data/2023mijac_matches.json
  src/backend/common/helpers/tests/data/2023mijac_rankings.json
  src/backend/common/helpers/tests/data/2023mijac_teams.json
  src/backend/common/helpers/tests/district_helper_test.py
Due: py3-type, py3-lint, py3-test

Fix type issue
  src/backend/common/helpers/district_helper.py
Due: py3-type, py3-lint, py3-test

Fix broken links on review pending suggestions page
  src/backend/web/static/javascript/tba_js/tba.js
Due: node-lint, node-test

Fix broken links on review pending suggestions page (#5079)
  src/backend/web/static/javascript/tba_js/tba.js
Due: node-lint, node-test

Support 2023 district points (#5073)
  src/backend/common/consts/district_point_values.py
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/tests/data/2023mijac.json
  src/backend/common/helpers/tests/data/2023mijac_alliances.json
  src/backend/common/helpers/tests/data/2023mijac_awards.json
  src/backend/common/helpers/tests/data/2023mijac_district_points.json
  src/backend/common/helpers/tests/data/2023mijac_matches.json
  src/backend/common/helpers/tests/data/2023mijac_rankings.json
  src/backend/common/helpers/tests/data/2023mijac_teams.json
  src/backend/common/helpers/tests/district_helper_test.py
Due: py3-type, py3-lint, py3-test

2023 event insights fix (#5059)
  src/backend/common/helpers/event_insights_helper.py
Due: py3-type, py3-lint, py3-test

Update swagger documentation for the 2023 season (#5064)
  src/backend/web/static/swagger/api_v3.json
Due: none

Improve double elim bracket layout (#5056)
  src/backend/common/helpers/playoff_advancement_helper.py
  src/backend/web/static/css/less_css/less/tba/tba_double_elim_bracket_table.less
  src/backend/web/templates/bracket_partials/double_elim_bracket_table.html
Due: py3-type, py3-lint, py3-test

Revert "Bump swagger-ui from 4.18.0 to 4.18.1 (#5086)"
  package-lock.json
  package.json
Due: none

Revert "Bump swagger-ui from 4.17.1 to 4.18.0 (#5074)"
  package-lock.json
  package.json
Due: none

Pin swagger version
  package.json
Due: none

Pin swagger (#5087)
  package-lock.json
  package.json
Due: none

Port 2023 event insights to py2 [clowntown]
  helpers/event_insights_helper.py
Due: py3-type, py3-lint, py3-test

Remove typehints [clowntown]
  helpers/event_insights_helper.py
Due: py3-type, py3-lint, py3-test

Fix indentation [clowntown]
  helpers/event_insights_helper.py
Due: py3-type, py3-lint, py3-test

Update media instructions for 2023.
  src/backend/web/templates/suggestions/suggest_team_media.html
Due: none

Remove typehint [clowntown]
  helpers/event_insights_helper.py
Due: py3-type, py3-lint, py3-test
