Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

Remove make freeze from jobs that do not need it for CI
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
Due: none

Attempt to fix fullstack tests on CI
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
Due: none

update frc api types
  src/backend/common/frc_api/types.py
Due: py3-type, py3-lint, py3-test

update frc api types (#9051)
  src/backend/common/frc_api/types.py
Due: py3-type, py3-lint, py3-test

add .venv/ to dockerignore
  .dockerignore
Due: none

Attempt to speed up Docker
  docker-compose.yml
Due: none

These fullstack tests are gonna kill me
  .github/workflows/comment_screenshots_on_pr.yml
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
Due: none

[pwa] Add search route
  pwa/app/lib/search/searchRedirect.test.ts
  pwa/app/lib/search/searchRedirect.ts
  pwa/app/routeTree.gen.ts
  pwa/app/routes/search.tsx
  pwa/tests/routes.spec.ts
Due: none

Lower TBA startup healthy time
  docker-compose.ci.yml
Due: none

Migrate regional advancement onto FRC API
  src/backend/common/frc_api/frc_api.py
  src/backend/tasks_io/datafeeds/datafeed_fms_api.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_regional_rankings_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_regional_rankings_parser_test.py
  src/backend/tasks_io/handlers/frc_api.py
  src/backend/tasks_io/handlers/regional_advancement_api.py
  src/backend/tasks_io/handlers/tests/regional_advancement_api_test.py
  src/backend/tasks_io/main.py
Due: py3-type, py3-lint, py3-test

PWA: Add myTBA write operations (favorite toggle & preferences) (#9035)
  pwa/app/components/tba/favoriteButton.tsx
  pwa/app/components/tba/preferencesDialog.tsx
  pwa/app/firebase/firebaseConfig.tsx
  pwa/app/lib/hooks/useMyTBA.ts
  pwa/app/lib/myTBAConstants.ts
  pwa/app/routeTree.gen.ts
  pwa/app/routes/__root.tsx
  pwa/app/routes/account.mytba.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/team.$teamNumber.{-$year}.tsx
  pwa/app/vite-env.d.ts
  pwa/default.env
  pwa/tests/mytba-write.spec.ts
  pwa/tests/routes.spec.ts
Due: none

[pwa] Improve leaderboard styles
  pwa/app/components/tba/cards.tsx
  pwa/app/components/tba/leaderboard.tsx
  pwa/app/components/tba/links.tsx
  pwa/app/routeTree.gen.ts
  pwa/app/routes/insights.{-$year}.tsx
Due: none

Add district list page to PWA
  pwa/app/components/tba/links.tsx
  pwa/app/routeTree.gen.ts
  pwa/app/routes/districts.{-$year}.tsx
  pwa/tests/routes.spec.ts
Due: none

Add District Points tab to event detail page
  pwa/app/routes/event.$eventKey.tsx
Due: none

Add webcasts list page to PWA
  pwa/app/routeTree.gen.ts
  pwa/app/routes/webcasts.tsx
  pwa/tests/routes.spec.ts
Due: none

Add match CSV export button to event Results tab
  pwa/app/lib/csvExport.ts
  pwa/app/routes/event.$eventKey.tsx
Due: none

Add edit profile and delete account dialogs
  pwa/app/routes/account.index.tsx
Due: none

Add favorite button to match page
  pwa/app/routes/match.$matchKey.tsx
Due: none

Add 2022 Rapid React score breakdown to PWA
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/match/scoreBreakdown2022.tsx
Due: none

PWA: Add score breakdowns for 2016, 2017, 2019, 2020
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/match/scoreBreakdown2016.tsx
  pwa/app/components/tba/match/scoreBreakdown2017.tsx
  pwa/app/components/tba/match/scoreBreakdown2019.tsx
  pwa/app/components/tba/match/scoreBreakdown2020.tsx
Due: none

PWA: Add Zebra MotionWorks field visualization on match pages
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/match/zebraMotionWorks.tsx
Due: none

PWA: Add season-aware homepage with phase detection
  pwa/app/routes/index.tsx
Due: none

PWA: Add Schema.org structured data to event, match, and team pages
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/match.$matchKey.tsx
  pwa/app/routes/team.$teamNumber.{-$year}.tsx
Due: none

PWA: Enhance media type coverage with unified URL helpers
  pwa/app/components/tba/teamRobotPicsCarousel.tsx
  pwa/app/lib/mediaUtils.ts
  pwa/app/routes/team.$teamNumber.{-$year}.tsx
Due: none

PWA: Add myTBA live dashboard showing favorited team status
  pwa/app/routes/mytba.tsx
  pwa/tests/routes.spec.ts
Due: none

PWA: Add Hall of Fame standalone page
  pwa/app/routeTree.gen.ts
  pwa/app/routes/hall-of-fame.tsx
  pwa/tests/routes.spec.ts
Due: none

PWA: Add traditional single-elimination bracket visualization
  pwa/app/components/tba/traditionalBracket.tsx
  pwa/app/routes/event.$eventKey.tsx
Due: none

Add PWA screenshot comparison workflow for PRs
  .github/workflows/pwa_screenshots.yml
  ops/pwa/generate-screenshot-comment.mjs
  ops/pwa/take-screenshots.mjs
Due: node-lint, node-test

PWA: Add 4-team double elimination bracket visualization
  pwa/app/components/tba/doubleElim4TeamBracket.tsx
  pwa/app/routes/event.$eventKey.tsx
Due: none

[pwa] Add scouting tab to event pages with csv exports
  pwa/app/components/tba/scoutingExport.tsx
  pwa/app/components/tba/scoutingTab.tsx
  pwa/app/lib/csvUtils.test.ts
  pwa/app/lib/csvUtils.ts
  pwa/app/lib/scoutingUtils.test.ts
  pwa/app/lib/scoutingUtils.ts
  pwa/app/routeTree.gen.ts
  pwa/app/routes/event.$eventKey.tsx
Due: none

[pwa] Improve leaderboard styles (#9053)
  pwa/app/components/tba/cards.tsx
  pwa/app/components/tba/leaderboard.tsx
  pwa/app/components/tba/links.tsx
  pwa/app/routes/insights.{-$year}.tsx
Due: none

Fix: pass Firebase config to create_dotenv.sh
  .github/workflows/pwa_screenshots.yml
Due: none

Fix: set NODE_PATH so take-screenshots.mjs can find playwright
  .github/workflows/pwa_screenshots.yml
Due: none

Fix order of red/blue teams in scouting csv export
  src/backend/web/handlers/event.py
Due: py3-type, py3-lint, py3-test

Fix: resolve playwright dynamically from working directory
  .github/workflows/pwa_screenshots.yml
  ops/pwa/take-screenshots.mjs
Due: node-lint, node-test

PWA: Add OPR/DPR/CCWM table to event insights tab
  pwa/app/routes/event.$eventKey.tsx
Due: none

Fix: use @playwright/test instead of playwright for pnpm compat
  ops/pwa/take-screenshots.mjs
Due: node-lint, node-test

PWA: Add team playoff status badges to event Teams tab
  pwa/app/routes/event.$eventKey.tsx
Due: none

Only highlight pages with visual changes in screenshot comment
  ops/pwa/generate-screenshot-comment.mjs
Due: node-lint, node-test

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
