Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [pre-commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [pre-commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [pre-commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [pre-commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [pre-commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [pre-commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [pre-commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]
    - id: gcloud-sdk-version
      name: "Checking Google Cloud SDK Version"
      entry: ./ops/check_sdk_version.sh
      language: script
      always_run: true
      stages: [post-checkout]

[pwa] Cover the hooks, router, root layout, and Firebase config (#10846)
  pwa/app/firebase/firebaseConfig.test.tsx
  pwa/app/lib/hooks.test.tsx
  pwa/app/lib/hooks/useApiKeys.test.tsx
  pwa/app/lib/hooks/useFavoriteTeams.test.tsx
  pwa/app/lib/hooks/useModeration.test.tsx
  pwa/app/lib/hooks/useMyTBA.test.tsx
  pwa/app/router.test.tsx
  pwa/app/routes/-__root.test.tsx
  pwa/app/routes/__root.tsx
Due: none

[pwa] Replace v8 ignore hints in lib with testable refactors
  pwa/app/lib/gameday/firebaseQuery.test.ts
  pwa/app/lib/gameday/firebaseQuery.ts
  pwa/app/lib/gameday/useFirebaseMatchSuggestions.ts
  pwa/app/lib/gameday/useFirebaseWebcasts.ts
  pwa/app/lib/logger.test.ts
  pwa/app/lib/logger.ts
Due: none

Replace coverage pragmas in web handlers with refactors
  src/backend/web/handlers/admin/api_history.py
  src/backend/web/handlers/event.py
  src/backend/web/handlers/team_admin.py
Due: py3-type, py3-lint, py3-test

Replace eventwizard "unreachable" istanbul ignores with refactors
  src/frontend/eventwizard/components/eventAlliances/EventAlliancesTab.tsx
  src/frontend/eventwizard/components/eventAlliances/EventManualAlliances.tsx
  src/frontend/eventwizard/components/eventAlliances/__tests__/EventManualAlliances.test.tsx
  src/frontend/eventwizard/components/eventMatchResultsTab/FMSMatchResults.tsx
  src/frontend/eventwizard/components/eventMatchResultsTab/MatchResultsFromMatchPlay.tsx
  src/frontend/eventwizard/components/eventRankingsTab/EventRankingsTab.tsx
  src/frontend/eventwizard/components/eventScheduleTab/EventScheduleTab.tsx
  src/frontend/eventwizard/components/matchVideosTab/MatchVideosTab.tsx
  src/frontend/eventwizard/components/teamsTab/AddMultipleTeams.tsx
  src/frontend/eventwizard/components/teamsTab/AddRemoveSingleTeam.tsx
  src/frontend/eventwizard/components/teamsTab/AttendingTeamList.tsx
  src/frontend/eventwizard/utils/__tests__/singleTeamEdit.test.ts
  src/frontend/eventwizard/utils/singleTeamEdit.ts
Due: none

Replace insights no-cover pragmas with refactors
  src/backend/common/helpers/insights_helper.py
  src/backend/tasks_cpu/handlers/insights.py
Due: py3-type, py3-lint, py3-test

Drop dead game_specific branches instead of ignoring them
  src/backend/common/game_specific/seasons/game_specifics_2016.py
  src/backend/common/game_specific/seasons/game_specifics_2017.py
  src/backend/common/game_specific/seasons/game_specifics_2018.py
  src/backend/common/game_specific/seasons/game_specifics_2019.py
  src/backend/common/game_specific/seasons/game_specifics_2020.py
  src/backend/common/game_specific/seasons/game_specifics_2022.py
  src/backend/common/game_specific/seasons/game_specifics_2023.py
Due: py3-type, py3-lint, py3-test

Delete dead year_diff branches in prediction priors
  src/backend/common/helpers/prediction_helper.py
Due: py3-type, py3-lint, py3-test

[pwa] Make TeamMediaGallery's media switch exhaustive by type
  pwa/app/components/tba/teamMediaGallery.tsx
  pwa/app/lib/mediaUtils.ts
Due: none

Remove dead branches from the FMS API match parser
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
Due: py3-type, py3-lint, py3-test

[pwa] Type matchTokens by comp level instead of ignoring its default arm
  pwa/app/lib/moderationUtils.ts
Due: none

Restore the 2015 null-team repair; keep only the startTime refactor
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
Due: py3-type, py3-lint, py3-test

Drop the dead 2021 branch in renderable_rankings
  src/backend/common/models/event_details.py
Due: py3-type, py3-lint, py3-test

Cover the eventwizard frontend (#10842)
  src/frontend/eventwizard/__tests__/eventwizard.test.tsx
  src/frontend/eventwizard/components/__tests__/AuthInput.test.tsx
  src/frontend/eventwizard/components/__tests__/AuthTools.test.tsx
  src/frontend/eventwizard/components/__tests__/EventSelector.test.tsx
  src/frontend/eventwizard/components/__tests__/EventSelector.unauthenticated.test.tsx
  src/frontend/eventwizard/components/__tests__/EventWizardTabFrame.test.tsx
  src/frontend/eventwizard/components/awardsTab/__tests__/AwardsTab.test.tsx
  src/frontend/eventwizard/components/eventAlliances/EventAlliancesTab.tsx
  src/frontend/eventwizard/components/eventAlliances/EventManualAlliances.tsx
  src/frontend/eventwizard/components/eventAlliances/__tests__/EventAlliancesTab.test.tsx
  src/frontend/eventwizard/components/eventAlliances/__tests__/EventManualAlliances.test.tsx
  src/frontend/eventwizard/components/eventAlliances/__tests__/FMSAllianceImport.test.tsx
  src/frontend/eventwizard/components/eventMatchResultsTab/FMSMatchResults.tsx
  src/frontend/eventwizard/components/eventMatchResultsTab/MatchResultsFromMatchPlay.tsx
  src/frontend/eventwizard/components/eventMatchResultsTab/__tests__/FMSMatchResults.test.tsx
  src/frontend/eventwizard/components/eventMatchResultsTab/__tests__/MatchResultsFromMatchPlay.test.tsx
  src/frontend/eventwizard/components/eventRankingsTab/EventRankingsTab.tsx
  src/frontend/eventwizard/components/eventRankingsTab/__tests__/EventRankingsTab.test.tsx
  src/frontend/eventwizard/components/eventScheduleTab/EventScheduleTab.tsx
  src/frontend/eventwizard/components/eventScheduleTab/__tests__/EventScheduleTab.test.tsx
  src/frontend/eventwizard/components/fmsCompanionTab/__tests__/FmsCompanionTab.test.tsx
  src/frontend/eventwizard/components/infoTab/__tests__/EventInfoTab.test.tsx
  src/frontend/eventwizard/components/matchVideosTab/MatchVideosTab.tsx
  src/frontend/eventwizard/components/matchVideosTab/__tests__/MatchVideosTab.test.tsx
  src/frontend/eventwizard/components/teamsTab/AddMultipleTeams.tsx
  src/frontend/eventwizard/components/teamsTab/AddRemoveSingleTeam.tsx
  src/frontend/eventwizard/components/teamsTab/AttendingTeamList.tsx
  src/frontend/eventwizard/components/teamsTab/__tests__/AddMultipleTeams.test.tsx
  src/frontend/eventwizard/components/teamsTab/__tests__/AddRemoveSingleTeam.clear.test.tsx
  src/frontend/eventwizard/components/teamsTab/__tests__/AddRemoveSingleTeam.test.tsx
  src/frontend/eventwizard/components/teamsTab/__tests__/AddTeamsFMSReport.test.tsx
  src/frontend/eventwizard/components/teamsTab/__tests__/TeamListTab.test.tsx
  src/frontend/eventwizard/containers/__tests__/containers.test.tsx
  src/frontend/eventwizard/reducers/__tests__/index.test.ts
  src/frontend/eventwizard/utils/__tests__/parserReadFailures.test.ts
  src/frontend/eventwizard/utils/__tests__/playoffHelpers.test.ts
  src/frontend/eventwizard/utils/__tests__/singleTeamEdit.test.ts
  src/frontend/eventwizard/utils/singleTeamEdit.ts
Due: none

Replace coverage pragmas in common helpers with refactors
  src/backend/common/consts/nexus_match_status.py
  src/backend/common/consts/tests/nexus_match_status_test.py
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/insights_v2/leaderboards/calculator.py
  src/backend/common/helpers/insights_v2/leaderboards/highest_endgame_score.py
  src/backend/common/helpers/insights_v2/timeseries/high_score_over_time.py
  src/backend/common/helpers/match_tiebreakers.py
  src/backend/common/helpers/mytba.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/highest_endgame_score_test.py
  src/backend/common/helpers/youtube_video_helper.py
Due: py3-type, py3-lint, py3-test

Fix Bug #19: require ENSEMBLE, not MELODY twice, for a 2024 RP sweep
  src/backend/common/game_specific/seasons/game_specifics_2024.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2024_test.py
Due: py3-type, py3-lint, py3-test

[pwa] Fix Bug #52: value 2019 HAB Level 2/3 climbs at 6/12 points
  pwa/app/components/tba/match/scoreBreakdown2019.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2019.tsx
Due: none

Fix Bug #21: count 2026 AUTO climbs one way, capped at 2 per alliance
  src/backend/common/game_specific/seasons/game_specifics_2026.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2026_test.py
Due: py3-type, py3-lint, py3-test

Fix Bug #22: decide the 2026 AUTO winner on AUTO FUEL, not totalAutoPoints
  src/backend/common/game_specific/seasons/game_specifics_2026.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2026_test.py
  src/backend/common/helpers/tests/data/2026marea_insights.json
Due: py3-type, py3-lint, py3-test

[pwa] Fix Bug #54: show 2018 fouls received from the opponent's counts
  pwa/app/components/tba/match/scoreBreakdown2018.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2018.tsx
Due: none

Fix Bug #32: normalize "Teams"/"teams" before merging FRC API matches
  src/backend/common/frc_api/frc_api.py
  src/backend/common/frc_api/tests/frcapi_test.py
Due: py3-type, py3-lint, py3-test

[pwa] Fix Bug #56: show 2023/2024 fouls from the opponent's counts
  pwa/app/components/tba/match/scoreBreakdown2023.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2023.tsx
  pwa/app/components/tba/match/scoreBreakdown2024.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2024.tsx
Due: none

Fix Bug #24: compute and apply the 2024/2025 bonus-RP secondary stats
  src/backend/common/game_specific/seasons/game_specifics_2024.py
  src/backend/common/game_specific/seasons/game_specifics_2025.py
  src/backend/common/helpers/prediction_helper.py
  src/backend/common/helpers/tests/predictions_helper_test.py
Due: py3-type, py3-lint, py3-test

Bug #19: cite the correct manual page for Table 6-2 (p. 49)
  src/backend/common/game_specific/seasons/tests/game_specifics_2024_test.py
Due: py3-type, py3-lint, py3-test

[pwa] Fix Bug #57: mark 2024 robots spotlit from the microphone flags
  pwa/app/components/tba/match/scoreBreakdown2024.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2024.tsx
Due: none

Add screenshots for PRs #10861, #10870, #10903, #10906
  pr-10861-hab-after-dark.png
  pr-10861-hab-after-light.png
  pr-10861-hab-before-dark.png
  pr-10861-hab-before-light.png
  pr-10861-hab-diff-dark.png
  pr-10861-hab-diff-light.png
  pr-10870-fouls-after-dark.png
  pr-10870-fouls-after-light.png
  pr-10870-fouls-before-dark.png
  pr-10870-fouls-before-light.png
  pr-10870-fouls-diff-dark.png
  pr-10870-fouls-diff-light.png
  pr-10903-fouls-2023-after-dark.png
  pr-10903-fouls-2023-after-light.png
  pr-10903-fouls-2023-before-dark.png
  pr-10903-fouls-2023-before-light.png
  pr-10903-fouls-2023-diff-dark.png
  pr-10903-fouls-2023-diff-light.png
  pr-10903-fouls-2024-after-dark.png
  pr-10903-fouls-2024-after-light.png
  pr-10903-fouls-2024-before-dark.png
  pr-10903-fouls-2024-before-light.png
  pr-10903-fouls-2024-diff-dark.png
  pr-10903-fouls-2024-diff-light.png
  pr-10906-spotlit-f1m1-after-dark.png
  pr-10906-spotlit-f1m1-after-light.png
  pr-10906-spotlit-f1m1-before-dark.png
  pr-10906-spotlit-f1m1-before-light.png
  pr-10906-spotlit-f1m1-diff-dark.png
  pr-10906-spotlit-f1m1-diff-light.png
  pr-10906-spotlit-sf13m1-after-dark.png
  pr-10906-spotlit-sf13m1-after-light.png
  pr-10906-spotlit-sf13m1-before-dark.png
  pr-10906-spotlit-sf13m1-before-light.png
  pr-10906-spotlit-sf13m1-diff-dark.png
  pr-10906-spotlit-sf13m1-diff-light.png
Due: none

[pwa] Cover the remaining top-level tba components (#10849)
  pwa/app/components/tba/addToCalendarLinks.test.tsx
  pwa/app/components/tba/allianceSelectionTable.test.tsx
  pwa/app/components/tba/awardRecipientLink.test.tsx
  pwa/app/components/tba/banner.test.tsx
  pwa/app/components/tba/cards.test.tsx
  pwa/app/components/tba/componentOprsTable.test.tsx
  pwa/app/components/tba/dataTable.test.tsx
  pwa/app/components/tba/detailEntity.test.tsx
  pwa/app/components/tba/doubleSlider.test.tsx
  pwa/app/components/tba/eliminationBracket.test.tsx
  pwa/app/components/tba/eventRankTooltip.test.tsx
  pwa/app/components/tba/eventSuccessRateTable.test.tsx
  pwa/app/components/tba/favoriteTeamsSection.test.tsx
  pwa/app/components/tba/globalLoadingProgress.test.tsx
  pwa/app/components/tba/insightCard.test.tsx
  pwa/app/components/tba/kickoffCountdown.test.tsx
  pwa/app/components/tba/leaderboard.test.tsx
  pwa/app/components/tba/links.test.tsx
  pwa/app/components/tba/preferencesDialog.test.tsx
  pwa/app/components/tba/roundRobinRankingsTable.test.tsx
  pwa/app/components/tba/scoutingTab.test.tsx
  pwa/app/components/tba/smugmugAlbumGallery.test.tsx
  pwa/app/components/tba/socialBadges.test.tsx
  pwa/app/components/tba/streakInsight.test.tsx
  pwa/app/components/tba/successRateInsight.test.tsx
  pwa/app/components/tba/tableOfContents.test.tsx
  pwa/app/components/tba/teamAvatar.test.tsx
  pwa/app/components/tba/teamListTable.test.tsx
  pwa/app/components/tba/teamMediaGallery.test.tsx
  pwa/app/components/tba/teamMediaGallery.tsx
  pwa/app/components/tba/teamPageTeamInfo.test.tsx
  pwa/app/components/tba/teamRobotPicsCarousel.test.tsx
  pwa/app/components/tba/teamSocialMediaList.test.tsx
  pwa/app/components/tba/teamTooltip.test.tsx
  pwa/app/components/tba/timeseriesInsight.test.tsx
  pwa/app/components/tba/yearSelector.test.tsx
  pwa/app/lib/mediaUtils.ts
Due: none

Close the last coverage gaps found by the combined measurement (#10852)
  pwa/app/lib/moderationUtils.ts
  src/backend/common/helpers/tests/match_time_prediction_helper_test.py
  src/frontend/apidocs/__tests__/apidocs.test.js
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Re-apply the Bug test dropped by the main-merge rebuild
  pwa/app/components/tba/eliminationBracket.test.tsx
Due: none

Re-apply the Bug test dropped by the main-merge rebuild
  pwa/app/components/tba/allianceSelectionTable.test.tsx
Due: none

Re-apply the Bug test dropped by the main-merge rebuild
  pwa/app/components/tba/doubleSlider.test.tsx
Due: none

Re-apply the Bug test dropped by the main-merge rebuild
  pwa/app/components/tba/teamPageTeamInfo.test.tsx
Due: none

Format the Bug #63 test with the PWA Prettier config
  pwa/app/components/tba/eliminationBracket.test.tsx
Due: none

Format the Bug #65 test with the PWA Prettier config
  pwa/app/components/tba/doubleSlider.test.tsx
Due: none

Format the Bug #66 test with the PWA Prettier config
  pwa/app/components/tba/teamPageTeamInfo.test.tsx
Due: none

Cover the remaining web service files (#10847)
  src/backend/web/handlers/admin/api_history.py
  src/backend/web/handlers/admin/tests/api_history_test.py
  src/backend/web/handlers/admin/tests/audit_logs_test.py
  src/backend/web/handlers/admin/tests/district_test.py
  src/backend/web/handlers/admin/tests/landing_test.py
  src/backend/web/handlers/admin/tests/regional_champs_pool_test.py
  src/backend/web/handlers/admin/tests/sitevars_test.py
  src/backend/web/handlers/admin/tests/suggestions_seed_test.py
  src/backend/web/handlers/admin/tests/team_media_mod_test.py
  src/backend/web/handlers/admin/tests/users_test.py
  src/backend/web/handlers/event.py
  src/backend/web/handlers/suggestions/tests/suggest_match_video_controller_test.py
  src/backend/web/handlers/suggestions/tests/suggest_offseason_event_controller_test.py
  src/backend/web/handlers/team_admin.py
  src/backend/web/handlers/tests/ajax_test.py
  src/backend/web/handlers/tests/apidocs_test.py
  src/backend/web/handlers/tests/district_detail_test.py
  src/backend/web/handlers/tests/embed_test.py
  src/backend/web/handlers/tests/event_detail_test.py
  src/backend/web/handlers/tests/event_list_test.py
  src/backend/web/handlers/tests/event_pitmap_test.py
  src/backend/web/handlers/tests/eventwizard_test.py
  src/backend/web/handlers/tests/insights_test.py
  src/backend/web/handlers/tests/regional_detail_test.py
  src/backend/web/handlers/tests/static_test.py
  src/backend/web/handlers/tests/suggest_team_admin_review_test.py
  src/backend/web/handlers/tests/team_detail_test.py
  src/backend/web/handlers/tests/team_threads_test.py
  src/backend/web/handlers/tests/webhooks_test.py
  src/backend/web/local/tests/blueprint_test.py
  src/backend/web/local/tests/bootstrap_test.py
  src/backend/web/local/tests/local_bootstrap_interface_test.py
  src/backend/web/tests/decorators_test.py
  src/backend/web/tests/jinja2_filters_test.py
Due: py3-type, py3-lint, py3-test

Cover the insights helpers and task handler (#10832)
  src/backend/common/helpers/insights_helper.py
  src/backend/common/helpers/tests/insights_districts_helper_test.py
  src/backend/common/helpers/tests/insights_helper_test.py
  src/backend/tasks_cpu/handlers/insights.py
  src/backend/tasks_cpu/handlers/tests/insights_test.py
Due: py3-type, py3-lint, py3-test

Cover the game_specific package (#10833)
  src/backend/common/game_specific/seasons/game_specifics_2016.py
  src/backend/common/game_specific/seasons/game_specifics_2017.py
  src/backend/common/game_specific/seasons/game_specifics_2018.py
  src/backend/common/game_specific/seasons/game_specifics_2019.py
  src/backend/common/game_specific/seasons/game_specifics_2020.py
  src/backend/common/game_specific/seasons/game_specifics_2022.py
  src/backend/common/game_specific/seasons/game_specifics_2023.py
  src/backend/common/game_specific/seasons/tests/base_test.py
  src/backend/common/game_specific/seasons/tests/conftest.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2016_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2017_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2018_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2019_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2020_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2021_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2022_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2023_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2024_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2025_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2026_test.py
  src/backend/common/helpers/tests/data/2026marea_insights.json
Due: py3-type, py3-lint, py3-test
