Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]

Port delete event matches to admin panel (#5024)
  old_py2/admin_main.py
  old_py2/controllers/admin/admin_event_controller.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/event.py
  src/backend/web/handlers/suggestions/suggest_team_media_review_controller.py
Due: py3-type, py3-lint, py3-test

Rework double elim match keys to use SF1-13
  src/backend/common/consts/playoff_type.py
  src/backend/common/helpers/match_helper.py
  src/backend/common/helpers/playoff_advancement_helper.py
  src/backend/common/helpers/playoff_type_helper.py
  src/backend/common/helpers/tests/match_helper_test.py
  src/backend/common/models/match.py
  src/backend/web/templates/bracket_partials/double_elim_bracket_table_pre_2023.html
  src/backend/web/templates/event_details.html
Due: py3-type, py3-lint, py3-test

lint
  src/backend/common/helpers/match_helper.py
  src/backend/common/helpers/playoff_advancement_helper.py
  src/backend/common/helpers/playoff_type_helper.py
  src/backend/common/helpers/tests/match_helper_test.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/event.py
  src/backend/web/handlers/suggestions/suggest_team_media_review_controller.py
Due: py3-type, py3-lint, py3-test

Fixes
  src/backend/common/helpers/tests/match_helper_test.py
Due: py3-type, py3-lint, py3-test

Test bugfix
  src/backend/common/helpers/tests/match_helper_test.py
Due: py3-type, py3-lint, py3-test

2023 event insights
  src/backend/common/helpers/event_insights_helper.py
  src/backend/tasks_io/handlers/math.py
  src/backend/tasks_io/templates/math/event_matchstats_do.html
  src/backend/web/templates/event_partials/event_insights_2022.html
  src/backend/web/templates/event_partials/event_insights_2023.html
Due: py3-type, py3-lint, py3-test

Remove bad test
  src/backend/common/helpers/tests/match_helper_test.py
Due: py3-type, py3-lint, py3-test

Rework double elim match keys (#5025)
  src/backend/common/consts/playoff_type.py
  src/backend/common/helpers/match_helper.py
  src/backend/common/helpers/playoff_advancement_helper.py
  src/backend/common/helpers/playoff_type_helper.py
  src/backend/common/helpers/tests/match_helper_test.py
  src/backend/common/models/match.py
  src/backend/web/templates/bracket_partials/double_elim_bracket_table_pre_2023.html
  src/backend/web/templates/event_details.html
Due: py3-type, py3-lint, py3-test

2023 event insights (#5026)
  src/backend/common/helpers/event_insights_helper.py
  src/backend/tasks_io/handlers/math.py
  src/backend/tasks_io/templates/math/event_matchstats_do.html
  src/backend/web/templates/event_partials/event_insights_2022.html
  src/backend/web/templates/event_partials/event_insights_2023.html
Due: py3-type, py3-lint, py3-test

add tba key
  src/backend/web/handlers/admin/authkeys.py
  src/backend/web/templates/admin/authkeys.html
Due: py3-type, py3-lint, py3-test

Add RP dots
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2023.html
  src/backend/web/templates/match_partials/match_table_cell_macros.html
Due: none

Add coopertition to event insights
  src/backend/common/helpers/event_insights_helper.py
  src/backend/web/templates/event_partials/event_insights_2023.html
Due: py3-type, py3-lint, py3-test

[2023] Add RP dots & compute coopertititon insights (#5028)
  src/backend/common/helpers/event_insights_helper.py
  src/backend/web/templates/event_partials/event_insights_2023.html
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2023.html
  src/backend/web/templates/match_partials/match_table_cell_macros.html
Due: py3-type, py3-lint, py3-test

Prettier link rendering
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2023.html
Due: none

Round node corners
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2023.html
Due: none

Handle flipped red
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2023.html
Due: none

Fix switched cone/cube icon
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2023.html
Due: none

[2023] Make scoring location breakdown prettier (#5029)
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2023.html
Due: none

Improve readability of cOPRs (#5013)
  src/backend/web/handlers/event.py
  src/backend/web/templates/event_partials/event_copr_table.html
Due: py3-type, py3-lint, py3-test

add tba key (#5027)
  src/backend/web/handlers/admin/authkeys.py
  src/backend/web/templates/admin/authkeys.html
Due: py3-type, py3-lint, py3-test

Fix myTBA page 500-ing for live events
  src/backend/web/handlers/mytba.py
Due: py3-type, py3-lint, py3-test

Fix myTBA page 500-ing for live events (#5035)
  src/backend/web/handlers/mytba.py
Due: py3-type, py3-lint, py3-test

Add new component OPRs for cubes and cones
  src/backend/common/helpers/matchstats_helper.py
Due: py3-type, py3-lint, py3-test

Fix OPRs
  src/backend/common/helpers/matchstats_helper.py
Due: py3-type, py3-lint, py3-test

move css to webpack
  ops/build/do_compress.py
  ops/build/run_buildweb.sh
  package-lock.json
  package.json
  webpack.config.js
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Opr fix2 (#5036)
  src/backend/common/helpers/matchstats_helper.py
Due: py3-type, py3-lint, py3-test

Migrate less compilation to webpack (#5037)
  ops/build/do_compress.py
  ops/build/run_buildweb.sh
  package-lock.json
  package.json
  webpack.config.js
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Fix less math syntax. Fixes #5039
  src/backend/web/static/css/less_css/less/tba/tba_navbar.less
Due: none

Fix less math syntax. Fixes #5039 (#5040)
  src/backend/web/static/css/less_css/less/tba/tba_navbar.less
Due: none

Allow 2 digit semifinal set number in match validation
  src/backend/common/models/match.py
Due: py3-type, py3-lint, py3-test

Update tests
  src/backend/common/models/tests/match_test.py
Due: py3-type, py3-lint, py3-test

Allow 2 digit semifinal set number in match validation (#5041)
  src/backend/common/models/match.py
  src/backend/common/models/tests/match_test.py
Due: py3-type, py3-lint, py3-test

Hide Covid information to hide for events out of 2022
  src/backend/web/templates/event_details.html
Due: none

Fix blue banner after switching to webpack for less
  src/backend/web/static/css/less_css/less/tba/tba_blue_banners.less
Due: none

Fix blue banner after switching to webpack for less (#5044)
  src/backend/web/static/css/less_css/less/tba/tba_blue_banners.less
Due: none

Relax zebra data teams check
  src/backend/api/handlers/trusted.py
  src/backend/common/models/tests/match_test.py
Due: py3-type, py3-lint, py3-test

Update tests
  src/backend/api/handlers/tests/add_match_zebra_motionworks_data_test.py
Due: py3-type, py3-lint, py3-test

Relax zebra data teams check (#5047)
  src/backend/api/handlers/tests/add_match_zebra_motionworks_data_test.py
  src/backend/api/handlers/trusted.py
  src/backend/common/models/tests/match_test.py
Due: py3-type, py3-lint, py3-test

Hide Covid information to hide for events out of 2022 (#5042)
  src/backend/web/templates/event_details.html
Due: none

Bootstrap local zebra data
  src/backend/web/local/bootstrap.py
Due: py3-type, py3-lint, py3-test
