Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

[pwa] Cover the 2022–2026 score breakdowns, match rows, details, and modal
  pwa/app/components/tba/match/matchDetails.test.tsx
  pwa/app/components/tba/match/matchModal.test.tsx
  pwa/app/components/tba/match/matchRows.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2022.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2023.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2024.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2025.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2026.test.tsx
  pwa/app/components/tba/match/scoreByShift2026.test.tsx
Due: none

[pwa] Cover the ui primitives
  pwa/app/components/ui/accordion.test.tsx
  pwa/app/components/ui/animated-tabs.test.tsx
  pwa/app/components/ui/animatedTabIndicator.test.tsx
  pwa/app/components/ui/avatar.test.tsx
  pwa/app/components/ui/breadcrumb.test.tsx
  pwa/app/components/ui/card.test.tsx
  pwa/app/components/ui/carousel.test.tsx
  pwa/app/components/ui/chart.test.tsx
  pwa/app/components/ui/command.test.tsx
  pwa/app/components/ui/credenza.test.tsx
  pwa/app/components/ui/dialog.test.tsx
  pwa/app/components/ui/divider.test.tsx
  pwa/app/components/ui/drawer.test.tsx
  pwa/app/components/ui/dropdown-menu.test.tsx
  pwa/app/components/ui/navigation-menu.test.tsx
  pwa/app/components/ui/popover.test.tsx
  pwa/app/components/ui/progress.test.tsx
  pwa/app/components/ui/select.test.tsx
  pwa/app/components/ui/skeleton.test.tsx
  pwa/app/components/ui/slider.test.tsx
  pwa/app/components/ui/sonner.test.tsx
  pwa/app/components/ui/table.test.tsx
  pwa/app/components/ui/tabs.test.tsx
  pwa/app/components/ui/toc.test.tsx
Due: none

Cover the eventwizard frontend
  src/frontend/eventwizard/__tests__/eventwizard.test.tsx
  src/frontend/eventwizard/components/__tests__/AuthInput.test.tsx
  src/frontend/eventwizard/components/__tests__/AuthTools.test.tsx
  src/frontend/eventwizard/components/__tests__/EventSelector.test.tsx
  src/frontend/eventwizard/components/__tests__/EventSelector.unauthenticated.test.tsx
  src/frontend/eventwizard/components/__tests__/EventWizardTabFrame.test.tsx
  src/frontend/eventwizard/components/awardsTab/__tests__/AwardsTab.test.tsx
  src/frontend/eventwizard/components/eventAlliances/EventAlliancesTab.tsx
  src/frontend/eventwizard/components/eventAlliances/__tests__/EventAlliancesTab.test.tsx
  src/frontend/eventwizard/components/eventAlliances/__tests__/EventManualAlliances.test.tsx
  src/frontend/eventwizard/components/eventAlliances/__tests__/FMSAllianceImport.test.tsx
  src/frontend/eventwizard/components/eventMatchResultsTab/FMSMatchResults.tsx
  src/frontend/eventwizard/components/eventMatchResultsTab/MatchResultsFromMatchPlay.tsx
  src/frontend/eventwizard/components/eventMatchResultsTab/__tests__/FMSMatchResults.test.tsx
  src/frontend/eventwizard/components/eventMatchResultsTab/__tests__/MatchResultsFromMatchPlay.test.tsx
  src/frontend/eventwizard/components/eventRankingsTab/EventRankingsTab.tsx
  src/frontend/eventwizard/components/eventRankingsTab/__tests__/EventRankingsTab.test.tsx
  src/frontend/eventwizard/components/eventScheduleTab/EventScheduleTab.tsx
  src/frontend/eventwizard/components/eventScheduleTab/__tests__/EventScheduleTab.test.tsx
  src/frontend/eventwizard/components/fmsCompanionTab/__tests__/FmsCompanionTab.test.tsx
  src/frontend/eventwizard/components/infoTab/__tests__/EventInfoTab.test.tsx
  src/frontend/eventwizard/components/matchVideosTab/MatchVideosTab.tsx
  src/frontend/eventwizard/components/matchVideosTab/__tests__/MatchVideosTab.test.tsx
  src/frontend/eventwizard/components/teamsTab/AddMultipleTeams.tsx
  src/frontend/eventwizard/components/teamsTab/AddRemoveSingleTeam.tsx
  src/frontend/eventwizard/components/teamsTab/AttendingTeamList.tsx
  src/frontend/eventwizard/components/teamsTab/__tests__/AddMultipleTeams.test.tsx
  src/frontend/eventwizard/components/teamsTab/__tests__/AddRemoveSingleTeam.clear.test.tsx
  src/frontend/eventwizard/components/teamsTab/__tests__/AddRemoveSingleTeam.test.tsx
  src/frontend/eventwizard/components/teamsTab/__tests__/AddTeamsFMSReport.test.tsx
  src/frontend/eventwizard/components/teamsTab/__tests__/TeamListTab.test.tsx
  src/frontend/eventwizard/containers/__tests__/containers.test.tsx
  src/frontend/eventwizard/reducers/__tests__/index.test.ts
  src/frontend/eventwizard/utils/__tests__/parserReadFailures.test.ts
  src/frontend/eventwizard/utils/__tests__/playoffHelpers.test.ts
Due: none

[pwa] Test the remaining ui primitives directly
  pwa/app/components/ui/badge.test.tsx
  pwa/app/components/ui/checkbox.test.tsx
  pwa/app/components/ui/input.test.tsx
  pwa/app/components/ui/kbd.test.tsx
  pwa/app/components/ui/scroll-area.test.tsx
  pwa/app/components/ui/separator.test.tsx
  pwa/app/components/ui/spinner.test.tsx
  pwa/app/components/ui/tooltip.test.tsx
Due: none

[pwa] Cover the brackets, rankings, and team stats components
  pwa/app/components/tba/districtChampsTab.test.tsx
  pwa/app/components/tba/doubleElim4TeamBracket.test.tsx
  pwa/app/components/tba/eliminationBracketPaths.test.tsx
  pwa/app/components/tba/rankingsTable.test.tsx
  pwa/app/components/tba/teamAwardsSummary.test.tsx
  pwa/app/components/tba/teamEventAppearance.test.tsx
  pwa/app/components/tba/teamMatchStats.test.tsx
  pwa/app/components/tba/traditionalBracket.test.tsx
Due: none

Cover gameday2 state, liveevent, and zebramotionworks
  src/frontend/gameday2/__tests__/gameday2.test.js
  src/frontend/gameday2/actions/__tests__/actions.test.js
  src/frontend/gameday2/containers/__tests__/containers.test.js
  src/frontend/gameday2/reducers/__tests__/chats.test.js
  src/frontend/gameday2/reducers/__tests__/index.test.js
  src/frontend/gameday2/reducers/__tests__/videoGrid.test.js
  src/frontend/gameday2/reducers/__tests__/visibility.test.js
  src/frontend/gameday2/reducers/__tests__/webcastsById.test.js
  src/frontend/gameday2/selectors/__tests__/selectors.test.js
  src/frontend/liveevent/__tests__/firebaseapp.test.js
  src/frontend/liveevent/__tests__/helpers.test.js
  src/frontend/liveevent/__tests__/liveevent.test.js
  src/frontend/liveevent/components/__tests__/CurrentMatchDisplay.test.js
  src/frontend/liveevent/components/__tests__/LastMatchesTable.test.js
  src/frontend/liveevent/components/__tests__/LiveEventPanel.test.js
  src/frontend/liveevent/components/__tests__/PowerupCount.test.js
  src/frontend/liveevent/components/__tests__/UpcomingMatchesTable.test.js
  src/frontend/zebramotionworks/__tests__/zebramotionworks.test.js
  src/frontend/zebramotionworks/components/__tests__/HeatmapVisualizer.test.js
  src/frontend/zebramotionworks/components/__tests__/RobotTrajectory.test.js
  src/frontend/zebramotionworks/components/__tests__/TrajectoryVisualizer.test.js
  src/frontend/zebramotionworks/components/__tests__/ZebraMotionWorksVisualizer.test.js
Due: node-lint, node-test

[pwa] Cover the hooks, router, root layout, and Firebase config
  pwa/app/firebase/firebaseConfig.test.tsx
  pwa/app/lib/hooks.test.tsx
  pwa/app/lib/hooks/useApiKeys.test.tsx
  pwa/app/lib/hooks/useFavoriteTeams.test.tsx
  pwa/app/lib/hooks/useModeration.test.tsx
  pwa/app/lib/hooks/useMyTBA.test.tsx
  pwa/app/router.test.tsx
  pwa/app/routes/-__root.test.tsx
Due: none

Cover the remaining web service files
  src/backend/web/handlers/admin/api_history.py
  src/backend/web/handlers/admin/tests/api_history_test.py
  src/backend/web/handlers/admin/tests/audit_logs_test.py
  src/backend/web/handlers/admin/tests/district_test.py
  src/backend/web/handlers/admin/tests/landing_test.py
  src/backend/web/handlers/admin/tests/regional_champs_pool_test.py
  src/backend/web/handlers/admin/tests/sitevars_test.py
  src/backend/web/handlers/admin/tests/suggestions_seed_test.py
  src/backend/web/handlers/admin/tests/team_media_mod_test.py
  src/backend/web/handlers/admin/tests/users_test.py
  src/backend/web/handlers/event.py
  src/backend/web/handlers/suggestions/tests/suggest_match_video_controller_test.py
  src/backend/web/handlers/suggestions/tests/suggest_offseason_event_controller_test.py
  src/backend/web/handlers/team_admin.py
  src/backend/web/handlers/tests/ajax_test.py
  src/backend/web/handlers/tests/apidocs_test.py
  src/backend/web/handlers/tests/district_detail_test.py
  src/backend/web/handlers/tests/embed_test.py
  src/backend/web/handlers/tests/event_detail_test.py
  src/backend/web/handlers/tests/event_list_test.py
  src/backend/web/handlers/tests/event_pitmap_test.py
  src/backend/web/handlers/tests/eventwizard_test.py
  src/backend/web/handlers/tests/insights_test.py
  src/backend/web/handlers/tests/regional_detail_test.py
  src/backend/web/handlers/tests/static_test.py
  src/backend/web/handlers/tests/suggest_team_admin_review_test.py
  src/backend/web/handlers/tests/team_detail_test.py
  src/backend/web/handlers/tests/team_threads_test.py
  src/backend/web/handlers/tests/webhooks_test.py
  src/backend/web/local/tests/blueprint_test.py
  src/backend/web/local/tests/bootstrap_test.py
  src/backend/web/local/tests/local_bootstrap_interface_test.py
  src/backend/web/tests/decorators_test.py
  src/backend/web/tests/jinja2_filters_test.py
Due: py3-type, py3-lint, py3-test

[pwa] Cover the remaining top-level tba components
  pwa/app/components/tba/addToCalendarLinks.test.tsx
  pwa/app/components/tba/allianceSelectionTable.test.tsx
  pwa/app/components/tba/awardRecipientLink.test.tsx
  pwa/app/components/tba/banner.test.tsx
  pwa/app/components/tba/cards.test.tsx
  pwa/app/components/tba/componentOprsTable.test.tsx
  pwa/app/components/tba/dataTable.test.tsx
  pwa/app/components/tba/detailEntity.test.tsx
  pwa/app/components/tba/doubleSlider.test.tsx
  pwa/app/components/tba/eliminationBracket.test.tsx
  pwa/app/components/tba/eventRankTooltip.test.tsx
  pwa/app/components/tba/eventSuccessRateTable.test.tsx
  pwa/app/components/tba/favoriteTeamsSection.test.tsx
  pwa/app/components/tba/globalLoadingProgress.test.tsx
  pwa/app/components/tba/insightCard.test.tsx
  pwa/app/components/tba/kickoffCountdown.test.tsx
  pwa/app/components/tba/leaderboard.test.tsx
  pwa/app/components/tba/links.test.tsx
  pwa/app/components/tba/preferencesDialog.test.tsx
  pwa/app/components/tba/roundRobinRankingsTable.test.tsx
  pwa/app/components/tba/scoutingTab.test.tsx
  pwa/app/components/tba/smugmugAlbumGallery.test.tsx
  pwa/app/components/tba/socialBadges.test.tsx
  pwa/app/components/tba/streakInsight.test.tsx
  pwa/app/components/tba/successRateInsight.test.tsx
  pwa/app/components/tba/tableOfContents.test.tsx
  pwa/app/components/tba/teamAvatar.test.tsx
  pwa/app/components/tba/teamListTable.test.tsx
  pwa/app/components/tba/teamMediaGallery.test.tsx
  pwa/app/components/tba/teamMediaGallery.tsx
  pwa/app/components/tba/teamPageTeamInfo.test.tsx
  pwa/app/components/tba/teamRobotPicsCarousel.test.tsx
  pwa/app/components/tba/teamSocialMediaList.test.tsx
  pwa/app/components/tba/teamTooltip.test.tsx
  pwa/app/components/tba/timeseriesInsight.test.tsx
  pwa/app/components/tba/yearSelector.test.tsx
Due: none

[pwa] Cover the moderation, account, auth, navigation, gameday, and chart components
  pwa/app/components/tba/account/apiKeys.test.tsx
  pwa/app/components/tba/auth/auth.test.tsx
  pwa/app/components/tba/auth/loginPage.test.tsx
  pwa/app/components/tba/auth/signInButton.test.tsx
  pwa/app/components/tba/auth/signInWithAppleButton.test.tsx
  pwa/app/components/tba/auth/signInWithGoogleButton.test.tsx
  pwa/app/components/tba/charts/coprScatterChart.test.tsx
  pwa/app/components/tba/gameday/ChatSidebar.test.tsx
  pwa/app/components/tba/gameday/GamedayFrame.test.tsx
  pwa/app/components/tba/gameday/GamedayToolbar.test.tsx
  pwa/app/components/tba/gameday/LayoutIcon.test.tsx
  pwa/app/components/tba/gameday/LayoutSelector.test.tsx
  pwa/app/components/tba/gameday/MatchRecommendationsPanel.test.tsx
  pwa/app/components/tba/gameday/SwapPositionDialog.test.tsx
  pwa/app/components/tba/gameday/VideoCell.test.tsx
  pwa/app/components/tba/gameday/VideoGrid.test.tsx
  pwa/app/components/tba/gameday/WebcastEmbed.test.tsx
  pwa/app/components/tba/gameday/WebcastSelectorDialog.test.tsx
  pwa/app/components/tba/gameday/WebcastTypeIcon.test.tsx
  pwa/app/components/tba/moderation/keyboardShortcutsDialog.test.tsx
  pwa/app/components/tba/moderation/reviewGuidelines.test.ts
  pwa/app/components/tba/moderation/reviewGuidelines.test.tsx
  pwa/app/components/tba/moderation/suggestionReviewCard.test.tsx
  pwa/app/components/tba/navigation/footer.test.tsx
  pwa/app/components/tba/navigation/navbar.test.tsx
  pwa/app/components/tba/navigation/searchModal.test.tsx
Due: none

[pwa] Exclude the router plugin's HMR code from __root.tsx coverage
  pwa/app/routes/__root.tsx
Due: none

Omit test files from Python coverage
  .coveragerc
Due: none

Close the last coverage gaps found by the combined measurement
  pwa/app/lib/moderationUtils.ts
  src/backend/common/helpers/tests/match_time_prediction_helper_test.py
  src/frontend/apidocs/__tests__/apidocs.test.js
Due: py3-type, py3-lint, py3-test, node-lint, node-test

[pwa] Move the chart tooltip bug test to its own PR
  pwa/app/components/ui/chart.test.tsx
Due: none

Split bug-pinning admin tests out into per-bug PRs
  src/backend/web/handlers/admin/tests/api_auth_test.py
  src/backend/web/handlers/admin/tests/cache_test.py
  src/backend/web/handlers/admin/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Drop tests that pin gameday2 component bugs
  src/frontend/gameday2/components/__tests__/ChatSelector.test.js
  src/frontend/gameday2/components/__tests__/LayoutDrawer.test.js
  src/frontend/gameday2/components/__tests__/LivescoreDisplay.test.js
  src/frontend/gameday2/components/__tests__/WebcastSelectionDialog.test.js
  src/frontend/gameday2/components/embeds/__tests__/embeds.test.js
Due: node-lint, node-test

Add failing test for ChatSelector transition (Bug #34)
  src/frontend/gameday2/components/__tests__/ChatSelector.test.js
Due: node-lint, node-test

Split bug-asserting tests out of the game_specific coverage PR
  src/backend/common/game_specific/seasons/tests/game_specifics_2024_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2025_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2026_test.py
Due: py3-type, py3-lint, py3-test

[pwa] Move the useReviewSubmission bug test to its own PR
  pwa/app/lib/hooks/useModeration.test.tsx
Due: none

Add failing tests for MUI ListItem button prop (Bug #35)
  src/frontend/gameday2/components/__tests__/ChatSelector.test.js
  src/frontend/gameday2/components/__tests__/LayoutDrawer.test.js
  src/frontend/gameday2/components/__tests__/LayoutSelectionPanel.test.js
  src/frontend/gameday2/components/__tests__/WebcastSelectionDialogItem.test.js
Due: node-lint, node-test

Add failing tests for LivescoreDisplay interval, PropTypes and class names (Bug #36)
  src/frontend/gameday2/components/__tests__/LivescoreDisplay.test.js
Due: node-lint, node-test

Add failing tests for unreachable Nona-View layout (Bug #37)
  src/frontend/gameday2/components/__tests__/LayoutDrawer.test.js
  src/frontend/gameday2/components/__tests__/LayoutSelectionPanel.test.js
Due: node-lint, node-test

Add failing test for EmbedIframe entity decoding (Bug #38)
  src/frontend/gameday2/components/embeds/__tests__/embeds.test.js
Due: node-lint, node-test

Add failing test for missing BlueZone divider (Bug #39)
  src/frontend/gameday2/components/__tests__/WebcastSelectionDialog.test.js
Due: node-lint, node-test

Move bug-pinning breakdown tests out of the coverage PR
  pwa/app/components/tba/match/scoreBreakdown2018.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2019.test.tsx
Due: none

Add failing tests for bug #20: breakdown-less matches skew event insights
  src/backend/common/game_specific/seasons/tests/conftest.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2016_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2017_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2018_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2019_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2020_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2022_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2023_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2024_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2025_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2026_test.py
Due: py3-type, py3-lint, py3-test

Split bug-pinning location_helper tests out into per-bug PRs
  src/backend/common/helpers/tests/location_helper_test.py
Due: py3-type, py3-lint, py3-test

[pwa] Move the bracket, alliance table, slider, and sponsor bug tests to their own PRs
  pwa/app/components/tba/allianceSelectionTable.test.tsx
  pwa/app/components/tba/doubleSlider.test.tsx
  pwa/app/components/tba/eliminationBracket.test.tsx
  pwa/app/components/tba/teamPageTeamInfo.test.tsx
Due: none

Add failing test for bug #19: 2024 RP sweep ignores the ENSEMBLE RP
  src/backend/common/game_specific/seasons/tests/game_specifics_2024_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for Bug #52: 2019 HAB climb label shows 3/3/6 instead of 3/6/12
  pwa/app/components/tba/match/scoreBreakdown2019.test.tsx
Due: none

[pwa] Move the CoprScatterChart mutation bug test to its own PR
  pwa/app/components/tba/charts/coprScatterChart.test.tsx
Due: none

Add failing test for bug #21: 2026 AUTO climb counters disagree
  src/backend/common/game_specific/seasons/tests/game_specifics_2026_test.py
Due: py3-type, py3-lint, py3-test

Drop tests that pin eventwizard bugs
  src/frontend/eventwizard/components/eventRankingsTab/__tests__/EventRankingsTab.test.tsx
  src/frontend/eventwizard/components/teamsTab/__tests__/AddRemoveSingleTeam.test.tsx
Due: none

Add failing test for Bug #53: 2018 Adjustments row hidden unless both alliances were adjusted
  pwa/app/components/tba/match/scoreBreakdown2018.test.tsx
Due: none

Add failing test for bug #22: 2026 AUTO winner should be decided by AUTO FUEL
  src/backend/common/game_specific/seasons/tests/game_specifics_2026_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for Ranking Score preview column (Bug #40)
  src/frontend/eventwizard/components/eventRankingsTab/__tests__/EventRankingsTab.test.tsx
Due: none

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
