Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - commit

[PWA] Consistent styling (#6234)
  pwa/app/components/tba/allianceSelectionTable.tsx
  pwa/app/components/tba/matchResultsTables/doubleElim.tsx
  pwa/app/components/tba/matchResultsTables/quals.tsx
  pwa/app/routes/team.$teamNumber.tsx
Due: none

Add DQ/Surrogate tooltip
  pwa/app/components/tba/matchResultsTables/base.tsx
  pwa/app/components/ui/tooltip.tsx
  pwa/package-lock.json
  pwa/package.json
Due: none

Fix api spec nullable fields. Fix media details type.
  pwa/app/api/v3.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

Fix api spec nullable fields. Fix media details type. (#6235)
  pwa/app/api/v3.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

Revert
  pwa/app/api/v3.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

Save exact
  pwa/package-lock.json
  pwa/package.json
Due: none

Conditional tooltip
  pwa/app/components/tba/matchResultsTables/base.tsx
Due: none

Move concurrency to job level
  .github/workflows/push.yml
Due: none

Move concurrency to job level (#6243)
  .github/workflows/push.yml
Due: none

Fix lint
  pwa/.eslintrc.cjs
Due: node-lint, node-test

Cleanup
  pwa/app/components/tba/matchResultsTables/base.tsx
Due: none

EventType
  pwa/app/lib/api/EventType.ts
  pwa/app/routes/events.$year.tsx
Due: none

Fix equality check
  pwa/app/lib/utils.ts
Due: none

[PWA] DQ/Surrogate Tooltip (#6236)
  pwa/.eslintrc.cjs
  pwa/app/components/tba/matchResultsTables/base.tsx
  pwa/app/components/ui/tooltip.tsx
  pwa/package-lock.json
  pwa/package.json
Due: node-lint, node-test

[PWA] Group events on event list page (#6215)
  pwa/app/components/tba/eventListTable.tsx
  pwa/app/lib/api/EventType.ts
  pwa/app/lib/utils.ts
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/events.$year.tsx
  pwa/package.json
Due: none

Use strict type checking
  pwa/.eslintrc.cjs
Due: node-lint, node-test

Fixes
  pwa/app/components/tba/allianceSelectionTable.tsx
  pwa/app/components/tba/dataTable.tsx
  pwa/app/components/tba/matchResultsTables/base.tsx
  pwa/app/components/tba/rankingsTable.tsx
  pwa/app/components/ui/carousel.tsx
  pwa/app/routes/_index.tsx
  pwa/app/routes/event.$eventKey.tsx
Due: none

Fix parser options config
  pwa/.eslintrc.cjs
Due: node-lint, node-test

Fixes
  pwa/app/routes/_index.tsx
  pwa/app/routes/events.$year.tsx
Due: none

Include stylistic check
  pwa/.eslintrc.cjs
  pwa/app/components/tba/matchResultsTables/doubleElim.tsx
  pwa/app/components/ui/carousel.tsx
  pwa/app/routes/events.$year.tsx
Due: node-lint, node-test

use absolute imports
  pwa/app/components/tba/nav/Nav.tsx
Due: none

Fixes
  pwa/.eslintrc.cjs
  pwa/app/entry.server.tsx
Due: node-lint, node-test

no relative import paths
  pwa/.eslintrc.cjs
  pwa/app/components/tba/eventListTable.tsx
  pwa/package-lock.json
  pwa/package.json
Due: node-lint, node-test

Fixes
  pwa/app/entry.server.tsx
  pwa/app/lib/utils.ts
Due: none

Fixes
  pwa/app/components/tba/matchResultsTables/doubleElim.tsx
Due: none

[PWA] Test out credenza (dialog+drawer) for teams at event list
  pwa/.eslintrc.cjs
  pwa/app/components/ui/credenza.tsx
  pwa/app/components/ui/dialog.tsx
  pwa/app/components/ui/drawer.tsx
  pwa/app/lib/hooks.ts
  pwa/app/lib/utils.ts
  pwa/app/root.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/package-lock.json
  pwa/package.json
Due: node-lint, node-test

Change imgur direct url to no longer use h.jpg suffix, since that seems to 404 when outside of <img> tags
  src/backend/common/models/media.py
  src/backend/common/queries/dict_converters/media_converter.py
Due: py3-type, py3-lint, py3-test

use iconify icons
  pwa/app/components/tba/nav/Nav.tsx
Due: none

Change imgur direct url to no longer use h.jpg suffix, since that seems to 404 when outside of <img> tags (#6252)
  src/backend/common/models/media.py
  src/backend/common/queries/dict_converters/media_converter.py
Due: py3-type, py3-lint, py3-test

remove unneeded icons
  pwa/app/components/tba/icons/BlogIcon.tsx
  pwa/app/components/tba/icons/CalendarIcon.tsx
  pwa/app/components/tba/icons/GearIcon.tsx
  pwa/app/components/tba/icons/InsightIcon.tsx
  pwa/app/components/tba/icons/MoreIcon.tsx
  pwa/app/components/tba/icons/PersonIcon.tsx
  pwa/app/components/tba/icons/StarIcon.tsx
  pwa/app/components/tba/icons/VideoCameraIcon.tsx
Due: none

[PWA] Stricter linting (#6246)
  pwa/.eslintrc.cjs
  pwa/app/components/tba/allianceSelectionTable.tsx
  pwa/app/components/tba/dataTable.tsx
  pwa/app/components/tba/eventListTable.tsx
  pwa/app/components/tba/matchResultsTables/base.tsx
  pwa/app/components/tba/matchResultsTables/doubleElim.tsx
  pwa/app/components/tba/rankingsTable.tsx
  pwa/app/components/ui/carousel.tsx
  pwa/app/entry.server.tsx
  pwa/app/lib/utils.ts
  pwa/app/routes/_index.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/events.$year.tsx
  pwa/package-lock.json
  pwa/package.json
Due: node-lint, node-test

remove unneeded matchresults table, cleanup
  pwa/app/components/tba/allianceSelectionTable.tsx
  pwa/app/components/tba/inlineIcon.tsx
  pwa/app/components/tba/matchResultsTable.tsx
Due: none

prettier
  pwa/app/components/tba/nav/Nav.tsx
  pwa/app/components/ui/dropdown-menu.tsx
  pwa/app/components/ui/input.tsx
  pwa/app/components/ui/navigation-menu.tsx
  pwa/app/components/ui/popover.tsx
  pwa/app/root.tsx
Due: none

[PWA] Test out credenza (dialog+drawer) for teams at event list (#6248)
  pwa/.eslintrc.cjs
  pwa/app/components/ui/credenza.tsx
  pwa/app/components/ui/dialog.tsx
  pwa/app/components/ui/drawer.tsx
  pwa/app/lib/hooks.ts
  pwa/app/lib/utils.ts
  pwa/app/root.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/package-lock.json
  pwa/package.json
Due: node-lint, node-test

Fix lint
  pwa/app/lib/hooks.ts
Due: none

[PWA] Fix lint (#6253)
  pwa/app/lib/hooks.ts
Due: none

Add highest clean & combined score per year leaderboard
  src/backend/common/helpers/insights_helper.py
  src/backend/common/models/insight.py
Due: py3-type, py3-lint, py3-test

Split up utils
  pwa/app/components/tba/eventListTable.tsx
  pwa/app/lib/awardUtils.ts
  pwa/app/lib/eventUtils.ts
  pwa/app/lib/matchUtils.ts
  pwa/app/lib/teamUtils.ts
  pwa/app/lib/utils.ts
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/events.$year.tsx
Due: none

Lint
  pwa/app/lib/matchUtils.ts
Due: none

Add avatar
  pwa/.eslintrc.cjs
  pwa/app/components/tba/teamAvatar.tsx
  pwa/app/routes/team.$teamNumber.tsx
  pwa/tailwind.config.ts
Due: node-lint, node-test

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
