Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

Fix 2015 null-team playoff repair
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_hybrid_schedule_parser_test.py
Due: py3-type, py3-lint, py3-test

Label districts with render_name when display_name is missing
  src/backend/tasks_cpu/handlers/typeahead.py
  src/backend/web/handlers/district.py
  src/backend/web/handlers/event.py
  src/backend/web/handlers/tests/district_detail_test.py
  src/backend/web/handlers/tests/event_detail_test.py
  src/backend/web/handlers/tests/event_list_test.py
  src/backend/web/handlers/tests/team_detail_test.py
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

Make native form controls follow the site theme in dark mode
  pwa/app/lib/theme.test.tsx
  pwa/app/style/theme.css
Due: none

Screenshots for PR #10962
  pr-10962-dark-select-after.png
  pr-10962-dark-select-before.png
  pr-10962-dark-select-diff.png
Due: none

Skip unrecognised event types even when short= is given
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
Due: py3-type, py3-lint, py3-test

Fix: gameday2 WEBCASTS_UPDATED discards the page's default chat (#10882)
  src/frontend/gameday2/__tests__/gameday2.test.js
  src/frontend/gameday2/reducers/__tests__/chats.test.js
  src/frontend/gameday2/reducers/chats.js
Due: node-lint, node-test

Sort null stations safely in the FMS match parser
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
Due: py3-type, py3-lint, py3-test

Leave get_similarity to its own PR
  src/backend/common/helpers/location_helper.py
  src/backend/common/helpers/tests/location_helper_test.py
Due: py3-type, py3-lint, py3-test

Fix: native form controls render light in dark mode (#10962)
  pwa/app/lib/theme.test.tsx
  pwa/app/style/theme.css
Due: none

Label PRs that touch pwa/ with PWA automatically (#10961)
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

Fix: null station in a full match crashes FMS match parser (#10929)
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_hybrid_schedule_parser_test.py
Due: py3-type, py3-lint, py3-test

Fix: event list parser crashes on unknown type with short= (#10928)
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_event_list_parser_test.py
Due: py3-type, py3-lint, py3-test

Fix: companion DB import starts with empty gs:// path (#10925)
  src/backend/api/handlers/eventwizard_internal.py
  src/backend/api/handlers/tests/add_fms_companion_db_test.py
Due: py3-type, py3-lint, py3-test

Screenshots for #10920
  pr-10920-copr-colors-after-dark.png
  pr-10920-copr-colors-after-light.png
  pr-10920-copr-colors-before-dark.png
  pr-10920-copr-colors-before-light.png
  pr-10920-copr-colors-diff-dark.png
  pr-10920-copr-colors-diff-light.png
Due: none

Keep known teams when the FRC API returns null teams
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_hybrid_schedule_parser_test.py
Due: py3-type, py3-lint, py3-test

[pwa] Fix: CoprScatterChart mutates the team colors passed to it (#10920)
  pwa/app/components/tba/charts/coprScatterChart.test.tsx
  pwa/app/components/tba/charts/coprScatterChart.tsx
Due: none

Fix: get_cached_gcs_files returns dir//file paths on first download (#10922)
  src/backend/common/frc_api/frc_api.py
  src/backend/common/frc_api/tests/frcapi_test.py
Due: py3-type, py3-lint, py3-test

Fix: districts without a display name labelled "None" (#10927)
  src/backend/tasks_cpu/handlers/tests/typeahead_test.py
  src/backend/tasks_cpu/handlers/typeahead.py
  src/backend/web/handlers/district.py
  src/backend/web/handlers/event.py
  src/backend/web/handlers/tests/district_detail_test.py
  src/backend/web/handlers/tests/event_detail_test.py
  src/backend/web/handlers/tests/event_list_test.py
  src/backend/web/handlers/tests/team_detail_test.py
  src/backend/web/renderers/team_renderer.py
Due: py3-type, py3-lint, py3-test

Fix: unknown FMS report type gets a misleading 401 (#10926)
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/trustedapi_auth_test.py
Due: py3-type, py3-lint, py3-test

[pwa] Fix: double space in team sponsor label (#10919)
  pwa/app/components/tba/teamPageTeamInfo.test.tsx
  pwa/app/components/tba/teamPageTeamInfo.tsx
Due: none

[pwa] Fix: DoubleSlider passes Radix-only minStepsBetweenThumbs to Base UI (#10918)
  pwa/app/components/tba/doubleSlider.test.tsx
  pwa/app/components/tba/doubleSlider.tsx
Due: none

[pwa] Fix: empty alliance list shows only two table columns (#10917)
  pwa/app/components/tba/allianceSelectionTable.test.tsx
  pwa/app/components/tba/allianceSelectionTable.tsx
Due: none

[pwa] Fix: failed reject requests silently dropped from review results (#10915)
  pwa/app/lib/hooks/useModeration.test.tsx
  pwa/app/lib/hooks/useModeration.ts
Due: none

Fix: empty divisions field 500s on admin event edit (#10913)
  src/backend/web/handlers/admin/event.py
  src/backend/web/handlers/admin/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Spell out screenshot guidance for bug fixes and fork contributors
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
Due: none

[pwa] Fix: chart tooltip throws on label missing from config (#10914)
  pwa/app/components/ui/chart.test.tsx
  pwa/app/components/ui/chart.tsx
Due: none

Name the API key form's Webcasts input webcast_list_str
  src/backend/web/handlers/admin/tests/api_auth_test.py
  src/backend/web/templates/admin/api_edit_auth.html
Due: py3-type, py3-lint, py3-test

[pwa] Fix: EliminationBracket rows with no alliance highlighted before hover (#10916)
  pwa/app/components/tba/eliminationBracket.test.tsx
  pwa/app/components/tba/eliminationBracket.tsx
Due: none

Don't pin team 604's live sponsor count in the team page spec
  pwa/tests/team.spec.ts
Due: none

[pwa] Fix: 2023/2024 robot tooltips strip the team key twice (#10910)
  pwa/app/components/tba/match/scoreBreakdown2023.tsx
  pwa/app/components/tba/match/scoreBreakdown2024.tsx
  pwa/app/components/tba/match/scoreBreakdownTeamTooltips.test.tsx
Due: none

[pwa] Fix: Bracket rows with no alliance highlighted before hover (#10912)
  pwa/app/components/tba/doubleElim4TeamBracket.test.tsx
  pwa/app/components/tba/doubleElim4TeamBracket.tsx
  pwa/app/components/tba/traditionalBracket.test.tsx
  pwa/app/components/tba/traditionalBracket.tsx
Due: none

Fix: CSV offseason parser truncates two-digit elim set numbers (#10908)
  src/backend/common/datafeed_parsers/csv_offseason_matches_parser.py
  src/backend/common/datafeed_parsers/tests/csv_offseason_matches_parser_test.py
Due: py3-type, py3-lint, py3-test

Fix: RegionalPoolTeam.validate_key_name is a staticmethod taking cls (#10909)
  src/backend/common/models/regional_pool_team.py
  src/backend/common/models/tests/regional_pool_team_test.py
Due: py3-type, py3-lint, py3-test

Spell out screenshot guidance for bug fixes and fork contributors (#10964)
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
Due: none

Fix: CSV offseason match parser keeps whitespace in team numbers (#10907)
  src/backend/common/datafeed_parsers/csv_offseason_matches_parser.py
  src/backend/common/datafeed_parsers/tests/csv_offseason_matches_parser_test.py
Due: py3-type, py3-lint, py3-test

Keep known teams when the FRC API returns null teams (#10963)
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_hybrid_schedule_parser_test.py
Due: py3-type, py3-lint, py3-test

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
