Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - commit

Py3 calculate typeahead (#5445)
  old_py2/controllers/cron_controller.py
  src/backend/tasks_cpu/handlers/typeahead.py
  src/backend/tasks_cpu/main.py
  src/backend/tasks_cpu/templates/math/typeaheadcalc_do.html
  src/backend/tasks_cpu/templates/math/typeaheadcalc_enqueue.html
Due: py3-type, py3-lint, py3-test

Write failing test case
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/data/2022mnmi2_awards.json
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_awards_parser_test.py
Due: py3-type, py3-lint, py3-test

Explicilty check for duplicate recipients instead of only checking team number
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_awards_parser.py
Due: py3-type, py3-lint, py3-test

Lint/typecheck
  src/backend/tasks_cpu/handlers/typeahead.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_awards_parser_test.py
Due: py3-type, py3-lint, py3-test

Fix multi team award (#5470)
  src/backend/tasks_cpu/handlers/typeahead.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_awards_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/data/2022mnmi2_awards.json
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_awards_parser_test.py
Due: py3-type, py3-lint, py3-test

Correct Setup-Guide beta link (#5415)
  docs/Setup/Setup-Guide.md
Due: none

most successful teamups
  src/backend/web/templates/insights.html
Due: none

most successful teamups (#5512)
  src/backend/web/templates/insights.html
Due: none

Fix eventwizard crashing with no redux devtools
  src/frontend/eventwizard/eventwizard.js
Due: node-lint, node-test

Fix eventwizard crashing with no redux devtools (#5528)
  src/frontend/eventwizard/eventwizard.js
Due: node-lint, node-test

Implement account_apiwrite_events_handler
  src/backend/web/handlers/ajax.py
Due: py3-type, py3-lint, py3-test

Fix lint
  src/backend/web/handlers/ajax.py
Due: py3-type, py3-lint, py3-test

Formatting
  src/backend/web/handlers/ajax.py
Due: py3-type, py3-lint, py3-test

Skip lint/typecheck
  src/backend/web/handlers/ajax.py
Due: py3-type, py3-lint, py3-test

Implement account_apiwrite_events_handler (#5529)
  src/backend/web/handlers/ajax.py
Due: py3-type, py3-lint, py3-test

Update main.py
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

Update ajax.py
  src/backend/web/handlers/ajax.py
Due: py3-type, py3-lint, py3-test

Remap teams handler (#5530)
  src/backend/web/handlers/ajax.py
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

Fix alerts
  src/backend/web/handlers/ajax.py
  src/frontend/eventwizard/components/AuthTools.js
  src/frontend/eventwizard/eventwizard.js
Due: py3-type, py3-lint, py3-test, node-lint, node-test

WIP
  Vagrantfile
  src/backend/api/handlers/decorators.py
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/awardsTab/AwardsTab.js
  src/frontend/eventwizard/containers/AwardsTabContainer.js
Due: py3-type, py3-lint, py3-test, node-lint, node-test

WIP
  src/frontend/eventwizard/components/awardsTab/AwardsTab.js
Due: node-lint, node-test

Make trusted API call
  src/frontend/eventwizard/components/awardsTab/AwardsTab.js
Due: node-lint, node-test

Update docs
  src/backend/web/static/swagger/api_trusted_v1.json
  src/frontend/eventwizard/components/awardsTab/AwardsTab.js
Due: node-lint, node-test

Allow specification of award type enum int rusted api
  src/backend/api/api_trusted_parsers/json_awards_parser.py
Due: py3-type, py3-lint, py3-test

Remove hardcoding
  src/frontend/eventwizard/components/awardsTab/AwardsTab.js
Due: node-lint, node-test

Lint
  src/frontend/eventwizard/components/awardsTab/AwardsTab.js
  src/frontend/eventwizard/eventwizard.js
Due: node-lint, node-test

Revert temp debug changes
  src/backend/api/handlers/decorators.py
  src/backend/web/handlers/ajax.py
Due: py3-type, py3-lint, py3-test

Lint
  src/backend/web/handlers/ajax.py
Due: py3-type, py3-lint, py3-test

Reverting
  src/backend/web/handlers/ajax.py
Due: py3-type, py3-lint, py3-test

Fix pyre
  src/backend/web/handlers/ajax.py
Due: py3-type, py3-lint, py3-test

Lint
  src/backend/api/api_trusted_parsers/json_awards_parser.py
  src/backend/web/handlers/ajax.py
Due: py3-type, py3-lint, py3-test

Eventwizard awards (#5534)
  Vagrantfile
  src/backend/api/api_trusted_parsers/json_awards_parser.py
  src/backend/web/handlers/ajax.py
  src/backend/web/static/swagger/api_trusted_v1.json
  src/frontend/eventwizard/components/AuthTools.js
  src/frontend/eventwizard/components/EventWizardTabFrame.js
  src/frontend/eventwizard/components/awardsTab/AwardsTab.js
  src/frontend/eventwizard/containers/AwardsTabContainer.js
  src/frontend/eventwizard/eventwizard.js
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Update api_delete_auth.html
  src/backend/web/templates/admin/api_delete_auth.html
Due: none

Update api_delete_auth.html (#5539)
  src/backend/web/templates/admin/api_delete_auth.html
Due: none

Reenable FIRST sync code input in offseason suggestion
  src/backend/web/templates/suggestions/suggest_offseason_event.html
Due: none

Reenable FIRST sync code input in offseason suggestion (#5549)
  src/backend/web/templates/suggestions/suggest_offseason_event.html
Due: none

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
