Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [pre-commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [pre-commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [pre-commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [pre-commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [pre-commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [pre-commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [pre-commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]
    - id: gcloud-sdk-version
      name: "Checking Google Cloud SDK Version"
      entry: ./ops/check_sdk_version.sh
      language: script
      always_run: true
      stages: [post-checkout]

Support rich webcast details from frc-api (#9134)
  src/backend/common/frc_api/frc_api.py
  src/backend/common/frc_api/tests/frcapi_test.py
  src/backend/common/helpers/tests/webcast_helper_test.py
  src/backend/common/helpers/webcast_helper.py
  src/backend/tasks_io/datafeeds/datafeed_fms_api.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/data/2025nyny_v33.json
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/data/2026week0.json
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_event_list_parser_test.py
  uv.lock
Due: py3-type, py3-lint, py3-test

Migrate regional advancement onto FRC API
  src/backend/common/frc_api/frc_api.py
  src/backend/tasks_io/datafeeds/datafeed_fms_api.py
  src/backend/tasks_io/datafeeds/datafeed_regional_advancement.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_regional_rankings_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/data/2025_ra_rankings.json
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_regional_rankings_parser_test.py
  src/backend/tasks_io/datafeeds/parsers/ra/regional_advancement_parser.py
  src/backend/tasks_io/datafeeds/parsers/ra/tests/data/2025ra.json
  src/backend/tasks_io/datafeeds/parsers/ra/tests/regional_advancement_parser_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_regional_advancement_test.py
  src/backend/tasks_io/handlers/frc_api.py
  src/backend/tasks_io/handlers/regional_advancement_api.py
  src/backend/tasks_io/handlers/tests/regional_advancement_api_test.py
  src/backend/tasks_io/main.py
Due: py3-type, py3-lint, py3-test

Migrate regional advancement onto FRC API (#9052)
  src/backend/common/frc_api/frc_api.py
  src/backend/tasks_io/datafeeds/datafeed_fms_api.py
  src/backend/tasks_io/datafeeds/datafeed_regional_advancement.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_regional_rankings_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/data/2025_ra_rankings.json
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_regional_rankings_parser_test.py
  src/backend/tasks_io/datafeeds/parsers/ra/regional_advancement_parser.py
  src/backend/tasks_io/datafeeds/parsers/ra/tests/data/2025ra.json
  src/backend/tasks_io/datafeeds/parsers/ra/tests/regional_advancement_parser_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_regional_advancement_test.py
  src/backend/tasks_io/handlers/frc_api.py
  src/backend/tasks_io/handlers/regional_advancement_api.py
  src/backend/tasks_io/handlers/tests/regional_advancement_api_test.py
  src/backend/tasks_io/main.py
Due: py3-type, py3-lint, py3-test

Frequently Asked Questions Page (#9112)
  src/backend/web/handlers/static.py
  src/backend/web/main.py
  src/backend/web/templates/faq.html
  src/backend/web/templates/index_partials/index_lhc.html
  src/backend/web/templates/index_partials/index_lhc_offseason.html
Due: py3-type, py3-lint, py3-test

raise fullstack timeout more
  ops/tests/client_api_fullstack.test.js
  ops/tests/fms_companion_import.test.js
  ops/tests/fullstack.test.js
Due: node-lint, node-test

raise fullstack timeout more (#9136)
  ops/tests/client_api_fullstack.test.js
  ops/tests/fms_companion_import.test.js
  ops/tests/fullstack.test.js
Due: node-lint, node-test

Correct Dean's list year to be 2026
  src/backend/common/consts/award_type.py
  src/backend/common/models/award.py
  src/backend/common/models/tests/award_test.py
Due: py3-type, py3-lint, py3-test

Support renaming of Dean's list (#9117)
  src/backend/common/consts/award_matching_strings.py
  src/backend/common/consts/award_type.py
  src/backend/common/helpers/tests/award_helper_test.py
  src/backend/common/models/award.py
  src/backend/common/models/tests/award_test.py
Due: py3-type, py3-lint, py3-test

Change package ecosystem from pip to uv
  .github/dependabot.yml
Due: none

Change package ecosystem from pip to uv (#9138)
  .github/dependabot.yml
Due: none

Add date field to gameday special webcast admin form and filter webcasts by date (#9137)
  src/backend/common/sitevars/gameday_special_webcasts.py
  src/backend/common/sitevars/tests/gameday_special_webcasts_test.py
  src/backend/web/handlers/admin/gameday.py
  src/backend/web/handlers/admin/tests/gameday_test.py
  src/backend/web/templates/admin/gameday_dashboard.html
  uv.lock
Due: py3-type, py3-lint, py3-test

fix(pwa): pin React version in ESLint config to avoid ESLint v10 crash (#9143)
  pwa/eslint.config.js
Due: node-lint, node-test

fix(pwa): Patch eslint-plugin-no-relative-import-paths for ESLint v10 compatibility (#9145)
  pwa/eslint.config.js
Due: node-lint, node-test

Fix peer dependency conflicts introduced by eslint 9→10 upgrade (#9144)
  .npmrc
  eslint.config.js
  package-lock.json
  package.json
Due: node-lint, node-test

Add missing explicit devDependencies for ESLint 10 compatibility (#9146)
  package-lock.json
  package.json
Due: none

[WIP] Update eslint from 9.39.2 to 10.0.1 (#9147)
  package-lock.json
  package.json
Due: none

[pwa] fix copr scatter chart
  pwa/app/components/tba/charts/coprScatterChart.tsx
  pwa/app/lib/oprUtils.ts
  pwa/app/routes/event.$eventKey.tsx
Due: none

Add 2026 coprs. Improve copr table styling
  src/backend/common/helpers/matchstats_helper.py
  src/backend/web/templates/event_partials/event_copr_table.html
Due: py3-type, py3-lint, py3-test

Add 2026 coprs. Improve copr table styling (#9149)
  src/backend/common/helpers/matchstats_helper.py
  src/backend/web/templates/event_partials/event_copr_table.html
Due: py3-type, py3-lint, py3-test

Add 2026 ranking sort orders
  src/backend/common/consts/ranking_sort_orders.py
Due: py3-type, py3-lint, py3-test

render 2026 score breakdowns
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2026.html
Due: none

RP dots
  src/backend/web/templates/match_partials/match_table_cell_macros.html
Due: none

Add 2026 ranking sort orders (#9150)
  src/backend/common/consts/ranking_sort_orders.py
Due: py3-type, py3-lint, py3-test

[pwa] fix copr scatter chart (#9148)
  pwa/app/components/tba/charts/coprScatterChart.tsx
  pwa/app/lib/oprUtils.ts
  pwa/app/routes/event.$eventKey.tsx
Due: none

render 2026 score breakdowns (#9151)
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2026.html
  src/backend/web/templates/match_partials/match_table_cell_macros.html
Due: none

[pwa] Add score breakdown 2026
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/match/scoreBreakdown2026.tsx
  pwa/app/lib/rankingPoints.test.ts
  pwa/app/lib/rankingPoints.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

[pwa] Add score breakdown 2026 (#9152)
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/match/scoreBreakdown2026.tsx
  pwa/app/lib/rankingPoints.test.ts
  pwa/app/lib/rankingPoints.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

Update social media icons to SVGs and remove Font Awesome CDN
  src/backend/web/local/dev_tools.py
  src/backend/web/local/tests/test_seed_team.py
  src/backend/web/static/css/less_css/less/tba/tba_misc.less
  src/backend/web/static/css/less_css/less/tba/tba_navbar.less
  src/backend/web/static/images/icons/facebook-white.svg
  src/backend/web/static/images/icons/facebook.svg
  src/backend/web/static/images/icons/github.svg
  src/backend/web/static/images/icons/gitlab.svg
  src/backend/web/static/images/icons/instagram-white.svg
  src/backend/web/static/images/icons/instagram.svg
  src/backend/web/static/images/icons/x-white.svg
  src/backend/web/static/images/icons/x.svg
  src/backend/web/static/images/icons/youtube.svg
  src/backend/web/static/javascript/tba_js/tba_favorites.js
  src/backend/web/templates/base.html
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Show webcast links on event pages before matches are posted
  src/backend/web/jinja2_filters.py
  src/backend/web/templates/event_details.html
Due: py3-type, py3-lint, py3-test

Show webcast links on event pages before matches are posted (#9154)
  src/backend/web/jinja2_filters.py
  src/backend/web/templates/event_details.html
Due: py3-type, py3-lint, py3-test

Fix navbar vertical alignment to visually center link text
  src/backend/web/static/css/less_css/less/tba/tba_navbar.less
Due: none

Refactor score breakdowns to use shared ScoreBreakdown components
  pwa/app/components/tba/match/scoreBreakdown2016.tsx
  pwa/app/components/tba/match/scoreBreakdown2017.tsx
  pwa/app/components/tba/match/scoreBreakdown2019.tsx
  pwa/app/components/tba/match/scoreBreakdown2020.tsx
Due: none

Document PR Screenshot Pages convention in PWA AGENTS.md
  pwa/AGENTS.md
Due: none

Fix prettier formatting in 2016 and 2019 score breakdowns
  pwa/app/components/tba/match/scoreBreakdown2016.tsx
  pwa/app/components/tba/match/scoreBreakdown2019.tsx
Due: none

Fix review feedback: foul sides, 2016 defenses, 2019 cargo/rockets
  pwa/app/components/tba/match/scoreBreakdown2016.tsx
  pwa/app/components/tba/match/scoreBreakdown2017.tsx
  pwa/app/components/tba/match/scoreBreakdown2019.tsx
  pwa/app/components/tba/match/scoreBreakdown2020.tsx
Due: none

Update GH Issue Templates to new (supported) format
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/config.yaml
Due: none

PWA: Add score breakdowns for 2016, 2017, 2019, 2020 (#9084)
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/match/scoreBreakdown2016.tsx
  pwa/app/components/tba/match/scoreBreakdown2017.tsx
  pwa/app/components/tba/match/scoreBreakdown2019.tsx
  pwa/app/components/tba/match/scoreBreakdown2020.tsx
Due: none

PWA: Add Hall of Fame standalone page (#9090)
  pwa/app/routeTree.gen.ts
  pwa/app/routes/hall-of-fame.tsx
  pwa/tests/routes.spec.ts
Due: none

PWA: Add edit profile and delete account (#9082)
  pwa/app/routes/account.index.tsx
Due: none

Update GH Issue Templates to new (supported) format (#9157)
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/config.yaml
Due: none
