Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

Some more v2 insight improvements
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/tests/insights_v2/registry_test.py
Due: py3-type, py3-lint, py3-test

Some more v2 insight improvements (#9900)
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/tests/insights_v2/registry_test.py
Due: py3-type, py3-lint, py3-test

Add high score over time v2 insight for districts
  src/backend/common/helpers/insights_v2/timeseries/high_score_over_time.py
  src/backend/common/helpers/tests/insights_v2/timeseries/high_score_over_time_test.py
Due: py3-type, py3-lint, py3-test

Add high score over time v2 insight for districts (#9902)
  src/backend/common/helpers/insights_v2/timeseries/high_score_over_time.py
  src/backend/common/helpers/tests/insights_v2/timeseries/high_score_over_time_test.py
Due: py3-type, py3-lint, py3-test

Move division finals / dcmp v2 insight to year=0 only
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/tests/insights_v2/registry_test.py
Due: py3-type, py3-lint, py3-test

Move division finals / dcmp v2 insight to year=0 only (#9903)
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/tests/insights_v2/registry_test.py
Due: py3-type, py3-lint, py3-test

Sort streaks favoring active ones
  AGENTS.md
  src/backend/common/helpers/insights_v2/streaks/calculator.py
  src/backend/common/helpers/tests/insights_v2/streaks/calculator_test.py
Due: py3-type, py3-lint, py3-test

Sort streaks favoring active ones (#9904)
  AGENTS.md
  src/backend/common/helpers/insights_v2/streaks/calculator.py
  src/backend/common/helpers/tests/insights_v2/streaks/calculator_test.py
Due: py3-type, py3-lint, py3-test

Update agents.md
  AGENTS.md
Due: none

Update agents.md (#9905)
  AGENTS.md
Due: none

Harden offseason FRC-link input validation using Event key helpers (#9907)
  src/backend/common/models/event.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/event.py
  src/backend/web/handlers/admin/tests/event_test.py
  src/backend/web/templates/admin/event_details.html
Due: py3-type, py3-lint, py3-test

Add offseason moderator dashboard with FIRST link workflow, event-details sync trigger, and suggest/review entrypoint link (#9908)
  src/backend/web/handlers/suggestions/tests/suggestion_review_home_test.py
  src/backend/web/handlers/tests/webcast_mod_test.py
  src/backend/web/handlers/webcast_mod.py
  src/backend/web/templates/mod/offseason_list.html
  src/backend/web/templates/suggestions/suggest_review_home.html
Due: py3-type, py3-lint, py3-test

fix(security): use of eval() in bulkloader_helper.py
  old_py2/helpers/bulkloader_helper.py
Due: py3-type, py3-lint, py3-test

[pwa] Add suggest team media page and Add Media button to PWA
  pwa/app/routeTree.gen.ts
  pwa/app/routes/suggest.team.media.tsx
  pwa/app/routes/team.$teamNumber.{-$year}.tsx
  pwa/tests/routes.spec.ts
Due: none

Use generated mobile API client for team media suggestions
  pwa/app/api/tba/mobile/@tanstack/react-query.gen.ts
  pwa/app/api/tba/mobile/index.ts
  pwa/app/api/tba/mobile/sdk.gen.ts
  pwa/app/api/tba/mobile/types.gen.ts
  pwa/app/routes/suggest.team.media.tsx
  src/backend/web/static/swagger/client_v9.json
Due: none

[pwa] Fix tooltip performance issue
  pwa/app/components/tba/rpDot.tsx
  pwa/app/components/tba/tableOfContents.tsx
  pwa/app/components/tba/teamTooltip.tsx
  pwa/app/components/ui/tooltip.tsx
  pwa/app/routes/__root.tsx
Due: none

[pwa] Fix event page performance issue (#9931)
  pwa/app/components/tba/rpDot.tsx
  pwa/app/components/tba/tableOfContents.tsx
  pwa/app/components/tba/teamTooltip.tsx
  pwa/app/components/ui/tooltip.tsx
  pwa/app/routes/__root.tsx
Due: none

Performance improvements
  pwa/app/components/tba/doubleElim4TeamBracket.tsx
  pwa/app/components/tba/eliminationBracket.tsx
Due: none

[pwa] Bracket performance improvements (#9932)
  pwa/app/components/tba/doubleElim4TeamBracket.tsx
  pwa/app/components/tba/eliminationBracket.tsx
Due: none

[pwa] Create unified year selector component
  pwa/app/components/tba/yearSelector.tsx
  pwa/app/routes/district.$districtAbbreviation.champs.$year.tsx
  pwa/app/routes/district.$districtAbbreviation.stats.tsx
  pwa/app/routes/district.$districtAbbreviation.{-$year}.tsx
  pwa/app/routes/districts.{-$year}.tsx
  pwa/app/routes/events.{-$year}.tsx
  pwa/app/routes/insights.{-$year}.tsx
  pwa/app/routes/team.$teamNumber.history.tsx
  pwa/app/routes/team.$teamNumber.stats.tsx
  pwa/app/routes/team.$teamNumber.{-$year}.tsx
Due: none

[pwa] Create unified year selector component (#9933)
  pwa/app/components/tba/yearSelector.tsx
  pwa/app/routes/district.$districtAbbreviation.champs.$year.tsx
  pwa/app/routes/district.$districtAbbreviation.stats.tsx
  pwa/app/routes/district.$districtAbbreviation.{-$year}.tsx
  pwa/app/routes/districts.{-$year}.tsx
  pwa/app/routes/events.{-$year}.tsx
  pwa/app/routes/insights.{-$year}.tsx
  pwa/app/routes/team.$teamNumber.history.tsx
  pwa/app/routes/team.$teamNumber.stats.tsx
  pwa/app/routes/team.$teamNumber.{-$year}.tsx
Due: none

[pwa] Order search results based on higher score
  pwa/app/components/tba/navigation/searchModal.tsx
  pwa/app/lib/search/fuzzysortFilterer.ts
Due: none

[pwa] Order search results based on higher score (#9934)
  pwa/app/components/tba/navigation/searchModal.tsx
  pwa/app/lib/search/fuzzysortFilterer.ts
Due: none

github theme
  pwa/AGENTS.md
  pwa/app/components/tba/doubleElim4TeamBracket.tsx
  pwa/app/components/tba/eliminationBracket.tsx
  pwa/app/components/tba/eventListTable.tsx
  pwa/app/components/tba/match/matchRows.tsx
  pwa/app/components/tba/match/scoreBreakdown.tsx
  pwa/app/components/tba/match/scoreBreakdown2023.tsx
  pwa/app/components/tba/match/scoreBreakdown2024.tsx
  pwa/app/components/tba/match/scoreBreakdown2025.tsx
  pwa/app/components/tba/match/scoreByShift2026.tsx
  pwa/app/components/tba/match/scoreCell.tsx
  pwa/app/components/tba/match/teamListSubgrid.tsx
  pwa/app/components/tba/navigation/navbar.tsx
  pwa/app/components/tba/rpDot.tsx
  pwa/app/components/tba/traditionalBracket.tsx
  pwa/app/routes/district.$districtAbbreviation.champs.$year.tsx
  pwa/app/routes/match_suggestion.tsx
  pwa/app/tailwind.css
Due: none

Update Mod Guidance (#9849)
  src/backend/web/templates/suggestions/suggest_designs_review.html
  src/backend/web/templates/suggestions/suggest_team_media_review_list.html
Due: none

audience display
  pwa/AGENTS.md
  pwa/README.md
  pwa/app/components/tba/doubleElim4TeamBracket.tsx
  pwa/app/components/tba/eliminationBracket.tsx
  pwa/app/components/tba/match/scoreBreakdown.tsx
  pwa/app/components/tba/match/scoreBreakdown2023.tsx
  pwa/app/components/tba/match/scoreBreakdown2024.tsx
  pwa/app/components/tba/match/scoreBreakdown2025.tsx
  pwa/app/components/tba/match/scoreByShift2026.tsx
  pwa/app/components/tba/match/scoreCell.tsx
  pwa/app/components/tba/match/teamListSubgrid.tsx
  pwa/app/components/tba/teamAvatar.tsx
  pwa/app/components/tba/traditionalBracket.tsx
  pwa/app/routes/district.$districtAbbreviation.champs.$year.tsx
  pwa/app/routes/match_suggestion.tsx
  pwa/app/tailwind.css
Due: none

update offeason data instructions
  src/backend/web/templates/add_data.html
Due: none

update offeason data instructions (#9936)
  src/backend/web/templates/add_data.html
Due: none

improve offseason event submission
  src/backend/web/handlers/suggestions/suggestion_submission.py
  src/backend/web/handlers/suggestions/tests/suggest_offseason_event_controller_test.py
  src/backend/web/templates/suggestions/suggest_offseason_event.html
Due: py3-type, py3-lint, py3-test

improve offseason event submission (#9937)
  src/backend/web/handlers/suggestions/suggestion_submission.py
  src/backend/web/handlers/suggestions/tests/suggest_offseason_event_controller_test.py
  src/backend/web/templates/suggestions/suggest_offseason_event.html
Due: py3-type, py3-lint, py3-test

[pwa] Improve rendering performance on event pages
  pwa/app/components/tba/traditionalBracket.tsx
  pwa/app/routes/event.$eventKey.tsx
Due: none

[pwa] Improve rendering performance on event pages (#9940)
  pwa/app/components/tba/traditionalBracket.tsx
  pwa/app/routes/event.$eventKey.tsx
Due: none

support unlink in offseason mod queue
  src/backend/web/handlers/tests/webcast_mod_test.py
  src/backend/web/handlers/webcast_mod.py
  src/backend/web/templates/mod/offseason_list.html
Due: py3-type, py3-lint, py3-test

support unlink in offseason mod queue (#9941)
  src/backend/web/handlers/tests/webcast_mod_test.py
  src/backend/web/handlers/webcast_mod.py
  src/backend/web/templates/mod/offseason_list.html
Due: py3-type, py3-lint, py3-test

[pwa] Refactor css & update colors
  pwa/README.md
  pwa/app/components/tba/allianceSelectionTable.tsx
  pwa/app/components/tba/banner.tsx
  pwa/app/components/tba/doubleElim4TeamBracket.tsx
  pwa/app/components/tba/eliminationBracket.tsx
  pwa/app/components/tba/eliminationBracketPaths.tsx
  pwa/app/components/tba/eventListTable.tsx
  pwa/app/components/tba/leaderboard.tsx
  pwa/app/components/tba/match/breakers.tsx
  pwa/app/components/tba/match/matchRows.tsx
  pwa/app/components/tba/match/scoreBreakdown.tsx
  pwa/app/components/tba/match/scoreBreakdown2023.tsx
  pwa/app/components/tba/match/scoreBreakdown2024.tsx
  pwa/app/components/tba/match/scoreBreakdown2025.tsx
  pwa/app/components/tba/match/scoreByShift2026.tsx
  pwa/app/components/tba/match/scoreCell.tsx
  pwa/app/components/tba/match/teamListSubgrid.tsx
  pwa/app/components/tba/navigation/mobileMenu.tsx
  pwa/app/components/tba/teamAvatar.tsx
  pwa/app/components/tba/traditionalBracket.tsx
  pwa/app/components/ui/badge.tsx
  pwa/app/components/ui/button.tsx
  pwa/app/components/ui/chart.tsx
  pwa/app/lib/matchUtils.ts
  pwa/app/routes/__root.tsx
  pwa/app/routes/district.$districtAbbreviation.champs.$year.tsx
  pwa/app/routes/districts.{-$year}.tsx
  pwa/app/routes/match_suggestion.tsx
  pwa/app/style/colors/alliances.css
  pwa/app/style/colors/districts.css
  pwa/app/style/colors/frc.css
  pwa/app/style/tailwind.css
  pwa/app/style/theme.css
  pwa/app/style/utility.css
  pwa/app/tailwind.css
  pwa/components.json
  pwa/package.json
  pwa/pnpm-lock.yaml
  pwa/prettier.config.js
Due: node-lint, node-test

[pwa] Refactor css & update colors (#9938)
  pwa/README.md
  pwa/app/components/tba/allianceSelectionTable.tsx
  pwa/app/components/tba/banner.tsx
  pwa/app/components/tba/doubleElim4TeamBracket.tsx
  pwa/app/components/tba/eliminationBracket.tsx
  pwa/app/components/tba/eliminationBracketPaths.tsx
  pwa/app/components/tba/eventListTable.tsx
  pwa/app/components/tba/leaderboard.tsx
  pwa/app/components/tba/match/breakers.tsx
  pwa/app/components/tba/match/matchRows.tsx
  pwa/app/components/tba/match/scoreBreakdown.tsx
  pwa/app/components/tba/match/scoreBreakdown2023.tsx
  pwa/app/components/tba/match/scoreBreakdown2024.tsx
  pwa/app/components/tba/match/scoreBreakdown2025.tsx
  pwa/app/components/tba/match/scoreByShift2026.tsx
  pwa/app/components/tba/match/scoreCell.tsx
  pwa/app/components/tba/match/teamListSubgrid.tsx
  pwa/app/components/tba/navigation/mobileMenu.tsx
  pwa/app/components/tba/teamAvatar.tsx
  pwa/app/components/tba/traditionalBracket.tsx
  pwa/app/components/ui/badge.tsx
  pwa/app/components/ui/button.tsx
  pwa/app/components/ui/chart.tsx
  pwa/app/lib/matchUtils.ts
  pwa/app/routes/__root.tsx
  pwa/app/routes/district.$districtAbbreviation.champs.$year.tsx
  pwa/app/routes/districts.{-$year}.tsx
  pwa/app/routes/match_suggestion.tsx
  pwa/app/style/colors/alliances.css
  pwa/app/style/colors/districts.css
  pwa/app/style/colors/frc.css
  pwa/app/style/tailwind.css
  pwa/app/style/theme.css
  pwa/app/style/utility.css
  pwa/app/tailwind.css
  pwa/components.json
  pwa/package.json
  pwa/pnpm-lock.yaml
  pwa/prettier.config.js
Due: node-lint, node-test

[pwa] Animate event page tabs
  pwa/app/components/ui/animated-tabs.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/package.json
  pwa/pnpm-lock.yaml
Due: none

Fix lint: remove unused useNavigate import
  pwa/app/routes/team.$teamNumber.{-$year}.tsx
Due: none

[pwa] Add suggest team media page and Add Media button (#9851)
  pwa/app/api/tba/mobile/@tanstack/react-query.gen.ts
  pwa/app/api/tba/mobile/index.ts
  pwa/app/api/tba/mobile/sdk.gen.ts
  pwa/app/api/tba/mobile/types.gen.ts
  pwa/app/routeTree.gen.ts
  pwa/app/routes/suggest.team.media.tsx
  pwa/app/routes/team.$teamNumber.{-$year}.tsx
  pwa/tests/routes.spec.ts
  src/backend/web/static/swagger/client_v9.json
Due: none

[pwa] Animate event page tabs (#9942)
  pwa/app/components/ui/animated-tabs.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/package.json
  pwa/pnpm-lock.yaml
Due: none

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
