Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - commit

Add RSS feeds to events
  src/backend/web/handlers/event.py
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

Fix datetime use
  src/backend/web/handlers/event.py
Due: py3-type, py3-lint, py3-test

Fix import order to appease the bot gods
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

Update sponsors
  src/backend/web/static/images/VEXpro_small.png
  src/backend/web/static/images/firebase_logo_horiz.png
  src/backend/web/static/images/vexpro_horiz.png
  src/backend/web/static/images/vexpro_logo_horiz.png
  src/backend/web/templates/base.html
  src/backend/web/templates/index_partials/index_lhc.html
  src/backend/web/templates/index_partials/index_lhc_offseason.html
  src/backend/web/templates/thanks.html
  src/frontend/gameday2/components/AppBar.js
Due: node-lint, node-test

Bump year
  src/backend/web/templates/index/index_kickoff.html
Due: none

Cleanup powered by (#4876)
  src/backend/web/static/images/VEXpro_small.png
  src/backend/web/static/images/firebase_logo_horiz.png
  src/backend/web/static/images/vexpro_horiz.png
  src/backend/web/static/images/vexpro_logo_horiz.png
  src/backend/web/templates/base.html
  src/backend/web/templates/index_partials/index_lhc.html
  src/backend/web/templates/index_partials/index_lhc_offseason.html
  src/backend/web/templates/thanks.html
  src/frontend/gameday2/components/AppBar.js
Due: node-lint, node-test

Add RSS feeds to events (#4873)
  src/backend/web/handlers/event.py
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

Switch alliance name and alliance teams in double elim bracket display (#4858)
  src/backend/web/templates/bracket_partials/double_elim_bracket_table.html
Due: none

fix instagram embeds (#4853)
  src/backend/common/decorators.py
  src/backend/common/models/media.py
  src/backend/common/sitevars/instagram_api_secret.py
  src/backend/common/suggestions/media_parser.py
  src/backend/web/handlers/admin/authkeys.py
  src/backend/web/handlers/embed.py
  src/backend/web/handlers/tests/embed_test.py
  src/backend/web/main.py
  src/backend/web/templates/admin/authkeys.html
  src/backend/web/templates/media_partials/instagram_partial.html
Due: py3-type, py3-lint, py3-test

use latest gcloud CLI version in CI
  .github/workflows/push.yml
Due: none

Add page to show regional events in a year
  src/backend/common/queries/event_query.py
  src/backend/web/handlers/district.py
  src/backend/web/handlers/event.py
  src/backend/web/handlers/tests/district_detail_test.py
  src/backend/web/handlers/tests/helpers.py
  src/backend/web/handlers/tests/regional_detail_test.py
  src/backend/web/main.py
  src/backend/web/templates/regional_details.html
Due: py3-type, py3-lint, py3-test

Add page to show regional events in a year (#4894)
  src/backend/common/queries/event_query.py
  src/backend/web/handlers/district.py
  src/backend/web/handlers/event.py
  src/backend/web/handlers/tests/district_detail_test.py
  src/backend/web/handlers/tests/helpers.py
  src/backend/web/handlers/tests/regional_detail_test.py
  src/backend/web/main.py
  src/backend/web/templates/regional_details.html
Due: py3-type, py3-lint, py3-test

Component OPRs (#4847)
  src/backend/common/helpers/matchstats_helper.py
  src/backend/common/helpers/tests/data/2019mttd_coprs.json
  src/backend/common/helpers/tests/data/2019nyny_coprs.json
  src/backend/common/helpers/tests/matchstats_helper_test.py
  src/backend/common/models/event.py
  src/backend/common/models/event_details.py
  src/backend/common/models/event_matchstats.py
  src/backend/tasks_io/handlers/math.py
  src/backend/tasks_io/handlers/tests/matchstats_calc_test.py
  src/backend/web/handlers/event.py
  src/backend/web/templates/event_details.html
  src/backend/web/templates/event_partials/event_copr_table.html
Due: py3-type, py3-lint, py3-test

Bump season year
  src/backend/web/templates/index/index_buildseason.html
Due: none

Fix landing page hide ri3d
  src/backend/web/templates/index/index_buildseason.html
Due: none

Move mytba template to py3
  src/backend/web/templates/mytba_live.html
Due: none

Fix mytba template for py3, base handler
  src/backend/web/handlers/mytba.py
  src/backend/web/main.py
  src/backend/web/templates/mytba_live.html
Due: py3-type, py3-lint, py3-test

myTBA Team
  src/backend/web/handlers/account.py
Due: py3-type, py3-lint, py3-test

port mytba live controller
  src/backend/web/handlers/mytba.py
Due: py3-type, py3-lint, py3-test

Delete old py2 file
  old_py2/controllers/mytba_controller.py
Due: py3-type, py3-lint, py3-test

lint
  src/backend/web/handlers/account.py
  src/backend/web/handlers/mytba.py
Due: py3-type, py3-lint, py3-test

Lint
  src/backend/web/handlers/account.py
  src/backend/web/handlers/mytba.py
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

Bugfixes
  src/backend/web/handlers/mytba.py
  src/backend/web/templates/live_teams_partial.html
Due: py3-type, py3-lint, py3-test

Fix typing
  src/backend/web/handlers/mytba.py
Due: py3-type, py3-lint, py3-test

Fix district rendering
  src/backend/web/handlers/district.py
Due: py3-type, py3-lint, py3-test

Fix tests
  src/backend/web/handlers/tests/account_overview_test.py
Due: py3-type, py3-lint, py3-test

[py3] Port myTBA (#4952)
  old_py2/controllers/mytba_controller.py
  src/backend/web/handlers/account.py
  src/backend/web/handlers/district.py
  src/backend/web/handlers/mytba.py
  src/backend/web/handlers/tests/account_overview_test.py
  src/backend/web/main.py
  src/backend/web/templates/live_teams_partial.html
  src/backend/web/templates/mytba_live.html
Due: py3-type, py3-lint, py3-test

Stop dispatching mytba to py2
  dispatch.yaml
Due: none

Update workflow gcloud auth
  .github/workflows/push_py2.yml
Due: none

Remove team website from team partials
  src/backend/web/templates/team_partials/team_info.html
Due: none

Fix failed team website tests
  src/backend/web/handlers/tests/team_detail_test.py
  src/backend/web/handlers/tests/team_history_test.py
Due: py3-type, py3-lint, py3-test

Filter avatars with empty references
  src/backend/web/handlers/index.py
Due: py3-type, py3-lint, py3-test

Filter avatars with empty references (#4989)
  src/backend/web/handlers/index.py
Due: py3-type, py3-lint, py3-test

Show events on buildseason handler
  src/backend/web/templates/index/index_buildseason.html
Due: none

Show events on buildseason handler (#5003)
  src/backend/web/templates/index/index_buildseason.html
Due: none

2023 breakdowns
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2023.html
Due: none

Update ranking sort order
  docs/Maintainers/New-Season.md
  src/backend/common/consts/ranking_sort_orders.py
  src/backend/common/models/event_details.py
Due: py3-type, py3-lint, py3-test

2023 match breakdowns & rankings (#5004)
  docs/Maintainers/New-Season.md
  src/backend/common/consts/ranking_sort_orders.py
  src/backend/common/models/event_details.py
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2023.html
Due: py3-type, py3-lint, py3-test

Handle 2023 8 alliance playoff type
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
  src/backend/tasks_io/templates/datafeeds/usfirst_event_details_get.html
Due: py3-type, py3-lint, py3-test

Map double elim matches
  src/backend/common/consts/playoff_type.py
  src/backend/common/helpers/playoff_type_helper.py
Due: py3-type, py3-lint, py3-test

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
