Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

Remove unrelated helpers from firebase_pusher (#7527)
  src/backend/common/helpers/firebase_pusher.py
  src/backend/common/helpers/special_webcast_helper.py
  src/backend/common/helpers/tests/firebase_pusher_test.py
  src/backend/common/helpers/tests/special_webcast_helper_test.py
  src/backend/common/models/webcast.py
  src/backend/tasks_io/handlers/live_events.py
  src/backend/tasks_io/helpers/live_event_helper.py
  src/backend/tasks_io/helpers/tests/live_event_helper_test.py
  src/backend/web/handlers/index.py
Due: py3-type, py3-lint, py3-test

Fix 2025 ranking point statistics (#7513)
  src/backend/common/helpers/event_insights_helper.py
  src/backend/web/templates/event_partials/event_insights_2025.html
Due: py3-type, py3-lint, py3-test

Add max_team_page to Status endpoint
  pwa/app/api/v3.ts
  src/backend/api/handlers/status.py
  src/backend/api/handlers/team.py
  src/backend/api/handlers/tests/status_test.py
  src/backend/common/consts/teams.py
  src/backend/common/sitevars/apistatus.py
  src/backend/common/sitevars/tests/apistatus_test.py
  src/backend/tasks_io/handlers/tests/frc_api_event_list_test.py
  src/backend/web/handlers/admin/apistatus.py
  src/backend/web/handlers/admin/tests/apistatus_test.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Add max_team_page to Status endpoint (#7529)
  pwa/app/api/v3.ts
  src/backend/api/handlers/status.py
  src/backend/api/handlers/team.py
  src/backend/api/handlers/tests/status_test.py
  src/backend/common/consts/teams.py
  src/backend/common/sitevars/apistatus.py
  src/backend/common/sitevars/tests/apistatus_test.py
  src/backend/tasks_io/handlers/tests/frc_api_event_list_test.py
  src/backend/web/handlers/admin/apistatus.py
  src/backend/web/handlers/admin/tests/apistatus_test.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Add onshape to media type enum
  pwa/app/api/v3.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

Fix coral leaderboard to not double-count auton
  src/backend/common/helpers/insights_leaderboard_match_helper.py
  src/backend/common/helpers/tests/data/2025oncmp2.json
  src/backend/common/helpers/tests/data/2025oncmp2_matches.json
  src/backend/common/helpers/tests/insights_leaderboard_match_helper_test.py
Due: py3-type, py3-lint, py3-test

Fix formatting that was somehow missed in previous CI
  src/backend/common/helpers/event_insights_helper.py
  src/backend/tasks_io/handlers/tests/frc_api_event_list_test.py
Due: py3-type, py3-lint, py3-test

Fix coral leaderboard to not double-count auton (#7528)
  src/backend/common/helpers/insights_leaderboard_match_helper.py
  src/backend/common/helpers/tests/data/2025oncmp2.json
  src/backend/common/helpers/tests/data/2025oncmp2_matches.json
  src/backend/common/helpers/tests/insights_leaderboard_match_helper_test.py
Due: py3-type, py3-lint, py3-test

fix team page number so it is no longer static
  pwa/app/api/v3.ts
  pwa/app/components/tba/teamListTable.tsx
  pwa/app/lib/utils.tsx
  pwa/app/routes/teams.($pgNum).tsx
  src/backend/web/static/swagger/api_v3.json
Due: none

refactor webcast datafeeds
  src/backend/common/helpers/tests/webcast_online_helper_test.py
  src/backend/common/memcache_models/twitch_oauth_token_memcache.py
  src/backend/common/memcache_models/webcast_online_status_memcache.py
  src/backend/common/models/event.py
  src/backend/common/models/twitch_access_token.py
  src/backend/common/models/webcast.py
  src/backend/common/urlfetch.py
  src/backend/tasks_io/datafeeds/datafeed_base.py
  src/backend/tasks_io/datafeeds/datafeed_twitch.py
  src/backend/tasks_io/datafeeds/datafeed_youtube.py
  src/backend/tasks_io/datafeeds/parsers/twitch/twitch_access_token_parser.py
  src/backend/tasks_io/datafeeds/parsers/twitch/twitch_stream_status_parser.py
  src/backend/tasks_io/datafeeds/parsers/youtube/tests/youtube_stream_status_parser_test.py
  src/backend/tasks_io/datafeeds/parsers/youtube/youtube_stream_stauts_parser.py
  src/backend/tasks_io/datafeeds/tests/datafeed_twitch_get_access_token_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_twitch_stream_status_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_youtube_test.py
  src/backend/tasks_io/handlers/live_events.py
  src/backend/tasks_io/helpers/live_event_helper.py
  src/backend/tasks_io/helpers/tests/live_event_helper_test.py
  src/backend/tasks_io/helpers/tests/webcast_online_helper_test.py
  src/backend/tasks_io/helpers/webcast_online_helper.py
  src/backend/web/handlers/tests/team_detail_test.py
Due: py3-type, py3-lint, py3-test

Refactor Webcast Datafeeds (#7530)
  src/backend/common/helpers/tests/webcast_online_helper_test.py
  src/backend/common/memcache_models/twitch_oauth_token_memcache.py
  src/backend/common/memcache_models/webcast_online_status_memcache.py
  src/backend/common/models/event.py
  src/backend/common/models/twitch_access_token.py
  src/backend/common/models/webcast.py
  src/backend/common/urlfetch.py
  src/backend/tasks_io/datafeeds/datafeed_base.py
  src/backend/tasks_io/datafeeds/datafeed_twitch.py
  src/backend/tasks_io/datafeeds/datafeed_youtube.py
  src/backend/tasks_io/datafeeds/parsers/twitch/twitch_access_token_parser.py
  src/backend/tasks_io/datafeeds/parsers/twitch/twitch_stream_status_parser.py
  src/backend/tasks_io/datafeeds/parsers/youtube/tests/youtube_stream_status_parser_test.py
  src/backend/tasks_io/datafeeds/parsers/youtube/youtube_stream_stauts_parser.py
  src/backend/tasks_io/datafeeds/tests/datafeed_twitch_get_access_token_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_twitch_stream_status_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_youtube_test.py
  src/backend/tasks_io/handlers/live_events.py
  src/backend/tasks_io/helpers/live_event_helper.py
  src/backend/tasks_io/helpers/tests/live_event_helper_test.py
  src/backend/tasks_io/helpers/tests/webcast_online_helper_test.py
  src/backend/tasks_io/helpers/webcast_online_helper.py
  src/backend/web/handlers/tests/team_detail_test.py
Due: py3-type, py3-lint, py3-test

fix webcast status loading
  src/backend/common/helpers/event_insights_helper.py
  src/backend/common/models/twitch_access_token.py
  src/backend/tasks_io/datafeeds/parsers/twitch/twitch_access_token_parser.py
  src/backend/tasks_io/handlers/tests/frc_api_event_list_test.py
  src/backend/tasks_io/helpers/webcast_online_helper.py
Due: py3-type, py3-lint, py3-test

Add YT and Twitch icons to GameDay
  src/frontend/gameday2/components/PlatformIcon.js
  src/frontend/gameday2/components/WebcastSelectionDialog.js
  src/frontend/gameday2/components/WebcastSelectionDialogItem.js
  src/frontend/gameday2/components/icons/TwitchIcon.js
  src/frontend/gameday2/components/icons/YouTubeIcon.js
Due: node-lint, node-test

Fix styling on live webcasts
  src/frontend/gameday2/components/PlatformIcon.js
  src/frontend/gameday2/components/WebcastSelectionDialog.js
  src/frontend/gameday2/components/icons/YouTubeIcon.js
Due: node-lint, node-test

Add YT and Twitch icons to GameDay (#7539)
  src/frontend/gameday2/components/PlatformIcon.js
  src/frontend/gameday2/components/WebcastSelectionDialog.js
  src/frontend/gameday2/components/WebcastSelectionDialogItem.js
  src/frontend/gameday2/components/icons/TwitchIcon.js
  src/frontend/gameday2/components/icons/YouTubeIcon.js
Due: node-lint, node-test

correct agenda link for cmp
  src/backend/common/models/event.py
Due: py3-type, py3-lint, py3-test

correct agenda link for cmp (#7549)
  src/backend/common/models/event.py
Due: py3-type, py3-lint, py3-test

Update Insights page from Chairman's to Impact
  src/backend/web/templates/insights.html
Due: none

Update Insights page text from Chairman's to Impact (#7550)
  src/backend/web/templates/insights.html
Due: none

WIP
  pwa/app/components/tba/matchResultsTable.tsx
Due: none

[PWA] Don't repeat year multiple times in team history table
  pwa/app/routes/team.$teamNumber.history.tsx
Due: none

Use API short overrides with nexus
  src/backend/tasks_io/datafeeds/datafeed_nexus.py
  src/backend/tasks_io/datafeeds/tests/datafeed_nexus_test.py
  src/backend/tasks_io/handlers/nexus_api.py
Due: py3-type, py3-lint, py3-test

Use API short overrides with nexus (#7551)
  src/backend/tasks_io/datafeeds/datafeed_nexus.py
  src/backend/tasks_io/datafeeds/tests/datafeed_nexus_test.py
  src/backend/tasks_io/handlers/nexus_api.py
Due: py3-type, py3-lint, py3-test

Update nexus redirect links to work with CMP divisions
  src/backend/web/templates/event_partials/event_team_list_table.html
  src/backend/web/templates/team_details.html
Due: none

Match suggestion
  pwa/app/components/tba/matchResultsTable.tsx
  pwa/app/routes/match_suggestion.tsx
Due: none

Add onshape to media type enum (#7536)
  pwa/app/api/v3.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

Bootstrap events and rankings when bootstrapping districts
  src/backend/web/local/bootstrap.py
Due: py3-type, py3-lint, py3-test

Bootstrap events and rankings when bootstrapping districts (#7512)
  src/backend/web/local/bootstrap.py
Due: py3-type, py3-lint, py3-test

Add insight delete task endpoint (#7467)
  src/backend/tasks_cpu/handlers/insights.py
Due: py3-type, py3-lint, py3-test

[PWA] Don't repeat year multiple times in team history table (#7566)
  pwa/app/routes/team.$teamNumber.history.tsx
Due: none

[PWA] Correctly sort events on team history page
  pwa/app/routes/team.$teamNumber.history.tsx
Due: none

Switch Nix to use .env file instead of silly text file
  .gitignore
Due: none

fix weird issue with api
  pwa/app/api/v3.ts
  pwa/app/routes/teams.($pgNum).tsx
  src/backend/web/static/swagger/api_v3.json
Due: none

opps
  pwa/app/api/v3.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

fix issues with api file
  pwa/app/api/v3.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

fix util useing static max value
  pwa/app/lib/utils.tsx
  pwa/app/routes/teams.($pgNum).tsx
Due: none

Undo hardcoding
  pwa/app/routes/match_suggestion.tsx
Due: none

Fix predictions
  pwa/app/routes/match_suggestion.tsx
Due: none

Fix einstein
  pwa/app/routes/match_suggestion.tsx
Due: none

Add epa
  pwa/app/routes/match_suggestion.tsx
Due: none

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
