Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]

fix cron.yaml syntax
  src/cron.yaml
Due: none

use python 3.12 for coverage on push action
  .github/workflows/push.yml
Due: none

Update New-Season.md
  docs/Maintainers/New-Season.md
Due: none

port apistatus admin tool
  old_py2/controllers/admin/admin_apistatus_controller.py
  src/backend/common/consts/auth_type.py
  src/backend/common/sitevars/apistatus.py
  src/backend/common/sitevars/tests/trusted_api_test.py
  src/backend/common/sitevars/trusted_api.py
  src/backend/web/handlers/admin/apistatus.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/tests/apistatus_test.py
  src/backend/web/templates/admin/apistatus.html
Due: py3-type, py3-lint, py3-test

port apistatus admin tool (#6917)
  old_py2/controllers/admin/admin_apistatus_controller.py
  src/backend/common/consts/auth_type.py
  src/backend/common/sitevars/apistatus.py
  src/backend/common/sitevars/tests/trusted_api_test.py
  src/backend/common/sitevars/trusted_api.py
  src/backend/web/handlers/admin/apistatus.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/tests/apistatus_test.py
  src/backend/web/templates/admin/apistatus.html
Due: py3-type, py3-lint, py3-test

Enable remix.future.v3_lazyRouteDiscovery
  pwa/vite.config.ts
Due: none

Enable remix.future.v3_singleFetch
  pwa/app/entry.server.tsx
  pwa/vite.config.ts
Due: none

Enable remix.future.v3_routeConfig
  pwa/app/routes.ts
  pwa/package-lock.json
  pwa/package.json
  pwa/vite.config.ts
Due: none

Update dependencies for react router 7 transition
  pwa/app/routes/_index.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/events.($year).tsx
  pwa/app/routes/insights.($year).tsx
  pwa/app/routes/match.$matchKey.tsx
  pwa/app/routes/team.$teamNumber.($year).tsx
  pwa/app/routes/team.$teamNumber.history.tsx
Due: none

Upgrade from remix v2 to react-router v7
  pwa/.gitignore
  pwa/app/components/tba/eventListTable.tsx
  pwa/app/components/tba/globalLoadingProgress.tsx
  pwa/app/components/tba/links.tsx
  pwa/app/components/tba/matchResultsTable.tsx
  pwa/app/components/tba/nav.tsx
  pwa/app/components/tba/rankingsTable.tsx
  pwa/app/components/tba/teamPageTeamInfo.tsx
  pwa/app/components/tba/teamSocialMediaList.tsx
  pwa/app/components/ui/toc.tsx
  pwa/app/entry.client.tsx
  pwa/app/entry.server.tsx
  pwa/app/env.ts
  pwa/app/lib/utils.tsx
  pwa/app/root.tsx
  pwa/app/routes/_index.tsx
  pwa/app/routes/about.tsx
  pwa/app/routes/add-data.tsx
  pwa/app/routes/apidocs.tsx
  pwa/app/routes/contact.tsx
  pwa/app/routes/donate.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/events.($year).tsx
  pwa/app/routes/insights.($year).tsx
  pwa/app/routes/match.$matchKey.tsx
  pwa/app/routes/privacy.tsx
  pwa/app/routes/team.$teamNumber.($year).tsx
  pwa/app/routes/team.$teamNumber.history.tsx
  pwa/app/routes/thanks.tsx
  pwa/package-lock.json
  pwa/package.json
  pwa/react-router.config.ts
  pwa/server.js
  pwa/tsconfig.json
  pwa/vite.config.ts
Due: node-lint, node-test

[WIP] Implement search on PWA
  pwa/app/api/v3.ts
  pwa/app/components/tba/nav.tsx
  pwa/app/components/tba/searchbar.tsx
  pwa/app/components/ui/command.tsx
  pwa/app/components/ui/dialog.tsx
  pwa/app/lib/search/api.ts
  pwa/app/lib/search/fuzzysortFilterer.ts
  pwa/app/lib/search/prodAPIProvider.ts
  pwa/package-lock.json
  pwa/package.json
  src/backend/web/static/swagger/api_v3.json
Due: none

Bump unplugin-icons from 0.22.0 to 22.0.0 in /pwa because dependabot couldnt
  pwa/package-lock.json
  pwa/package.json
Due: none

Bump unplugin-icons from 0.22.0 to 22.0.0 in /pwa because dependabot couldnt (#6940)
  pwa/package-lock.json
  pwa/package.json
Due: none

Enable remix.future.v3_lazyRouteDiscovery (#6926)
  pwa/vite.config.ts
Due: none

Change actions to use ubuntu 22.04 instead of ubuntu-latest
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
Due: none

Change actions to use ubuntu 22.04 instead of ubuntu-latest (#6956)
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
Due: none

Implement search on PWA (#6606)
  pwa/app/api/v3.ts
  pwa/app/components/tba/nav.tsx
  pwa/app/components/tba/searchbar.tsx
  pwa/app/components/ui/command.tsx
  pwa/app/components/ui/dialog.tsx
  pwa/app/lib/search/api.ts
  pwa/app/lib/search/fuzzysortFilterer.ts
  pwa/app/lib/search/prodAPIProvider.ts
  pwa/package-lock.json
  pwa/package.json
  src/backend/web/static/swagger/api_v3.json
Due: none

Remove python3.12-minimal from Docker - seems it no longer exists
  ops/dev/docker/Dockerfile
Due: none

Fix 500 when fetching team without avatar
  src/backend/tasks_io/datafeeds/datafeed_fms_api.py
Due: py3-type, py3-lint, py3-test

Remove python3.12-minimal from Docker - seems it no longer exists (#6966)
  ops/dev/docker/Dockerfile
Due: none

Fix 500 when fetching team without avatar (#6916)
  src/backend/tasks_io/datafeeds/datafeed_fms_api.py
Due: py3-type, py3-lint, py3-test

Add events played at insight
  src/backend/common/helpers/insights_helper.py
  src/backend/common/models/insight.py
Due: py3-type, py3-lint, py3-test

clarify add/remove team social media on admin panel
  src/backend/web/handlers/admin/team.py
  src/backend/web/templates/admin/team_details.html
Due: py3-type, py3-lint, py3-test

clarify add/remove team social media on admin panel (#6971)
  src/backend/web/handlers/admin/team.py
  src/backend/web/templates/admin/team_details.html
Due: py3-type, py3-lint, py3-test

remove prints
  src/backend/common/helpers/event_short_name_helper.py
  src/backend/common/sitevars/turbo_mode.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_team_avatar_parser_test.py
  src/backend/tasks_io/handlers/math.py
  src/cron.yaml
Due: py3-type, py3-lint, py3-test

splay event/team datafeed daily fetches
  src/backend/tasks_io/handlers/frc_api.py
Due: py3-type, py3-lint, py3-test

Splay daily event/team datafeed requests (#6972)
  src/backend/common/helpers/event_short_name_helper.py
  src/backend/common/sitevars/turbo_mode.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_team_avatar_parser_test.py
  src/backend/tasks_io/handlers/frc_api.py
  src/backend/tasks_io/handlers/math.py
  src/cron.yaml
Due: py3-type, py3-lint, py3-test

Fetch matches using v3 hybrid schedule
  src/backend/common/frc_api/frc_api.py
  src/backend/tasks_io/datafeeds/datafeed_fms_api.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_event_matches_test.py
Due: py3-type, py3-lint, py3-test

Fetch matches using v3 hybrid schedule (#6979)
  src/backend/common/frc_api/frc_api.py
  src/backend/tasks_io/datafeeds/datafeed_fms_api.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_event_matches_test.py
Due: py3-type, py3-lint, py3-test

Set correct number formats in swagger specs for team event status objects
  src/backend/web/static/swagger/api_v3.json
Due: none

Add events played at insight (#6970)
  src/backend/common/helpers/insights_helper.py
  src/backend/common/models/insight.py
Due: py3-type, py3-lint, py3-test

Switch sort_orders to double type to reflect Python's float precision
  src/backend/web/static/swagger/api_v3.json
Due: none

Upgrade vitest and @vitest/coverage-v8 to 3.0.3; add vitest packages to dependabot group
  .github/dependabot.yml
  pwa/package-lock.json
  pwa/package.json
Due: none

[pwa] add RP dots, team highlights to match table
  pwa/app/api/v3.ts
  pwa/app/components/tba/matchResultsTable.tsx
  pwa/app/components/tba/rpDot.tsx
  pwa/app/components/tba/teamEventAppearance.tsx
  pwa/app/lib/rankingPoints.test.ts
  pwa/app/lib/rankingPoints.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

Bump packages because dependabot can't
  pwa/package-lock.json
  pwa/package.json
Due: none

Add ability to favorite eventteams
  docs/common/Current-User.md
  src/backend/common/helpers/mytba.py
  src/backend/common/models/keys.py
  src/backend/web/handlers/account.py
  src/backend/web/handlers/tests/account_overview_test.py
  src/backend/web/templates/mytba.html
  src/backend/web/templates/mytba_eventteam.html
  src/backend/web/templates/mytba_partials/my_eventteams.html
Due: py3-type, py3-lint, py3-test

Update vitest; create vitest dependabot group (#6988)
  .github/dependabot.yml
  pwa/package-lock.json
  pwa/package.json
Due: none

Bump packages in /pwa because dependabot can't (#6989)
  pwa/package-lock.json
  pwa/package.json
Due: none
