Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [pre-commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [pre-commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [pre-commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [pre-commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [pre-commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [pre-commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [pre-commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]
    - id: gcloud-sdk-version
      name: "Checking Google Cloud SDK Version"
      entry: ./ops/check_sdk_version.sh
      language: script
      always_run: true
      stages: [post-checkout]

Add interface to manually clean up old CachedQueryResult versions (#9774)
  src/backend/common/models/cached_query_result.py
  src/backend/common/models/tests/cached_query_result_test.py
  src/backend/common/queries/database_query.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/cache.py
  src/backend/web/handlers/admin/tests/cache_test.py
  src/backend/web/templates/admin/cached_query_detail.html
  src/backend/web/templates/admin/cached_query_list.html
Due: py3-type, py3-lint, py3-test

Insight v2 bugfixes
  src/backend/common/helpers/insights_v2/compute.py
  src/backend/common/helpers/insights_v2/qualifying_event_streak.py
  src/backend/common/helpers/insights_v2/streak_calculator.py
  src/backend/common/helpers/tests/insights_v2/leaderboard_v2_calculator_test.py
  src/backend/common/helpers/tests/insights_v2/qualifying_event_streak_test.py
  src/backend/common/helpers/tests/insights_v2/streak_v2_calculator_test.py
Due: py3-type, py3-lint, py3-test

Insight v2 bugfixes (#9783)
  src/backend/common/helpers/insights_v2/compute.py
  src/backend/common/helpers/insights_v2/qualifying_event_streak.py
  src/backend/common/helpers/insights_v2/streak_calculator.py
  src/backend/common/helpers/tests/insights_v2/leaderboard_v2_calculator_test.py
  src/backend/common/helpers/tests/insights_v2/qualifying_event_streak_test.py
  src/backend/common/helpers/tests/insights_v2/streak_v2_calculator_test.py
Due: py3-type, py3-lint, py3-test

Add longest einstein streak for insights v2
  src/backend/common/helpers/insights_v2/compute.py
  src/backend/common/helpers/insights_v2/einstein_streak.py
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/insights_v2/streak_calculator.py
  src/backend/common/helpers/tests/insights_v2/einstein_streak_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboard_v2_calculator_test.py
  src/backend/common/helpers/tests/insights_v2/registry_test.py
  src/backend/common/helpers/tests/insights_v2/streak_v2_calculator_test.py
  src/backend/common/models/insight_v2.py
Due: py3-type, py3-lint, py3-test

Add longest einstein streak for insights v2 (#9784)
  src/backend/common/helpers/insights_v2/compute.py
  src/backend/common/helpers/insights_v2/einstein_streak.py
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/insights_v2/streak_calculator.py
  src/backend/common/helpers/tests/insights_v2/einstein_streak_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboard_v2_calculator_test.py
  src/backend/common/helpers/tests/insights_v2/registry_test.py
  src/backend/common/helpers/tests/insights_v2/streak_v2_calculator_test.py
  src/backend/common/models/insight_v2.py
Due: py3-type, py3-lint, py3-test

Reorganize v2 insights
  src/backend/common/helpers/insights_v2/base.py
  src/backend/common/helpers/insights_v2/leaderboards/__init__.py
  src/backend/common/helpers/insights_v2/leaderboards/blue_banners.py
  src/backend/common/helpers/insights_v2/leaderboards/calculator.py
  src/backend/common/helpers/insights_v2/leaderboards/most_matches_played.py
  src/backend/common/helpers/insights_v2/leaderboards/most_matches_played_together.py
  src/backend/common/helpers/insights_v2/names.py
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/insights_v2/streaks/__init__.py
  src/backend/common/helpers/insights_v2/streaks/calculator.py
  src/backend/common/helpers/insights_v2/streaks/einstein_streak.py
  src/backend/common/helpers/insights_v2/streaks/qualifying_event_streak.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/__init__.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/blue_banners_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/calculator_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_matches_played_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_matches_played_together_test.py
  src/backend/common/helpers/tests/insights_v2/streaks/__init__.py
  src/backend/common/helpers/tests/insights_v2/streaks/calculator_test.py
  src/backend/common/helpers/tests/insights_v2/streaks/einstein_streak_test.py
  src/backend/common/helpers/tests/insights_v2/streaks/qualifying_event_streak_test.py
  src/backend/common/models/insight_v2.py
Due: py3-type, py3-lint, py3-test

Reorganize v2 insights (#9785)
  src/backend/common/helpers/insights_v2/base.py
  src/backend/common/helpers/insights_v2/leaderboards/__init__.py
  src/backend/common/helpers/insights_v2/leaderboards/blue_banners.py
  src/backend/common/helpers/insights_v2/leaderboards/calculator.py
  src/backend/common/helpers/insights_v2/leaderboards/most_matches_played.py
  src/backend/common/helpers/insights_v2/leaderboards/most_matches_played_together.py
  src/backend/common/helpers/insights_v2/names.py
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/insights_v2/streaks/__init__.py
  src/backend/common/helpers/insights_v2/streaks/calculator.py
  src/backend/common/helpers/insights_v2/streaks/einstein_streak.py
  src/backend/common/helpers/insights_v2/streaks/qualifying_event_streak.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/__init__.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/blue_banners_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/calculator_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_matches_played_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_matches_played_together_test.py
  src/backend/common/helpers/tests/insights_v2/streaks/__init__.py
  src/backend/common/helpers/tests/insights_v2/streaks/calculator_test.py
  src/backend/common/helpers/tests/insights_v2/streaks/einstein_streak_test.py
  src/backend/common/helpers/tests/insights_v2/streaks/qualifying_event_streak_test.py
  src/backend/common/models/insight_v2.py
Due: py3-type, py3-lint, py3-test

Add various cmp-related v2 insights
  src/backend/common/helpers/insights_v2/leaderboards/blue_banners.py
  src/backend/common/helpers/insights_v2/leaderboards/calculator.py
  src/backend/common/helpers/insights_v2/leaderboards/most_cmp_finals_appearances.py
  src/backend/common/helpers/insights_v2/leaderboards/most_cmp_wins.py
  src/backend/common/helpers/insights_v2/leaderboards/most_division_finals_appearances.py
  src/backend/common/helpers/insights_v2/leaderboards/most_division_wins.py
  src/backend/common/helpers/insights_v2/leaderboards/most_matches_played.py
  src/backend/common/helpers/insights_v2/leaderboards/most_matches_played_together.py
  src/backend/common/helpers/insights_v2/names.py
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/calculator_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_cmp_finals_appearances_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_cmp_wins_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_division_finals_appearances_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_division_wins_test.py
  src/backend/common/models/insight_v2.py
Due: py3-type, py3-lint, py3-test

Add various cmp-related v2 insights (#9786)
  src/backend/common/helpers/insights_v2/leaderboards/blue_banners.py
  src/backend/common/helpers/insights_v2/leaderboards/calculator.py
  src/backend/common/helpers/insights_v2/leaderboards/most_cmp_finals_appearances.py
  src/backend/common/helpers/insights_v2/leaderboards/most_cmp_wins.py
  src/backend/common/helpers/insights_v2/leaderboards/most_division_finals_appearances.py
  src/backend/common/helpers/insights_v2/leaderboards/most_division_wins.py
  src/backend/common/helpers/insights_v2/leaderboards/most_matches_played.py
  src/backend/common/helpers/insights_v2/leaderboards/most_matches_played_together.py
  src/backend/common/helpers/insights_v2/names.py
  src/backend/common/helpers/insights_v2/registry.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/calculator_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_cmp_finals_appearances_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_cmp_wins_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_division_finals_appearances_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_division_wins_test.py
  src/backend/common/models/insight_v2.py
Due: py3-type, py3-lint, py3-test

Deduplicate moblie clients by messaging_id across platforms. Add one-time dedupe in Admin panel
  src/backend/api/handlers/client_api.py
  src/backend/api/handlers/tests/client_api_registration_test.py
  src/backend/common/consts/client_type.py
  src/backend/common/queries/mobile_client_query.py
  src/backend/common/queries/tests/mobile_client_query_test.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/mobile_clients.py
  src/backend/web/handlers/admin/tests/mobile_clients_test.py
  src/backend/web/handlers/ajax.py
  src/backend/web/handlers/tests/ajax_test.py
  src/backend/web/main.py
  src/backend/web/static/javascript/tba_js/firebase_messaging_serviceworker.js
  src/backend/web/static/javascript/tba_js/tba_fcm.js
  src/backend/web/templates/admin/base.html
  src/backend/web/templates/admin/mobile_clients.html
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Deduplicate moblie clients by messaging_id across platforms. Add one-time dedupe in Admin panel (#9787)
  src/backend/api/handlers/client_api.py
  src/backend/api/handlers/tests/client_api_registration_test.py
  src/backend/common/consts/client_type.py
  src/backend/common/queries/mobile_client_query.py
  src/backend/common/queries/tests/mobile_client_query_test.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/mobile_clients.py
  src/backend/web/handlers/admin/tests/mobile_clients_test.py
  src/backend/web/handlers/ajax.py
  src/backend/web/handlers/tests/ajax_test.py
  src/backend/web/main.py
  src/backend/web/static/javascript/tba_js/firebase_messaging_serviceworker.js
  src/backend/web/static/javascript/tba_js/tba_fcm.js
  src/backend/web/templates/admin/base.html
  src/backend/web/templates/admin/mobile_clients.html
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Add missing csrf token for mobileclient dedupe
  src/backend/web/templates/admin/mobile_clients.html
Due: none

Fix 2025 match breakdown score location only showing teleop for trough
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2025.html
Due: none

Fix 2025 match breakdown score location only showing teleop for trough (#9788)
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2025.html
Due: none

Allow for devices to be removed via ping. Add backend endpoint to dry run to remove unregistered devices
  src/backend/api/handlers/client_api.py
  src/backend/api/handlers/tests/client_api_ping_test.py
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/models/notifications/requests/fcm_request.py
  src/backend/common/models/notifications/requests/tests/fcm_request_test.py
  src/backend/web/handlers/account.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/mobile_clients.py
  src/backend/web/handlers/admin/tests/mobile_clients_test.py
  src/backend/web/handlers/tests/account_overview_test.py
  src/backend/web/handlers/tests/account_test.py
  src/backend/web/local/blueprint.py
  src/backend/web/templates/account_overview.html
  src/backend/web/templates/admin/mobile_clients.html
Due: py3-type, py3-lint, py3-test

Allow for devices to be removed via ping. Add backend endpoint to dry run to remove unregistered devices (#9789)
  src/backend/api/handlers/client_api.py
  src/backend/api/handlers/tests/client_api_ping_test.py
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/models/notifications/requests/fcm_request.py
  src/backend/common/models/notifications/requests/tests/fcm_request_test.py
  src/backend/web/handlers/account.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/mobile_clients.py
  src/backend/web/handlers/admin/tests/mobile_clients_test.py
  src/backend/web/handlers/tests/account_overview_test.py
  src/backend/web/handlers/tests/account_test.py
  src/backend/web/local/blueprint.py
  src/backend/web/templates/account_overview.html
  src/backend/web/templates/admin/mobile_clients.html
Due: py3-type, py3-lint, py3-test

Add code in trusted API to remove invalid matches like f1m3 for offseason events
  src/backend/api/handlers/tests/update_event_matches_test.py
  src/backend/api/handlers/trusted.py
Due: py3-type, py3-lint, py3-test

Cleanup MobileClient removal test code
  src/backend/common/helpers/tbans_helper.py
  src/backend/web/local/blueprint.py
Due: py3-type, py3-lint, py3-test

Revert "Cleanup MobileClient removal test code"
  src/backend/common/helpers/tbans_helper.py
  src/backend/web/local/blueprint.py
Due: py3-type, py3-lint, py3-test

Revert "Allow for devices to be removed via ping. Add backend endpoint to dry run to remove unregistered devices (#9789)"
  src/backend/api/handlers/client_api.py
  src/backend/api/handlers/tests/client_api_ping_test.py
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/models/notifications/requests/fcm_request.py
  src/backend/common/models/notifications/requests/tests/fcm_request_test.py
  src/backend/web/handlers/account.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/mobile_clients.py
  src/backend/web/handlers/admin/tests/mobile_clients_test.py
  src/backend/web/handlers/tests/account_overview_test.py
  src/backend/web/handlers/tests/account_test.py
  src/backend/web/local/blueprint.py
  src/backend/web/templates/account_overview.html
  src/backend/web/templates/admin/mobile_clients.html
Due: py3-type, py3-lint, py3-test

Zach/rollback new ping (#9791)
  src/backend/api/handlers/client_api.py
  src/backend/api/handlers/tests/client_api_ping_test.py
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/models/notifications/requests/fcm_request.py
  src/backend/common/models/notifications/requests/tests/fcm_request_test.py
  src/backend/web/handlers/account.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/mobile_clients.py
  src/backend/web/handlers/admin/tests/mobile_clients_test.py
  src/backend/web/handlers/tests/account_overview_test.py
  src/backend/web/handlers/tests/account_test.py
  src/backend/web/templates/account_overview.html
  src/backend/web/templates/admin/mobile_clients.html
Due: py3-type, py3-lint, py3-test

Initial plan
  pwa/docs/tracking-page-migration-plan.md
Due: none

Edits
  pwa/docs/tracking-page-migration-plan.md
Due: none

Initial pass
  pwa/app/routeTree.gen.ts
  pwa/app/routes/district.$districtAbbreviation.tracking.tsx
  pwa/app/routes/district.$districtAbbreviation.{-$year}.tsx
Due: none

Add year selection
  pwa/app/routes/district.$districtAbbreviation.tracking.tsx
Due: none

All default Rankings tab
  pwa/app/routes/district.$districtAbbreviation.tracking.tsx
Due: none

Refactor rankings tab
  pwa/app/routes/district.$districtAbbreviation.tracking.tsx
Due: none

Remove SB links
  pwa/app/routes/district.$districtAbbreviation.tracking.tsx
Due: none

Add div to all matches table
  pwa/app/routes/district.$districtAbbreviation.tracking.tsx
Due: none

Improve background colors
  pwa/app/routes/district.$districtAbbreviation.tracking.tsx
Due: none

Fix team coloring
  pwa/app/routes/district.$districtAbbreviation.tracking.tsx
Due: none

Increase contrast for winning alliance cells
  pwa/app/tailwind.css
Due: none

Correct year dropdown
  pwa/app/routes/district.$districtAbbreviation.tracking.tsx
Due: none

Formatting
  pwa/app/routes/district.$districtAbbreviation.tracking.tsx
Due: none

Remove planning doc
  pwa/docs/tracking-page-migration-plan.md
Due: none

Update routes spec
  pwa/tests/routes.spec.ts
Due: none

Make min_count on v2 insights configurable
  src/backend/common/helpers/insights_v2/leaderboards/blue_banners.py
  src/backend/common/helpers/insights_v2/leaderboards/calculator.py
  src/backend/common/helpers/insights_v2/leaderboards/most_cmp_finals_appearances.py
  src/backend/common/helpers/insights_v2/leaderboards/most_cmp_wins.py
  src/backend/common/helpers/insights_v2/leaderboards/most_division_finals_appearances.py
  src/backend/common/helpers/insights_v2/leaderboards/most_division_wins.py
  src/backend/common/helpers/insights_v2/leaderboards/most_matches_played.py
  src/backend/common/helpers/insights_v2/leaderboards/most_matches_played_together.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/calculator_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_cmp_finals_appearances_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_cmp_wins_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_division_finals_appearances_test.py
  src/backend/common/helpers/tests/insights_v2/leaderboards/most_division_wins_test.py
Due: py3-type, py3-lint, py3-test

Minor fixups
  pwa/app/routeTree.gen.ts
  pwa/app/routes/district.$districtAbbreviation.champs.$year.tsx
  pwa/app/routes/district.$districtAbbreviation.{-$year}.tsx
  pwa/app/tailwind.css
  pwa/tests/routes.spec.ts
Due: none

Add event page link on div tab
  pwa/app/routes/district.$districtAbbreviation.champs.$year.tsx
Due: none

update add-data page
  src/backend/web/templates/add_data.html
Due: none
