Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [pre-commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [pre-commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [pre-commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [pre-commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [pre-commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [pre-commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [pre-commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]
    - id: gcloud-sdk-version
      name: "Checking Google Cloud SDK Version"
      entry: ./ops/check_sdk_version.sh
      language: script
      always_run: true
      stages: [post-checkout]

Default Trusted API keys to 7 days for every event
  src/backend/api/handlers/tests/moderation_test.py
  src/backend/common/suggestions/suggestion_reviewer.py
  src/backend/web/static/swagger/api_moderation_v1.json
Due: py3-type, py3-lint, py3-test

[pwa] Default apiwrite key expiration to 7 days and always send it
  pwa/app/api/tba/moderation/types.gen.ts
  pwa/app/components/tba/moderation/suggestionReviewCard.tsx
  pwa/app/lib/moderationUtils.test.ts
  pwa/app/lib/moderationUtils.ts
  pwa/app/routes/suggest.review.$suggestionType.tsx
Due: none

[pwa] Add cutoff/qualifications to district routes
  pwa/app/lib/api/CmpQualificationMethod.ts
  pwa/app/routes/district.$districtAbbreviation.{-$year}.tsx
  pwa/app/routes/districts.{-$year}.tsx
  pwa/tests/district-rankings-advancement.spec.ts
  pwa/tests/districts-cutoffs.spec.ts
Due: none

[pwa] Add cutoffs/qualification methods to districts (#10523)
  pwa/app/lib/api/CmpQualificationMethod.ts
  pwa/app/routes/district.$districtAbbreviation.{-$year}.tsx
  pwa/app/routes/districts.{-$year}.tsx
  pwa/tests/district-rankings-advancement.spec.ts
  pwa/tests/districts-cutoffs.spec.ts
Due: none

Add moderation API (phase 1) (#10150)
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/moderation.py
  src/backend/api/handlers/tests/moderation_test.py
  src/backend/api/main.py
  src/backend/api/moderation_api_main.py
  src/backend/common/models/user.py
  src/backend/common/suggestions/suggestion_reviewer.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/suggestions_seed.py
  src/backend/web/handlers/admin/tests/suggestions_seed_test.py
  src/backend/web/static/swagger/api_moderation_v1.json
  src/backend/web/templates/admin/suggestion_seed.html
Due: py3-type, py3-lint, py3-test

Name SuggestionType members in the moderation OpenAPI spec
  src/backend/web/static/swagger/api_moderation_v1.json
Due: none

[pwa] Use the generated SuggestionType enum instead of wire strings
  pwa/app/api/tba/moderation/index.ts
  pwa/app/api/tba/moderation/types.gen.ts
  pwa/app/components/tba/moderation/suggestionReviewCard.tsx
  pwa/app/lib/hooks/useModeration.ts
  pwa/app/lib/moderationUtils.test.ts
  pwa/app/lib/moderationUtils.ts
  pwa/app/routes/suggest.review.$suggestionType.tsx
  pwa/app/routes/suggest.review.index.tsx
  pwa/openapi-ts/moderation.config.ts
Due: none

Remove three cron jobs that have 404'd since the Py3 migration
  src/backend/tests/cron_routes_test.py
  src/cron.yaml
  src/queue.yaml
Due: py3-type, py3-lint, py3-test

Add PWA suggestion review UI (phase 2) (#10187)
  pwa/.env.example
  pwa/app/api/tba/moderation/@tanstack/react-query.gen.ts
  pwa/app/api/tba/moderation/client.gen.ts
  pwa/app/api/tba/moderation/client/client.gen.ts
  pwa/app/api/tba/moderation/client/index.ts
  pwa/app/api/tba/moderation/client/types.gen.ts
  pwa/app/api/tba/moderation/client/utils.gen.ts
  pwa/app/api/tba/moderation/core/auth.gen.ts
  pwa/app/api/tba/moderation/core/bodySerializer.gen.ts
  pwa/app/api/tba/moderation/core/params.gen.ts
  pwa/app/api/tba/moderation/core/pathSerializer.gen.ts
  pwa/app/api/tba/moderation/core/queryKeySerializer.gen.ts
  pwa/app/api/tba/moderation/core/serverSentEvents.gen.ts
  pwa/app/api/tba/moderation/core/types.gen.ts
  pwa/app/api/tba/moderation/core/utils.gen.ts
  pwa/app/api/tba/moderation/index.ts
  pwa/app/api/tba/moderation/sdk.gen.ts
  pwa/app/api/tba/moderation/types.gen.ts
  pwa/app/components/tba/moderation/keyboardShortcutsDialog.tsx
  pwa/app/components/tba/moderation/reviewGuidelines.test.ts
  pwa/app/components/tba/moderation/reviewGuidelines.tsx
  pwa/app/components/tba/moderation/suggestionReviewCard.tsx
  pwa/app/components/ui/breadcrumb.tsx
  pwa/app/lib/hooks/useModeration.ts
  pwa/app/lib/moderationUtils.test.ts
  pwa/app/lib/moderationUtils.ts
  pwa/app/routeTree.gen.ts
  pwa/app/routes/__root.tsx
  pwa/app/routes/suggest.review.$suggestionType.tsx
  pwa/app/routes/suggest.review.index.tsx
  pwa/app/vite-env.d.ts
  pwa/generate-api.sh
  pwa/openapi-ts/moderation.config.ts
  pwa/scripts/moderation-e2e.mjs
  pwa/tests/routes.spec.ts
Due: node-lint, node-test

Remove three cron jobs that have 404'd since the Py3 migration (#10493)
  src/backend/tests/cron_routes_test.py
  src/cron.yaml
  src/queue.yaml
Due: py3-type, py3-lint, py3-test

Point moderators at the PWA suggestion review queue
  src/backend/web/handlers/tests/suggest_review_pwa_banner_test.py
  src/backend/web/templates/suggestions/partials/pwa_review_banner.html
  src/backend/web/templates/suggestions/suggest_apiwrite_review_list.html
  src/backend/web/templates/suggestions/suggest_designs_review.html
  src/backend/web/templates/suggestions/suggest_event_media_review_list.html
  src/backend/web/templates/suggestions/suggest_event_webcast_review_list.html
  src/backend/web/templates/suggestions/suggest_match_video_review_list.html
  src/backend/web/templates/suggestions/suggest_offseason_event_review_list.html
  src/backend/web/templates/suggestions/suggest_review_home.html
  src/backend/web/templates/suggestions/suggest_team_media_review_list.html
  src/backend/web/templates/suggestions/suggest_team_social_review.html
Due: py3-type, py3-lint, py3-test

Deploy the PWA when an OpenAPI spec changes
  .github/workflows/push.yml
  pwa/AGENTS.md
Due: none

Make the Write API Keys "Event" header the sort control, newest first
  src/backend/web/handlers/account.py
  src/backend/web/handlers/tests/account_overview_test.py
  src/backend/web/templates/account_overview.html
Due: py3-type, py3-lint, py3-test

Add smugmug support
  pwa/app/api/tba/read/index.ts
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/common/consts/media_type.py
  src/backend/common/manipulators/media_manipulator.py
  src/backend/common/manipulators/tests/media_manipulator_test.py
  src/backend/common/models/media.py
  src/backend/common/models/tests/media_test.py
  src/backend/common/queries/dict_converters/tests/media_converter_test.py
  src/backend/common/sitevars/smugmug_api_secret.py
  src/backend/common/sitevars/tests/smugmug_api_secret_test.py
  src/backend/common/suggestions/media_parser.py
  src/backend/common/suggestions/suggestion_creator.py
  src/backend/common/suggestions/tests/media_url_parse_test.py
  src/backend/common/suggestions/tests/suggestion_creator_test.py
  src/backend/web/handlers/suggestions/suggest_team_media_review_controller.py
  src/backend/web/handlers/suggestions/tests/suggest_team_media_review_controller_test.py
  src/backend/web/handlers/tests/event_detail_test.py
  src/backend/web/handlers/tests/team_detail_test.py
  src/backend/web/static/swagger/api_v3.json
  src/backend/web/templates/event_details.html
  src/backend/web/templates/media_partials/media_display_partial.html
  src/backend/web/templates/media_partials/smugmug_album_partial.html
  src/backend/web/templates/media_partials/smugmug_photo_partial.html
  src/backend/web/templates/suggestions/suggest_team_media_review_list.html
  src/backend/web/templates/team_details.html
Due: py3-type, py3-lint, py3-test

Add screenshots for PR #10527
  pr-10527-account-write-keys-clicked-asc-1788653975.png
  pr-10527-account-write-keys-clicked-desc-1788653975.png
  pr-10527-account-write-keys-default-1788653975.png
Due: none

Add screenshots for PR #10524
  pr-10524-apiwrite-queue-banner-1788654084.png
  pr-10524-review-home-banner-1788654084.png
Due: none

Use SimilarEventHelper for similar events in the moderation API
  src/backend/api/handlers/moderation.py
  src/backend/api/handlers/tests/moderation_test.py
  src/backend/common/helpers/similar_event_helper.py
  src/backend/common/helpers/tests/similar_event_helper_test.py
  src/backend/common/suggestions/offseason_event_candidate.py
  src/backend/web/handlers/suggestions/suggest_offseason_event_review_controller.py
Due: py3-type, py3-lint, py3-test

Document how to get screenshots onto PRs, with a reusable capture script
  AGENTS.md
  ops/pr_screenshots/screenshot_html.mjs
Due: node-lint, node-test

Move the capture script into pwa/ so its import resolves
  AGENTS.md
  pwa/scripts/screenshot_html.mjs
Due: node-lint, node-test

Add screenshots for PR #10529
  pr-10529-review-home-after-1788654249.png
  pr-10529-review-home-before-1788654249.png
Due: none

Fix import ordering (I100)
  src/backend/api/handlers/tests/moderation_test.py
  src/backend/web/handlers/suggestions/suggest_offseason_event_review_controller.py
Due: py3-type, py3-lint, py3-test

[pwa] Track cache hit rate
  pwa/app/lib/middleware/network-cache.test.ts
  pwa/app/lib/middleware/network-cache.ts
  pwa/app/routes/local.debug.tsx
Due: none

[pwa] Speed up data loading: non-blocking Nexus + historical staleTime
  pwa/app/routes/district.$districtAbbreviation.champs.$year.tsx
  pwa/app/routes/district.$districtAbbreviation.{-$year}.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/events.{-$year}.tsx
  pwa/app/routes/insights.{-$year}.tsx
  pwa/tests/data-caching.spec.ts
Due: none

PR feedback
  src/backend/web/handlers/ajax.py
  src/backend/web/handlers/tests/team_detail_test.py
  src/backend/web/tests/cached_public_csrf_test.py
Due: py3-type, py3-lint, py3-test

Add /event/{event_key}/media APIv3 endpoint
  pwa/app/api/tba/read/@tanstack/react-query.gen.ts
  pwa/app/api/tba/read/index.ts
  pwa/app/api/tba/read/sdk.gen.ts
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/api/apiv3_main.py
  src/backend/api/handlers/event.py
  src/backend/api/handlers/tests/event_test.py
  src/backend/common/models/media.py
  src/backend/common/models/tests/media_test.py
  src/backend/common/queries/dict_converters/media_converter.py
  src/backend/common/queries/dict_converters/tests/media_converter_test.py
  src/backend/web/handlers/tests/event_detail_test.py
  src/backend/web/static/swagger/api_v3.json
  src/backend/web/templates/event_details.html
Due: py3-type, py3-lint, py3-test

Update CSRF token regex pattern
  src/backend/web/tests/cached_public_csrf_test.py
Due: py3-type, py3-lint, py3-test

More PR review, updating typing
  src/backend/web/handlers/tests/ajax_test.py
  src/backend/web/static/javascript/tba_js/tba_favorites.js
  src/backend/web/tests/cached_public_csrf_test.py
Due: py3-type, py3-lint, py3-test, node-lint, node-test

[pwa] Render SmugMug galleries and event videos in the event Media tab
  pwa/app/components/tba/smugmugAlbumGallery.tsx
  pwa/app/lib/mediaUtils.test.ts
  pwa/app/lib/mediaUtils.ts
  pwa/app/routes/event.$eventKey.tsx
  pwa/tests/event-media.spec.ts
Due: none

Reorder @cached_public before @validate_keys in APIv3 handlers
  src/backend/api/handlers/district.py
  src/backend/api/handlers/event.py
  src/backend/api/handlers/match.py
  src/backend/api/handlers/team.py
  src/backend/api/handlers/tests/decorator_order_test.py
Due: py3-type, py3-lint, py3-test

[api] Zero-copy JSON passthrough for CachedQueryResult
  src/backend/api/handlers/event.py
  src/backend/api/handlers/helpers/model_query_response.py
  src/backend/api/handlers/helpers/profiled_jsonify.py
  src/backend/api/handlers/helpers/tests/model_query_response_test.py
  src/backend/api/handlers/helpers/tests/profiled_jsonify_test.py
  src/backend/api/handlers/match.py
  src/backend/api/handlers/team.py
  src/backend/api/main.py
  src/backend/common/models/cached_query_result.py
  src/backend/common/models/tests/cached_query_result_test.py
  src/backend/common/queries/database_query.py
  src/backend/common/queries/tests/database_query_test.py
Due: py3-type, py3-lint, py3-test

Add gcloud-trace-analysis agent skill
  .agents/skills/gcloud-trace-analysis/SKILL.md
Due: none

Support multi-key invalidation and fast-path 304 in @cached_public
  src/backend/common/decorators.py
  src/backend/common/queries/database_query.py
  src/backend/common/queries/tests/multi_key_invalidation_test.py
Due: py3-type, py3-lint, py3-test

[pwa] Show skeletons on /districts while loading
  pwa/app/components/ui/skeleton.tsx
  pwa/app/routes/districts.{-$year}.tsx
  pwa/tests/districts-cutoffs.spec.ts
Due: none

[api] Use orjson in fetch_dict and profiled_jsonify
  .pyre_configuration
  pyproject.toml
  src/backend/api/handlers/helpers/profiled_jsonify.py
  src/backend/api/handlers/helpers/tests/profiled_jsonify_test.py
  src/backend/common/queries/database_query.py
  src/backend/common/queries/tests/database_query_test.py
  uv.lock
Due: py3-type, py3-lint, py3-test

Change team name (with sponsors) to nickname in scouting csvs
  pwa/app/lib/scoutingUtils.ts
Due: none

Remove the last Vagrant remnants
  .gitignore
  ops/check_dev_container_version.sh
Due: none

Add nicknames to team thread link tooltips
  src/backend/web/handlers/team_threads.py
  src/backend/web/handlers/tests/team_threads_test.py
  src/backend/web/templates/team_threads.html
Due: py3-type, py3-lint, py3-test

Use proper EventDetailsQuery
  src/backend/common/helpers/event_remapteams_helper.py
  src/backend/common/helpers/event_team_status_helper.py
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
  src/backend/tasks_io/handlers/tasks.py
Due: py3-type, py3-lint, py3-test
