Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [pre-commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [pre-commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [pre-commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [pre-commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [pre-commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [pre-commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [pre-commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]
    - id: gcloud-sdk-version
      name: "Checking Google Cloud SDK Version"
      entry: ./ops/check_sdk_version.sh
      language: script
      always_run: true
      stages: [post-checkout]

Link moderators to the review UI from the PWA account page
  pwa/app/components/tba/account/suggestionReviewCard.test.tsx
  pwa/app/components/tba/account/suggestionReviewCard.tsx
  pwa/app/components/tba/account/suggestionReviewSection.tsx
  pwa/app/routes/account.index.tsx
Due: none

Fix import order in team_admin.py
  src/backend/web/handlers/team_admin.py
Due: py3-type, py3-lint, py3-test

Address review findings on the suggestion review removal
  pwa/app/components/tba/account/suggestionReviewSection.test.tsx
  pwa/app/components/tba/account/suggestionReviewSection.tsx
  pwa/app/components/tba/moderation/suggestionReviewCard.test.tsx
  pwa/app/components/tba/moderation/suggestionReviewCard.tsx
  pwa/app/lib/hooks/useModeration.ts
  pwa/app/routes/suggest.review.index.tsx
  src/backend/common/suggestions/suggestion_reviewer.py
  src/backend/common/suggestions/tests/suggestion_reviewer_test.py
  src/backend/web/handlers/suggestions/suggestion_review_redirects.py
  src/backend/web/handlers/team_admin.py
  src/backend/web/handlers/tests/suggest_team_admin_review_test.py
  src/backend/web/templates/team_admin_dashboard.html
Due: py3-type, py3-lint, py3-test

Second round of review fixes on the suggestion review removal
  pwa/app/components/tba/account/suggestionReviewSection.test.tsx
  pwa/app/components/tba/moderation/reviewTools.test.tsx
  pwa/app/components/tba/moderation/suggestionReviewCard.test.tsx
  pwa/app/components/tba/moderation/suggestionReviewCard.tsx
  pwa/app/lib/hooks/useModeration.ts
  pwa/app/lib/moderationUtils.test.ts
  pwa/app/lib/moderationUtils.ts
  pwa/app/routes/__root.tsx
  src/backend/api/handlers/moderation.py
  src/backend/api/handlers/tests/moderation_test.py
  src/backend/common/suggestions/suggestion_reviewer.py
  src/backend/common/suggestions/tests/suggestion_reviewer_test.py
  src/backend/web/handlers/suggestions/tests/suggestion_review_redirects_test.py
  src/backend/web/handlers/team_admin.py
  src/backend/web/handlers/tests/suggest_team_admin_review_test.py
  src/backend/web/templates/base.html
  src/backend/web/templates/team_admin_dashboard.html
  src/backend/web/tests/context_processors_test.py
Due: py3-type, py3-lint, py3-test

Bring the PWA review home to parity with the retired Jinja page
  pwa/app/components/tba/moderation/reviewTools.test.tsx
  pwa/app/components/tba/moderation/reviewTools.tsx
  pwa/app/components/tba/moderation/suggestionReviewCard.test.tsx
  pwa/app/components/tba/moderation/suggestionReviewCard.tsx
  pwa/app/routes/suggest.review.index.tsx
  src/backend/web/handlers/team_admin.py
Due: py3-type, py3-lint, py3-test

Add Subresource Integrity to every pinned CDN script and stylesheet (#10599)
  src/backend/tasks_io/templates/datafeeds/base.html
  src/backend/web/templates/account_login_required.html
  src/backend/web/templates/admin/base.html
  src/backend/web/templates/apiwrite.html
  src/backend/web/templates/base.html
  src/backend/web/templates/event_insights.html
  src/backend/web/templates/eventwizard.html
  src/backend/web/templates/gameday2.html
  src/backend/web/templates/match_details.html
  src/backend/web/templates/match_suggestion.html
  src/backend/web/templates/match_timeseries.html
  sri_current.txt
Due: none

Upgrade admin and tasks-service pages to jQuery 3.7.1 and Bootstrap 3.4.1 (#10601)
  src/backend/tasks_io/templates/datafeeds/base.html
  src/backend/web/templates/admin/base.html
Due: none

Upgrade the Firebase web SDK from 8.10.0 to the 10.14.1 compat build (#10602)
  src/backend/web/templates/account_login_required.html
  src/backend/web/templates/base.html
Due: none

Upgrade the public site to jQuery 3.7.1 and Bootstrap 3.4.1; drop unused fancybox
  src/backend/web/static/css/precompiled_css/jquery.fancybox.css
  src/backend/web/static/images/icons/fancybox_loading.gif
  src/backend/web/static/images/icons/fancybox_sprite.png
  src/backend/web/static/javascript/tba_js/tba.js
  src/backend/web/templates/base.html
  webpack.config.js
Due: node-lint, node-test

Show event dates and timing on the PWA apiwrite review page
  pwa/app/components/tba/moderation/suggestionReviewCard.test.tsx
  pwa/app/components/tba/moderation/suggestionReviewCard.tsx
  pwa/app/lib/moderationUtils.test.ts
  pwa/app/lib/moderationUtils.ts
Due: none

Add screenshots for PR #10823
  pr-10823-apiwrite-after-dark-a.png
  pr-10823-apiwrite-after-dark-b.png
  pr-10823-apiwrite-after-light-a.png
  pr-10823-apiwrite-after-light-b.png
  pr-10823-apiwrite-before-dark-a.png
  pr-10823-apiwrite-before-dark-b.png
  pr-10823-apiwrite-before-light-a.png
  pr-10823-apiwrite-before-light-b.png
Due: none

Use MulticastMessage.fids now that firebase-admin 7.6 deprecates tokens
  src/backend/common/models/notifications/requests/fcm_request.py
  src/backend/common/models/notifications/requests/tests/fcm_request_test.py
Due: py3-type, py3-lint, py3-test

Bump react-ga4 from 2.1.0 to 3.0.1
  package-lock.json
  package.json
Due: none

Use the jest-puppeteer browser in the fullstack test for puppeteer 25
  jest-puppeteer.config.cjs
  ops/tests/fullstack.test.js
Due: node-lint, node-test

[pwa] Show event dates and timing on the apiwrite review page (#10823)
  pwa/app/components/tba/moderation/suggestionReviewCard.test.tsx
  pwa/app/components/tba/moderation/suggestionReviewCard.tsx
  pwa/app/lib/moderationUtils.test.ts
  pwa/app/lib/moderationUtils.ts
Due: none

Add pixel diffs for PR #10823
  pr-10823-apiwrite-diff-dark-a.png
  pr-10823-apiwrite-diff-dark-b.png
  pr-10823-apiwrite-diff-light-a.png
  pr-10823-apiwrite-diff-light-b.png
Due: none

Add before/after/diff screenshots for PR #10600
  pr-10600-gameday-after.png
  pr-10600-gameday-before.png
  pr-10600-gameday-diff.png
  pr-10600-home-after.png
  pr-10600-home-before.png
  pr-10600-home-diff.png
Due: none

Bump @babel/core and @babel/preset-typescript to 8.x together
  .babelrc
  package-lock.json
  package.json
  webpack.config.js
Due: node-lint, node-test

Count every frontend source file in Jest coverage
  package.json
Due: none

[pwa] Measure coverage over every source file, excluding generated code
  pwa/vite.config.ts
Due: none

Keep vendored cloudstorage and type-checker-only lines out of Python coverage
  .coveragerc
Due: none

Post Before | After | Diff tables from both CI screenshot pipelines
  .github/workflows/comment_screenshots_on_pr.yml
  .github/workflows/pull_request.yml
  .github/workflows/pwa_screenshots.yml
  ops/pr_screenshots/artifact_data.py
  ops/pr_screenshots/capture_screenshots.py
  ops/pr_screenshots/diff_screenshots.py
  ops/pr_screenshots/generate_screenshots_message.py
  ops/pr_screenshots/tests/capture_screenshots_test.py
  ops/pr_screenshots/tests/diff_screenshots_test.py
  ops/pr_screenshots/tests/generate_screenshots_message_test.py
  ops/pwa/generate-screenshot-comment.mjs
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Add a pixel-diff column to the PR screenshot table
  .github/PULL_REQUEST_TEMPLATE.md
  .pyre_configuration
  AGENTS.md
  ops/pr_screenshots/diff_screenshots.py
  ops/pr_screenshots/tests/conftest.py
  ops/pr_screenshots/tests/diff_screenshots_test.py
  pwa/AGENTS.md
  pwa/scripts/screenshot-route.mjs
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Fix unused import and let screenshot-route.mjs handle pages that never go idle
  ops/pr_screenshots/tests/diff_screenshots_test.py
  pwa/scripts/screenshot-route.mjs
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Make before/after screenshot tables a SHOULD for UI pull requests
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  pwa/AGENTS.md
  pwa/scripts/screenshot-route.mjs
Due: node-lint, node-test

Fold the Jinja screenshot recipe under Pull Requests and add the diff step
  AGENTS.md
Due: none

Document how to get screenshots onto PRs, with a reusable capture script
  AGENTS.md
  ops/pr_screenshots/screenshot_html.mjs
Due: node-lint, node-test

Move the capture script into pwa/ so its import resolves
  AGENTS.md
  pwa/scripts/screenshot_html.mjs
Due: node-lint, node-test

Add pixel diffs for the PR #10600 live-site comparison
  pr-10600-diff-apidocs-1788916718.png
  pr-10600-diff-event-1788916718.png
  pr-10600-diff-home-1788916718.png
  pr-10600-diff-team-1788916718.png
Due: none

Cover the admin event, api_auth, match, cache, and team handlers
  src/backend/web/handlers/admin/tests/api_auth_test.py
  src/backend/web/handlers/admin/tests/cache_test.py
  src/backend/web/handlers/admin/tests/event_test.py
  src/backend/web/handlers/admin/tests/match_test.py
  src/backend/web/handlers/admin/tests/team_test.py
Due: py3-type, py3-lint, py3-test

Cover location_helper.py with mocked unit tests
  src/backend/common/helpers/tests/location_helper_test.py
Due: py3-type, py3-lint, py3-test

Cover the insights helpers and task handler
  src/backend/common/helpers/insights_helper.py
  src/backend/common/helpers/tests/insights_districts_helper_test.py
  src/backend/common/helpers/tests/insights_helper_test.py
  src/backend/tasks_cpu/handlers/insights.py
  src/backend/tasks_cpu/handlers/tests/insights_test.py
Due: py3-type, py3-lint, py3-test

Cover the game_specific package
  src/backend/common/game_specific/seasons/game_specifics_2016.py
  src/backend/common/game_specific/seasons/game_specifics_2017.py
  src/backend/common/game_specific/seasons/game_specifics_2018.py
  src/backend/common/game_specific/seasons/game_specifics_2019.py
  src/backend/common/game_specific/seasons/game_specifics_2020.py
  src/backend/common/game_specific/seasons/game_specifics_2022.py
  src/backend/common/game_specific/seasons/game_specifics_2023.py
  src/backend/common/game_specific/seasons/tests/base_test.py
  src/backend/common/game_specific/seasons/tests/conftest.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2016_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2017_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2018_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2019_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2020_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2021_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2022_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2023_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2024_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2025_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2026_test.py
  src/backend/common/helpers/tests/data/2026marea_insights.json
Due: py3-type, py3-lint, py3-test

Cover prediction_helper.py, webcast_helper.py and nexus_pit_map_svg_helper.py
  src/backend/common/helpers/prediction_helper.py
  src/backend/common/helpers/tests/nexus_pit_map_svg_helper_test.py
  src/backend/common/helpers/tests/predictions_helper_test.py
  src/backend/common/helpers/tests/webcast_helper_test.py
  stubs/numpy.pyi
Due: py3-type, py3-lint, py3-test

[pwa] Cover the lib utilities
  pwa/app/lib/api/AwardType.test.ts
  pwa/app/lib/api/CmpQualificationMethod.test.ts
  pwa/app/lib/api/PlayoffType.test.ts
  pwa/app/lib/apiError.test.ts
  pwa/app/lib/authRefresh.test.ts
  pwa/app/lib/awardUtils.test.ts
  pwa/app/lib/csvUtils.test.ts
  pwa/app/lib/districtUtils.test.ts
  pwa/app/lib/doubleElimBracket.test.ts
  pwa/app/lib/eventUtils.test.ts
  pwa/app/lib/gameday/context.test.tsx
  pwa/app/lib/gameday/dataPanels.test.ts
  pwa/app/lib/gameday/layouts.test.ts
  pwa/app/lib/gameday/types.test.ts
  pwa/app/lib/gameday/useFirebaseMatchSuggestions.test.tsx
  pwa/app/lib/gameday/useFirebaseMatchSuggestions.ts
  pwa/app/lib/gameday/useFirebaseWebcasts.test.tsx
  pwa/app/lib/gameday/useFirebaseWebcasts.ts
  pwa/app/lib/gameday/useGamedayUrlSync.test.ts
  pwa/app/lib/gameday/useOnlineEventWebcasts.test.tsx
  pwa/app/lib/insightUtils.test.ts
  pwa/app/lib/logger.test.ts
  pwa/app/lib/logger.ts
  pwa/app/lib/matchUtils.test.ts
  pwa/app/lib/mediaUtils.test.ts
  pwa/app/lib/middleware/network-cache.test.ts
  pwa/app/lib/moderationUtils.test.ts
  pwa/app/lib/myTBAConstants.test.ts
  pwa/app/lib/navigation/content.test.ts
  pwa/app/lib/pointValues.test.ts
  pwa/app/lib/rankingPoints.test.ts
  pwa/app/lib/scoutingUtils.test.ts
  pwa/app/lib/search/searchRedirect.test.ts
  pwa/app/lib/serviceWorkerRegistration.test.ts
  pwa/app/lib/successRateUtils.test.ts
  pwa/app/lib/teamUtils.test.ts
  pwa/app/lib/theme.test.tsx
  pwa/app/lib/utils.test.ts
  pwa/app/lib/utils.test.tsx
Due: none

[pwa] Cover the 2015–2020 score breakdowns
  pwa/app/components/tba/match/common.test.tsx
  pwa/app/components/tba/match/scoreBreakdown.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2015.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2016.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2017.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2018.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2019.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2020.test.tsx
  pwa/app/components/tba/match/scoreCell.test.tsx
Due: none

Cover the gameday2 components
  src/frontend/gameday2/components/AutoScale/__tests__/AutoScale.test.js
  src/frontend/gameday2/components/__tests__/AnalyticsTrackers.test.js
  src/frontend/gameday2/components/__tests__/AnimatableContainer.test.js
  src/frontend/gameday2/components/__tests__/AppBar.test.js
  src/frontend/gameday2/components/__tests__/ChatSelector.test.js
  src/frontend/gameday2/components/__tests__/ChatSidebar.test.js
  src/frontend/gameday2/components/__tests__/CountWrapper.test.js
  src/frontend/gameday2/components/__tests__/GamedayFrame.test.js
  src/frontend/gameday2/components/__tests__/HashtagSidebar.test.js
  src/frontend/gameday2/components/__tests__/LampIcon.test.js
  src/frontend/gameday2/components/__tests__/LayoutDrawer.test.js
  src/frontend/gameday2/components/__tests__/LayoutSelectionPanel.test.js
  src/frontend/gameday2/components/__tests__/LivescoreDisplay.test.js
  src/frontend/gameday2/components/__tests__/MainContent.test.js
  src/frontend/gameday2/components/__tests__/NoWebcasts.test.js
  src/frontend/gameday2/components/__tests__/PlatformIcon.test.js
  src/frontend/gameday2/components/__tests__/SwapPositionDialog.test.js
  src/frontend/gameday2/components/__tests__/SwapPositionPreviewCell.test.js
  src/frontend/gameday2/components/__tests__/TickerMatch.test.js
  src/frontend/gameday2/components/__tests__/TwitchChatEmbed.test.js
  src/frontend/gameday2/components/__tests__/VideoCell.test.js
  src/frontend/gameday2/components/__tests__/VideoCellToolbar.test.js
  src/frontend/gameday2/components/__tests__/VideoGrid.test.js
  src/frontend/gameday2/components/__tests__/WebcastEmbed.test.js
  src/frontend/gameday2/components/__tests__/WebcastSelectionDialog.test.js
  src/frontend/gameday2/components/__tests__/WebcastSelectionDialogItem.test.js
  src/frontend/gameday2/components/embeds/__tests__/embeds.test.js
  src/frontend/gameday2/components/icons/__tests__/icons.test.js
Due: node-lint, node-test

Cover the account, mytba, index, match_suggestion, and webcast_mod handlers
  src/backend/web/handlers/tests/account_test.py
  src/backend/web/handlers/tests/index_test.py
  src/backend/web/handlers/tests/match_suggestion_test.py
  src/backend/web/handlers/tests/mytba_test.py
  src/backend/web/handlers/tests/webcast_mod_test.py
Due: py3-type, py3-lint, py3-test
