Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

use isinstance for type checking. Update some test comparisions
  src/backend/api/api_trusted_parsers/json_matches_parser.py
  src/backend/common/helpers/event_remapteams_helper.py
  src/backend/common/helpers/tests/mytba_test.py
  src/backend/common/storage/clients/tests/local_client_test.py
  src/backend/common/storage/tests/storage_test.py
  src/backend/common/tests/auth_test.py
  src/backend/common/tests/fixture_loader.py
  src/backend/common/tests/middleware_test.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_awards_parser_test.py
  src/backend/tasks_io/handlers/frc_api.py
  src/backend/web/handlers/suggestions/tests/suggest_apiwrite_review_controller_test.py
  src/backend/web/handlers/suggestions/tests/suggest_event_webcast_review_controller_test.py
  src/backend/web/handlers/suggestions/tests/suggest_offseason_event_review_controller_test.py
  src/backend/web/jinja2_filters.py
  src/backend/web/tests/context_processors_test.py
Due: py3-type, py3-lint, py3-test

update package.json
  package-lock.json
  package.json
Due: none

Fix regressions in json match parser type checks
  src/backend/api/api_trusted_parsers/json_matches_parser.py
Due: py3-type, py3-lint, py3-test

Use `isinstance` for type checking. Update some test comparisions (#8538)
  src/backend/api/api_trusted_parsers/json_matches_parser.py
  src/backend/common/helpers/event_remapteams_helper.py
  src/backend/common/helpers/tests/mytba_test.py
  src/backend/common/storage/clients/tests/local_client_test.py
  src/backend/common/storage/tests/storage_test.py
  src/backend/common/tests/auth_test.py
  src/backend/common/tests/fixture_loader.py
  src/backend/common/tests/middleware_test.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_awards_parser_test.py
  src/backend/tasks_io/handlers/frc_api.py
  src/backend/web/handlers/suggestions/tests/suggest_apiwrite_review_controller_test.py
  src/backend/web/handlers/suggestions/tests/suggest_event_webcast_review_controller_test.py
  src/backend/web/handlers/suggestions/tests/suggest_offseason_event_review_controller_test.py
  src/backend/web/jinja2_filters.py
  src/backend/web/tests/context_processors_test.py
Due: py3-type, py3-lint, py3-test

Add CD Thread collection page
  src/backend/common/cache_clearing/get_affected_queries.py
  src/backend/common/cache_clearing/tests/database_cache_clearer_test.py
  src/backend/common/models/media.py
  src/backend/common/queries/media_query.py
  src/backend/common/suggestions/tests/media_url_parse_test.py
  src/backend/web/handlers/team_threads.py
  src/backend/web/main.py
  src/backend/web/templates/team_threads.html
Due: py3-type, py3-lint, py3-test

Add CD Thread collection page (#8518)
  src/backend/common/cache_clearing/get_affected_queries.py
  src/backend/common/cache_clearing/tests/database_cache_clearer_test.py
  src/backend/common/models/media.py
  src/backend/common/queries/media_query.py
  src/backend/web/handlers/team_threads.py
  src/backend/web/main.py
  src/backend/web/templates/team_threads.html
Due: py3-type, py3-lint, py3-test

[pwa] migrate npm -> pnpm; rm devbox
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  pwa/.prettierignore
  pwa/AGENTS.md
  pwa/README.md
  pwa/devbox.json
  pwa/devbox.lock
  pwa/eslint.config.js
  pwa/package-lock.json
  pwa/package.json
  pwa/pnpm-lock.yaml
Due: node-lint, node-test

Tanstack router match modal
  pwa/app/components/tba/links.tsx
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/match/matchModal.tsx
  pwa/app/components/tba/match/matchRows.tsx
  pwa/app/routes/__root.tsx
  pwa/app/routes/match.$matchKey.tsx
Due: none

[pwa] Tanstack router match modal (#8524)
  pwa/app/components/tba/links.tsx
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/match/matchModal.tsx
  pwa/app/components/tba/match/matchRows.tsx
  pwa/app/routes/__root.tsx
  pwa/app/routes/match.$matchKey.tsx
Due: none

[pwa] migrate npm -> pnpm; rm devbox (#8540)
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  pwa/.prettierignore
  pwa/AGENTS.md
  pwa/README.md
  pwa/devbox.json
  pwa/devbox.lock
  pwa/eslint.config.js
  pwa/package-lock.json
  pwa/package.json
  pwa/pnpm-lock.yaml
Due: node-lint, node-test

fix /team-threads 500
  src/backend/web/handlers/team_threads.py
Due: py3-type, py3-lint, py3-test

fix /team-threads 500 (#8541)
  src/backend/web/handlers/team_threads.py
Due: py3-type, py3-lint, py3-test

Match page
  pwa/app/components/tba/match/common.tsx
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/match/matchModal.tsx
  pwa/app/components/tba/match/scoreBreakdown2025.tsx
  pwa/app/components/tba/videoEmbeds.tsx
  pwa/app/lib/rankingPoints.test.ts
  pwa/app/lib/rankingPoints.ts
Due: none

[PWA] Match page 2025 (#7917)
  pwa/app/components/tba/match/common.tsx
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/match/matchModal.tsx
  pwa/app/components/tba/match/scoreBreakdown2025.tsx
  pwa/app/components/tba/videoEmbeds.tsx
  pwa/app/lib/rankingPoints.test.ts
  pwa/app/lib/rankingPoints.ts
Due: none

Minor fixes
  pwa/app/components/tba/leaderboard.tsx
  pwa/app/components/tba/links.tsx
  pwa/app/components/tba/match/matchModal.tsx
  pwa/app/components/ui/dialog.tsx
  pwa/app/components/ui/drawer.tsx
  pwa/server.js
Due: node-lint, node-test

[py3] Minor fixes and cleanup (#8542)
  pwa/app/components/tba/leaderboard.tsx
  pwa/app/components/tba/links.tsx
  pwa/app/components/tba/match/matchModal.tsx
  pwa/app/components/ui/dialog.tsx
  pwa/app/components/ui/drawer.tsx
  pwa/server.js
Due: node-lint, node-test

Stronger link typing
  pwa/app/components/tba/nav.tsx
Due: none

[pwa] Stronger nav link typing (#8543)
  pwa/app/components/tba/nav.tsx
Due: none

Implement GameDay
  ops/pwa/create_dotenv.sh
  pwa/app/components/tba/eventListTable.tsx
  pwa/app/components/tba/gameday/ChatSidebar.tsx
  pwa/app/components/tba/gameday/GamedayFrame.tsx
  pwa/app/components/tba/gameday/GamedayToolbar.tsx
  pwa/app/components/tba/gameday/LayoutIcon.tsx
  pwa/app/components/tba/gameday/LayoutSelector.tsx
  pwa/app/components/tba/gameday/SwapPositionDialog.tsx
  pwa/app/components/tba/gameday/VideoCell.tsx
  pwa/app/components/tba/gameday/VideoGrid.tsx
  pwa/app/components/tba/gameday/WebcastEmbed.tsx
  pwa/app/components/tba/gameday/WebcastSelectorDialog.tsx
  pwa/app/components/tba/gameday/WebcastTypeIcon.tsx
  pwa/app/components/tba/nav.tsx
  pwa/app/components/ui/button.tsx
  pwa/app/components/ui/drawer.tsx
  pwa/app/firebase/firebaseConfig.tsx
  pwa/app/lib/gameday/context.tsx
  pwa/app/lib/gameday/layouts.ts
  pwa/app/lib/gameday/reducer.test.ts
  pwa/app/lib/gameday/reducer.ts
  pwa/app/lib/gameday/types.ts
  pwa/app/lib/gameday/useFirebaseWebcasts.ts
  pwa/app/lib/gameday/useGamedayUrlSync.test.ts
  pwa/app/lib/gameday/useGamedayUrlSync.ts
  pwa/app/routeTree.gen.ts
  pwa/app/routes/__root.tsx
  pwa/app/routes/gameday.tsx
  pwa/app/vite-env.d.ts
  pwa/default.env
Due: none

Fix hydration failure
  pwa/app/components/tba/kickoffCountdown.tsx
Due: none

[pwa] Fix countdown hydration (#8544)
  pwa/app/components/tba/kickoffCountdown.tsx
Due: none

Update to node 24
  pwa/package.json
  pwa/pwa.yaml
Due: none

[pwa] Update to node 24 (#8545)
  pwa/package.json
  pwa/pwa.yaml
Due: none

Fix kickoff datettimes using tzinfo=EST, instead use timezone itself to localize
  src/backend/common/helpers/season_helper.py
  src/backend/common/helpers/tests/season_helper_test.py
Due: py3-type, py3-lint, py3-test

Fix kickoff datettimes using tzinfo=EST, instead use timezone itself to localize (#8546) [clowntown]
  src/backend/common/helpers/season_helper.py
  src/backend/common/helpers/tests/season_helper_test.py
Due: py3-type, py3-lint, py3-test

[pwa] Implement GameDay (#8427)
  ops/pwa/create_dotenv.sh
  pwa/app/components/tba/eventListTable.tsx
  pwa/app/components/tba/gameday/ChatSidebar.tsx
  pwa/app/components/tba/gameday/GamedayFrame.tsx
  pwa/app/components/tba/gameday/GamedayToolbar.tsx
  pwa/app/components/tba/gameday/LayoutIcon.tsx
  pwa/app/components/tba/gameday/LayoutSelector.tsx
  pwa/app/components/tba/gameday/SwapPositionDialog.tsx
  pwa/app/components/tba/gameday/VideoCell.tsx
  pwa/app/components/tba/gameday/VideoGrid.tsx
  pwa/app/components/tba/gameday/WebcastEmbed.tsx
  pwa/app/components/tba/gameday/WebcastSelectorDialog.tsx
  pwa/app/components/tba/gameday/WebcastTypeIcon.tsx
  pwa/app/components/tba/nav.tsx
  pwa/app/components/ui/button.tsx
  pwa/app/components/ui/drawer.tsx
  pwa/app/firebase/firebaseConfig.tsx
  pwa/app/lib/gameday/context.tsx
  pwa/app/lib/gameday/layouts.ts
  pwa/app/lib/gameday/reducer.test.ts
  pwa/app/lib/gameday/reducer.ts
  pwa/app/lib/gameday/types.ts
  pwa/app/lib/gameday/useFirebaseWebcasts.ts
  pwa/app/lib/gameday/useGamedayUrlSync.test.ts
  pwa/app/lib/gameday/useGamedayUrlSync.ts
  pwa/app/routeTree.gen.ts
  pwa/app/routes/__root.tsx
  pwa/app/routes/gameday.tsx
  pwa/app/vite-env.d.ts
  pwa/default.env
Due: none

[pwa] add some match table color
  pwa/app/components/tba/match/matchRows.tsx
Due: none

[pwa] add some match table color (#8547)
  pwa/app/components/tba/match/matchRows.tsx
Due: none

[pwa] rm stray deps, update dependabot config
  .github/dependabot.yml
  pwa/package.json
  pwa/pnpm-lock.yaml
Due: none

[pwa] rm stray deps, update dependabot config (#8548)
  .github/dependabot.yml
  pwa/package.json
  pwa/pnpm-lock.yaml
Due: none

Link to match page
  pwa/app/components/tba/links.tsx
  pwa/app/components/tba/match/matchModal.tsx
Due: none

[pwa] Link modal header to match page (#8549)
  pwa/app/components/tba/links.tsx
  pwa/app/components/tba/match/matchModal.tsx
Due: none

[pwa] Add teams and times to match page
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/match/matchRows.tsx
  pwa/app/components/tba/match/teamListSubgrid.tsx
  pwa/app/routes/match.$matchKey.tsx
Due: none

[pwa] Add teams and times to match page (#8551)
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/match/matchRows.tsx
  pwa/app/components/tba/match/teamListSubgrid.tsx
  pwa/app/routes/match.$matchKey.tsx
Due: none

Split API blueprints into separate files
  src/backend/api/apiv3_main.py
  src/backend/api/client_api_main.py
  src/backend/api/main.py
  src/backend/api/trusted_api_main.py
Due: py3-type, py3-lint, py3-test

Split API blueprints into separate files (#8552)
  src/backend/api/apiv3_main.py
  src/backend/api/client_api_main.py
  src/backend/api/main.py
  src/backend/api/trusted_api_main.py
Due: py3-type, py3-lint, py3-test

[pwa] Add React Compiler
  .github/dependabot.yml
  pwa/package.json
  pwa/pnpm-lock.yaml
  pwa/vite.config.ts
Due: none

[pwa] Add React Compiler (#8553)
  .github/dependabot.yml
  pwa/package.json
  pwa/pnpm-lock.yaml
  pwa/vite.config.ts
Due: none

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
