Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

Add API key link to bootstrap page
  src/backend/web/templates/local/bootstrap.html
Due: none

Fix pre-2021 FIRST Inspires event links (#8752)
  src/backend/web/templates/event_details.html
Due: none

Support YouTube Shorts URLs (#8169)
  src/backend/common/helpers/tests/youtube_video_helper_test.py
  src/backend/common/helpers/youtube_video_helper.py
  src/backend/common/suggestions/media_parser.py
  src/backend/common/suggestions/tests/media_url_parse_test.py
Due: py3-type, py3-lint, py3-test

Add dynamic meta descriptions for match pages
  src/backend/web/handlers/match.py
  src/backend/web/handlers/tests/match_detail_test.py
  src/backend/web/templates/match_details.html
Due: py3-type, py3-lint, py3-test

Fix Playwright tests to skip gracefully when API key unavailable
  pwa/app/routes/__root.tsx
  pwa/app/vite-env.d.ts
  pwa/tests/index.spec.ts
  pwa/tests/routes.spec.ts
  pwa/tests/team.spec.ts
  pwa/tests/theme.spec.ts
  pwa/tests/utils.ts
  pwa/vite.config.ts
Due: none

remove PWA E2E Test from PRs
  .github/workflows/pull_request.yml
Due: none

remove PWA E2E Test from PRs (#8814)
  .github/workflows/pull_request.yml
Due: none

Convenience link when bootstrapping to get APIv3 key (#8807)
  src/backend/web/templates/local/bootstrap.html
Due: none

Update public agenda urls
  src/backend/common/models/event.py
Due: py3-type, py3-lint, py3-test

stop nooping ops_fullstack tests
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
Due: none

Fix pre-2021 FIRST Inspires event links (#8808)
  src/backend/web/templates/event_details.html
Due: none

Match meta description including results. (#8810)
  src/backend/web/handlers/match.py
  src/backend/web/handlers/tests/match_detail_test.py
  src/backend/web/templates/match_details.html
Due: py3-type, py3-lint, py3-test

Support YouTube Shorts URLs (#8809)
  src/backend/common/helpers/tests/youtube_video_helper_test.py
  src/backend/common/helpers/youtube_video_helper.py
  src/backend/common/suggestions/media_parser.py
  src/backend/common/suggestions/tests/media_url_parse_test.py
Due: py3-type, py3-lint, py3-test

stop nooping ops_fullstack tests (#8816)
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
Due: none

Update public agenda urls (#8815)
  src/backend/common/models/event.py
Due: py3-type, py3-lint, py3-test

fix ops fullstack test
  .babelrc
  ops/tests/fullstack.test.js
  package-lock.json
  package.json
Due: node-lint, node-test

fix ops fullstack test (#8817)
  .babelrc
  ops/tests/fullstack.test.js
  package-lock.json
  package.json
Due: node-lint, node-test

namespace GCS buckets by project
  src/backend/api/handlers/eventwizard_internal.py
  src/backend/common/helpers/fms_companion_helper.py
  src/backend/common/helpers/fms_report_helper.py
  src/backend/web/handlers/admin/api_history.py
Due: py3-type, py3-lint, py3-test

begin automation to import companion DBs
  .pyre_configuration
  ops/dev/vagrant/dev_appserver.sh
  ops/tests/fms_companion_import.test.js
  ops/tests/tba-offseason-backup.sqlite
  src/backend/api/eventwizard_api_main.py
  src/backend/api/handlers/error.py
  src/backend/api/handlers/eventwizard_internal.py
  src/backend/api/main.py
  src/backend/api/trusted_api_auth_helper.py
  src/backend/common/cloudrun/__init__.py
  src/backend/common/cloudrun/clients/__init__.py
  src/backend/common/cloudrun/clients/cloudrun_client.py
  src/backend/common/cloudrun/clients/gcloud_client.py
  src/backend/common/cloudrun/clients/local_client.py
  src/backend/common/environment/environment.py
  src/backend/common/helpers/fms_companion_helper.py
  src/backend/common/storage/clients/local_client.py
  src/backend/web/local/blueprint.py
  src/frontend/eventwizard/components/fmsCompanionTab/FmsCompanionTab.tsx
  src/requirements.txt
  tba_dev_config.json
Due: py3-type, py3-lint, py3-test, node-lint, node-test

fix checks
  ops/tests/fms_companion_import.test.js
  src/backend/api/handlers/eventwizard_internal.py
  src/backend/api/handlers/tests/add_fms_companion_db_test.py
  src/backend/api/handlers/tests/add_fms_report_archive_test.py
  src/backend/common/cloudrun/clients/cloudrun_client.py
  src/backend/common/cloudrun/clients/gcloud_client.py
  src/backend/common/helpers/fms_companion_helper.py
  src/backend/common/helpers/fms_report_helper.py
  src/backend/common/storage/clients/local_client.py
  src/backend/common/storage/clients/tests/local_client_test.py
  src/backend/web/handlers/admin/tests/api_history_test.py
Due: py3-type, py3-lint, py3-test, node-lint, node-test

better status messages
  src/backend/api/handlers/eventwizard_internal.py
  src/backend/common/cloudrun/__init__.py
  src/backend/common/cloudrun/clients/cloudrun_client.py
  src/backend/common/cloudrun/clients/gcloud_client.py
  src/backend/common/cloudrun/clients/local_client.py
  src/backend/common/cloudrun/clients/tests/gcloud_client_test.py
  src/frontend/eventwizard/components/fmsCompanionTab/FmsCompanionTab.tsx
Due: py3-type, py3-lint, py3-test

update bucket naming
  src/backend/common/helpers/fms_companion_helper.py
  src/backend/common/helpers/fms_report_helper.py
Due: py3-type, py3-lint, py3-test

cloudrun config sitevar
  src/backend/common/cloudrun/__init__.py
  src/backend/common/environment/environment.py
  src/backend/common/sitevars/google_cloudrun_config.py
Due: py3-type, py3-lint, py3-test

more updates
  src/backend/api/handlers/eventwizard_internal.py
  src/backend/common/cloudrun/clients/gcloud_client.py
  src/backend/common/cloudrun/clients/tests/__init__.py
  src/backend/common/cloudrun/clients/tests/gcloud_client_test.py
Due: py3-type, py3-lint, py3-test

cleanup
  ops/dev/vagrant/dev_appserver.sh
  src/backend/api/eventwizard_api_main.py
  src/backend/api/handlers/error.py
  src/backend/api/main.py
  tba_dev_config.json
Due: py3-type, py3-lint, py3-test

update container path
  ops/tests/fms_companion_import.test.js
Due: node-lint, node-test

update container url
  ops/tests/fms_companion_import.test.js
  src/backend/common/helpers/fms_companion_helper.py
Due: py3-type, py3-lint, py3-test, node-lint, node-test

validate import works
  ops/tests/fms_companion_import.test.js
Due: node-lint, node-test

Implement Companion DB Import (#8813)
  .pyre_configuration
  ops/tests/fms_companion_import.test.js
  ops/tests/tba-offseason-backup.sqlite
  src/backend/api/eventwizard_api_main.py
  src/backend/api/handlers/eventwizard_internal.py
  src/backend/api/handlers/tests/add_fms_companion_db_test.py
  src/backend/api/handlers/tests/add_fms_report_archive_test.py
  src/backend/api/trusted_api_auth_helper.py
  src/backend/common/cloudrun/__init__.py
  src/backend/common/cloudrun/clients/__init__.py
  src/backend/common/cloudrun/clients/cloudrun_client.py
  src/backend/common/cloudrun/clients/gcloud_client.py
  src/backend/common/cloudrun/clients/local_client.py
  src/backend/common/cloudrun/clients/tests/__init__.py
  src/backend/common/cloudrun/clients/tests/gcloud_client_test.py
  src/backend/common/helpers/fms_companion_helper.py
  src/backend/common/helpers/fms_report_helper.py
  src/backend/common/sitevars/google_cloudrun_config.py
  src/backend/common/storage/clients/local_client.py
  src/backend/common/storage/clients/tests/local_client_test.py
  src/backend/web/handlers/admin/api_history.py
  src/backend/web/handlers/admin/tests/api_history_test.py
  src/backend/web/local/blueprint.py
  src/frontend/eventwizard/components/fmsCompanionTab/FmsCompanionTab.tsx
  src/requirements.txt
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Restore admin homepage stats that were stubbed during py3 port
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/tests/admin_blueprint_test.py
  src/backend/web/templates/admin/index.html
Due: py3-type, py3-lint, py3-test

Add pyre-ignore for NDB descending order syntax
  src/backend/web/handlers/admin/blueprint.py
Due: py3-type, py3-lint, py3-test

Restore admin homepage stats that were stubbed during py3 port (#8828)
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/tests/admin_blueprint_test.py
  src/backend/web/templates/admin/index.html
Due: py3-type, py3-lint, py3-test

Remove broken admin panel links that 404 after py3 migration
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/templates/admin/base.html
  src/backend/web/templates/admin/index.html
Due: py3-type, py3-lint, py3-test

Fix admin homepage stats (#8830)
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/templates/admin/base.html
  src/backend/web/templates/admin/index.html
Due: py3-type, py3-lint, py3-test

2026 avatar blog post
  src/backend/web/templates/avatars.html
Due: none

Update CMP agenda URL
  src/backend/common/models/event.py
Due: py3-type, py3-lint, py3-test

Update CMP agenda URL (#8852)
  src/backend/common/models/event.py
Due: py3-type, py3-lint, py3-test

Add logging to try and event events with missing year
  src/backend/common/helpers/offseason_event_helper.py
  src/backend/web/handlers/admin/tests/admin_blueprint_test.py
Due: py3-type, py3-lint, py3-test

Add logging to try and event events with missing year (#8863)
  src/backend/common/helpers/offseason_event_helper.py
  src/backend/web/handlers/admin/tests/admin_blueprint_test.py
Due: py3-type, py3-lint, py3-test

Auto-populate event type for offseason event suggestions
  src/backend/common/models/suggestion_dict.py
  src/backend/common/suggestions/suggestion_creator.py
  src/backend/common/suggestions/tests/suggestion_creator_test.py
  src/backend/web/handlers/suggestions/suggest_offseason_event_review_controller.py
  src/backend/web/handlers/suggestions/tests/suggest_offseason_event_controller_test.py
  src/backend/web/handlers/suggestions/tests/suggest_offseason_event_review_controller_test.py
  src/backend/web/templates/event_partials/suggest_event_info.html
Due: py3-type, py3-lint, py3-test

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
