Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

[pwa] Don't pin team 604's live sponsor count in the team page spec (#10965)
  pwa/tests/team.spec.ts
Due: none

Fix: Event.venue_address_safe embeds b'...' bytes text (#10905)
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Fix: zero-count match-predictions insight emitted without predictions (#10900)
  src/backend/common/helpers/insights_helper.py
  src/backend/common/helpers/tests/insights_helper_test.py
Due: py3-type, py3-lint, py3-test

Fix: offseason dummy suggestions never created (exhausted map) (#10898)
  src/backend/common/suggestions/suggestion_creator.py
  src/backend/common/suggestions/tests/suggestion_creator_test.py
Due: py3-type, py3-lint, py3-test

Fix: year insights heading always blank (#10897)
  src/backend/tasks_cpu/handlers/insights.py
  src/backend/tasks_cpu/handlers/tests/insights_test.py
  src/backend/tasks_cpu/templates/math/year_insights_do.html
Due: py3-type, py3-lint, py3-test

Fix: warnings name google.api_key instead of google.secrets (#10895)
  src/backend/common/helpers/location_helper.py
  src/backend/common/helpers/tests/location_helper_test.py
Due: py3-type, py3-lint, py3-test

Fix: DistrictInsightQuery annotated as single Insight, returns list (#10904)
  src/backend/common/queries/insight_query.py
  src/backend/common/queries/tests/insight_query_test.py
Due: py3-type, py3-lint, py3-test

Treat an event with only one date as a one-day event on that date
  pwa/app/lib/eventUtils.test.ts
  pwa/app/lib/eventUtils.ts
Due: none

Fix: empty high-score insight emitted for years without matches (#10899)
  src/backend/common/helpers/insights_helper.py
  src/backend/common/helpers/tests/insights_helper_test.py
Due: py3-type, py3-lint, py3-test

Fix: LampIcon default size ignored under React 19 (#10894)
  src/frontend/gameday2/components/LampIcon.js
  src/frontend/gameday2/components/__tests__/LampIcon.test.js
Due: node-lint, node-test

Declare RegionalTeamsQuery as having no dict form
  src/backend/common/queries/dict_converters/team_converter.py
  src/backend/common/queries/team_query.py
  src/backend/common/queries/tests/team_query_test.py
Due: py3-type, py3-lint, py3-test

Fix: unknown overall-insight kind returns 500 instead of 404 (#10896)
  src/backend/tasks_cpu/handlers/insights.py
  src/backend/tasks_cpu/handlers/tests/insights_test.py
Due: py3-type, py3-lint, py3-test

[pwa] Use one formatMatchTime for every match-time display (#10911)
  pwa/app/components/tba/match/matchDetails.test.tsx
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/match/matchRows.test.tsx
  pwa/app/components/tba/match/matchRows.tsx
  pwa/app/lib/matchUtils.test.ts
  pwa/app/lib/matchUtils.ts
  pwa/app/routes/match_suggestion.tsx
Due: none

Fix: wrong LocationInfo types and postal_code annotations (#10893)
  src/backend/common/helpers/location_helper.py
  src/backend/common/helpers/tests/location_helper_test.py
Due: py3-type, py3-lint, py3-test

Declare RegionalTeamsQuery as having no dict form (#10901)
  src/backend/common/queries/team_query.py
  src/backend/common/queries/tests/team_query_test.py
Due: py3-type, py3-lint, py3-test

Fix: robot_on_stage extractor shadows the match index (#10886)
  src/backend/common/helpers/prediction_helper.py
  src/backend/common/helpers/tests/predictions_helper_test.py
Due: py3-type, py3-lint, py3-test

Fix: minor liveevent/zebramotionworks bugs (button type, classes, cleanup) (#10887)
  src/frontend/liveevent/components/CurrentMatchDisplay.js
  src/frontend/liveevent/components/LiveEventPanel.js
  src/frontend/liveevent/components/UpcomingMatchesTable.js
  src/frontend/liveevent/components/__tests__/CurrentMatchDisplay.test.js
  src/frontend/liveevent/components/__tests__/LiveEventPanel.test.js
  src/frontend/liveevent/components/__tests__/UpcomingMatchesTable.test.js
  src/frontend/zebramotionworks/components/RobotTrajectory.js
  src/frontend/zebramotionworks/components/ZebraMotionWorksVisualizer.js
  src/frontend/zebramotionworks/components/__tests__/RobotTrajectory.test.js
  src/frontend/zebramotionworks/components/__tests__/ZebraMotionWorksVisualizer.test.js
Due: node-lint, node-test

Fix: admin team media years not sorted (#10878)
  src/backend/web/handlers/admin/team.py
  src/backend/web/handlers/admin/tests/team_test.py
Due: py3-type, py3-lint, py3-test

Fix: cached avatars page shards joined in lexicographic order (#10877)
  src/backend/web/handlers/index.py
  src/backend/web/handlers/tests/index_test.py
Due: py3-type, py3-lint, py3-test

Fix: get_similarity acronym matching never ran (#10879)
  src/backend/common/helpers/location_helper.py
  src/backend/common/helpers/tests/location_helper_test.py
Due: py3-type, py3-lint, py3-test

Fix: admin edit of READ_API key with write flag returns 500 (#10875)
  src/backend/web/handlers/admin/api_auth.py
  src/backend/web/handlers/admin/tests/api_auth_test.py
Due: py3-type, py3-lint, py3-test

Fix: admin API key edit drops offseason webcast channels (#10873)
  src/backend/web/handlers/admin/api_auth.py
  src/backend/web/handlers/admin/tests/api_auth_test.py
  src/backend/web/templates/admin/api_edit_auth.html
Due: py3-type, py3-lint, py3-test

Fix: clearing an event's cache 404s without EventDetails (#10872)
  src/backend/web/handlers/admin/cache.py
  src/backend/web/handlers/admin/tests/cache_test.py
Due: py3-type, py3-lint, py3-test

Fix: uppercase event_short redirects to a non-existent event (#10871)
  src/backend/web/handlers/admin/event.py
  src/backend/web/handlers/admin/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Fix: myTBA eventteam page 500s for a team with no events (#10876)
  src/backend/web/handlers/account.py
  src/backend/web/handlers/tests/account_test.py
Due: py3-type, py3-lint, py3-test

Restore the details-JSON test mangled by the previous merge
  src/backend/web/handlers/admin/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Fix: creating an event with details JSON 500s (#10869)
  src/backend/web/handlers/admin/event.py
  src/backend/web/handlers/admin/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Fix: clearing a team's cache 500s on redirect (#10868)
  src/backend/web/handlers/admin/cache.py
  src/backend/web/handlers/admin/tests/cache_test.py
Due: py3-type, py3-lint, py3-test

Fix: cached empty geocode results were never served (#10890)
  src/backend/common/helpers/location_helper.py
  src/backend/common/helpers/tests/location_helper_test.py
Due: py3-type, py3-lint, py3-test

[pwa] Fix: 2018 Adjustments row hidden unless both alliances adjusted (#10863)
  pwa/app/components/tba/match/scoreBreakdown2018.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2018.tsx
Due: none

[pwa] Fix: treat an event with only one date as a one-day event (#10892)
  pwa/app/lib/eventUtils.test.ts
  pwa/app/lib/eventUtils.ts
Due: none

Control hash-synced tabs instead of remounting them
  pwa/app/lib/useHashTab.test.tsx
  pwa/app/lib/useHashTab.ts
  pwa/app/routes/account.mytba.tsx
  pwa/app/routes/district.$districtAbbreviation.insights.tsx
  pwa/app/routes/district.$districtAbbreviation.{-$year}.tsx
  pwa/app/routes/event.$eventKey.tsx
Due: none

Fix: location score KeyError without formatted_address (#10889)
  src/backend/common/helpers/location_helper.py
  src/backend/common/helpers/tests/location_helper_test.py
Due: py3-type, py3-lint, py3-test

Demote App Engine deferred header dump to DEBUG (~26 GiB/mo of logs) (#10488)
  src/backend/common/helpers/deferred.py
  src/backend/common/logging.py
  src/backend/common/tests/logging_test.py
  stubs/google/appengine/ext/deferred/deferred.pyi
Due: py3-type, py3-lint, py3-test

Count score stats over every played match in event insights
  src/backend/common/game_specific/base.py
  src/backend/common/game_specific/seasons/game_specifics_2016.py
  src/backend/common/game_specific/seasons/game_specifics_2017.py
  src/backend/common/game_specific/seasons/game_specifics_2018.py
  src/backend/common/game_specific/seasons/game_specifics_2019.py
  src/backend/common/game_specific/seasons/game_specifics_2020.py
  src/backend/common/game_specific/seasons/game_specifics_2022.py
  src/backend/common/game_specific/seasons/game_specifics_2023.py
  src/backend/common/game_specific/seasons/game_specifics_2024.py
  src/backend/common/game_specific/seasons/game_specifics_2025.py
  src/backend/common/game_specific/seasons/game_specifics_2026.py
  src/backend/common/game_specific/seasons/tests/conftest.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2016_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2017_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2018_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2019_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2020_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2022_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2023_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2024_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2025_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2026_test.py
Due: py3-type, py3-lint, py3-test

Tolerate missing 2019 rocket score-breakdown keys instead of dropping the event (#10278)
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_match_details_parser_test.py
Due: py3-type, py3-lint, py3-test

PR #10853 screenshots: offseason insights without breakdowns
  pr-10853-insights-2016wvrox-after-light.png
  pr-10853-insights-2016wvrox-before-light.png
  pr-10853-insights-2016wvrox-diff-light.png
  pr-10853-insights-2025isios-after-light.png
  pr-10853-insights-2025isios-before-light.png
  pr-10853-insights-2025isios-diff-light.png
Due: none

Guard Twitch token fetch against None to avoid crash on auth failure (#10279)
  src/backend/tasks_io/datafeeds/datafeed_twitch.py
  src/backend/tasks_io/datafeeds/tests/datafeed_twitch_get_access_token_test.py
  src/backend/tasks_io/helpers/webcast_online_helper.py
Due: py3-type, py3-lint, py3-test

[pwa] Merge search sections; allow specific team-year searching
  pwa/app/components/tba/navigation/searchModal.test.tsx
  pwa/app/components/tba/navigation/searchModal.tsx
  pwa/app/lib/search/fuzzysortFilterer.test.ts
  pwa/app/lib/search/fuzzysortFilterer.ts
  pwa/app/lib/search/searchRedirect.test.ts
  pwa/app/lib/search/searchRedirect.ts
  pwa/app/routes/search.test.tsx
  pwa/app/routes/search.tsx
Due: none

[pwa] Merge search sections; allow specific team-year searching (#10970)
  pwa/app/components/tba/navigation/searchModal.test.tsx
  pwa/app/components/tba/navigation/searchModal.tsx
  pwa/app/lib/search/fuzzysortFilterer.test.ts
  pwa/app/lib/search/fuzzysortFilterer.ts
  pwa/app/lib/search/searchRedirect.test.ts
  pwa/app/lib/search/searchRedirect.ts
  pwa/app/routes/search.test.tsx
  pwa/app/routes/search.tsx
Due: none

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
