Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [pre-commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [pre-commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [pre-commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [pre-commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [pre-commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [pre-commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [pre-commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]
    - id: gcloud-sdk-version
      name: "Checking Google Cloud SDK Version"
      entry: ./ops/check_sdk_version.sh
      language: script
      always_run: true
      stages: [post-checkout]

Cover prediction_helper.py (#10834)
  src/backend/common/helpers/prediction_helper.py
  src/backend/common/helpers/tests/nexus_pit_map_svg_helper_test.py
  src/backend/common/helpers/tests/predictions_helper_test.py
  src/backend/common/helpers/tests/webcast_helper_test.py
  stubs/numpy.pyi
Due: py3-type, py3-lint, py3-test

Retire CI screenshot comments; authors capture their own
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/comment_screenshots_on_pr.yml
  .github/workflows/pull_request.yml
  .github/workflows/pwa_screenshots.yml
  AGENTS.md
  ops/pr_screenshots/artifact_data.py
  ops/pr_screenshots/capture_screenshots.py
  ops/pr_screenshots/generate_screenshots_message.py
  ops/pwa/generate-screenshot-comment.mjs
  ops/pwa/take-screenshots.mjs
  pwa/AGENTS.md
  pwa/README.md
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Stop pinning buggy behaviour in coverage tests
  src/backend/api/handlers/tests/add_fms_companion_db_test.py
  src/backend/api/handlers/tests/trustedapi_auth_test.py
  src/backend/tasks_cpu/handlers/tests/typeahead_test.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_event_list_parser_test.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_hybrid_schedule_parser_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for Bug #10840-a: companion DB import started with gs://
  src/backend/api/handlers/tests/add_fms_companion_db_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for Bug #10840-b: unknown FMS report type gets 401
  src/backend/api/handlers/tests/trustedapi_auth_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for Bug #10840-c: typeahead shows "None District"
  src/backend/tasks_cpu/handlers/tests/typeahead_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for Bug #10840-d: event list parse crashes on unknown type with short=
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_event_list_parser_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for Bug #10840-e: null station crashes the match parser sort
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_hybrid_schedule_parser_test.py
Due: py3-type, py3-lint, py3-test

Add failing test for Bug #10840-f: 2015 null-team playoff repair never runs
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_hybrid_schedule_parser_test.py
Due: py3-type, py3-lint, py3-test

Point the 2015 null-team repair comment at Bug #10840-f
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
Due: py3-type, py3-lint, py3-test

Integrate SOTA FRC match prediction model (hkf_ev_pcg)
  .pyre_configuration
  ops/scripts/seed_sota_predictions.py
  pyproject.toml
  src/backend/api/apiv3_main.py
  src/backend/api/handlers/event.py
  src/backend/api/handlers/tests/event_test.py
  src/backend/common/cache_clearing/get_affected_queries.py
  src/backend/common/helpers/sota_prediction/__init__.py
  src/backend/common/helpers/sota_prediction/adapter.py
  src/backend/common/helpers/sota_prediction/base.py
  src/backend/common/helpers/sota_prediction/bonus.py
  src/backend/common/helpers/sota_prediction/context.py
  src/backend/common/helpers/sota_prediction/gmm_shape.py
  src/backend/common/helpers/sota_prediction/ordering.py
  src/backend/common/helpers/sota_prediction/outcome.py
  src/backend/common/helpers/sota_prediction/predictions.py
  src/backend/common/helpers/sota_prediction/predictor.py
  src/backend/common/helpers/sota_prediction/rp.py
  src/backend/common/helpers/sota_prediction/rp_pmf.py
  src/backend/common/helpers/sota_prediction/rulebook.py
  src/backend/common/helpers/sota_prediction/structure.py
  src/backend/common/helpers/tests/sota_prediction_test.py
  src/backend/common/manipulators/event_predictions_v2_manipulator.py
  src/backend/common/manipulators/match_manipulator.py
  src/backend/common/manipulators/tests/event_predictions_v2_manipulator_test.py
  src/backend/common/models/event_predictions_v2.py
  src/backend/common/models/prediction_state.py
  src/backend/common/queries/dict_converters/event_predictions_v2_converter.py
  src/backend/common/queries/event_predictions_v2_query.py
  src/backend/tasks_cpu/handlers/predictions.py
  src/backend/tasks_cpu/handlers/tests/predictions_test.py
  src/backend/tasks_cpu/main.py
  src/backend/web/static/swagger/api_v3.json
  src/queue.yaml
  stubs/numpy.pyi
  uv.lock
Due: py3-type, py3-lint, py3-test

Retire CI screenshot comments; authors capture their own (#10924)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/comment_screenshots_on_pr.yml
  .github/workflows/pull_request.yml
  .github/workflows/pwa_screenshots.yml
  AGENTS.md
  ops/pr_screenshots/artifact_data.py
  ops/pr_screenshots/capture_screenshots.py
  ops/pr_screenshots/generate_screenshots_message.py
  ops/pwa/generate-screenshot-comment.mjs
  ops/pwa/take-screenshots.mjs
  pwa/AGENTS.md
  pwa/README.md
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Fix Bug #32: normalize "Teams"/"teams" before merging FRC API matches (#10921)
  src/backend/common/frc_api/frc_api.py
  src/backend/common/frc_api/tests/frcapi_test.py
Due: py3-type, py3-lint, py3-test

Share one predicted-time formatter between match rows (Bug #59)
  pwa/app/components/tba/match/matchRows.test.tsx
  pwa/app/components/tba/match/matchRows.tsx
  pwa/app/lib/matchUtils.test.ts
  pwa/app/lib/matchUtils.ts
Due: none

Use one formatMatchTime for every match-time display
  pwa/app/components/tba/match/matchDetails.test.tsx
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/match/matchRows.test.tsx
  pwa/app/components/tba/match/matchRows.tsx
  pwa/app/lib/matchUtils.test.ts
  pwa/app/lib/matchUtils.ts
  pwa/app/routes/match_suggestion.tsx
Due: none

Fix Bug #57: 2024 "Spotlit" is keyed on the TRAP flags instead of the MICROPHONE above the robot (#10906)
  pwa/app/components/tba/match/scoreBreakdown2024.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2024.tsx
Due: none

Fix Bug #24: 2024/2025 bonus-RP predictions read uncomputed stats and misapply the Coopertition Bonus (#10891)
  src/backend/common/game_specific/seasons/game_specifics_2024.py
  src/backend/common/game_specific/seasons/game_specifics_2025.py
  src/backend/common/helpers/prediction_helper.py
  src/backend/common/helpers/tests/predictions_helper_test.py
Due: py3-type, py3-lint, py3-test

[pwa] fix failing ci
  pwa/AGENTS.md
  pwa/app/components/tba/kickoffCountdown.test.tsx
Due: none

[pwa] fix failing ci (#10944)
  pwa/AGENTS.md
  pwa/app/components/tba/kickoffCountdown.test.tsx
Due: none

[pwa] Show frc-colors info; improve copr sorting
  pwa/app/components/tba/charts/coprScatterChart.test.tsx
  pwa/app/components/tba/charts/coprScatterChart.tsx
  pwa/app/components/tba/componentOprsTable.test.tsx
  pwa/app/components/tba/componentOprsTable.tsx
  pwa/app/components/tba/dataTable.tsx
Due: none

[pwa] Show frc-colors info; improve copr sorting (#10943)
  pwa/app/components/tba/charts/coprScatterChart.test.tsx
  pwa/app/components/tba/charts/coprScatterChart.tsx
  pwa/app/components/tba/componentOprsTable.test.tsx
  pwa/app/components/tba/componentOprsTable.tsx
  pwa/app/components/tba/dataTable.tsx
Due: none

[pwa] Bump sentry to 11
  pwa/app/router.test.tsx
  pwa/app/router.tsx
  pwa/package.json
  pwa/pnpm-lock.yaml
  pwa/server.ts
Due: none

[pwa] Bump sentry to 11 (#10945)
  pwa/app/router.test.tsx
  pwa/app/router.tsx
  pwa/package.json
  pwa/pnpm-lock.yaml
  pwa/server.ts
Due: none

[pwa] fix all lint/build/test warnings
  pwa/app/components/tba/account/apiKeys.tsx
  pwa/app/components/tba/account/suggestionReviewCard.tsx
  pwa/app/components/tba/bracketPlaceholderMatch.tsx
  pwa/app/components/tba/doubleElim4TeamBracket.tsx
  pwa/app/components/tba/eliminationBracket.tsx
  pwa/app/components/tba/eliminationBracketPaths.tsx
  pwa/app/components/tba/eventListTable.tsx
  pwa/app/components/tba/gameday/MatchRecommendationsPanel.test.tsx
  pwa/app/components/tba/match/matchDetails.test.tsx
  pwa/app/components/tba/match/matchRows.test.tsx
  pwa/app/components/tba/match/scoreBreakdown.test.tsx
  pwa/app/components/tba/match/scoreBreakdown.tsx
  pwa/app/components/tba/moderation/reviewTools.tsx
  pwa/app/components/tba/moderation/suggestionReviewCard.test.tsx
  pwa/app/components/tba/moderation/suggestionReviewCard.tsx
  pwa/app/components/tba/teamMatchStats.test.tsx
  pwa/app/components/ui/chart.test.tsx
  pwa/app/components/ui/table.tsx
  pwa/app/router.tsx
  pwa/app/routes/-__root.test.tsx
  pwa/app/routes/__root.tsx
  pwa/app/routes/about.tsx
  pwa/app/routes/account.index.tsx
  pwa/app/routes/contact.tsx
  pwa/app/routes/donate.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/vite.config.ts
Due: none

[pwa] fix all lint/build/test warnings (#10946)
  pwa/app/components/tba/account/apiKeys.tsx
  pwa/app/components/tba/account/suggestionReviewCard.tsx
  pwa/app/components/tba/bracketPlaceholderMatch.tsx
  pwa/app/components/tba/doubleElim4TeamBracket.tsx
  pwa/app/components/tba/eliminationBracket.tsx
  pwa/app/components/tba/eliminationBracketPaths.tsx
  pwa/app/components/tba/eventListTable.tsx
  pwa/app/components/tba/gameday/MatchRecommendationsPanel.test.tsx
  pwa/app/components/tba/match/matchDetails.test.tsx
  pwa/app/components/tba/match/matchRows.test.tsx
  pwa/app/components/tba/match/scoreBreakdown.test.tsx
  pwa/app/components/tba/match/scoreBreakdown.tsx
  pwa/app/components/tba/moderation/reviewTools.tsx
  pwa/app/components/tba/moderation/suggestionReviewCard.test.tsx
  pwa/app/components/tba/moderation/suggestionReviewCard.tsx
  pwa/app/components/tba/teamMatchStats.test.tsx
  pwa/app/components/ui/chart.test.tsx
  pwa/app/components/ui/table.tsx
  pwa/app/router.tsx
  pwa/app/routes/-__root.test.tsx
  pwa/app/routes/__root.tsx
  pwa/app/routes/about.tsx
  pwa/app/routes/account.index.tsx
  pwa/app/routes/contact.tsx
  pwa/app/routes/donate.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/vite.config.ts
Due: none

Name tests and comments by behaviour, not by session bug numbers
  pwa/app/components/tba/doubleElim4TeamBracket.test.tsx
  pwa/app/components/tba/doubleSlider.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2018.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2019.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2023.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2024.test.tsx
  pwa/app/components/tba/traditionalBracket.test.tsx
  src/backend/api/handlers/tests/trustedapi_auth_test.py
  src/backend/common/frc_api/tests/frcapi_test.py
  src/backend/common/helpers/tests/predictions_helper_test.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_hybrid_schedule_parser_test.py
  src/frontend/gameday2/reducers/__tests__/chats.test.js
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Fix: 2019 HAB climb labels value Level 2/3 at 3/6 points instead of Table 5-1's 6/12 (#10861)
  pwa/app/components/tba/match/scoreBreakdown2019.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2019.tsx
Due: none

Name tests by behaviour
  src/backend/common/game_specific/seasons/tests/conftest.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2016_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2017_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2018_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2019_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2020_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2022_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2023_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2024_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2025_test.py
  src/backend/common/game_specific/seasons/tests/game_specifics_2026_test.py
Due: py3-type, py3-lint, py3-test

Name tests and comments by behaviour, not by session bug numbers (#10947)
  pwa/app/components/tba/doubleElim4TeamBracket.test.tsx
  pwa/app/components/tba/doubleSlider.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2018.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2023.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2024.test.tsx
  pwa/app/components/tba/traditionalBracket.test.tsx
  src/backend/api/handlers/tests/trustedapi_auth_test.py
  src/backend/common/frc_api/tests/frcapi_test.py
  src/backend/common/helpers/tests/predictions_helper_test.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_hybrid_schedule_parser_test.py
  src/frontend/gameday2/reducers/__tests__/chats.test.js
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Name tests by behaviour
  src/backend/common/game_specific/seasons/tests/game_specifics_2024_test.py
Due: py3-type, py3-lint, py3-test

Name tests by behaviour
  src/frontend/gameday2/components/__tests__/ChatSelector.test.js
Due: node-lint, node-test

Name tests by behaviour
  src/frontend/gameday2/components/__tests__/ChatSelector.test.js
  src/frontend/gameday2/components/__tests__/LayoutDrawer.test.js
  src/frontend/gameday2/components/__tests__/LayoutSelectionPanel.test.js
  src/frontend/gameday2/components/__tests__/WebcastSelectionDialogItem.test.js
Due: node-lint, node-test

Name tests by behaviour
  src/frontend/gameday2/components/__tests__/LivescoreDisplay.test.js
Due: node-lint, node-test

Name tests by behaviour
  src/frontend/gameday2/components/__tests__/LayoutDrawer.test.js
  src/frontend/gameday2/components/__tests__/LayoutSelectionPanel.test.js
Due: node-lint, node-test

Name tests by behaviour
  src/frontend/gameday2/components/embeds/__tests__/embeds.test.js
Due: node-lint, node-test

Name tests by behaviour
  pwa/app/components/tba/match/scoreBreakdown2018.test.tsx
Due: none

Name tests by behaviour
  src/frontend/gameday2/components/__tests__/WebcastSelectionDialog.test.js
Due: node-lint, node-test

Name tests by behaviour
  src/frontend/eventwizard/components/eventRankingsTab/__tests__/EventRankingsTab.test.tsx
Due: none
