Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

Add hovertext to auto win conversion label
  src/backend/web/templates/event_partials/event_insights_2026.html
Due: none

Fix auto win conversion condition
  src/backend/common/helpers/event_insights_helper.py
Due: py3-type, py3-lint, py3-test

[pwa] migrate to Temporal API for datetime management (#9390)
  pwa/AGENTS.md
  pwa/app/components/tba/eventListTable.tsx
  pwa/app/components/tba/kickoffCountdown.tsx
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/match/matchRows.tsx
  pwa/app/lib/awardUtils.ts
  pwa/app/lib/eventUtils.test.ts
  pwa/app/lib/eventUtils.ts
  pwa/app/lib/search/fuzzysortFilterer.ts
  pwa/app/lib/utils.tsx
  pwa/app/routes/__root.tsx
  pwa/app/routes/district.$districtAbbreviation.{-$year}.tsx
  pwa/app/routes/events.{-$year}.tsx
  pwa/app/routes/index.tsx
  pwa/app/routes/local.debug.tsx
  pwa/app/routes/match.$matchKey.tsx
  pwa/app/routes/match_suggestion.tsx
  pwa/app/routes/team.$teamNumber.stats.tsx
  pwa/app/routes/team.$teamNumber.{-$year}.tsx
  pwa/app/routes/webcasts.tsx
  pwa/package.json
  pwa/pnpm-lock.yaml
Due: none

Changes suggested by @tervay for PR #9414
  src/backend/common/helpers/event_insights_helper.py
Due: py3-type, py3-lint, py3-test

Refactor/clean up leaderboard
  pwa/app/components/tba/leaderboard.tsx
  pwa/app/routes/district.$districtAbbreviation.stats.tsx
  pwa/app/routes/insights.{-$year}.tsx
Due: none

Skip one-time rookie awards
  pwa/app/routes/district.$districtAbbreviation.stats.tsx
Due: none

add team info to notifications
  src/backend/common/consts/notification_type.py
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/manipulators/event_team_manipulator.py
  src/backend/common/models/notifications/teams_updated.py
  src/backend/web/templates/apidocs_webhooks.html
Due: py3-type, py3-lint, py3-test

Fix lint, typecheck, and test for null event guard
  src/backend/common/manipulators/match_manipulator.py
  src/backend/common/manipulators/tests/match_manipulator_test.py
Due: py3-type, py3-lint, py3-test

Nullapalooza: skip corrupted Match with event=None in post-update hook
  src/backend/common/manipulators/match_manipulator.py
  src/backend/common/manipulators/tests/match_manipulator_test.py
Due: py3-type, py3-lint, py3-test

Fix test: use PropertyMock to simulate corrupted null event
  src/backend/common/manipulators/tests/match_manipulator_test.py
Due: py3-type, py3-lint, py3-test

Fix test: call hook directly with mock to avoid NDB serialization
  src/backend/common/manipulators/tests/match_manipulator_test.py
Due: py3-type, py3-lint, py3-test

Guard second loop in post-update hook against null event
  src/backend/common/manipulators/match_manipulator.py
Due: py3-type, py3-lint, py3-test

Handle Firebase UserNotFoundError during account deletion
  src/backend/web/handlers/account.py
  src/backend/web/handlers/tests/account_test.py
Due: py3-type, py3-lint, py3-test

add is_new check for event teams
  src/backend/common/manipulators/event_team_manipulator.py
Due: py3-type, py3-lint, py3-test

make type checker and linter happy
  src/backend/common/consts/notification_type.py
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/manipulators/event_team_manipulator.py
  src/backend/common/models/notifications/teams_updated.py
Due: py3-type, py3-lint, py3-test

an attempt at tests
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/manipulators/tests/event_team_manipulator_test.py
  src/backend/common/models/notifications/teams_updated.py
  src/backend/common/models/notifications/tests/teams_updated_test.py
Due: py3-type, py3-lint, py3-test

[PWA] Add district stats page (#9363)
  pwa/app/components/tba/leaderboard.tsx
  pwa/app/routeTree.gen.ts
  pwa/app/routes/district.$districtAbbreviation.stats.tsx
  pwa/app/routes/district.$districtAbbreviation.{-$year}.tsx
  pwa/app/routes/insights.{-$year}.tsx
  pwa/tests/routes.spec.ts
Due: none

Fix minor logic issues in auto conversion calc
  src/backend/common/helpers/event_insights_helper.py
Due: py3-type, py3-lint, py3-test

Add tooltip re: level 3 climbs and G420
  src/backend/web/templates/event_partials/event_insights_2026.html
Due: none

Rephrase auto win conversion hovertext
  src/backend/web/templates/event_partials/event_insights_2026.html
Due: none

Formatting / style fixes
  src/backend/common/helpers/event_insights_helper.py
Due: py3-type, py3-lint, py3-test

Link YouTube channel ID to channel page in district admin webcast tab (#9428)
  src/backend/web/handlers/admin/tests/district_test.py
  src/backend/web/templates/admin/district_details.html
Due: py3-type, py3-lint, py3-test

Expand future_events_without_webcasts filter to include all future events with no webcasts (#9429)
  src/backend/tasks_io/handlers/live_events.py
  src/backend/tasks_io/handlers/tests/live_events_test.py
Due: py3-type, py3-lint, py3-test

Refactor stream-event matching and add description-based matching for YouTube streams (#9430)
  src/backend/common/helpers/tests/youtube_video_helper_test.py
  src/backend/common/helpers/youtube_video_helper.py
  src/backend/tasks_io/handlers/live_events.py
  src/backend/tasks_io/handlers/tests/live_events_test.py
Due: py3-type, py3-lint, py3-test

Search YouTube for both `upcoming` and `live` event types in YoutubeUpcomingStreamsDatafeed (#9431)
  src/backend/common/datafeeds/datafeed_youtube.py
  src/backend/common/datafeeds/parsers/youtube/youtube_search_parser.py
  src/backend/common/helpers/tests/youtube_video_helper_test.py
  src/backend/common/helpers/youtube_video_helper.py
  src/backend/tasks_io/datafeeds/tests/datafeed_youtube_search_test.py
  src/backend/tasks_io/handlers/tests/live_events_test.py
Due: py3-type, py3-lint, py3-test

Show webcast scheduled start times
  src/backend/common/datafeeds/parsers/youtube/youtube_stream_status_batch_parser.py
  src/backend/common/models/event.py
  src/backend/common/models/webcast.py
  src/backend/tasks_io/datafeeds/parsers/youtube/tests/youtube_stream_status_batch_parser_test.py
  src/backend/tasks_io/handlers/live_events.py
  src/backend/tasks_io/handlers/tests/live_events_test.py
  src/backend/tasks_io/helpers/tests/webcast_online_helper_test.py
  src/backend/tasks_io/helpers/webcast_online_helper.py
  src/backend/web/handlers/admin/tests/event_test.py
  src/backend/web/handlers/tests/event_detail_test.py
  src/backend/web/handlers/tests/event_list_test.py
  src/backend/web/static/javascript/tba_js/tba.js
  src/backend/web/templates/admin/event_details.html
  src/backend/web/templates/event_details.html
  src/backend/web/templates/event_partials/event_table.html
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Show webcast scheduled start times (#9432)
  src/backend/common/datafeeds/parsers/youtube/youtube_stream_status_batch_parser.py
  src/backend/common/models/event.py
  src/backend/common/models/webcast.py
  src/backend/tasks_io/datafeeds/parsers/youtube/tests/youtube_stream_status_batch_parser_test.py
  src/backend/tasks_io/handlers/live_events.py
  src/backend/tasks_io/handlers/tests/live_events_test.py
  src/backend/tasks_io/helpers/tests/webcast_online_helper_test.py
  src/backend/tasks_io/helpers/webcast_online_helper.py
  src/backend/web/handlers/admin/tests/event_test.py
  src/backend/web/handlers/tests/event_detail_test.py
  src/backend/web/handlers/tests/event_list_test.py
  src/backend/web/static/javascript/tba_js/tba.js
  src/backend/web/templates/admin/event_details.html
  src/backend/web/templates/event_details.html
  src/backend/web/templates/event_partials/event_table.html
Due: py3-type, py3-lint, py3-test, node-lint, node-test

show scheduled stream start times in gameday
  src/frontend/gameday2/components/WebcastSelectionDialog.js
  src/frontend/gameday2/components/__tests__/WebcastSelectionDialog.test.js
  src/frontend/gameday2/reducers/__tests__/webcastsById.test.js
  src/frontend/gameday2/reducers/webcastsById.js
  src/frontend/gameday2/utils/webcastUtils.js
Due: node-lint, node-test

show scheduled stream start times in gameday (#9433)
  src/frontend/gameday2/components/WebcastSelectionDialog.js
  src/frontend/gameday2/components/__tests__/WebcastSelectionDialog.test.js
  src/frontend/gameday2/reducers/__tests__/webcastsById.test.js
  src/frontend/gameday2/reducers/webcastsById.js
  src/frontend/gameday2/utils/webcastUtils.js
Due: node-lint, node-test

Add popular events on homepage, sorted by webcast views
  src/backend/web/handlers/index.py
  src/backend/web/handlers/tests/index_test.py
  src/backend/web/templates/index/index_competitionseason.html
Due: py3-type, py3-lint, py3-test

Fix flaky Ops Fullstack Test timeout (#9379)
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  ops/tests/fms_companion_import.test.js
Due: node-lint, node-test

Add popular events on homepage, sorted by webcast views (#9434)
  src/backend/web/handlers/index.py
  src/backend/web/handlers/tests/index_test.py
  src/backend/web/templates/index/index_competitionseason.html
Due: py3-type, py3-lint, py3-test

Add fuel and tower stats to 2026 insights
  src/backend/common/helpers/event_insights_helper.py
  src/backend/web/templates/event_partials/event_insights_2026.html
Due: py3-type, py3-lint, py3-test

Add auto win conversion rate to insights
  src/backend/common/helpers/event_insights_helper.py
  src/backend/web/templates/event_partials/event_insights_2026.html
Due: py3-type, py3-lint, py3-test

Fix divide-by-0 error in auto_win_conversion calculation
  src/backend/common/helpers/event_insights_helper.py
Due: py3-type, py3-lint, py3-test

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
