Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

--amend
  pwa/app/routes/match_suggestion.tsx
Due: none

Better null state
  pwa/app/routes/match_suggestion.tsx
Due: none

Styling
  pwa/app/routes/match_suggestion.tsx
Due: none

Add barge points EPA
  pwa/app/routes/match_suggestion.tsx
Due: none

Cleanup
  pwa/app/routes/match_suggestion.tsx
Due: none

[PWA] Match suggestions (#7565)
  pwa/app/components/tba/matchResultsTable.tsx
  pwa/app/routes/match_suggestion.tsx
Due: none

Resolve CMP division overrides in truted API
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/add_event_media_test.py
  src/backend/api/handlers/tests/add_match_video_test.py
  src/backend/api/handlers/tests/trustedapi_auth_test.py
  src/backend/api/handlers/trusted.py
  src/backend/api/trusted_api_auth_helper.py
  src/backend/common/consts/event_code_exceptions.py
  src/backend/common/models/event.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
Due: py3-type, py3-lint, py3-test

Correct Nexus pit link in Currently Competiting section
  src/backend/web/templates/team_partials/team_info.html
Due: none

Correct Nexus pit link in Currently Competiting section (#7575)
  src/backend/web/templates/team_partials/team_info.html
Due: none

Mark APIv3 Event.timezone as nullable. Rename District_List to District
  src/backend/web/static/swagger/api_v3.json
Due: none

Regenerate PWA types. Dockerize generate-api script
  pwa/app/api/v3.ts
  pwa/generate-api.sh
Due: none

Update PWA to support nullable timezone
  pwa/app/lib/utils.tsx
Due: none

Mark APIv3 Event.timezone as nullable. Rename District_List to District (#7584)
  pwa/app/api/v3.ts
  pwa/app/lib/utils.tsx
  pwa/generate-api.sh
  src/backend/web/static/swagger/api_v3.json
Due: none

LiveEventPanel/gameday: fix issue where lingering unplayed matches could break sort order
  src/frontend/gameday2/selectors/index.js
  src/frontend/liveevent/components/LiveEventPanel.js
Due: node-lint, node-test

LiveEventPanel/gameday: fix issue where lingering unplayed matches could break sort order (#7586)
  src/frontend/gameday2/selectors/index.js
  src/frontend/liveevent/components/LiveEventPanel.js
Due: node-lint, node-test

Compute champs elim teamup stat
  src/backend/common/helpers/insights_helper.py
  src/backend/common/models/insight.py
  src/backend/web/templates/insights.html
Due: py3-type, py3-lint, py3-test

Compute einstein teamup stat (#7587)
  src/backend/common/helpers/insights_helper.py
  src/backend/common/models/insight.py
  src/backend/web/templates/insights.html
Due: py3-type, py3-lint, py3-test

Resolve CMP division overrides in truted API (#7574)
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/add_event_media_test.py
  src/backend/api/handlers/tests/add_match_video_test.py
  src/backend/api/handlers/tests/trustedapi_auth_test.py
  src/backend/api/handlers/trusted.py
  src/backend/api/trusted_api_auth_helper.py
  src/backend/common/consts/event_code_exceptions.py
  src/backend/common/models/event.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
Due: py3-type, py3-lint, py3-test

Fix formatting
  src/backend/common/helpers/insights_helper.py
Due: py3-type, py3-lint, py3-test

Fix formatting (#7599)
  src/backend/common/helpers/insights_helper.py
Due: py3-type, py3-lint, py3-test

Add longest qualifying event win streak insight
  src/backend/common/helpers/insights_leaderboard_team_helper.py
  src/backend/common/models/insight.py
Due: py3-type, py3-lint, py3-test

[PWA] Upgrade to Express 5
  pwa/package-lock.json
  pwa/package.json
  pwa/server.js
Due: node-lint, node-test

[PWA] Correctly sort events on team history page (#7568)
  pwa/app/routes/team.$teamNumber.history.tsx
Due: none

Make impact/WFFA leaderboards year=0 only (#7491)
  src/backend/common/helpers/insights_leaderboard_team_helper.py
  src/backend/common/helpers/tests/insights_leaderboard_team_helper_test.py
Due: py3-type, py3-lint, py3-test

[pwa] fix awards and insights tab buttons showing up on not-yet-started events (#7417)
  pwa/app/routes/event.$eventKey.tsx
Due: none

Add longest qualifying event win streak insight (#7537)
  src/backend/common/helpers/insights_leaderboard_team_helper.py
  src/backend/common/models/insight.py
Due: py3-type, py3-lint, py3-test

[PWA] Upgrade to Express 5 (#7567)
  pwa/package-lock.json
  pwa/package.json
  pwa/server.js
Due: node-lint, node-test

[PWA] Upgrade to ESLint 9
  .github/dependabot.yml
  pwa/.eslintrc.cjs
  pwa/app/components/tba/allianceSelectionTable.tsx
  pwa/app/components/tba/nav.tsx
  pwa/app/components/tba/rankingsTable.tsx
  pwa/app/lib/eventUtils.ts
  pwa/app/lib/matchUtils.test.ts
  pwa/app/lib/teamUtils.ts
  pwa/app/lib/utils.test.ts
  pwa/app/root.tsx
  pwa/eslint.config.js
  pwa/package-lock.json
  pwa/package.json
Due: node-lint, node-test

[PWA] Upgrade to ESLint 9 (#7442)
  .github/dependabot.yml
  pwa/.eslintrc.cjs
  pwa/app/components/tba/allianceSelectionTable.tsx
  pwa/app/components/tba/nav.tsx
  pwa/app/components/tba/rankingsTable.tsx
  pwa/app/lib/eventUtils.ts
  pwa/app/lib/matchUtils.test.ts
  pwa/app/lib/teamUtils.ts
  pwa/app/lib/utils.test.ts
  pwa/app/root.tsx
  pwa/eslint.config.js
  pwa/package-lock.json
  pwa/package.json
Due: node-lint, node-test

remove things from gitignore
  .gitignore
Due: none

Add new DCMP event/awards history endpoint
  pwa/app/api/v3.ts
  src/backend/api/handlers/district.py
  src/backend/api/main.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

[PWA] Add banners to team history page
  pwa/app/routes/team.$teamNumber.history.tsx
Due: none

Pull Firebase emulator out of Vagrant and into Docker Compose
  docker-compose.yml
  ops/dev/docker/Dockerfile
  ops/dev/docker/firebase_emulator/Dockerfile
  ops/dev/docker/firebase_emulator/create_firebase_emulator_auth_accounts.js
  ops/dev/docker/firebase_emulator/firebase.json
  ops/dev/docker/firebase_emulator/package.json
  ops/dev/docker/firebase_emulator/run_firebase_emulator.sh
  ops/dev/vagrant/bootstrap-dev-container.sh
  ops/dev/vagrant/create_auth_emulator_accounts.py
  ops/dev/vagrant/run_firebase_emulator.sh
  ops/dev/vagrant/start-devserver.sh
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Update eventwizard for double elim matches
  src/backend/web/static/javascript/tba_js/eventwizard.js
  src/backend/web/static/javascript/tba_js/eventwizard_apiwrite.js
  src/backend/web/templates/eventwizard.html
Due: node-lint, node-test

Update eventwizard for double elim matches (#7642)
  src/backend/web/static/javascript/tba_js/eventwizard.js
  src/backend/web/static/javascript/tba_js/eventwizard_apiwrite.js
  src/backend/web/templates/eventwizard.html
Due: node-lint, node-test

Add 2025 score breakdown keys for trusted API
  src/backend/common/helpers/score_breakdown_keys.py
Due: py3-type, py3-lint, py3-test

Add 2025 score breakdown keys for trusted API (#7643)
  src/backend/common/helpers/score_breakdown_keys.py
Due: py3-type, py3-lint, py3-test

Only spin up one instance of a service for dev_appserver
  ops/dev/vagrant/dev_appserver.sh
Due: none

Only spin up one instance of a service for dev_appserver (#7645)
  ops/dev/vagrant/dev_appserver.sh
Due: none

Dispatch to webhooks individually
  src/backend/api/handlers/client_api.py
  src/backend/api/handlers/tests/client_api_ping_test.py
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/models/notifications/requests/tests/webhook_request_test.py
  src/backend/common/models/notifications/requests/webhook_request.py
  src/backend/web/handlers/account.py
  src/backend/web/handlers/tests/account_test.py
Due: py3-type, py3-lint, py3-test

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
