Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]

[PWA] add-data page (#6273)
  pwa/app/routes/add-data.tsx
Due: none

Add global navigation progress
  pwa/app/components/tba/globalLoadingProgress.tsx
  pwa/app/components/ui/progress.tsx
  pwa/app/root.tsx
  pwa/package-lock.json
  pwa/package.json
Due: none

Use setInterval
  pwa/app/components/tba/globalLoadingProgress.tsx
Due: none

Clear timeout
  pwa/app/components/tba/globalLoadingProgress.tsx
Due: none

Stop advancing when inactive
  pwa/app/components/tba/globalLoadingProgress.tsx
Due: none

Tweaks
  pwa/app/components/tba/globalLoadingProgress.tsx
Due: none

Maintain in-memory etag response cache
  pwa/app/root.tsx
  src/backend/api/main.py
Due: py3-type, py3-lint, py3-test

Use LRU Cache
  pwa/app/root.tsx
  pwa/package-lock.json
  pwa/package.json
Due: none

Add comment
  pwa/app/root.tsx
Due: none

[PWA] ETag cache (#6275)
  pwa/app/root.tsx
  pwa/package-lock.json
  pwa/package.json
  src/backend/api/main.py
Due: py3-type, py3-lint, py3-test

Sort imports
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  pwa/app/api/v3.ts
  pwa/app/components/tba/allianceSelectionTable.tsx
  pwa/app/components/tba/awardRecipientLink.tsx
  pwa/app/components/tba/dataTable.tsx
  pwa/app/components/tba/eventListTable.tsx
  pwa/app/components/tba/inlineIcon.tsx
  pwa/app/components/tba/matchResultsTable.tsx
  pwa/app/components/tba/rankingsTable.tsx
  pwa/app/components/tba/teamAvatar.tsx
  pwa/app/components/tba/teamRobotPicsCarousel.tsx
  pwa/app/components/ui/badge.tsx
  pwa/app/components/ui/button.tsx
  pwa/app/components/ui/carousel.tsx
  pwa/app/components/ui/credenza.tsx
  pwa/app/components/ui/dialog.tsx
  pwa/app/components/ui/scroll-area.tsx
  pwa/app/components/ui/tabs.tsx
  pwa/app/components/ui/tooltip.tsx
  pwa/app/entry.client.tsx
  pwa/app/entry.server.tsx
  pwa/app/lib/teamUtils.ts
  pwa/app/lib/utils.ts
  pwa/app/root.tsx
  pwa/app/routes/about.tsx
  pwa/app/routes/contact.tsx
  pwa/app/routes/donate.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/events.($year).tsx
  pwa/app/routes/team.$teamNumber.tsx
  pwa/package-lock.json
  pwa/package.json
  pwa/prettier.config.js
  pwa/tailwind.config.ts
  pwa/vite.config.ts
Due: node-lint, node-test

Format
  pwa/app/root.tsx
Due: none

Separate icons
  pwa/app/components/tba/allianceSelectionTable.tsx
  pwa/app/components/tba/matchResultsTable.tsx
  pwa/app/components/tba/rankingsTable.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/team.$teamNumber.tsx
  pwa/prettier.config.js
Due: node-lint, node-test

[PWA] Sort imports (#6276)
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  pwa/app/api/v3.ts
  pwa/app/components/tba/allianceSelectionTable.tsx
  pwa/app/components/tba/awardRecipientLink.tsx
  pwa/app/components/tba/dataTable.tsx
  pwa/app/components/tba/eventListTable.tsx
  pwa/app/components/tba/inlineIcon.tsx
  pwa/app/components/tba/matchResultsTable.tsx
  pwa/app/components/tba/rankingsTable.tsx
  pwa/app/components/tba/teamAvatar.tsx
  pwa/app/components/tba/teamRobotPicsCarousel.tsx
  pwa/app/components/ui/badge.tsx
  pwa/app/components/ui/button.tsx
  pwa/app/components/ui/carousel.tsx
  pwa/app/components/ui/credenza.tsx
  pwa/app/components/ui/dialog.tsx
  pwa/app/components/ui/scroll-area.tsx
  pwa/app/components/ui/tabs.tsx
  pwa/app/components/ui/tooltip.tsx
  pwa/app/entry.client.tsx
  pwa/app/entry.server.tsx
  pwa/app/lib/teamUtils.ts
  pwa/app/lib/utils.ts
  pwa/app/root.tsx
  pwa/app/routes/about.tsx
  pwa/app/routes/contact.tsx
  pwa/app/routes/donate.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/events.($year).tsx
  pwa/app/routes/team.$teamNumber.tsx
  pwa/package-lock.json
  pwa/package.json
  pwa/prettier.config.js
  pwa/tailwind.config.ts
  pwa/vite.config.ts
Due: node-lint, node-test

Disable etag cache on client
  pwa/app/root.tsx
Due: none

[PWA] Disable etag cache on client (#6277)
  pwa/app/root.tsx
Due: none

[PWA] Add global navigation progress (#6274)
  pwa/app/components/tba/globalLoadingProgress.tsx
  pwa/app/components/ui/progress.tsx
  pwa/app/root.tsx
  pwa/package-lock.json
  pwa/package.json
Due: none

Fix formatting
  pwa/app/components/tba/globalLoadingProgress.tsx
  pwa/app/components/ui/progress.tsx
  pwa/app/root.tsx
Due: none

[PWA] Fix formatting (#6284)
  pwa/app/components/tba/globalLoadingProgress.tsx
  pwa/app/components/ui/progress.tsx
  pwa/app/root.tsx
Due: none

Set CORS cache header
  src/backend/api/main.py
Due: py3-type, py3-lint, py3-test

Always apply vary header
  src/backend/api/main.py
Due: py3-type, py3-lint, py3-test

Fix minor CORS issues (#6286)
  src/backend/api/main.py
Due: py3-type, py3-lint, py3-test

CORS Experiment [clowntown]
  src/backend/api/main.py
Due: py3-type, py3-lint, py3-test

Experiment: Manually set CORS [clowntown]
  src/backend/api/main.py
Due: py3-type, py3-lint, py3-test

Add if-none-match to allow headers [clowntown]
  src/backend/api/main.py
Due: py3-type, py3-lint, py3-test

Revert "Add if-none-match to allow headers [clowntown]"
  src/backend/api/main.py
Due: py3-type, py3-lint, py3-test

Revert "Experiment: Manually set CORS [clowntown]"
  src/backend/api/main.py
Due: py3-type, py3-lint, py3-test

Revert "CORS Experiment [clowntown]"
  src/backend/api/main.py
Due: py3-type, py3-lint, py3-test

Revert "Fix minor CORS issues (#6286)"
  src/backend/api/main.py
Due: py3-type, py3-lint, py3-test

Add back max age
  src/backend/api/main.py
Due: py3-type, py3-lint, py3-test

Revert CORS experiments (#6288)
  src/backend/api/main.py
Due: py3-type, py3-lint, py3-test

[PWA] Add basic insights route
  pwa/app/lib/insightUtils.ts
  pwa/app/routes/insights.($year).tsx
Due: none

More eslint rules
  pwa/.eslintrc.cjs
Due: node-lint, node-test

[PWA] Add basic insights route (#6285)
  pwa/app/lib/insightUtils.ts
  pwa/app/routes/insights.($year).tsx
Due: none

Fix lint
  pwa/app/routes/insights.($year).tsx
Due: none

[PWA] More eslint rules (#6289)
  pwa/.eslintrc.cjs
  pwa/app/routes/insights.($year).tsx
Due: node-lint, node-test

Combine insigight leaderboards query per year
  src/backend/api/handlers/insights.py
  src/backend/common/queries/insight_query.py
Due: py3-type, py3-lint, py3-test

Insight cache clearing
  src/backend/common/cache_clearing/get_affected_queries.py
  src/backend/common/cache_clearing/tests/database_cache_clearer_test.py
  src/backend/common/manipulators/insight_manipulator.py
  src/backend/common/models/insight.py
Due: py3-type, py3-lint, py3-test

Require >=10 matches for highest median score by event insight
  src/backend/common/helpers/insights_helper.py
Due: py3-type, py3-lint, py3-test

InsightLeaderboardsYear query + cache clearing (#6290)
  src/backend/api/handlers/insights.py
  src/backend/common/cache_clearing/get_affected_queries.py
  src/backend/common/cache_clearing/tests/database_cache_clearer_test.py
  src/backend/common/manipulators/insight_manipulator.py
  src/backend/common/models/insight.py
  src/backend/common/queries/insight_query.py
Due: py3-type, py3-lint, py3-test
