Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]

Validate webcast dates
  src/backend/api/api_trusted_parsers/json_event_info_parser.py
Due: py3-type, py3-lint, py3-test

add test coverage
  src/backend/api/handlers/tests/update_event_info_test.py
Due: py3-type, py3-lint, py3-test

Allow passing webcast `date` field to trusted API (#6046)
  src/backend/api/api_trusted_parsers/json_event_info_parser.py
  src/backend/api/handlers/tests/update_event_info_test.py
Due: py3-type, py3-lint, py3-test

typing fixes
  .pyre_configuration
  requirements.txt
  src/backend/api/api_trusted_parsers/json_matches_parser.py
  src/backend/common/helpers/tests/matchstats_helper_test.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/web/handlers/tests/apidocs_test.py
Due: py3-type, py3-lint, py3-test

fix typing
  src/backend/conftest.py
Due: py3-type, py3-lint, py3-test

Update wsl docs to talk about docker compose
  docs/Setup/WSL-Guide.md
Due: none

remove unnecessary bash script
  ops/dev/vagrant/fix_wsl_rsync.sh
Due: none

fixes occasional hang when bringing up instance
  ops/dev/vagrant/bootstrap-dev-container.sh
Due: none

fixes occasional hang when bringing up instance (#6051)
  ops/dev/vagrant/bootstrap-dev-container.sh
Due: none

Update wsl docs to talk about docker compose (#6050)
  docs/Setup/WSL-Guide.md
  ops/dev/vagrant/fix_wsl_rsync.sh
Due: none

Add proper nullables, add score breakdown 2024
  src/backend/web/static/swagger/api_v3.json
Due: none

use openapi 3.0 instead of 3.1
  src/backend/web/static/swagger/api_v3.json
Due: none

Strip year when creating short name
  src/backend/common/helpers/event_short_name_helper.py
  src/backend/common/helpers/tests/event_short_name_helper_test.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
Due: py3-type, py3-lint, py3-test

Strip year when creating short name (#6086)
  src/backend/common/helpers/event_short_name_helper.py
  src/backend/common/helpers/tests/event_short_name_helper_test.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
Due: py3-type, py3-lint, py3-test

Blank create-remix project
  src/pwa/.eslintrc.cjs
  src/pwa/.gitignore
  src/pwa/README.md
  src/pwa/app/entry.client.tsx
  src/pwa/app/entry.server.tsx
  src/pwa/app/root.tsx
  src/pwa/app/routes/_index.tsx
  src/pwa/app/tailwind.css
  src/pwa/package-lock.json
  src/pwa/package.json
  src/pwa/postcss.config.js
  src/pwa/public/favicon.ico
  src/pwa/tailwind.config.ts
  src/pwa/tsconfig.json
  src/pwa/vite.config.ts
Due: node-lint, node-test

Add pwa yaml
  src/dispatch.yaml
  src/pwa/.gcloudignore
  src/pwa/pwa.yaml
Due: none

Deploy pwa
  .github/workflows/push.yml
Due: none

Update landing
  src/pwa/app/routes/_index.tsx
Due: none

Move to pwa directory
  .github/workflows/push.yml
  pwa/.eslintrc.cjs
  pwa/.gcloudignore
  pwa/.gitignore
  pwa/README.md
  pwa/app/entry.client.tsx
  pwa/app/entry.server.tsx
  pwa/app/root.tsx
  pwa/app/routes/_index.tsx
  pwa/app/tailwind.css
  pwa/package-lock.json
  pwa/package.json
  pwa/postcss.config.js
  pwa/public/favicon.ico
  pwa/pwa.yaml
  pwa/tailwind.config.ts
  pwa/tsconfig.json
  pwa/vite.config.ts
Due: node-lint, node-test

Add pwa to eslintignore
  .eslintignore
Due: none

Update meta headers
  pwa/app/routes/_index.tsx
Due: none

Update workflows
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
Due: none

[PWA] Blank remix app + deploy (#6089)
  .eslintignore
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  pwa/.eslintrc.cjs
  pwa/.gcloudignore
  pwa/.gitignore
  pwa/README.md
  pwa/app/entry.client.tsx
  pwa/app/entry.server.tsx
  pwa/app/root.tsx
  pwa/app/routes/_index.tsx
  pwa/app/tailwind.css
  pwa/package-lock.json
  pwa/package.json
  pwa/postcss.config.js
  pwa/public/favicon.ico
  pwa/pwa.yaml
  pwa/tailwind.config.ts
  pwa/tsconfig.json
  pwa/vite.config.ts
  src/dispatch.yaml
Due: node-lint, node-test

Add prettier
  pwa/.eslintrc.cjs
  pwa/package-lock.json
  pwa/package.json
  pwa/prettier.config.js
Due: node-lint, node-test

Format
  pwa/.eslintrc.cjs
  pwa/app/entry.client.tsx
  pwa/app/entry.server.tsx
  pwa/app/root.tsx
  pwa/app/routes/_index.tsx
  pwa/postcss.config.js
  pwa/prettier.config.js
  pwa/tailwind.config.ts
  pwa/vite.config.ts
Due: node-lint, node-test

Add to workflow
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
Due: none

Update prettier config
  pwa/prettier.config.js
Due: node-lint, node-test

Format check
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  pwa/package.json
Due: none

[PWA] Add prettier (#6090)
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  pwa/.eslintrc.cjs
  pwa/app/entry.client.tsx
  pwa/app/entry.server.tsx
  pwa/app/root.tsx
  pwa/app/routes/_index.tsx
  pwa/package-lock.json
  pwa/package.json
  pwa/prettier.config.js
  pwa/tailwind.config.ts
  pwa/vite.config.ts
Due: node-lint, node-test

Add pwa to dependabot
  .github/dependabot.yml
Due: none

Add pwa to dependabot (#6094)
  .github/dependabot.yml
Due: none

minor fix
  src/backend/web/static/swagger/api_v3.json
Due: none

Add note in PWA readme about installing dependencies
  pwa/README.md
Due: none

Add note in PWA readme about installing dependencies (#6101)
  pwa/README.md
Due: none

Add TS API bindings for PWA
  pwa/README.md
  pwa/app/api/v3.ts
  pwa/app/root.tsx
  pwa/app/vite-env.d.ts
  pwa/package-lock.json
  pwa/package.json
Due: none

Add match table component
  pwa/.eslintrc.cjs
  pwa/app/components/tba/matchResultsTable.tsx
  pwa/app/lib/utils.ts
  pwa/app/routes/event.$eventKey.tsx
  pwa/tailwind.config.ts
Due: node-lint, node-test

lint
  pwa/vite.config.ts
Due: none

Have eslint/prettier sort tailwind classes and wrap long class lines
  pwa/.eslintrc.cjs
  pwa/app/components/tba/allianceSelectionTable.tsx
  pwa/app/components/tba/inlineIcon.tsx
  pwa/app/components/ui/badge.tsx
  pwa/app/components/ui/button.tsx
  pwa/app/components/ui/table.tsx
  pwa/app/components/ui/tabs.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/package-lock.json
  pwa/package.json
  pwa/prettier.config.js
Due: node-lint, node-test

Add lint excuse for icons
  pwa/.eslintrc.cjs
Due: node-lint, node-test
