Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - commit

Port admin gameday endpoints to py3 (#5226)
  old_py2/admin_main.py
  old_py2/controllers/admin/admin_gameday_controller.py
  src/backend/common/helpers/tests/firebase_pusher_test.py
  src/backend/common/sitevars/gameday_special_webcasts.py
  src/backend/common/sitevars/tests/gameday_special_webcasts_test.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/gameday.py
  src/backend/web/handlers/admin/tests/gameday_test.py
  src/backend/web/handlers/conftest.py
  src/backend/web/templates/admin/gameday_dashboard.html
  src/backend/web/templates/suggestions/partials/webcast_type_select.html
Due: py3-type, py3-lint, py3-test

port admin district controllers to py3
  old_py2/admin_main.py
  old_py2/controllers/admin/admin_district_controller.py
  src/backend/common/helpers/season_helper.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/districts.py
  src/backend/web/handlers/admin/tests/district_test.py
  src/backend/web/templates/admin/district_create.html
  src/backend/web/templates/admin/district_delete.html
  src/backend/web/templates/admin/district_edit.html
  src/backend/web/templates/admin/district_list.html
Due: py3-type, py3-lint, py3-test

Port admin district controllers to py3 (#5227)
  old_py2/admin_main.py
  old_py2/controllers/admin/admin_district_controller.py
  src/backend/common/helpers/season_helper.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/districts.py
  src/backend/web/handlers/admin/tests/district_test.py
  src/backend/web/templates/admin/district_create.html
  src/backend/web/templates/admin/district_delete.html
  src/backend/web/templates/admin/district_edit.html
  src/backend/web/templates/admin/district_list.html
Due: py3-type, py3-lint, py3-test

write some more py3 admin panel tests
  src/backend/web/handlers/admin/tests/district_test.py
  src/backend/web/handlers/admin/tests/media_test.py
  src/backend/web/handlers/admin/tests/users_test.py
  src/backend/web/handlers/admin/users.py
  src/backend/web/templates/admin/user_list.html
Due: py3-type, py3-lint, py3-test

port admin award controllers to py3
  old_py2/admin_main.py
  old_py2/controllers/admin/admin_award_controller.py
  src/backend/common/manipulators/award_manipulator.py
  src/backend/web/handlers/admin/awards.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/tests/award_test.py
  src/backend/web/templates/admin/award_dashboard.html
  src/backend/web/templates/admin/award_edit.html
Due: py3-type, py3-lint, py3-test

port admin award controllers to py3 (#5228)
  old_py2/admin_main.py
  old_py2/controllers/admin/admin_award_controller.py
  src/backend/common/manipulators/award_manipulator.py
  src/backend/web/handlers/admin/awards.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/tests/award_test.py
  src/backend/web/templates/admin/award_dashboard.html
  src/backend/web/templates/admin/award_edit.html
Due: py3-type, py3-lint, py3-test

write some more py3 admin panel tests (#5229)
  src/backend/web/handlers/admin/tests/district_test.py
  src/backend/web/handlers/admin/tests/media_test.py
  src/backend/web/handlers/admin/tests/users_test.py
  src/backend/web/handlers/admin/users.py
  src/backend/web/templates/admin/user_list.html
Due: py3-type, py3-lint, py3-test

Fix playoff advancement for double-elim brackets with 4 alliances
  src/backend/common/helpers/playoff_advancement_helper.py
  src/backend/common/helpers/tests/data/expected_advancement_2022cctest.json
  src/backend/common/helpers/tests/data/expected_advancement_2023micmp.json
  src/backend/common/helpers/tests/data/expected_advancement_2023mijac.json
  src/backend/common/helpers/tests/playoff_advancement_helper_test.py
Due: py3-type, py3-lint, py3-test

Remove invalid swagger spec
  src/backend/web/static/swagger/api_v3.json
Due: none

Fix playoff advancement for double-elim brackets with 4 alliances (#5239)
  src/backend/common/helpers/playoff_advancement_helper.py
  src/backend/common/helpers/tests/data/expected_advancement_2022cctest.json
  src/backend/common/helpers/tests/data/expected_advancement_2023micmp.json
  src/backend/common/helpers/tests/data/expected_advancement_2023mijac.json
  src/backend/common/helpers/tests/playoff_advancement_helper_test.py
Due: py3-type, py3-lint, py3-test

fix tiebreakers for double elim matches
  src/backend/common/models/match.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/test_fms_api_match_tiebreaker.py
Due: py3-type, py3-lint, py3-test

fix tiebreakers for double elim matches (#5241)
  src/backend/common/models/match.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/test_fms_api_match_tiebreaker.py
Due: py3-type, py3-lint, py3-test

Revert "Disable fullstack test for now"
  ops/test_ops.sh
Due: none

Include py3-tasks-cpu in startup test
  ops/test_vagrant_startup.py
Due: py3-type, py3-lint, py3-test

fix lint
  ops/tests/fullstack.test.js
Due: node-lint, node-test

Fix fullstack test
  ops/tests/fullstack.test.js
Due: node-lint, node-test

disable gameday test
  ops/tests/fullstack.test.js
Due: node-lint, node-test

reenable some fullstack test cases (#4849)
  ops/test_ops.sh
  ops/test_vagrant_startup.py
  ops/tests/fullstack.test.js
Due: py3-type, py3-lint, py3-test, node-lint, node-test

port basic cloud endpoints registration
  src/backend/api/client_api_auth_helper.py
  src/backend/api/client_api_types.py
  src/backend/api/handlers/client_api.py
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/client_api_registration_test.py
  src/backend/api/handlers/tests/clientapi_auth_test.py
  src/backend/api/handlers/tests/clientapi_test_helper.py
  src/backend/api/handlers/tests/conftest.py
  src/backend/api/main.py
  src/backend/common/auth.py
  src/backend/common/consts/client_type.py
  src/backend/common/tests/auth_test.py
  src/dispatch.yaml
Due: py3-type, py3-lint, py3-test

add fullstack test for mobile client registration
  ops/tests/client_api_fullstack.test.js
  package-lock.json
  package.json
  src/backend/api/client_api_types.py
  src/backend/api/handlers/client_api.py
  src/backend/api/handlers/tests/client_api_registration_test.py
  src/backend/api/handlers/tests/clientapi_test_helper.py
  src/backend/api/main.py
  src/backend/common/consts/client_type.py
Due: py3-type, py3-lint, py3-test, node-lint, node-test

upload GAE logs as test artifact
  ops/dev/pull-gae-logs.sh
  ops/test_ops.sh
Due: none

set projectid for firebase admin explicitly
  src/backend/common/firebase.py
Due: py3-type, py3-lint, py3-test

remove -v from scp log pull
  ops/dev/pull-gae-logs.sh
Due: none

Port Basic Mobile API Registration Methods (#5235)
  ops/dev/pull-gae-logs.sh
  ops/test_ops.sh
  ops/tests/client_api_fullstack.test.js
  package-lock.json
  package.json
  src/backend/api/client_api_auth_helper.py
  src/backend/api/client_api_types.py
  src/backend/api/handlers/client_api.py
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/client_api_registration_test.py
  src/backend/api/handlers/tests/clientapi_auth_test.py
  src/backend/api/handlers/tests/clientapi_test_helper.py
  src/backend/api/handlers/tests/conftest.py
  src/backend/api/main.py
  src/backend/common/auth.py
  src/backend/common/consts/client_type.py
  src/backend/common/firebase.py
  src/backend/common/tests/auth_test.py
  src/dispatch.yaml
Due: py3-type, py3-lint, py3-test, node-lint, node-test

remove react-bootstrap-dialog package
  package-lock.json
  package.json
Due: none

remove usages of react-bootstrap-dialog
  src/frontend/eventwizard/components/AuthTools.js
  src/frontend/eventwizard/components/infoTab/EventInfoTab.js
  src/frontend/eventwizard/components/infoTab/SyncCodeInput.js
  src/frontend/eventwizard/components/teamsTab/AddRemoveSingleTeam.js
  src/frontend/eventwizard/components/teamsTab/AddTeamsFMSReport.js
  src/frontend/eventwizard/components/teamsTab/TeamListTab.js
Due: node-lint, node-test

fix lint
  src/frontend/eventwizard/components/infoTab/SyncCodeInput.js
  src/frontend/eventwizard/components/teamsTab/TeamListTab.js
Due: node-lint, node-test

Remove react-bootstrap-dependnecy (#5252)
  package-lock.json
  package.json
  src/frontend/eventwizard/components/AuthTools.js
  src/frontend/eventwizard/components/infoTab/EventInfoTab.js
  src/frontend/eventwizard/components/infoTab/SyncCodeInput.js
  src/frontend/eventwizard/components/teamsTab/AddRemoveSingleTeam.js
  src/frontend/eventwizard/components/teamsTab/AddTeamsFMSReport.js
  src/frontend/eventwizard/components/teamsTab/TeamListTab.js
Due: node-lint, node-test

Update to node 16
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  ops/dev/docker/Dockerfile
  package.json
Due: none

Update to node 18
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  ops/dev/docker/Dockerfile
  package.json
Due: none

Chairman's -> Impact
  src/backend/web/templates/hof.html
Due: none

Update to node 18 (#4778)
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  ops/dev/docker/Dockerfile
  package.json
Due: none

Update src/backend/web/templates/hof.html
  src/backend/web/templates/hof.html
Due: none

Chairman's -> Impact (#5256)
  src/backend/web/templates/hof.html
Due: none

change 2021 to 2023 and delete 2021 season details
  src/backend/web/templates/index/index_offseason.html
Due: none

Update home page links (#5261)
  src/backend/web/templates/index/index_offseason.html
Due: none

Move docker-entry.sh to /ops/dev/docker
  docker-compose.yml
  ops/dev/docker/docker-entry.sh
Due: none

Add additional docker-compose setup guide
  docs/Setup/Setup-Guide-Beta.md
  docs/Setup/Setup-Guide.md
Due: none

Support docker compose for local dev (#5173)
  .dockerignore
  .gitattributes
  .gitignore
  docker-compose.yml
  docs/Setup/Setup-Guide-Beta.md
  docs/Setup/Setup-Guide.md
  ops/dev/docker/docker-entry.sh
  ops/dev/vagrant/bootstrap-dev-container.sh
Due: none

District teams list: only show teams who've competed that year
  src/backend/common/queries/team_query.py
Due: py3-type, py3-lint, py3-test

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
