Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [pre-commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [pre-commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [pre-commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [pre-commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [pre-commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [pre-commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [pre-commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]
    - id: gcloud-sdk-version
      name: "Checking Google Cloud SDK Version"
      entry: ./ops/check_sdk_version.sh
      language: script
      always_run: true
      stages: [post-checkout]

[pwa] Make search more responsive on page load (#10258)
  pwa/app/components/tba/navigation/searchModal.tsx
  pwa/app/components/tba/teamTooltip.tsx
  pwa/app/lib/queryClient.test.ts
  pwa/app/lib/queryClient.ts
  pwa/app/routes/__root.tsx
  pwa/app/routes/search.tsx
  pwa/tests/search.spec.ts
Due: none

[pwa] Clean up lru cache logic + logging
  pwa/README.md
  pwa/app/lib/middleware/network-cache.test.ts
  pwa/app/lib/middleware/network-cache.ts
  pwa/app/routes/__root.tsx
Due: none

[pwa] Clean up lru cache logic + logging (#10259)
  pwa/README.md
  pwa/app/lib/middleware/network-cache.test.ts
  pwa/app/lib/middleware/network-cache.ts
  pwa/app/routes/__root.tsx
Due: none

[pwa] Add link preload fetching
  pwa/README.md
  pwa/app/router.tsx
Due: none

[pwa] Add link preload fetching (#10260)
  pwa/README.md
  pwa/app/router.tsx
Due: none

Make local bootstrap use bulk ops (#10256)
  src/backend/web/local/bootstrap.py
  src/backend/web/local/tests/bootstrap_test.py
Due: py3-type, py3-lint, py3-test

Add /event/<key>/nexus_info APIv3 endpoint
  pwa/app/api/tba/read/@tanstack/react-query.gen.ts
  pwa/app/api/tba/read/index.ts
  pwa/app/api/tba/read/sdk.gen.ts
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/api/apiv3_main.py
  src/backend/api/handlers/event.py
  src/backend/api/handlers/helpers/nexus_info_converter.py
  src/backend/api/handlers/helpers/tests/nexus_info_converter_test.py
  src/backend/api/handlers/tests/event_test.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

[pwa] Fix dialog flicker
  pwa/app/components/ui/dialog.tsx
Due: none

[pwa] Fix dialog flicker (#10264)
  pwa/app/components/ui/dialog.tsx
Due: none

Add /event/<key>/nexus_info APIv3 endpoint (#10263)
  pwa/app/api/tba/read/@tanstack/react-query.gen.ts
  pwa/app/api/tba/read/index.ts
  pwa/app/api/tba/read/sdk.gen.ts
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/api/apiv3_main.py
  src/backend/api/handlers/event.py
  src/backend/api/handlers/helpers/nexus_info_converter.py
  src/backend/api/handlers/helpers/tests/nexus_info_converter_test.py
  src/backend/api/handlers/tests/event_test.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Remove dead admin Task Launcher buttons that 404
  src/backend/web/templates/admin/tasks.html
Due: none

Tolerate missing 2019 rocket score-breakdown keys instead of dropping the event
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_match_details_parser_test.py
Due: py3-type, py3-lint, py3-test

Guard Twitch token fetch against None to avoid crash on auth failure
  src/backend/tasks_io/datafeeds/datafeed_twitch.py
  src/backend/tasks_io/datafeeds/tests/datafeed_twitch_get_access_token_test.py
  src/backend/tasks_io/helpers/webcast_online_helper.py
Due: py3-type, py3-lint, py3-test

Make hybrid schedule station sort None-safe to avoid crashing the event
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_hybrid_schedule_parser_test.py
Due: py3-type, py3-lint, py3-test

Treat malformed Nexus 200 responses as fetch failures instead of crashing
  src/backend/tasks_io/datafeeds/datafeed_nexus.py
  src/backend/tasks_io/datafeeds/tests/datafeed_nexus_test.py
Due: py3-type, py3-lint, py3-test

Fix duplicated 'Division' in 2002 CMP division blue banner names (#10215)
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
Due: py3-type, py3-lint, py3-test

ci: pin GitHub Actions to commit SHAs (51 pin(s))
  .github/workflows/comment_screenshots_on_pr.yml
  .github/workflows/dependabot_auto_merge.yml
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_pwa.yml
  .github/workflows/push.yml
  .github/workflows/pwa_preview.yml
  .github/workflows/pwa_preview_build.yml
  .github/workflows/pwa_screenshots.yml
Due: none

[pwa] Various minor fixes
  pwa/app/components/tba/navigation/footer.tsx
  pwa/app/lib/nexus.test.ts
  pwa/app/lib/nexus.ts
  pwa/app/routes/__root.tsx
  pwa/components.json
  pwa/generate-api.sh
  pwa/package.json
  pwa/pnpm-lock.yaml
Due: none

[pwa] Various minor fixes (#10296)
  pwa/app/components/tba/navigation/footer.tsx
  pwa/app/lib/nexus.test.ts
  pwa/app/lib/nexus.ts
  pwa/app/routes/__root.tsx
  pwa/components.json
  pwa/generate-api.sh
  pwa/package.json
  pwa/pnpm-lock.yaml
Due: none

fix error handling
  pwa/app/api/colors/@tanstack/react-query.gen.ts
  pwa/app/api/colors/client.gen.ts
  pwa/app/api/colors/client/client.gen.ts
  pwa/app/api/colors/client/index.ts
  pwa/app/api/colors/client/types.gen.ts
  pwa/app/api/colors/client/utils.gen.ts
  pwa/app/api/colors/core/auth.gen.ts
  pwa/app/api/colors/core/bodySerializer.gen.ts
  pwa/app/api/colors/core/params.gen.ts
  pwa/app/api/colors/core/pathSerializer.gen.ts
  pwa/app/api/colors/core/queryKeySerializer.gen.ts
  pwa/app/api/colors/core/serverSentEvents.gen.ts
  pwa/app/api/colors/core/types.gen.ts
  pwa/app/api/colors/core/utils.gen.ts
  pwa/app/api/colors/index.ts
  pwa/app/api/colors/sdk.gen.ts
  pwa/app/api/colors/types.gen.ts
  pwa/app/api/colors_spec.json
  pwa/app/lib/logger.ts
  pwa/app/lib/queryClient.test.ts
  pwa/app/lib/queryClient.ts
  pwa/app/lib/utils.test.ts
  pwa/app/lib/utils.tsx
  pwa/app/router.tsx
  pwa/app/routes/__root.tsx
  pwa/app/routes/district.$districtAbbreviation.champs.$year.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/team.$teamNumber.{-$year}.tsx
  pwa/eslint.config.js
  pwa/generate-api.sh
  pwa/openapi-ts/colors.config.ts
Due: node-lint, node-test

[pwa] Improve API error handling (#10299)
  pwa/app/api/colors/@tanstack/react-query.gen.ts
  pwa/app/api/colors/client.gen.ts
  pwa/app/api/colors/client/client.gen.ts
  pwa/app/api/colors/client/index.ts
  pwa/app/api/colors/client/types.gen.ts
  pwa/app/api/colors/client/utils.gen.ts
  pwa/app/api/colors/core/auth.gen.ts
  pwa/app/api/colors/core/bodySerializer.gen.ts
  pwa/app/api/colors/core/params.gen.ts
  pwa/app/api/colors/core/pathSerializer.gen.ts
  pwa/app/api/colors/core/queryKeySerializer.gen.ts
  pwa/app/api/colors/core/serverSentEvents.gen.ts
  pwa/app/api/colors/core/types.gen.ts
  pwa/app/api/colors/core/utils.gen.ts
  pwa/app/api/colors/index.ts
  pwa/app/api/colors/sdk.gen.ts
  pwa/app/api/colors/types.gen.ts
  pwa/app/api/colors_spec.json
  pwa/app/lib/logger.ts
  pwa/app/lib/queryClient.test.ts
  pwa/app/lib/queryClient.ts
  pwa/app/lib/utils.test.ts
  pwa/app/lib/utils.tsx
  pwa/app/router.tsx
  pwa/app/routes/__root.tsx
  pwa/app/routes/district.$districtAbbreviation.champs.$year.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/app/routes/team.$teamNumber.{-$year}.tsx
  pwa/eslint.config.js
  pwa/generate-api.sh
  pwa/openapi-ts/colors.config.ts
Due: node-lint, node-test

Fix schema issue on bunnybots events
  pwa/app/api/tba/read/zod.gen.ts
  pwa/app/lib/apiError.test.ts
  pwa/app/lib/apiError.ts
  pwa/app/routes/__root.tsx
  src/backend/web/static/swagger/api_v3.json
Due: none

Add ParserInputException for missing breakdown values for rankings
  src/backend/api/api_trusted_parsers/json_rankings_parser.py
  src/backend/api/api_trusted_parsers/tests/json_rankings_parser_test.py
Due: py3-type, py3-lint, py3-test

Fix schema issue on bunnybots events (#10303)
  pwa/app/api/tba/read/zod.gen.ts
  pwa/app/lib/apiError.test.ts
  pwa/app/lib/apiError.ts
  pwa/app/routes/__root.tsx
  src/backend/web/static/swagger/api_v3.json
Due: none

Replace PWA nexus client with TBA Nexus endpoint
  pwa/.env.example
  pwa/README.md
  pwa/app/api/nexus/@tanstack/react-query.gen.ts
  pwa/app/api/nexus/client.gen.ts
  pwa/app/api/nexus/client/client.gen.ts
  pwa/app/api/nexus/client/index.ts
  pwa/app/api/nexus/client/types.gen.ts
  pwa/app/api/nexus/client/utils.gen.ts
  pwa/app/api/nexus/core/auth.gen.ts
  pwa/app/api/nexus/core/bodySerializer.gen.ts
  pwa/app/api/nexus/core/params.gen.ts
  pwa/app/api/nexus/core/pathSerializer.gen.ts
  pwa/app/api/nexus/core/queryKeySerializer.gen.ts
  pwa/app/api/nexus/core/serverSentEvents.gen.ts
  pwa/app/api/nexus/core/types.gen.ts
  pwa/app/api/nexus/core/utils.gen.ts
  pwa/app/api/nexus/index.ts
  pwa/app/api/nexus/sdk.gen.ts
  pwa/app/api/nexus/types.gen.ts
  pwa/app/api/nexus_spec.json
  pwa/app/lib/nexus.test.ts
  pwa/app/lib/nexus.ts
  pwa/app/routes/event.$eventKey.tsx
  pwa/eslint.config.js
  pwa/generate-api.sh
  pwa/openapi-ts/nexus.config.ts
Due: node-lint, node-test

Replace PWA nexus client with TBA Nexus endpoint (#10304)
  pwa/.env.example
  pwa/README.md
  pwa/app/api/nexus/@tanstack/react-query.gen.ts
  pwa/app/api/nexus/client.gen.ts
  pwa/app/api/nexus/client/client.gen.ts
  pwa/app/api/nexus/client/index.ts
  pwa/app/api/nexus/client/types.gen.ts
  pwa/app/api/nexus/client/utils.gen.ts
  pwa/app/api/nexus/core/auth.gen.ts
  pwa/app/api/nexus/core/bodySerializer.gen.ts
  pwa/app/api/nexus/core/params.gen.ts
  pwa/app/api/nexus/core/pathSerializer.gen.ts
  pwa/app/api/nexus/core/queryKeySerializer.gen.ts
  pwa/app/api/nexus/core/serverSentEvents.gen.ts
  pwa/app/api/nexus/core/types.gen.ts
  pwa/app/api/nexus/core/utils.gen.ts
  pwa/app/api/nexus/index.ts
  pwa/app/api/nexus/sdk.gen.ts
  pwa/app/api/nexus/types.gen.ts
  pwa/app/api/nexus_spec.json
  pwa/app/lib/nexus.test.ts
  pwa/app/lib/nexus.ts
  pwa/app/routes/event.$eventKey.tsx
  pwa/eslint.config.js
  pwa/generate-api.sh
  pwa/openapi-ts/nexus.config.ts
Due: node-lint, node-test

Add/remove API keys via pwa
  pwa/app/api/tba/mobile/@tanstack/react-query.gen.ts
  pwa/app/api/tba/mobile/index.ts
  pwa/app/api/tba/mobile/sdk.gen.ts
  pwa/app/api/tba/mobile/types.gen.ts
  pwa/app/components/tba/account/apiKeys.tsx
  pwa/app/components/tba/auth/auth.tsx
  pwa/app/lib/hooks/useApiKeys.ts
  pwa/app/routes/account.index.tsx
  pwa/app/routes/account.mytba.tsx
  src/backend/api/client_api_main.py
  src/backend/api/client_api_types.py
  src/backend/api/handlers/client_api.py
  src/backend/api/handlers/tests/client_api_apikeys_test.py
  src/backend/web/static/swagger/client_v9.json
Due: py3-type, py3-lint, py3-test

[trusted api] Support youtube match video start times
  src/backend/api/api_trusted_parsers/json_match_video_parser.py
  src/backend/api/api_trusted_parsers/tests/json_match_video_parser_test.py
  src/backend/api/handlers/tests/add_match_video_test.py
Due: py3-type, py3-lint, py3-test

[trusted api] Support youtube match video start times (#10324)
  src/backend/api/api_trusted_parsers/json_match_video_parser.py
  src/backend/api/api_trusted_parsers/tests/json_match_video_parser_test.py
  src/backend/api/handlers/tests/add_match_video_test.py
Due: py3-type, py3-lint, py3-test

[pwa] Fix match video links with start time query param
  pwa/app/components/tba/match/matchRows.tsx
Due: none

[pwa] Fix match video links with start time query param (#10325)
  pwa/app/components/tba/match/matchRows.tsx
Due: none

Add/remove API keys via pwa (#10305)
  pwa/app/api/tba/mobile/@tanstack/react-query.gen.ts
  pwa/app/api/tba/mobile/index.ts
  pwa/app/api/tba/mobile/sdk.gen.ts
  pwa/app/api/tba/mobile/types.gen.ts
  pwa/app/components/tba/account/apiKeys.tsx
  pwa/app/components/tba/auth/auth.tsx
  pwa/app/lib/hooks/useApiKeys.ts
  pwa/app/routes/account.index.tsx
  pwa/app/routes/account.mytba.tsx
  src/backend/api/client_api_main.py
  src/backend/api/client_api_types.py
  src/backend/api/handlers/client_api.py
  src/backend/api/handlers/tests/client_api_apikeys_test.py
  src/backend/web/static/swagger/client_v9.json
Due: py3-type, py3-lint, py3-test

[pwa] fix pnpm version desync
  .github/workflows/dependabot_auto_merge.yml
  .github/workflows/pull_request_pwa.yml
  .github/workflows/push.yml
  .github/workflows/pwa_preview_build.yml
  .github/workflows/pwa_screenshots.yml
  copilot-setup-steps.yml
  pwa/package.json
  pwa/pnpm-workspace.yaml
Due: none

[pwa] fix pnpm version desync (#10334)
  .github/workflows/dependabot_auto_merge.yml
  .github/workflows/pull_request_pwa.yml
  .github/workflows/push.yml
  .github/workflows/pwa_preview_build.yml
  .github/workflows/pwa_screenshots.yml
  copilot-setup-steps.yml
  pwa/package.json
  pwa/pnpm-workspace.yaml
Due: none

[pwa] Use mise to manage runtimes in dev/CI
  .github/actions/setup-pwa/action.yml
  .github/workflows/dependabot_auto_merge.yml
  .github/workflows/pull_request_pwa.yml
  .github/workflows/push.yml
  .github/workflows/pwa_preview_build.yml
  .github/workflows/pwa_screenshots.yml
  copilot-setup-steps.yml
  ops/pwa/check_node_versions.sh
  pwa/AGENTS.md
  pwa/README.md
  pwa/mise.lock
  pwa/mise.toml
  pwa/package.json
  pwa/pnpm-lock.yaml
Due: none

[pwa] Use mise to manage runtimes in dev/CI (#10338)
  .github/actions/setup-pwa/action.yml
  .github/workflows/dependabot_auto_merge.yml
  .github/workflows/pull_request_pwa.yml
  .github/workflows/push.yml
  .github/workflows/pwa_preview_build.yml
  .github/workflows/pwa_screenshots.yml
  copilot-setup-steps.yml
  ops/pwa/check_node_versions.sh
  pwa/AGENTS.md
  pwa/README.md
  pwa/mise.lock
  pwa/mise.toml
  pwa/package.json
  pwa/pnpm-lock.yaml
Due: none

Add fallback images to event team list
  src/backend/common/helpers/media_helper.py
  src/backend/common/helpers/tests/media_helper_test.py
  src/backend/web/handlers/event.py
  src/backend/web/handlers/tests/event_detail_test.py
Due: py3-type, py3-lint, py3-test

Upgrade to tanstack table 9
  pwa/app/components/tba/dataTable.tsx
  pwa/app/components/tba/rankingsTable.tsx
  pwa/app/routes/district.$districtAbbreviation.insights.tsx
  pwa/app/routes/district.$districtAbbreviation.{-$year}.tsx
  pwa/app/routes/event.$eventKey.tsx
  pwa/package.json
  pwa/pnpm-lock.yaml
  pwa/tests/district-insights-table.spec.ts
Due: none
