Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [pre-commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [pre-commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [pre-commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [pre-commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [pre-commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [pre-commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [pre-commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]
    - id: gcloud-sdk-version
      name: "Checking Google Cloud SDK Version"
      entry: ./ops/check_sdk_version.sh
      language: script
      always_run: true
      stages: [post-checkout]

Redirect www appspot domain
  src/backend/common/middleware.py
  src/backend/common/tests/middleware_test.py
Due: py3-type, py3-lint, py3-test

Redirect www appspot domain (#8072)
  src/backend/common/middleware.py
  src/backend/common/tests/middleware_test.py
Due: py3-type, py3-lint, py3-test

Support offseason API auth by linked webcast
  src/backend/api/handlers/tests/trustedapi_auth_test.py
  src/backend/api/trusted_api_auth_helper.py
  src/backend/common/models/api_auth_access.py
  src/backend/web/handlers/admin/api_auth.py
  src/backend/web/templates/admin/api_add_auth.html
  src/backend/web/templates/admin/api_edit_auth.html
Due: py3-type, py3-lint, py3-test

Support offseason API auth by linked webcast (#7795)
  src/backend/api/handlers/tests/trustedapi_auth_test.py
  src/backend/api/trusted_api_auth_helper.py
  src/backend/common/models/api_auth_access.py
  src/backend/web/handlers/admin/api_auth.py
  src/backend/web/templates/admin/api_add_auth.html
  src/backend/web/templates/admin/api_edit_auth.html
Due: py3-type, py3-lint, py3-test

Add 2026 district keys
  src/backend/common/helpers/event_short_name_helper.py
  src/backend/common/models/district.py
Due: py3-type, py3-lint, py3-test

Add 2026 district keys (#8168)
  src/backend/common/helpers/event_short_name_helper.py
  src/backend/common/models/district.py
Due: py3-type, py3-lint, py3-test

[PWA] add blog route
  pwa/app/components/tba/nav.tsx
Due: none

formatting
  pwa/app/components/tba/nav.tsx
Due: none

Support disabling indivdual parts of sync
  src/backend/api/api_trusted_parsers/json_event_info_parser.py
  src/backend/api/handlers/tests/update_event_info_test.py
  src/backend/api/handlers/trusted.py
  src/backend/common/consts/event_sync_type.py
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
  src/backend/tasks_io/datafeeds/datafeed_fms_api.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/test_fms_api_match_tiebreaker.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_event_matches_test.py
  src/backend/tasks_io/handlers/frc_api.py
  src/backend/tasks_io/handlers/tests/frc_api_awards_test.py
  src/backend/tasks_io/handlers/tests/frc_api_event_alliances_test.py
  src/backend/tasks_io/handlers/tests/frc_api_event_rankings_test.py
  src/backend/web/handlers/admin/event.py
  src/backend/web/static/swagger/api_trusted_v1.json
  src/backend/web/templates/admin/event_details.html
  src/backend/web/templates/admin/event_edit.html
Due: py3-type, py3-lint, py3-test

Support disabling indivdual parts of sync (#8181)
  src/backend/api/api_trusted_parsers/json_event_info_parser.py
  src/backend/api/handlers/tests/update_event_info_test.py
  src/backend/api/handlers/trusted.py
  src/backend/common/consts/event_sync_type.py
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
  src/backend/tasks_io/datafeeds/datafeed_fms_api.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/test_fms_api_match_tiebreaker.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_event_matches_test.py
  src/backend/tasks_io/handlers/frc_api.py
  src/backend/tasks_io/handlers/tests/frc_api_awards_test.py
  src/backend/tasks_io/handlers/tests/frc_api_event_alliances_test.py
  src/backend/tasks_io/handlers/tests/frc_api_event_rankings_test.py
  src/backend/web/handlers/admin/event.py
  src/backend/web/static/swagger/api_trusted_v1.json
  src/backend/web/templates/admin/event_details.html
  src/backend/web/templates/admin/event_edit.html
Due: py3-type, py3-lint, py3-test

[trusted-api] Prevent sync from clobbering playoff types
  src/backend/api/api_trusted_parsers/json_event_info_parser.py
  src/backend/api/handlers/tests/update_event_info_test.py
  src/backend/api/handlers/trusted.py
  src/backend/tasks_io/handlers/tests/frc_api_event_matches_test.py
  src/backend/web/static/swagger/api_trusted_v1.json
Due: py3-type, py3-lint, py3-test

[trusted-api] Prevent sync from clobbering playoff types (#8189)
  src/backend/api/api_trusted_parsers/json_event_info_parser.py
  src/backend/api/handlers/tests/update_event_info_test.py
  src/backend/api/handlers/trusted.py
  src/backend/tasks_io/handlers/tests/frc_api_event_matches_test.py
  src/backend/web/static/swagger/api_trusted_v1.json
Due: py3-type, py3-lint, py3-test

Update track notifications for the Google Analytics change
  src/backend/common/models/notifications/requests/request.py
Due: py3-type, py3-lint, py3-test

Update track notifications for the Google Analytics change (#8200)
  src/backend/common/models/notifications/requests/request.py
Due: py3-type, py3-lint, py3-test

Update api-gen and regen api
  pwa/app/api/tba/mobile/@tanstack/react-query.gen.ts
  pwa/app/api/tba/mobile/client.gen.ts
  pwa/app/api/tba/mobile/client/client.gen.ts
  pwa/app/api/tba/mobile/client/index.ts
  pwa/app/api/tba/mobile/client/types.gen.ts
  pwa/app/api/tba/mobile/client/utils.gen.ts
  pwa/app/api/tba/mobile/core/auth.gen.ts
  pwa/app/api/tba/mobile/core/bodySerializer.gen.ts
  pwa/app/api/tba/mobile/core/params.gen.ts
  pwa/app/api/tba/mobile/core/pathSerializer.gen.ts
  pwa/app/api/tba/mobile/core/serverSentEvents.gen.ts
  pwa/app/api/tba/mobile/core/types.gen.ts
  pwa/app/api/tba/mobile/core/utils.gen.ts
  pwa/app/api/tba/mobile/index.ts
  pwa/app/api/tba/mobile/sdk.gen.ts
  pwa/app/api/tba/mobile/types.gen.ts
  pwa/app/api/tba/read/@tanstack/react-query.gen.ts
  pwa/app/api/tba/read/client.gen.ts
  pwa/app/api/tba/read/client/client.gen.ts
  pwa/app/api/tba/read/client/index.ts
  pwa/app/api/tba/read/client/types.gen.ts
  pwa/app/api/tba/read/client/utils.gen.ts
  pwa/app/api/tba/read/core/auth.gen.ts
  pwa/app/api/tba/read/core/bodySerializer.gen.ts
  pwa/app/api/tba/read/core/params.gen.ts
  pwa/app/api/tba/read/core/pathSerializer.gen.ts
  pwa/app/api/tba/read/core/serverSentEvents.gen.ts
  pwa/app/api/tba/read/core/types.gen.ts
  pwa/app/api/tba/read/core/utils.gen.ts
  pwa/app/api/tba/read/index.ts
  pwa/app/api/tba/read/sdk.gen.ts
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  pwa/package-lock.json
  pwa/package.json
Due: none

Update api-gen and regen api (#8206)
  pwa/app/api/tba/mobile/@tanstack/react-query.gen.ts
  pwa/app/api/tba/mobile/client.gen.ts
  pwa/app/api/tba/mobile/client/client.gen.ts
  pwa/app/api/tba/mobile/client/index.ts
  pwa/app/api/tba/mobile/client/types.gen.ts
  pwa/app/api/tba/mobile/client/utils.gen.ts
  pwa/app/api/tba/mobile/core/auth.gen.ts
  pwa/app/api/tba/mobile/core/bodySerializer.gen.ts
  pwa/app/api/tba/mobile/core/params.gen.ts
  pwa/app/api/tba/mobile/core/pathSerializer.gen.ts
  pwa/app/api/tba/mobile/core/serverSentEvents.gen.ts
  pwa/app/api/tba/mobile/core/types.gen.ts
  pwa/app/api/tba/mobile/core/utils.gen.ts
  pwa/app/api/tba/mobile/index.ts
  pwa/app/api/tba/mobile/sdk.gen.ts
  pwa/app/api/tba/mobile/types.gen.ts
  pwa/app/api/tba/read/@tanstack/react-query.gen.ts
  pwa/app/api/tba/read/client.gen.ts
  pwa/app/api/tba/read/client/client.gen.ts
  pwa/app/api/tba/read/client/index.ts
  pwa/app/api/tba/read/client/types.gen.ts
  pwa/app/api/tba/read/client/utils.gen.ts
  pwa/app/api/tba/read/core/auth.gen.ts
  pwa/app/api/tba/read/core/bodySerializer.gen.ts
  pwa/app/api/tba/read/core/params.gen.ts
  pwa/app/api/tba/read/core/pathSerializer.gen.ts
  pwa/app/api/tba/read/core/serverSentEvents.gen.ts
  pwa/app/api/tba/read/core/types.gen.ts
  pwa/app/api/tba/read/core/utils.gen.ts
  pwa/app/api/tba/read/index.ts
  pwa/app/api/tba/read/sdk.gen.ts
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  pwa/package-lock.json
  pwa/package.json
Due: none

Update kickoff_datetime_est for 2026
  src/backend/common/helpers/season_helper.py
  src/backend/common/helpers/tests/season_helper_test.py
Due: py3-type, py3-lint, py3-test

Update `kickoff_datetime_est` for 2026 (and onward?) (#8217)
  src/backend/common/helpers/season_helper.py
  src/backend/common/helpers/tests/season_helper_test.py
Due: py3-type, py3-lint, py3-test

Normalize event suggestion keys
  src/backend/web/handlers/suggestions/suggest_offseason_event_review_controller.py
  src/backend/web/handlers/suggestions/tests/suggest_offseason_event_review_controller_test.py
Due: py3-type, py3-lint, py3-test

Normalize event suggestion keys (#8224)
  src/backend/web/handlers/suggestions/suggest_offseason_event_review_controller.py
  src/backend/web/handlers/suggestions/tests/suggest_offseason_event_review_controller_test.py
Due: py3-type, py3-lint, py3-test

Fix admin page error for round robin offseason
  src/backend/web/handlers/admin/event.py
Due: py3-type, py3-lint, py3-test

Fix admin page error for round robin offseason (#8225)
  src/backend/web/handlers/admin/event.py
Due: py3-type, py3-lint, py3-test

upgrade deps, fix lint err
  pwa/app/api/tba/read/zod.gen.ts
  pwa/eslint.config.js
  pwa/package-lock.json
  pwa/package.json
Due: node-lint, node-test

[PWA] add blog route (#8183)
  pwa/app/components/tba/nav.tsx
Due: none

[PWA] upgrade deps, fix lint err (#8226)
  pwa/app/api/tba/read/zod.gen.ts
  pwa/eslint.config.js
  pwa/package-lock.json
  pwa/package.json
Due: node-lint, node-test

Fix CI env missing
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
Due: none

[PWA] Fix CI env missing (#8232)
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
Due: none

fix pwa zod error
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

fix pwa zod error (#8237)
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

Fix false positive offseason event match
  src/backend/common/helpers/offseason_event_helper.py
  src/backend/common/helpers/tests/offseason_event_helper_test.py
Due: py3-type, py3-lint, py3-test

Fix false positive offseason event match (#8306)
  src/backend/common/helpers/offseason_event_helper.py
  src/backend/common/helpers/tests/offseason_event_helper_test.py
Due: py3-type, py3-lint, py3-test

Add trusted API endpoint to get event info
  src/backend/api/handlers/tests/get_event_info_test.py
  src/backend/api/handlers/trusted.py
  src/backend/api/main.py
Due: py3-type, py3-lint, py3-test

Add trusted API endpoint to get event info (#8311)
  src/backend/api/handlers/tests/get_event_info_test.py
  src/backend/api/handlers/trusted.py
  src/backend/api/main.py
Due: py3-type, py3-lint, py3-test

Allow website removal on admin page
  src/backend/web/handlers/admin/event.py
Due: py3-type, py3-lint, py3-test

Allow website removal on admin page (#8325)
  src/backend/web/handlers/admin/event.py
Due: py3-type, py3-lint, py3-test

Fix pwa 500
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

add agents.md
  AGENTS.md
  CLAUDE.md
  pwa/AGENTS.md
  pwa/CLAUDE.md
  pwa/README.md
Due: none

Fmt fix
  pwa/AGENTS.md
  pwa/CLAUDE.md
Due: none

Update references to PlayoffType definition in docs
  pwa/app/api/tba/read/types.gen.ts
  src/backend/web/static/swagger/api_trusted_v1.json
  src/backend/web/static/swagger/api_v3.json
Due: none
