Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [pre-commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [pre-commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [pre-commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [pre-commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [pre-commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [pre-commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [pre-commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]
    - id: gcloud-sdk-version
      name: "Checking Google Cloud SDK Version"
      entry: ./ops/check_sdk_version.sh
      language: script
      always_run: true
      stages: [post-checkout]

Revert makefile change
  Makefile
Due: none

Update webhook testing to send a single notification type to a targeted webhook (#8976)
  ops/test_py3.sh
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/web/handlers/apidocs.py
  src/backend/web/handlers/tests/apidocs_test.py
  src/backend/web/handlers/tests/webhooks_test.py
  src/backend/web/handlers/webhooks.py
  src/backend/web/templates/apidocs_partials/apidocs_webhooks_test.html
Due: py3-type, py3-lint, py3-test

Add docstring to TUpdatedModel
  src/backend/common/manipulators/manipulator_base.py
Due: py3-type, py3-lint, py3-test

Add docstring to `TUpdatedModel` (#9309)
  src/backend/common/manipulators/manipulator_base.py
Due: py3-type, py3-lint, py3-test

Add automation to fetch upcoming youtube streams
  Makefile
  src/backend/common/helpers/tests/youtube_video_helper_test.py
  src/backend/common/helpers/youtube_video_helper.py
  src/backend/common/sitevars/district_webcast_channels.py
  src/backend/tasks_io/handlers/live_events.py
  src/backend/tasks_io/handlers/tests/live_events_test.py
  src/backend/tasks_io/helpers/live_event_helper.py
  src/backend/tasks_io/helpers/tests/live_event_helper_test.py
Due: py3-type, py3-lint, py3-test

Fix match score notifications being sent to webhooks without breakdown payloads
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/manipulators/match_manipulator.py
  src/backend/common/manipulators/tests/match_manipulator_test.py
Due: py3-type, py3-lint, py3-test

include admin panel buttons
  src/backend/common/helpers/tests/youtube_video_helper_test.py
  src/backend/common/helpers/youtube_video_helper.py
  src/backend/common/models/district.py
  src/backend/common/models/webcast.py
  src/backend/common/sitevars/district_webcast_channels.py
  src/backend/tasks_io/handlers/live_events.py
  src/backend/tasks_io/handlers/tests/live_events_test.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/districts.py
  src/backend/web/handlers/admin/tests/district_test.py
  src/backend/web/templates/admin/district_details.html
  src/backend/web/templates/admin/district_list.html
Due: py3-type, py3-lint, py3-test

Find district webcasts (#9313)
  Makefile
  src/backend/common/helpers/tests/youtube_video_helper_test.py
  src/backend/common/helpers/youtube_video_helper.py
  src/backend/common/models/district.py
  src/backend/common/models/webcast.py
  src/backend/tasks_io/handlers/live_events.py
  src/backend/tasks_io/handlers/tests/live_events_test.py
  src/backend/tasks_io/helpers/live_event_helper.py
  src/backend/tasks_io/helpers/tests/live_event_helper_test.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/districts.py
  src/backend/web/handlers/admin/tests/district_test.py
  src/backend/web/templates/admin/district_details.html
  src/backend/web/templates/admin/district_list.html
Due: py3-type, py3-lint, py3-test

Fix outdated test comment
  src/backend/common/manipulators/tests/match_manipulator_test.py
Due: py3-type, py3-lint, py3-test

Only set push_sent after the match score push has been dispatched - allow for breakdown data coming in later
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/manipulators/match_manipulator.py
  src/backend/common/manipulators/tests/match_manipulator_test.py
Due: py3-type, py3-lint, py3-test

Attempt to simplify the notification dispatching logic - not sure if it worked
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/manipulators/match_manipulator.py
  src/backend/common/manipulators/tests/match_manipulator_test.py
Due: py3-type, py3-lint, py3-test

Update src/backend/common/manipulators/tests/match_manipulator_test.py
  src/backend/common/manipulators/tests/match_manipulator_test.py
Due: py3-type, py3-lint, py3-test

fix: add max-height to prevent overflow (#9244)
  src/backend/web/static/css/less_css/less/tba/tba_dropdown_menu.less
Due: none

Fix: Can't Scroll in the Event Year List Dropdown (#9314)
  src/backend/web/static/css/less_css/less/tba/tba_dropdown_menu.less
Due: none

Apply suggestions from code review
  src/backend/common/models/match.py
Due: py3-type, py3-lint, py3-test

De-weird some Copilot code
  src/backend/common/consts/playoff_type.py
  src/backend/common/models/match.py
Due: py3-type, py3-lint, py3-test

Fix double elimination playoff match terminology in notifications (#9311)
  src/backend/common/consts/playoff_type.py
  src/backend/common/models/match.py
  src/backend/common/models/notifications/tests/event_level_test.py
  src/backend/common/models/notifications/tests/match_score_test.py
  src/backend/common/models/notifications/tests/match_upcoming_test.py
  src/backend/common/models/tests/match_test.py
Due: py3-type, py3-lint, py3-test

Bootstrap districts when syncing a year, add quick sync button
  src/backend/web/local/blueprint.py
  src/backend/web/local/bootstrap.py
  src/backend/web/templates/local/bootstrap.html
Due: py3-type, py3-lint, py3-test

Fix gameday favicon loading constantly
  src/frontend/gameday2/gameday2.js
Due: node-lint, node-test

Fix CI: add test mocks for district_points and districts endpoints, fix import order
  src/backend/web/local/blueprint.py
  src/backend/web/local/tests/bootstrap_test.py
Due: py3-type, py3-lint, py3-test

Remove APIv2 from APIDocs Sidebar
  src/backend/web/templates/apidocs_overview.html
Due: none

Fix test mocks: use empty dict for district_points, fix black formatting
  src/backend/web/local/tests/bootstrap_test.py
Due: py3-type, py3-lint, py3-test

Remove APIv2 from APIDocs Sidebar (#9317)
  src/backend/web/templates/apidocs_overview.html
Due: none

Fix match score notifications being sent to webhooks without breakdown payloads (#9312)
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/manipulators/match_manipulator.py
  src/backend/common/manipulators/tests/match_manipulator_test.py
Due: py3-type, py3-lint, py3-test

Update URL routing to use differently named redirects
  src/backend/web/handlers/district.py
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

Migrate docker-compose commands to docker compose (Compose v2 syntax) (#9318)
  AGENTS.md
  docs/Deployment/GAE-Firebase-Setup.md
  docs/Developing/Development-Runbook.md
  docs/Developing/tba_dev_config.md
  docs/Services/Web.md
  docs/Setup/Setup-Guide.md
  ops/dev/scripts/dev_appserver.sh
Due: none

Add support for uses_official_webcast_unit on Districts
  src/backend/common/manipulators/district_manipulator.py
  src/backend/common/manipulators/tests/district_manipulator_test.py
  src/backend/common/models/district.py
  src/backend/common/models/tests/district_test.py
  src/backend/web/handlers/admin/districts.py
  src/backend/web/handlers/suggestions/suggestion_submission.py
  src/backend/web/handlers/suggestions/tests/suggest_event_webcast_controller_test.py
  src/backend/web/templates/admin/district_create.html
  src/backend/web/templates/admin/district_details.html
  src/backend/web/templates/admin/district_edit.html
  src/backend/web/templates/suggestions/suggest_event_webcast.html
Due: py3-type, py3-lint, py3-test

Pass keys instead of full models for tbans
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/manipulators/award_manipulator.py
  src/backend/common/manipulators/event_details_manipulator.py
  src/backend/common/manipulators/match_manipulator.py
Due: py3-type, py3-lint, py3-test

Attempt to fix warning of connections getting discarded for fcm
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
Due: py3-type, py3-lint, py3-test

Pass keys instead of full models for tbans (#9320)
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/manipulators/award_manipulator.py
  src/backend/common/manipulators/event_details_manipulator.py
  src/backend/common/manipulators/match_manipulator.py
Due: py3-type, py3-lint, py3-test

Fix match_video/match_video_added notification type mismatch in client API
  pwa/app/api/tba/mobile/@tanstack/react-query.gen.ts
  pwa/app/api/tba/mobile/client.gen.ts
  pwa/app/api/tba/mobile/client/client.gen.ts
  pwa/app/api/tba/mobile/client/types.gen.ts
  pwa/app/api/tba/mobile/client/utils.gen.ts
  pwa/app/api/tba/mobile/core/bodySerializer.gen.ts
  pwa/app/api/tba/mobile/core/params.gen.ts
  pwa/app/api/tba/mobile/core/pathSerializer.gen.ts
  pwa/app/api/tba/mobile/core/serverSentEvents.gen.ts
  pwa/app/api/tba/mobile/core/types.gen.ts
  pwa/app/api/tba/mobile/core/utils.gen.ts
  pwa/app/api/tba/mobile/index.ts
  pwa/app/api/tba/mobile/sdk.gen.ts
  pwa/app/api/tba/mobile/types.gen.ts
  pwa/app/api/tba/read/client/client.gen.ts
  pwa/app/api/tba/read/client/types.gen.ts
  pwa/app/api/tba/read/core/bodySerializer.gen.ts
  pwa/app/api/tba/read/core/params.gen.ts
  pwa/app/api/tba/read/core/serverSentEvents.gen.ts
  pwa/app/api/tba/read/index.ts
  pwa/app/api/tba/read/zod.gen.ts
  pwa/app/lib/myTBAConstants.ts
  src/backend/common/consts/notification_type.py
  src/backend/web/static/swagger/client_v9.json
Due: py3-type, py3-lint, py3-test

Add warning on webcast review screen
  src/backend/web/handlers/suggestions/suggest_event_webcast_review_controller.py
  src/backend/web/handlers/suggestions/tests/suggest_event_webcast_review_controller_test.py
  src/backend/web/templates/suggestions/suggest_event_webcast_review_list.html
Due: py3-type, py3-lint, py3-test

Attempt to add pytest-env for enviroment variables when testing
  pyproject.toml
  pytest.ini
  uv.lock
Due: none

de-slop youtube api calls
  src/backend/common/helpers/tests/youtube_video_helper_test.py
  src/backend/common/helpers/youtube_video_helper.py
Due: py3-type, py3-lint, py3-test

de-slop youtube api calls (#9323)
  src/backend/common/helpers/tests/youtube_video_helper_test.py
  src/backend/common/helpers/youtube_video_helper.py
Due: py3-type, py3-lint, py3-test

pwa: Add zebra striping to tables (#9305)
  pwa/app/components/ui/table.tsx
Due: none

Bootstrap districts when syncing a year, add sync button (#9315)
  src/backend/web/local/blueprint.py
  src/backend/web/local/bootstrap.py
  src/backend/web/local/tests/bootstrap_test.py
  src/backend/web/templates/local/bootstrap.html
Due: py3-type, py3-lint, py3-test

Add support for uses_official_webcast_unit on Districts (#9319)
  src/backend/common/manipulators/district_manipulator.py
  src/backend/common/manipulators/tests/district_manipulator_test.py
  src/backend/common/models/district.py
  src/backend/common/models/tests/district_test.py
  src/backend/web/handlers/admin/districts.py
  src/backend/web/handlers/suggestions/suggest_event_webcast_review_controller.py
  src/backend/web/handlers/suggestions/suggestion_submission.py
  src/backend/web/handlers/suggestions/tests/suggest_event_webcast_controller_test.py
  src/backend/web/handlers/suggestions/tests/suggest_event_webcast_review_controller_test.py
  src/backend/web/templates/admin/district_create.html
  src/backend/web/templates/admin/district_details.html
  src/backend/web/templates/admin/district_edit.html
  src/backend/web/templates/suggestions/suggest_event_webcast.html
  src/backend/web/templates/suggestions/suggest_event_webcast_review_list.html
Due: py3-type, py3-lint, py3-test

Add score breakdown data to seeded test matches
  src/backend/web/local/dev_tools.py
Due: py3-type, py3-lint, py3-test
