Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]

Fix double alliances in alliances table. Only show alliances table if we have non-empty alliances (#7214)
  pwa/README.md
  pwa/app/components/tba/allianceSelectionTable.tsx
  pwa/app/routes/event.$eventKey.tsx
Due: none

Enqueue regional champs points calc tasks
  src/backend/common/helpers/season_helper.py
  src/backend/common/manipulators/award_manipulator.py
  src/backend/common/manipulators/event_details_manipulator.py
  src/backend/common/manipulators/match_manipulator.py
  src/backend/common/manipulators/tests/award_manipulator_test.py
  src/backend/common/manipulators/tests/event_details_manipulator_test.py
  src/backend/common/manipulators/tests/match_manipulator_test.py
  src/backend/web/templates/admin/event_details.html
Due: py3-type, py3-lint, py3-test

test fix
  src/backend/common/manipulators/tests/event_details_manipulator_test.py
Due: py3-type, py3-lint, py3-test

Include admin panel view
  src/backend/common/models/regional_champs_pool.py
  src/backend/tasks_io/handlers/math.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/regional_champs_pool.py
  src/backend/web/templates/admin/base.html
  src/backend/web/templates/admin/event_details.html
  src/backend/web/templates/admin/regional_champs_pool_list.html
Due: py3-type, py3-lint, py3-test

Change delete auth button to be named Delete Auth (not Delete Event)
  src/backend/web/templates/admin/api_delete_auth.html
Due: none

Enqueue regional champs points calc tasks (#7215)
  src/backend/common/helpers/season_helper.py
  src/backend/common/manipulators/award_manipulator.py
  src/backend/common/manipulators/event_details_manipulator.py
  src/backend/common/manipulators/match_manipulator.py
  src/backend/common/manipulators/tests/award_manipulator_test.py
  src/backend/common/manipulators/tests/event_details_manipulator_test.py
  src/backend/common/manipulators/tests/match_manipulator_test.py
  src/backend/common/models/regional_champs_pool.py
  src/backend/tasks_io/handlers/math.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/regional_champs_pool.py
  src/backend/web/templates/admin/base.html
  src/backend/web/templates/admin/event_details.html
  src/backend/web/templates/admin/regional_champs_pool_list.html
Due: py3-type, py3-lint, py3-test

Add FRC to web description
  src/backend/web/templates/event_details.html
Due: none

Change delete auth button to be named Delete Auth (not Delete Event) (#7216)
  src/backend/web/templates/admin/api_delete_auth.html
Due: none

Add FRC to web description
  src/backend/web/templates/about.html
  src/backend/web/templates/base.html
  src/backend/web/templates/district_details.html
  src/backend/web/templates/event_insights.html
  src/backend/web/templates/event_list.html
  src/backend/web/templates/insights.html
  src/backend/web/templates/insights_details.html
  src/backend/web/templates/match_details.html
  src/backend/web/templates/match_timeseries.html
  src/backend/web/templates/regional_details.html
  src/backend/web/templates/team_details.html
  src/backend/web/templates/team_history.html
  src/backend/web/templates/team_list.html
  src/backend/web/templates/webcasts.html
Due: none

Show regional CMP points on web
  src/backend/tasks_io/handlers/math.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/district.py
  src/backend/web/handlers/event.py
  src/backend/web/templates/event_details.html
  src/backend/web/templates/regional_details.html
Due: py3-type, py3-lint, py3-test

Show regional CMP points on web (#7217)
  src/backend/tasks_io/handlers/math.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/district.py
  src/backend/web/handlers/event.py
  src/backend/web/templates/event_details.html
  src/backend/web/templates/regional_details.html
Due: py3-type, py3-lint, py3-test

Calculate regional champs advancement
  src/backend/common/models/regional_champs_pool.py
  src/backend/common/models/regional_pool_advancement.py
  src/backend/tasks_io/handlers/frc_api.py
Due: py3-type, py3-lint, py3-test

Calculate regional champs advancement in datafeed (#7218)
  src/backend/common/models/regional_champs_pool.py
  src/backend/common/models/regional_pool_advancement.py
  src/backend/tasks_io/handlers/frc_api.py
Due: py3-type, py3-lint, py3-test

Revert Firebase changes
  src/backend/web/static/javascript/tba_js/tba_auth.js
  src/backend/web/static/javascript/tba_js/tba_firebase.js
  src/backend/web/templates/base.html
Due: node-lint, node-test

Revert Firebase changes (#7219)
  src/backend/web/static/javascript/tba_js/tba_auth.js
  src/backend/web/static/javascript/tba_js/tba_firebase.js
  src/backend/web/templates/base.html
Due: node-lint, node-test

Reduce size of regional pool db quueries
  src/backend/common/queries/team_query.py
  src/backend/tasks_io/handlers/math.py
Due: py3-type, py3-lint, py3-test

Reduce size of regional pool db quueries (#7221)
  src/backend/common/queries/team_query.py
  src/backend/tasks_io/handlers/math.py
Due: py3-type, py3-lint, py3-test

Refactor out match leaderboards to separate helper
  .flake8
  src/backend/common/helpers/insights_helper.py
  src/backend/common/helpers/insights_helper_utils.py
  src/backend/common/helpers/insights_leaderboard_match_helper.py
  src/backend/common/helpers/tests/data/2019mttd.json
  src/backend/common/helpers/tests/data/2025isde1.json
  src/backend/common/helpers/tests/data/2025isde1_matches.json
  src/backend/common/helpers/tests/insights_helper_utils_test.py
  src/backend/common/helpers/tests/insights_leaderboard_match_helper_test.py
  src/backend/common/models/insight.py
  src/backend/tasks_cpu/handlers/insights.py
Due: py3-type, py3-lint, py3-test

Implement basic regional advancemnt tiebreakers
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/regional_champs_pool_helper.py
Due: py3-type, py3-lint, py3-test

Implement basic regional advancement tiebreakers (#7222)
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/regional_champs_pool_helper.py
Due: py3-type, py3-lint, py3-test

More strongly type district ranking tiebreakers
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/regional_champs_pool_helper.py
  src/backend/common/helpers/tests/district_helper_test.py
  src/backend/web/templates/admin/district_details.html
Due: py3-type, py3-lint, py3-test

More strongly type district ranking tiebreakers (#7223)
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/regional_champs_pool_helper.py
  src/backend/common/helpers/tests/district_helper_test.py
  src/backend/web/templates/admin/district_details.html
Due: py3-type, py3-lint, py3-test

Implement sorting for regional champs pool
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/district_point_tiebreakers_sorting_helper.py
  src/backend/common/helpers/regional_champs_pool_helper.py
  src/backend/web/handlers/admin/event.py
  src/backend/web/handlers/event.py
  src/backend/web/templates/admin/event_details.html
Due: py3-type, py3-lint, py3-test

Implement sorting for regional champs pool (#7224)
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/district_point_tiebreakers_sorting_helper.py
  src/backend/common/helpers/regional_champs_pool_helper.py
  src/backend/web/handlers/admin/event.py
  src/backend/web/handlers/event.py
  src/backend/web/templates/admin/event_details.html
Due: py3-type, py3-lint, py3-test

Add APIv3 endpoint for regional champs pool points
  src/backend/api/handlers/event.py
  src/backend/api/main.py
  src/backend/common/queries/dict_converters/event_details_converter.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Add APIv3 endpoint for regional champs pool points (#7226)
  src/backend/api/handlers/event.py
  src/backend/api/main.py
  src/backend/common/queries/dict_converters/event_details_converter.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Add unit tests for champs qual point stuff
  ops/dev/init_event_test_data.sh
  src/backend/common/helpers/tests/conftest.py
  src/backend/common/helpers/tests/data/2025mndu.json
  src/backend/common/helpers/tests/data/2025mndu2.json
  src/backend/common/helpers/tests/data/2025mndu2_alliances.json
  src/backend/common/helpers/tests/data/2025mndu2_awards.json
  src/backend/common/helpers/tests/data/2025mndu2_district_points.json
  src/backend/common/helpers/tests/data/2025mndu2_matches.json
  src/backend/common/helpers/tests/data/2025mndu2_rankings.json
  src/backend/common/helpers/tests/data/2025mndu2_regional_champs_pool_points.json
  src/backend/common/helpers/tests/data/2025mndu2_teams.json
  src/backend/common/helpers/tests/data/2025mndu_alliances.json
  src/backend/common/helpers/tests/data/2025mndu_awards.json
  src/backend/common/helpers/tests/data/2025mndu_district_points.json
  src/backend/common/helpers/tests/data/2025mndu_matches.json
  src/backend/common/helpers/tests/data/2025mndu_rankings.json
  src/backend/common/helpers/tests/data/2025mndu_regional_champs_pool_points.json
  src/backend/common/helpers/tests/data/2025mndu_teams.json
  src/backend/common/helpers/tests/district_helper_test.py
  src/backend/common/helpers/tests/regional_champs_pool_helper_test.py
  src/backend/tests/json_data_importer.py
Due: py3-type, py3-lint, py3-test

Add tests for math handlers
  src/backend/tasks_io/handlers/math.py
  src/backend/tasks_io/handlers/tests/district_points_calc_test.py
  src/backend/tasks_io/handlers/tests/district_rankings_calc_test.py
  src/backend/tasks_io/handlers/tests/regional_champs_pool_points_calc_test.py
  src/backend/tasks_io/handlers/tests/regional_champs_pool_rankings_calc_test.py
Due: py3-type, py3-lint, py3-test

Test event rendering
  src/backend/common/helpers/tests/conftest.py
  src/backend/tasks_io/handlers/tests/regional_champs_pool_rankings_calc_test.py
  src/backend/tests/json_data_importer.py
  src/backend/web/handlers/tests/data/2025mndu.json
  src/backend/web/handlers/tests/data/2025mndu_alliances.json
  src/backend/web/handlers/tests/data/2025mndu_awards.json
  src/backend/web/handlers/tests/data/2025mndu_district_points.json
  src/backend/web/handlers/tests/data/2025mndu_matches.json
  src/backend/web/handlers/tests/data/2025mndu_rankings.json
  src/backend/web/handlers/tests/data/2025mndu_regional_champs_pool_points.json
  src/backend/web/handlers/tests/data/2025mndu_teams.json
  src/backend/web/handlers/tests/event_detail_test.py
Due: py3-type, py3-lint, py3-test

Add unit tests for champs qual point stuff (#7227)
  ops/dev/init_event_test_data.sh
  src/backend/common/helpers/tests/conftest.py
  src/backend/common/helpers/tests/data/2025mndu.json
  src/backend/common/helpers/tests/data/2025mndu2.json
  src/backend/common/helpers/tests/data/2025mndu2_alliances.json
  src/backend/common/helpers/tests/data/2025mndu2_awards.json
  src/backend/common/helpers/tests/data/2025mndu2_district_points.json
  src/backend/common/helpers/tests/data/2025mndu2_matches.json
  src/backend/common/helpers/tests/data/2025mndu2_rankings.json
  src/backend/common/helpers/tests/data/2025mndu2_regional_champs_pool_points.json
  src/backend/common/helpers/tests/data/2025mndu2_teams.json
  src/backend/common/helpers/tests/data/2025mndu_alliances.json
  src/backend/common/helpers/tests/data/2025mndu_awards.json
  src/backend/common/helpers/tests/data/2025mndu_district_points.json
  src/backend/common/helpers/tests/data/2025mndu_matches.json
  src/backend/common/helpers/tests/data/2025mndu_rankings.json
  src/backend/common/helpers/tests/data/2025mndu_regional_champs_pool_points.json
  src/backend/common/helpers/tests/data/2025mndu_teams.json
  src/backend/common/helpers/tests/district_helper_test.py
  src/backend/common/helpers/tests/regional_champs_pool_helper_test.py
  src/backend/tasks_io/handlers/math.py
  src/backend/tasks_io/handlers/tests/district_points_calc_test.py
  src/backend/tasks_io/handlers/tests/district_rankings_calc_test.py
  src/backend/tasks_io/handlers/tests/regional_champs_pool_points_calc_test.py
  src/backend/tasks_io/handlers/tests/regional_champs_pool_rankings_calc_test.py
  src/backend/tests/json_data_importer.py
  src/backend/web/handlers/tests/data/2025mndu.json
  src/backend/web/handlers/tests/data/2025mndu_alliances.json
  src/backend/web/handlers/tests/data/2025mndu_awards.json
  src/backend/web/handlers/tests/data/2025mndu_district_points.json
  src/backend/web/handlers/tests/data/2025mndu_matches.json
  src/backend/web/handlers/tests/data/2025mndu_rankings.json
  src/backend/web/handlers/tests/data/2025mndu_regional_champs_pool_points.json
  src/backend/web/handlers/tests/data/2025mndu_teams.json
  src/backend/web/handlers/tests/event_detail_test.py
Due: py3-type, py3-lint, py3-test

Add 2025 event insights
  src/backend/common/helpers/event_insights_helper.py
  src/backend/web/templates/event_partials/event_insights_2025.html
Due: py3-type, py3-lint, py3-test

Add 2025 event insights (#7228)
  src/backend/common/helpers/event_insights_helper.py
  src/backend/web/templates/event_partials/event_insights_2025.html
Due: py3-type, py3-lint, py3-test

Implement 2025 playoff tiebreakers
  src/backend/common/helpers/match_tiebreakers.py
  src/backend/common/helpers/tests/data/2025nhsal_sf7m1.json
  src/backend/common/helpers/tests/data/2025vagle_sf8m1.json
  src/backend/common/helpers/tests/match_tiebreaker_test.py
Due: py3-type, py3-lint, py3-test

Implement 2025 playoff tiebreakers (#7229)
  src/backend/common/helpers/match_tiebreakers.py
  src/backend/common/helpers/tests/data/2025nhsal_sf7m1.json
  src/backend/common/helpers/tests/data/2025vagle_sf8m1.json
  src/backend/common/helpers/tests/match_tiebreaker_test.py
Due: py3-type, py3-lint, py3-test

Hook up 'clear cache' admin panel button
  src/backend/common/manipulators/manipulator_base.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/cache.py
  src/backend/web/templates/admin/event_details.html
  src/backend/web/templates/admin/match_details.html
  src/backend/web/templates/admin/team_details.html
Due: py3-type, py3-lint, py3-test

Add nav bar padding; Fixes #7225
  subtrees/bootstrap/less/navs.less
Due: none

Hook up 'clear cache' admin panel button (#7230)
  src/backend/common/manipulators/manipulator_base.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/cache.py
  src/backend/web/templates/admin/event_details.html
  src/backend/web/templates/admin/match_details.html
  src/backend/web/templates/admin/team_details.html
Due: py3-type, py3-lint, py3-test

Add nav bar padding; Fixes #7225 (#7231)
  subtrees/bootstrap/less/navs.less
Due: none

Add canonical URL & noindex
  pwa/app/root.tsx
Due: none

[PWA] Add canonical URL & noindex to beta site (#7244)
  pwa/app/root.tsx
Due: none
