Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

Name tests by behaviour
  pwa/app/components/tba/eliminationBracket.test.tsx
Due: none

Name tests by behaviour
  src/backend/common/helpers/tests/location_helper_test.py
Due: py3-type, py3-lint, py3-test

Screenshots for PR #10949
  pr-10949-fouls-2018-after.png
  pr-10949-fouls-2018-before.png
  pr-10949-fouls-2023-after.png
  pr-10949-fouls-2023-before.png
  pr-10949-fouls-2026-after.png
  pr-10949-fouls-2026-before.png
Due: none

Name tests by behaviour
  pwa/app/components/tba/allianceSelectionTable.test.tsx
Due: none

Name tests by behaviour
  src/backend/tasks_cpu/handlers/tests/insights_test.py
Due: py3-type, py3-lint, py3-test

Name tests by behaviour
  pwa/app/components/tba/doubleSlider.test.tsx
Due: none

Name tests by behaviour
  src/backend/common/suggestions/tests/suggestion_creator_test.py
Due: py3-type, py3-lint, py3-test

Name tests by behaviour
  pwa/app/components/tba/teamPageTeamInfo.test.tsx
Due: none

Name tests by behaviour
  src/backend/common/helpers/tests/insights_helper_test.py
Due: py3-type, py3-lint, py3-test

Name tests by behaviour
  pwa/app/components/tba/charts/coprScatterChart.test.tsx
Due: none

Name tests by behaviour
  src/backend/common/queries/tests/team_query_test.py
Due: py3-type, py3-lint, py3-test

Name tests by behaviour
  src/backend/common/queries/tests/insight_query_test.py
Due: py3-type, py3-lint, py3-test

Name tests by behaviour
  src/backend/common/models/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Name tests by behaviour
  src/backend/common/datafeed_parsers/tests/csv_offseason_matches_parser_test.py
Due: py3-type, py3-lint, py3-test

Reword docstring for black
  src/backend/common/datafeed_parsers/tests/csv_offseason_matches_parser_test.py
Due: py3-type, py3-lint, py3-test

Name tests by behaviour
  src/backend/common/models/tests/regional_pool_team_test.py
Due: py3-type, py3-lint, py3-test

Name tests by behaviour
  src/backend/web/handlers/admin/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Name tests by behaviour
  src/backend/common/frc_api/tests/frcapi_test.py
Due: py3-type, py3-lint, py3-test

Name tests by behaviour
  src/backend/api/handlers/tests/add_fms_companion_db_test.py
Due: py3-type, py3-lint, py3-test

Name tests by behaviour
  src/backend/api/handlers/tests/trustedapi_auth_test.py
Due: py3-type, py3-lint, py3-test

Name tests by behaviour
  src/backend/tasks_cpu/handlers/tests/typeahead_test.py
Due: py3-type, py3-lint, py3-test

Name tests by behaviour
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_event_list_parser_test.py
Due: py3-type, py3-lint, py3-test

Name tests by behaviour
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_hybrid_schedule_parser_test.py
Due: py3-type, py3-lint, py3-test

Shorten test docstring
  src/backend/web/handlers/admin/tests/event_test.py
Due: py3-type, py3-lint, py3-test

Shorten test docstring
  src/backend/common/helpers/tests/insights_helper_test.py
Due: py3-type, py3-lint, py3-test

Shorten test docstring
  src/backend/common/models/tests/regional_pool_team_test.py
Due: py3-type, py3-lint, py3-test

Name the 2019 HAB climb test by behaviour (#10948)
  pwa/app/components/tba/match/scoreBreakdown2019.test.tsx
Due: none

Stop add_fms_companion_db_test from hanging under a frozen clock
  src/backend/api/handlers/tests/add_fms_companion_db_test.py
Due: py3-type, py3-lint, py3-test

Show divider after a BlueZone-only special webcasts section
  src/frontend/gameday2/components/WebcastSelectionDialog.js
Due: node-lint, node-test

Copy default chats instead of mutating them on WEBCASTS_UPDATED
  src/frontend/gameday2/reducers/chats.js
Due: node-lint, node-test

Show breakdown values in rankings preview for headers containing "rank"
  src/frontend/eventwizard/components/eventRankingsTab/EventRankingsTab.tsx
Due: none

Keep the default chat across WEBCASTS_UPDATED while it still exists
  src/frontend/gameday2/reducers/chats.js
Due: node-lint, node-test

[pwa] Show fouls committed per alliance, with Foul Points Received as its own row (#10949)
  pwa/app/components/tba/match/common.test.tsx
  pwa/app/components/tba/match/common.tsx
  pwa/app/components/tba/match/scoreBreakdown2016.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2016.tsx
  pwa/app/components/tba/match/scoreBreakdown2017.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2017.tsx
  pwa/app/components/tba/match/scoreBreakdown2018.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2018.tsx
  pwa/app/components/tba/match/scoreBreakdown2019.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2019.tsx
  pwa/app/components/tba/match/scoreBreakdown2020.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2020.tsx
  pwa/app/components/tba/match/scoreBreakdown2022.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2022.tsx
  pwa/app/components/tba/match/scoreBreakdown2023.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2023.tsx
  pwa/app/components/tba/match/scoreBreakdown2024.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2024.tsx
  pwa/app/components/tba/match/scoreBreakdown2025.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2025.tsx
  pwa/app/components/tba/match/scoreBreakdown2026.test.tsx
  pwa/app/components/tba/match/scoreBreakdown2026.tsx
  pwa/app/lib/pointValues.test.ts
  pwa/app/lib/pointValues.ts
Due: none

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
