Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

[pwa] Add event agendas and event division links
  pwa/app/components/tba/eventListTable.tsx
  pwa/app/lib/eventUtils.test.ts
  pwa/app/lib/eventUtils.ts
  pwa/app/routes/event.$eventKey.tsx
Due: none

[pwa] don't reload on missing chunks
  pwa/app/router.tsx
Due: none

[pwa] Add nexus live event integration
  pwa/.env.example
  pwa/app/api/nexus/@tanstack/react-query.gen.ts
  pwa/app/api/nexus/client.gen.ts
  pwa/app/api/nexus/client/client.gen.ts
  pwa/app/api/nexus/client/index.ts
  pwa/app/api/nexus/client/types.gen.ts
  pwa/app/api/nexus/client/utils.gen.ts
  pwa/app/api/nexus/core/auth.gen.ts
  pwa/app/api/nexus/core/bodySerializer.gen.ts
  pwa/app/api/nexus/core/params.gen.ts
  pwa/app/api/nexus/core/pathSerializer.gen.ts
  pwa/app/api/nexus/core/queryKeySerializer.gen.ts
  pwa/app/api/nexus/core/serverSentEvents.gen.ts
  pwa/app/api/nexus/core/types.gen.ts
  pwa/app/api/nexus/core/utils.gen.ts
  pwa/app/api/nexus/index.ts
  pwa/app/api/nexus/sdk.gen.ts
  pwa/app/api/nexus/types.gen.ts
  pwa/app/api/nexus_spec.json
  pwa/app/components/tba/match/matchRows.tsx
  pwa/app/lib/nexus.test.ts
  pwa/app/lib/nexus.ts
  pwa/app/routes/event.$eventKey.tsx
  pwa/eslint.config.js
  pwa/generate-api.sh
  pwa/openapi-ts/nexus.config.ts
  pwa/public/nexus_logo.png
Due: node-lint, node-test

Add nexus key to pwa deploy
  .github/workflows/push.yml
Due: none

[pwa] gameday stream name link to event page
  pwa/app/components/tba/gameday/VideoCell.tsx
Due: none

District ranking tiebreaks (#9711)
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/district_point_tiebreakers_sorting_helper.py
  src/backend/common/helpers/regional_champs_pool_helper.py
  src/backend/common/helpers/tests/data/2012pah_district_points.json
  src/backend/common/helpers/tests/data/2015micmp_district_points.json
  src/backend/common/helpers/tests/data/2015nyny_district_points.json
  src/backend/common/helpers/tests/data/2018necmp_district_points.json
  src/backend/common/helpers/tests/data/2019micmp3_district_points.json
  src/backend/common/helpers/tests/data/2019micmp_district_points.json
  src/backend/common/helpers/tests/data/2019nyny_district_points.json
  src/backend/common/helpers/tests/data/2022on305_district_points.json
  src/backend/common/helpers/tests/data/2022on306_district_points.json
  src/backend/common/helpers/tests/data/2023micmp_district_points.json
  src/backend/common/helpers/tests/data/2023mijac_district_points.json
  src/backend/common/helpers/tests/data/2023njfla_district_points.json
  src/backend/common/helpers/tests/data/2023onlon_district_points.json
  src/backend/common/helpers/tests/data/2024necmp_district_points.json
  src/backend/common/helpers/tests/data/2024nytr_district_points.json
  src/backend/common/helpers/tests/data/2024test_district_points.json
  src/backend/common/helpers/tests/data/2025mndu2_district_points.json
  src/backend/common/helpers/tests/data/2025mndu2_regional_champs_pool_points.json
  src/backend/common/helpers/tests/data/2025mndu_district_points.json
  src/backend/common/helpers/tests/data/2025mndu_regional_champs_pool_points.json
  src/backend/common/helpers/tests/district_helper_test.py
  src/backend/common/helpers/tests/regional_champs_pool_helper_test.py
  src/backend/common/models/event_district_points.py
  src/backend/tasks_io/handlers/tests/district_points_calc_test.py
  src/backend/tasks_io/handlers/tests/district_rankings_calc_test.py
  src/backend/tasks_io/handlers/tests/regional_champs_pool_points_calc_test.py
  src/backend/tasks_io/handlers/tests/regional_champs_pool_rankings_calc_test.py
  src/backend/web/handlers/admin/tests/event_test.py
  src/backend/web/handlers/tests/data/2025mndu_district_points.json
  src/backend/web/handlers/tests/data/2025mndu_regional_champs_pool_points.json
  src/backend/web/handlers/tests/event_detail_test.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Tolerate legacy highest_qual_scores key in stored district points
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/regional_champs_pool_helper.py
  src/backend/common/helpers/tests/district_helper_test.py
  src/backend/common/helpers/tests/regional_champs_pool_helper_test.py
Due: py3-type, py3-lint, py3-test

Strip whitespace from event first_code at all entry points (#9688)
  src/backend/api/handlers/trusted.py
  src/backend/web/handlers/admin/event.py
  src/backend/web/handlers/suggestions/suggest_offseason_event_review_controller.py
  src/backend/web/handlers/suggestions/suggestion_submission.py
  src/backend/web/handlers/suggestions/tests/suggest_offseason_event_review_controller_test.py
Due: py3-type, py3-lint, py3-test

Tolerate legacy tiebreaker key in district rankings calc (#9712)
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/regional_champs_pool_helper.py
  src/backend/common/helpers/tests/district_helper_test.py
  src/backend/common/helpers/tests/regional_champs_pool_helper_test.py
Due: py3-type, py3-lint, py3-test

Cast tiebreakers to plain dict in legacy-shape test mutations
  src/backend/common/helpers/tests/district_helper_test.py
  src/backend/common/helpers/tests/regional_champs_pool_helper_test.py
Due: py3-type, py3-lint, py3-test

Use built-in dict generic instead of typing.Dict
  src/backend/common/helpers/tests/district_helper_test.py
  src/backend/common/helpers/tests/regional_champs_pool_helper_test.py
Due: py3-type, py3-lint, py3-test

Fix pyre errors in legacy tiebreaker test (#9713)
  src/backend/common/helpers/tests/district_helper_test.py
  src/backend/common/helpers/tests/regional_champs_pool_helper_test.py
Due: py3-type, py3-lint, py3-test

Fix myTBA sessions expiring on browser close
  src/backend/common/auth.py
  src/backend/common/tests/auth_test.py
  src/backend/web/handlers/account.py
  src/backend/web/handlers/tests/account_test.py
  src/backend/web/main.py
  src/backend/web/tests/main_test.py
Due: py3-type, py3-lint, py3-test

Fix myTBA sessions expiring on browser close (#9714)
  src/backend/common/auth.py
  src/backend/common/tests/auth_test.py
  src/backend/web/handlers/account.py
  src/backend/web/handlers/tests/account_test.py
  src/backend/web/main.py
  src/backend/web/tests/main_test.py
Due: py3-type, py3-lint, py3-test

Fix Nexus queue status parser for 4-alliance double elim events
  src/backend/tasks_io/datafeeds/parsers/nexus_api/queue_status_parser.py
  src/backend/tasks_io/datafeeds/parsers/nexus_api/tests/queue_status_parser_test.py
Due: py3-type, py3-lint, py3-test

Fix Nexus queue status parser for 4-alliance double elim events (#9715)
  src/backend/tasks_io/datafeeds/parsers/nexus_api/queue_status_parser.py
  src/backend/tasks_io/datafeeds/parsers/nexus_api/tests/queue_status_parser_test.py
Due: py3-type, py3-lint, py3-test

Create EventTeams from match sync for champs events
  src/backend/tasks_io/handlers/frc_api.py
  src/backend/tasks_io/handlers/tests/frc_api_event_matches_test.py
Due: py3-type, py3-lint, py3-test

Create EventTeams from match sync for champs events (#9716)
  src/backend/tasks_io/handlers/frc_api.py
  src/backend/tasks_io/handlers/tests/frc_api_event_matches_test.py
Due: py3-type, py3-lint, py3-test

Fix Event Wizard match results fetch crashing on sort
  src/frontend/eventwizard/components/eventMatchResultsTab/EventMatchResultsTab.tsx
  src/frontend/eventwizard/components/eventMatchResultsTab/MatchResultsFromMatchPlay.tsx
  src/frontend/eventwizard/components/eventMatchResultsTab/__tests__/MatchResultsFromMatchPlay.test.tsx
  src/frontend/eventwizard/containers/EventMatchResultsTabContainer.tsx
Due: none

Fix Event Wizard match results fetch crashing with TypeError (#9717)
  src/frontend/eventwizard/components/eventMatchResultsTab/EventMatchResultsTab.tsx
  src/frontend/eventwizard/components/eventMatchResultsTab/MatchResultsFromMatchPlay.tsx
  src/frontend/eventwizard/components/eventMatchResultsTab/__tests__/MatchResultsFromMatchPlay.test.tsx
  src/frontend/eventwizard/containers/EventMatchResultsTabContainer.tsx
Due: none

Exclude DQ'd and surrogate teams from match-score tiebreaker
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/tests/data/2015nyny_district_points.json
  src/backend/common/helpers/tests/data/2018necmp_district_points.json
  src/backend/common/helpers/tests/data/2023onlon_district_points.json
  src/backend/common/helpers/tests/data/2024test_district_points.json
  src/backend/common/helpers/tests/data/2025mndu2_regional_champs_pool_points.json
  src/backend/common/helpers/tests/district_helper_test.py
Due: py3-type, py3-lint, py3-test

Exclude DQ'd and surrogate teams from match-score tiebreaker (#9718)
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/tests/data/2015nyny_district_points.json
  src/backend/common/helpers/tests/data/2018necmp_district_points.json
  src/backend/common/helpers/tests/data/2023onlon_district_points.json
  src/backend/common/helpers/tests/data/2024test_district_points.json
  src/backend/common/helpers/tests/data/2025mndu2_regional_champs_pool_points.json
  src/backend/common/helpers/tests/district_helper_test.py
Due: py3-type, py3-lint, py3-test

rm cmp hacks sitevar
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
  src/backend/common/sitevars/cmp_registration_hacks.py
  src/backend/common/sitevars/tests/cmp_registration_hacks_test.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_event_list_parser_test.py
  src/backend/tasks_io/handlers/admin/tasks.py
  src/backend/tasks_io/handlers/admin/tests/admin_post_division_tasks_test.py
  src/backend/tasks_io/handlers/frc_api.py
  src/backend/tasks_io/handlers/tests/frc_api_event_details_test.py
  src/backend/web/handlers/admin/event.py
Due: py3-type, py3-lint, py3-test

fix linting
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_event_list_parser_test.py
  src/backend/tasks_io/handlers/admin/tasks.py
  src/backend/tasks_io/handlers/admin/tests/admin_post_division_tasks_test.py
  src/backend/web/handlers/admin/event.py
Due: py3-type, py3-lint, py3-test

Rm cmp hacks sitevar (#9719)
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
  src/backend/common/sitevars/cmp_registration_hacks.py
  src/backend/common/sitevars/tests/cmp_registration_hacks_test.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_event_list_parser_test.py
  src/backend/tasks_io/handlers/admin/tasks.py
  src/backend/tasks_io/handlers/admin/tests/admin_post_division_tasks_test.py
  src/backend/tasks_io/handlers/frc_api.py
  src/backend/tasks_io/handlers/tests/frc_api_event_details_test.py
  src/backend/web/handlers/admin/event.py
Due: py3-type, py3-lint, py3-test

fix sync override logic
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_event_list_parser_test.py
Due: py3-type, py3-lint, py3-test

merge API / sync event admin tabs
  src/backend/web/handlers/admin/tests/event_test.py
  src/backend/web/templates/admin/event_details.html
Due: py3-type, py3-lint, py3-test

Consolidate Admin Panel Sync Tabs (#9730)
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_event_list_parser_test.py
  src/backend/web/handlers/admin/tests/event_test.py
  src/backend/web/templates/admin/event_details.html
Due: py3-type, py3-lint, py3-test

Support overriding nexus API codes for an event
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
  src/backend/tasks_io/datafeeds/datafeed_nexus.py
  src/backend/tasks_io/datafeeds/tests/datafeed_nexus_test.py
  src/backend/web/handlers/admin/event.py
  src/backend/web/handlers/admin/tests/event_test.py
  src/backend/web/templates/admin/event_details.html
Due: py3-type, py3-lint, py3-test

add local bootstrap interface to link a nexus demo event
  src/backend/tasks_io/datafeeds/datafeed_nexus.py
  src/backend/tasks_io/datafeeds/parsers/nexus_api/queue_status_parser.py
  src/backend/tasks_io/datafeeds/parsers/nexus_api/tests/queue_status_parser_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_nexus_test.py
  src/backend/web/local/blueprint.py
  src/backend/web/local/tests/local_bootstrap_interface_test.py
  src/backend/web/templates/local/bootstrap.html
  src/backend/web/templates/local/bootstrap_nexus.html
Due: py3-type, py3-lint, py3-test

Support rendering nexus info for unofficial events w/ API override
  pwa/app/components/tba/links.tsx
  pwa/app/routes/event.$eventKey.tsx
  src/backend/common/models/event.py
  src/backend/common/queries/dict_converters/event_converter.py
  src/backend/tasks_io/datafeeds/datafeed_nexus.py
  src/backend/tasks_io/handlers/nexus_api.py
  src/backend/tasks_io/handlers/tests/nexus_api_event_queue_status_test.py
  src/backend/tasks_io/handlers/tests/nexus_api_pit_location_test.py
  src/backend/web/static/swagger/api_v3.json
  src/backend/web/templates/event_details.html
  src/backend/web/templates/event_partials/event_team_list_table.html
  src/backend/web/templates/team_details.html
  src/backend/web/templates/team_partials/team_info.html
Due: py3-type, py3-lint, py3-test

revert PWA bits
  pwa/app/components/tba/links.tsx
  pwa/app/routes/event.$eventKey.tsx
  src/backend/common/queries/dict_converters/event_converter.py
  src/backend/common/queries/dict_converters/tests/event_converter_test.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Override sync api (#9732)
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
  src/backend/common/queries/dict_converters/tests/event_converter_test.py
  src/backend/tasks_io/datafeeds/datafeed_nexus.py
  src/backend/tasks_io/datafeeds/parsers/nexus_api/queue_status_parser.py
  src/backend/tasks_io/datafeeds/parsers/nexus_api/tests/queue_status_parser_test.py
  src/backend/tasks_io/datafeeds/tests/datafeed_nexus_test.py
  src/backend/tasks_io/handlers/nexus_api.py
  src/backend/tasks_io/handlers/tests/nexus_api_event_queue_status_test.py
  src/backend/tasks_io/handlers/tests/nexus_api_pit_location_test.py
  src/backend/web/handlers/admin/event.py
  src/backend/web/handlers/admin/tests/event_test.py
  src/backend/web/local/blueprint.py
  src/backend/web/local/tests/local_bootstrap_interface_test.py
  src/backend/web/templates/admin/event_details.html
  src/backend/web/templates/event_details.html
  src/backend/web/templates/event_partials/event_team_list_table.html
  src/backend/web/templates/local/bootstrap.html
  src/backend/web/templates/local/bootstrap_nexus.html
  src/backend/web/templates/team_details.html
  src/backend/web/templates/team_partials/team_info.html
Due: py3-type, py3-lint, py3-test

fix firebase liveevent with firebase emulator
  src/backend/web/static/javascript/tba_js/tba_firebase.js
  src/backend/web/static/javascript/tba_js/tba_keys_template.js
  src/frontend/liveevent/firebaseapp.js
Due: node-lint, node-test

fix firebase liveevent with firebase emulator (#9733)
  src/backend/web/static/javascript/tba_js/tba_firebase.js
  src/backend/web/static/javascript/tba_js/tba_keys_template.js
  src/frontend/liveevent/firebaseapp.js
Due: node-lint, node-test

Add "Most Successful Teamups" district stat
  pwa/app/components/tba/leaderboard.tsx
  pwa/app/routes/district.$districtAbbreviation.stats.tsx
Due: none

[PWA] Add "Most Successful Teamups" district stat (#9735)
  pwa/app/components/tba/leaderboard.tsx
  pwa/app/routes/district.$districtAbbreviation.stats.tsx
Due: none

Add permission-gated year jump on Team Admin media dashboard for global reviewers (#9736)
  src/backend/web/handlers/team_admin.py
  src/backend/web/handlers/tests/suggest_team_admin_review_test.py
  src/backend/web/templates/team_admin_dashboard.html
Due: py3-type, py3-lint, py3-test

Gate division-parent sync overrides on past event or division team assignment (#9741)
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_event_list_parser_test.py
Due: py3-type, py3-lint, py3-test

Split admin event name overrides into full/short fields and harden Einstein short-name formatting (#9742)
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_event_list_parser_test.py
  src/backend/web/handlers/admin/event.py
  src/backend/web/handlers/admin/tests/event_test.py
  src/backend/web/templates/admin/event_details.html
Due: py3-type, py3-lint, py3-test

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
