Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [pre-commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [pre-commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [pre-commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [pre-commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [pre-commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [pre-commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [pre-commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]
    - id: gcloud-sdk-version
      name: "Checking Google Cloud SDK Version"
      entry: ./ops/check_sdk_version.sh
      language: script
      always_run: true
      stages: [post-checkout]

Remove dead RTDB emulator wiring from the login-page Firebase bundle
  ops/build/run_buildweb.sh
  src/backend/web/static/javascript/tba_js/tba_firebase.js
Due: node-lint, node-test

Move the PWA service from F1 to F2
  pwa/pwa.yaml
Due: none

Move the PWA service from F1 to F2 (#10609)
  pwa/pwa.yaml
Due: none

[common] Fix run_after_response lifecycle, decorator support, and NDB toplevel drainage
  src/backend/common/middleware.py
  src/backend/common/run_after_response.py
  src/backend/common/tests/middleware_test.py
  src/backend/common/tests/run_after_response_test.py
Due: py3-type, py3-lint, py3-test

[ops] Parallelize and speed up unit tests with pytest-xdist
  ops/test_py3.sh
  pyproject.toml
  pytest.ini
  src/backend/conftest.py
  src/backend/web/handlers/admin/tests/team_media_mod_test.py
Due: py3-type, py3-lint, py3-test

[common] Fix run_after_response lifecycle, decorator support, and NDB toplevel drainage (#10611)
  src/backend/common/middleware.py
  src/backend/common/run_after_response.py
  src/backend/common/tests/middleware_test.py
  src/backend/common/tests/run_after_response_test.py
Due: py3-type, py3-lint, py3-test

[ops] Update uv.lock to include pytest-xdist
  uv.lock
Due: none

[ops] Parallelize and speed up unit tests with pytest-xdist (#10610)
  ops/test_py3.sh
  pyproject.toml
  pytest.ini
  src/backend/conftest.py
  src/backend/web/handlers/admin/tests/team_media_mod_test.py
  uv.lock
Due: py3-type, py3-lint, py3-test

Put the Realtime Database security rules in the repo and deploy them from CI
  .github/workflows/push.yml
  ops/firebase/README.md
  ops/firebase/database.rules.json
  ops/firebase/firebase.json
Due: none

[pwa] Users stay signed in for longer
  pwa/app/components/tba/auth/auth.tsx
  pwa/app/components/tba/auth/signInButton.tsx
  pwa/app/firebase/firebaseConfig.tsx
  pwa/app/lib/authRefresh.test.ts
  pwa/app/lib/authRefresh.ts
Due: none

Move firebase.json and database.rules.json to the repo root
  .github/workflows/push.yml
  database.rules.json
  docs/Developing/Development-Runbook.md
  firebase.json
  ops/firebase/README.md
Due: none

[common] Fix cascading query span nesting with tasklet context propagation
  src/backend/common/profiler.py
  src/backend/common/tasklets.py
  src/backend/common/tests/profiler_test.py
Due: py3-type, py3-lint, py3-test

Remove firebase_admin type stubs and fix the errors they masked
  src/backend/common/models/fcm/platform_config.py
  src/backend/common/models/fcm/tests/platform_config_test.py
  src/backend/common/models/notifications/requests/fcm_request.py
  stubs/firebase_admin/__about__.pyi
  stubs/firebase_admin/__init__.pyi
  stubs/firebase_admin/_auth_client.pyi
  stubs/firebase_admin/_auth_providers.pyi
  stubs/firebase_admin/_auth_utils.pyi
  stubs/firebase_admin/_http_client.pyi
  stubs/firebase_admin/_messaging_encoder.pyi
  stubs/firebase_admin/_messaging_utils.pyi
  stubs/firebase_admin/_rfc3339.pyi
  stubs/firebase_admin/_sseclient.pyi
  stubs/firebase_admin/_token_gen.pyi
  stubs/firebase_admin/_user_identifier.pyi
  stubs/firebase_admin/_user_import.pyi
  stubs/firebase_admin/_user_mgt.pyi
  stubs/firebase_admin/_utils.pyi
  stubs/firebase_admin/auth.pyi
  stubs/firebase_admin/credentials.pyi
  stubs/firebase_admin/db.pyi
  stubs/firebase_admin/exceptions.pyi
  stubs/firebase_admin/firestore.pyi
  stubs/firebase_admin/instance_id.pyi
  stubs/firebase_admin/messaging.pyi
  stubs/firebase_admin/ml.pyi
  stubs/firebase_admin/project_management.pyi
  stubs/firebase_admin/storage.pyi
  stubs/firebase_admin/tenant_mgt.pyi
Due: py3-type, py3-lint, py3-test

Remove dead RTDB emulator wiring from the login-page Firebase bundle (#10603)
  src/backend/web/static/javascript/tba_js/tba_firebase.js
Due: node-lint, node-test

Remove firebase_admin type stubs and fix the errors they masked (#10617)
  src/backend/common/models/fcm/platform_config.py
  src/backend/common/models/fcm/tests/platform_config_test.py
  src/backend/common/models/notifications/requests/fcm_request.py
  stubs/firebase_admin/__about__.pyi
  stubs/firebase_admin/__init__.pyi
  stubs/firebase_admin/_auth_client.pyi
  stubs/firebase_admin/_auth_providers.pyi
  stubs/firebase_admin/_auth_utils.pyi
  stubs/firebase_admin/_http_client.pyi
  stubs/firebase_admin/_messaging_encoder.pyi
  stubs/firebase_admin/_messaging_utils.pyi
  stubs/firebase_admin/_rfc3339.pyi
  stubs/firebase_admin/_sseclient.pyi
  stubs/firebase_admin/_token_gen.pyi
  stubs/firebase_admin/_user_identifier.pyi
  stubs/firebase_admin/_user_import.pyi
  stubs/firebase_admin/_user_mgt.pyi
  stubs/firebase_admin/_utils.pyi
  stubs/firebase_admin/auth.pyi
  stubs/firebase_admin/credentials.pyi
  stubs/firebase_admin/db.pyi
  stubs/firebase_admin/exceptions.pyi
  stubs/firebase_admin/firestore.pyi
  stubs/firebase_admin/instance_id.pyi
  stubs/firebase_admin/messaging.pyi
  stubs/firebase_admin/ml.pyi
  stubs/firebase_admin/project_management.pyi
  stubs/firebase_admin/storage.pyi
  stubs/firebase_admin/tenant_mgt.pyi
Due: py3-type, py3-lint, py3-test

[pwa] Users stay signed in for longer (#10618)
  pwa/app/components/tba/auth/auth.tsx
  pwa/app/components/tba/auth/signInButton.tsx
  pwa/app/firebase/firebaseConfig.tsx
  pwa/app/lib/authRefresh.test.ts
  pwa/app/lib/authRefresh.ts
Due: none

[common] Fix cascading query span nesting with tasklet context propagation (#10612)
  src/backend/common/profiler.py
  src/backend/common/tasklets.py
  src/backend/common/tests/profiler_test.py
Due: py3-type, py3-lint, py3-test

Remove the apple-app-site-association file
  src/backend/web/static/well-known/apple-app-site-association
Due: none

Remove the apple-app-site-association file (#10620)
  src/backend/web/static/well-known/apple-app-site-association
Due: none

[pwa] Add etag support to SSR cache
  pwa/app/lib/middleware/network-cache.test.ts
  pwa/app/lib/middleware/network-cache.ts
  pwa/app/routes/local.debug.tsx
Due: none

Add fine-grained span tracing and thread CPU time tracking for APIv3
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/helpers/model_query_response.py
  src/backend/api/handlers/helpers/profiled_jsonify.py
  src/backend/common/models/cached_query_result.py
  src/backend/common/profiler.py
  src/backend/common/queries/database_query.py
  src/backend/common/queries/dict_converters/converter_base.py
  src/backend/common/tests/profiler_test.py
Due: py3-type, py3-lint, py3-test

[pwa] Add etag support to SSR cache (#10619)
  pwa/app/lib/middleware/network-cache.test.ts
  pwa/app/lib/middleware/network-cache.ts
  pwa/app/routes/local.debug.tsx
Due: none

Add fine-grained span tracing and thread CPU time tracking for APIv3 (#10621)
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/helpers/model_query_response.py
  src/backend/api/handlers/helpers/profiled_jsonify.py
  src/backend/common/models/cached_query_result.py
  src/backend/common/profiler.py
  src/backend/common/queries/database_query.py
  src/backend/common/queries/dict_converters/converter_base.py
  src/backend/common/tests/profiler_test.py
Due: py3-type, py3-lint, py3-test

Polish the PWA suggestion review pages: no link underline on queue rows, tinted accept/reject buttons
  pwa/app/components/tba/moderation/suggestionReviewCard.tsx
  pwa/app/routes/suggest.review.index.tsx
Due: none

Add screenshots for PR #10622
  pr-10622-after-buttons-accept-selected-1788916084.png
  pr-10622-after-buttons-hover-accept-1788916084.png
  pr-10622-after-buttons-hover-reject-1788916084.png
  pr-10622-after-buttons-rest-1788916084.png
  pr-10622-after-index-row-hover-1788916084.png
  pr-10622-before-buttons-rest-1788916084.png
  pr-10622-before-index-row-hover-1788916084.png
Due: none

Add screenshots for PRs #10622 and #10600
  pr-10600-after-apidocs-1788916377.png
  pr-10600-after-event-1788916377.png
  pr-10600-after-home-1788916377.png
  pr-10600-after-team-1788916377.png
  pr-10600-before-apidocs-1788916377.png
  pr-10600-before-event-1788916377.png
  pr-10600-before-home-1788916377.png
  pr-10600-before-team-1788916377.png
  pr-10622-before-buttons-accept-selected-1788916377.png
  pr-10622-before-buttons-hover-accept-1788916377.png
  pr-10622-before-buttons-hover-reject-1788916377.png
Due: none

Add before/after screenshots for PRs #10524 #10527 #10599 #10600 #10601 #10602
  pr-10524-after-apiwrite-queue-1788916718.png
  pr-10524-after-review-home-1788916718.png
  pr-10524-before-apiwrite-queue-1788916718.png
  pr-10524-before-review-home-1788916718.png
  pr-10527-after-account-1788916718.png
  pr-10527-after-account-asc-1788916718.png
  pr-10527-after-account-desc-1788916718.png
  pr-10527-before-account-1788916718.png
  pr-10527-before-account-asc-1788916718.png
  pr-10527-before-account-desc-1788916718.png
  pr-10599-after-home-1788916718.png
  pr-10599-before-home-1788916718.png
  pr-10600-after-apidocs-1788916718.png
  pr-10600-after-event-1788916718.png
  pr-10600-after-home-1788916718.png
  pr-10600-after-team-1788916718.png
  pr-10600-before-apidocs-1788916718.png
  pr-10600-before-event-1788916718.png
  pr-10600-before-home-1788916718.png
  pr-10600-before-team-1788916718.png
  pr-10601-after-admin-home-1788916718.png
  pr-10601-after-admin-tasks-1788916718.png
  pr-10601-before-admin-home-1788916718.png
  pr-10601-before-admin-tasks-1788916718.png
  pr-10602-after-login-1788916718.png
  pr-10602-before-login-1788916718.png
Due: none

[api] Batch ETag dependency and query version writes in Memcache
  src/backend/api/handlers/helpers/etag_helper.py
  src/backend/api/handlers/tests/test_validate_etag.py
Due: py3-type, py3-lint, py3-test

[api] Batch ETag dependency and query version writes in Memcache (#10623)
  src/backend/api/handlers/helpers/etag_helper.py
  src/backend/api/handlers/tests/test_validate_etag.py
Due: py3-type, py3-lint, py3-test

[api] Move save_etag_dependencies to after response middleware
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/conftest.py
  src/backend/api/handlers/tests/test_validate_etag.py
Due: py3-type, py3-lint, py3-test

[api] Move save_etag_dependencies to after response middleware (#10624)
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/conftest.py
  src/backend/api/handlers/tests/test_validate_etag.py
Due: py3-type, py3-lint, py3-test

Revert "[api] Move save_etag_dependencies to after response middleware (#10624)"
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/conftest.py
  src/backend/api/handlers/tests/test_validate_etag.py
Due: py3-type, py3-lint, py3-test

Revert "[api] Move save_etag_dependencies to after response middleware (#10624)" (#10627)
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/conftest.py
  src/backend/api/handlers/tests/test_validate_etag.py
Due: py3-type, py3-lint, py3-test

[api] Use deterministic MD5 hashing for query versions to avoid Memcache read in save_etag_dependencies
  src/backend/api/handlers/helpers/etag_helper.py
  src/backend/api/handlers/tests/test_validate_etag.py
  src/backend/common/queries/database_query.py
Due: py3-type, py3-lint, py3-test

[api] Add Span tracing for _compute_result_hash
  src/backend/common/queries/database_query.py
Due: py3-type, py3-lint, py3-test

[api] Disable dict caching for point queries and fix CachedDatabaseQuery._do_dict_query
  src/backend/common/queries/database_query.py
  src/backend/common/queries/district_query.py
  src/backend/common/queries/event_query.py
  src/backend/common/queries/match_query.py
  src/backend/common/queries/team_query.py
  src/backend/common/queries/tests/database_query_test.py
Due: py3-type, py3-lint, py3-test

[api] Disable dict caching for point queries and fix CachedDatabaseQuery._do_dict_query (#10629)
  src/backend/common/queries/database_query.py
  src/backend/common/queries/district_query.py
  src/backend/common/queries/event_query.py
  src/backend/common/queries/match_query.py
  src/backend/common/queries/team_query.py
  src/backend/common/queries/tests/database_query_test.py
Due: py3-type, py3-lint, py3-test

[api] Use deterministic MD5 hashing for query versions to avoid Memcache read in save_etag_dependencies (#10628)
  src/backend/api/handlers/helpers/etag_helper.py
  src/backend/api/handlers/tests/test_validate_etag.py
  src/backend/common/queries/database_query.py
Due: py3-type, py3-lint, py3-test

[pwa] Tune App Engine autoscaling to cut P90 SSR latency
  pwa/pwa-preview.yaml
  pwa/pwa.yaml
Due: none

[pwa] Dramatically cut load times for team robot images
  pwa/app/components/tba/teamMediaGallery.tsx
  pwa/app/components/tba/teamRobotPicsCarousel.tsx
  pwa/app/lib/mediaUtils.test.ts
  pwa/app/lib/mediaUtils.ts
  pwa/tests/carousel.spec.ts
Due: none
