Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # These run on the default stages (pre-commit)
    - id: py3-deps
      name: "[py3] venv Dependencies"
      always_run: true
      language: script
      entry: ./ops/check_venv_deps.sh
      stages: [commit]
    - id: py3-type
      name: "[py3] Type Checking"
      types: [file, python]
      entry: ./ops/typecheck_py3.sh
      language: script
      stages: [commit]
    - id: py3-lint
      name: "[py3] Formatting & Linting"
      types: [file, python]
      entry: ./ops/lint_py3.sh --fix
      language: script
      stages: [commit]
    - id: py3-test
      name: "[py3] Testing"
      types: [file, python]
      entry: ./ops/test_py3.sh --relevant
      language: script
      stages: [commit]
    - id: node-lint
      name: "[node] Formatting & Linting"
      types: [file, javascript]
      entry: ./ops/lint_node.sh --fix
      language: script
      stages: [commit]
    - id: node-test
      name: "[node] Testing"
      types: [file, javascript]
      entry: ./ops/test_node.sh
      language: script
      stages: [commit]
    - id: bash-lint
      name: "[bash] Formatting & Linting"
      types: [file, shell]
      entry: ./ops/lint_bash.sh
      language: script
      stages: [commit]


    # These run as post-checkout
    - id: py3-deps
      name: "[py3] Updating dependencies"
      entry: ./ops/update_venv_deps.sh
      language: script
      always_run: true
      stages: [post-checkout]

Fix null links handling
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2023.html
Due: none

Fix null links handling (#5552)
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2023.html
Due: none

More null links handling
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2023.html
Due: none

More null links handling (#5553)
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2023.html
Due: none

add most matches played per year insight
  src/backend/common/helpers/insights_helper.py
  src/backend/common/models/insight.py
  src/backend/web/templates/insights_details.html
Due: py3-type, py3-lint, py3-test

Fix type hinting issue with re-used variable names
  src/backend/common/helpers/insights_helper.py
Due: py3-type, py3-lint, py3-test

Rename most matches insight
  src/backend/common/helpers/insights_helper.py
  src/backend/common/models/insight.py
  src/backend/web/templates/insights_details.html
Due: py3-type, py3-lint, py3-test

Allow "B" teams in json awards parser
  src/backend/api/api_trusted_parsers/json_awards_parser.py
Due: py3-type, py3-lint, py3-test

Update json_awards_parser.py
  src/backend/api/api_trusted_parsers/json_awards_parser.py
Due: py3-type, py3-lint, py3-test

Allow "B" teams in json awards parser (#5574)
  src/backend/api/api_trusted_parsers/json_awards_parser.py
Due: py3-type, py3-lint, py3-test

Fix null case handling in json event info parser
  src/backend/api/api_trusted_parsers/json_event_info_parser.py
Due: py3-type, py3-lint, py3-test

Fix null case handling in json event info parser (#5575)
  src/backend/api/api_trusted_parsers/json_event_info_parser.py
Due: py3-type, py3-lint, py3-test

Don't auto union event info in trusted api
  src/backend/api/handlers/trusted.py
Due: py3-type, py3-lint, py3-test

Don't auto union event info in trusted api (#5576)
  src/backend/api/handlers/trusted.py
Due: py3-type, py3-lint, py3-test

Fix dropdowns not displaying selected value in eventwizard2
  src/frontend/eventwizard/components/EventSelector.js
  src/frontend/eventwizard/components/infoTab/EventInfoTab.js
  src/frontend/eventwizard/components/infoTab/PlayoffTypeDropdown.js
Due: node-lint, node-test

Fix dropdowns not displaying selected value in eventwizard2 (#5577)
  src/frontend/eventwizard/components/EventSelector.js
  src/frontend/eventwizard/components/infoTab/EventInfoTab.js
  src/frontend/eventwizard/components/infoTab/PlayoffTypeDropdown.js
Due: node-lint, node-test

Add most matches played per year insight (#5564)
  src/backend/common/helpers/insights_helper.py
  src/backend/common/models/insight.py
  src/backend/web/templates/insights_details.html
Due: py3-type, py3-lint, py3-test

Update index_kickoff.html
  src/backend/web/templates/index/index_kickoff.html
Due: none

fix errors
  src/backend/common/helpers/district_helper.py
  src/backend/common/helpers/mytba.py
  src/backend/common/helpers/playoff_advancement_helper.py
  src/backend/common/tests/middleware_test.py
Due: py3-type, py3-lint, py3-test

fix errors
  src/backend/common/tests/middleware_test.py
Due: py3-type, py3-lint, py3-test

fix errors
  .pyre_configuration
  src/backend/api/api_trusted_parsers/json_awards_parser.py
  src/backend/api/handlers/helpers/add_alliance_status.py
  src/backend/common/helpers/prediction_helper.py
  src/backend/common/models/account.py
  src/backend/common/models/award.py
  src/backend/common/models/event.py
  src/backend/common/models/event_details.py
  src/backend/common/models/event_predictions.py
  src/backend/common/models/event_team.py
  src/backend/common/models/match.py
  src/backend/common/models/media.py
  src/backend/common/models/mytba.py
  src/backend/common/models/subscription.py
  src/backend/common/models/user.py
  src/backend/common/suggestions/suggestion_creator.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_root_parser.py
  src/backend/tasks_io/handlers/frc_api.py
Due: py3-type, py3-lint, py3-test

MatchHelper.add_match_times: use specified weekdays to disambiguate dates, if present (#5417)
  src/backend/common/helpers/match_helper.py
  src/backend/common/helpers/tests/data/2023mibb_matches_quals.csv
  src/backend/common/helpers/tests/data/2023mirr_matches_quals.csv
  src/backend/common/helpers/tests/data/usfirst_event_matches_2012ct.csv
  src/backend/common/helpers/tests/data/usfirst_event_matches_2013cama.csv
  src/backend/common/helpers/tests/match_helper_test.py
Due: py3-type, py3-lint, py3-test

Update to python 3.12
  .github/workflows/comment_screenshots_on_pr.yml
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  docs/Setup/Repo-Setup.md
  ops/dev/docker/Dockerfile
  src/api.yaml
  src/default.yaml
  src/tasks_cpu.yaml
  src/tasks_io.yaml
  src/web.yaml
Due: none

Update App Engine Runtime to 1.1.5
  src/requirements.txt
Due: none

Update App Engine Runtime to 1.1.5 (#5651)
  src/requirements.txt
Due: none

Update to python 3.12
  .github/workflows/comment_screenshots_on_pr.yml
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  docs/Setup/Repo-Setup.md
  ops/dev/docker/Dockerfile
  ops/dev/vagrant/bootstrap-dev-container.sh
  src/api.yaml
  src/default.yaml
  src/tasks_cpu.yaml
  src/tasks_io.yaml
  src/web.yaml
Due: none

test fixes
  src/backend/common/deferred/tests/defer_handler_test.py
  src/backend/common/storage/clients/tests/gcloud_client_test.py
  src/backend/tasks_io/handlers/tests/eventteam_update_test.py
  src/backend/tasks_io/handlers/tests/tasks_test.py
Due: py3-type, py3-lint, py3-test

Update to python 3.12 (#5650)
  .github/workflows/comment_screenshots_on_pr.yml
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  docs/Setup/Repo-Setup.md
  ops/dev/docker/Dockerfile
  ops/dev/vagrant/bootstrap-dev-container.sh
  src/api.yaml
  src/backend/common/deferred/tests/defer_handler_test.py
  src/backend/common/storage/clients/tests/gcloud_client_test.py
  src/backend/tasks_io/handlers/tests/eventteam_update_test.py
  src/backend/tasks_io/handlers/tests/tasks_test.py
  src/default.yaml
  src/tasks_cpu.yaml
  src/tasks_io.yaml
  src/web.yaml
Due: py3-type, py3-lint, py3-test

[wip] fail pytest on warnings
  pytest.ini
  src/backend/api/main.py
  src/backend/common/environment/environment.py
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/middleware.py
  src/backend/common/run_after_response.py
  src/backend/common/tests/fixture_loader.py
  src/backend/common/tests/google_analytics_test.py
  src/backend/conftest.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/test_fms_api_match_tiebreaker.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_event_matches_test.py
  src/backend/tasks_io/handlers/tests/district_rankings_calc_test.py
  src/backend/tasks_io/handlers/tests/frc_api_event_details_test.py
  src/backend/tasks_io/handlers/tests/frc_api_event_list_test.py
  src/backend/tasks_io/handlers/tests/frc_api_event_matches_test.py
  src/backend/tasks_io/handlers/tests/frc_api_teams_test.py
Due: py3-type, py3-lint, py3-test

fail pytest on warnings (#5257)
  pytest.ini
  src/backend/api/main.py
  src/backend/common/environment/environment.py
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/helpers/tests/tbans_helper_test.py
  src/backend/common/middleware.py
  src/backend/common/run_after_response.py
  src/backend/common/tests/fixture_loader.py
  src/backend/common/tests/google_analytics_test.py
  src/backend/conftest.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_match_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/test_fms_api_match_tiebreaker.py
  src/backend/tasks_io/datafeeds/tests/datafeed_fms_api_event_matches_test.py
  src/backend/tasks_io/handlers/tests/district_rankings_calc_test.py
  src/backend/tasks_io/handlers/tests/frc_api_event_details_test.py
  src/backend/tasks_io/handlers/tests/frc_api_event_list_test.py
  src/backend/tasks_io/handlers/tests/frc_api_event_matches_test.py
  src/backend/tasks_io/handlers/tests/frc_api_teams_test.py
Due: py3-type, py3-lint, py3-test

Add simple donate page
  src/backend/web/handlers/static.py
  src/backend/web/main.py
  src/backend/web/templates/about.html
  src/backend/web/templates/base.html
  src/backend/web/templates/donate.html
  src/backend/web/templates/index_partials/index_lhc.html
  src/backend/web/templates/index_partials/index_lhc_offseason.html
Due: py3-type, py3-lint, py3-test

Add Donate Page & Links (#5654)
  src/backend/web/handlers/static.py
  src/backend/web/main.py
  src/backend/web/templates/about.html
  src/backend/web/templates/base.html
  src/backend/web/templates/donate.html
  src/backend/web/templates/index_partials/index_lhc.html
  src/backend/web/templates/index_partials/index_lhc_offseason.html
Due: py3-type, py3-lint, py3-test

Add more profiling spans
  src/backend/common/frc_api/frc_api.py
  src/backend/common/queries/database_query.py
  src/backend/tasks_io/datafeeds/datafeed_fms_api.py
Due: py3-type, py3-lint, py3-test

Add additional profiling spans for external requests (#5655)
  src/backend/common/frc_api/frc_api.py
  src/backend/common/queries/database_query.py
  src/backend/tasks_io/datafeeds/datafeed_fms_api.py
Due: py3-type, py3-lint, py3-test

Edit mytba team
  src/backend/web/handlers/account.py
Due: py3-type, py3-lint, py3-test

Edit mytba event
  src/backend/web/handlers/account.py
Due: py3-type, py3-lint, py3-test

Lint
  src/backend/web/handlers/account.py
Due: py3-type, py3-lint, py3-test

Delete py2 code reference
  src/backend/web/handlers/account.py
Due: py3-type, py3-lint, py3-test

Typefixes
  src/backend/web/handlers/account.py
Due: py3-type, py3-lint, py3-test
