Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

Fix type check error code and regenerate PWA API with correct package version
  pwa/app/api/tba/mobile/client/client.gen.ts
  pwa/app/api/tba/mobile/client/types.gen.ts
  pwa/app/api/tba/mobile/core/bodySerializer.gen.ts
  pwa/app/api/tba/mobile/core/params.gen.ts
  pwa/app/api/tba/read/client/client.gen.ts
  pwa/app/api/tba/read/client/types.gen.ts
  pwa/app/api/tba/read/core/bodySerializer.gen.ts
  pwa/app/api/tba/read/core/params.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/api/handlers/team.py
Due: py3-type, py3-lint, py3-test

more cleanup
  src/backend/common/suggestions/tests/suggestion_creator_test.py
  src/backend/tasks_io/datafeeds/datafeed_youtube.py
  src/backend/tasks_io/helpers/youtube_helper.py
Due: py3-type, py3-lint, py3-test

Add pit_location to EventTeam status API endpoints (#9366)
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/api/handlers/event.py
  src/backend/api/handlers/team.py
  src/backend/api/handlers/tests/event_test.py
  src/backend/api/handlers/tests/team_test.py
  src/backend/web/local/bootstrap.py
  src/backend/web/local/dev_tools.py
  src/backend/web/local/tests/bootstrap_test.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Only enqueue webcast fetch tasks for active events with unplayed matches today (#9367)
  src/backend/tasks_io/handlers/live_events.py
  src/backend/tasks_io/handlers/tests/live_events_test.py
Due: py3-type, py3-lint, py3-test

move twitch token fetching to datafeed pattern
  src/backend/tasks_io/datafeeds/datafeed_twitch.py
  src/backend/tasks_io/helpers/webcast_online_helper.py
Due: py3-type, py3-lint, py3-test

Show running commit SHA on admin page
  .gitignore
  ops/deploy/deploy_module.sh
  src/backend/common/environment/environment.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/templates/admin/index.html
Due: py3-type, py3-lint, py3-test

Show commit shortlog alongside SHA on admin page
  ops/deploy/deploy_module.sh
  src/backend/common/environment/environment.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/templates/admin/index.html
Due: py3-type, py3-lint, py3-test

Handle packed-refs fallback for git SHA resolution
  src/backend/common/environment/environment.py
Due: py3-type, py3-lint, py3-test

Simplify git HEAD reading and fix packed-refs matching
  src/backend/common/environment/environment.py
Due: py3-type, py3-lint, py3-test

Fix bash lint: remove space before redirect
  ops/deploy/deploy_module.sh
Due: none

Fix flaky Ops Fullstack Test timeout by pre-pulling Docker image
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  ops/tests/fms_companion_import.test.js
Due: node-lint, node-test

move twitch token fetching to datafeed pattern (#9369)
  src/backend/tasks_io/datafeeds/datafeed_twitch.py
  src/backend/tasks_io/helpers/webcast_online_helper.py
Due: py3-type, py3-lint, py3-test

Show running commit SHA on admin page (#9370)
  .gitignore
  ops/deploy/deploy_module.sh
  src/backend/common/environment/environment.py
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/templates/admin/index.html
Due: py3-type, py3-lint, py3-test

Add "Update Date" button for YouTube webcasts in admin event panel (#9368)
  src/backend/web/handlers/admin/blueprint.py
  src/backend/web/handlers/admin/event.py
  src/backend/web/handlers/admin/tests/event_test.py
  src/backend/web/templates/admin/event_details.html
Due: py3-type, py3-lint, py3-test

Fetch pit locations from TBA API during local bootstrap
  src/backend/web/local/bootstrap.py
  src/backend/web/local/tests/bootstrap_test.py
Due: py3-type, py3-lint, py3-test

Simplify: drop EventTeamPitLocation import, use plain string param and dict literal
  src/backend/web/local/bootstrap.py
Due: py3-type, py3-lint, py3-test

Remove redundant cast to fix pyre type check error
  src/backend/web/local/bootstrap.py
Due: py3-type, py3-lint, py3-test

Simplify pit location extraction to inline lookup
  src/backend/web/local/bootstrap.py
Due: py3-type, py3-lint, py3-test

Simplify test: use empty statuses mock, restore original eventteam assertions
  src/backend/web/local/tests/bootstrap_test.py
Due: py3-type, py3-lint, py3-test

Match mock pattern: no optional param, just hardcode empty dict
  src/backend/web/local/tests/bootstrap_test.py
Due: py3-type, py3-lint, py3-test

Remove duplicate pit location code from rebase merge
  src/backend/web/local/bootstrap.py
  src/backend/web/local/tests/bootstrap_test.py
Due: py3-type, py3-lint, py3-test

Add pit locations column to PWA event Teams tab
  pwa/app/routes/event.$eventKey.tsx
Due: none

[pwa] fix wisconsin eventlist color
  pwa/app/components/tba/eventListTable.tsx
Due: none

[pwa] fix 'Watch Now' button being active after the event has ended
  pwa/app/lib/eventUtils.test.ts
  pwa/app/lib/eventUtils.ts
Due: none

Extract PitLocationLink component per review feedback
  pwa/app/components/tba/links.tsx
  pwa/app/routes/event.$eventKey.tsx
Due: none

[pwa] fix wisconsin eventlist color (#9382)
  pwa/app/components/tba/eventListTable.tsx
Due: none

PWA: Add pit locations to Teams tab (#9381)
  pwa/app/components/tba/links.tsx
  pwa/app/routes/event.$eventKey.tsx
Due: none

[pwa] Add Google/Apple calendar event links
  pwa/app/components/tba/addToCalendarLinks.tsx
  pwa/app/components/tba/teamEventAppearance.tsx
  pwa/app/lib/eventUtils.test.ts
  pwa/app/lib/eventUtils.ts
  pwa/app/routes/event.$eventKey.tsx
  pwa/package.json
  pwa/pnpm-lock.yaml
Due: none

[PWA] Enable e2e playwright tests
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  pwa/README.md
  pwa/app/components/tba/navigation/footer.tsx
  pwa/app/components/tba/tableOfContents.tsx
  pwa/app/routes/__root.tsx
  pwa/package.json
  pwa/playwright.config.ts
  pwa/tests/index.spec.ts
  pwa/tests/routes.spec.ts
  pwa/tests/team.spec.ts
Due: none

[pwa] Fix timezone inconsistencies
  pwa/app/components/tba/match/matchDetails.tsx
  pwa/app/components/tba/match/matchRows.tsx
  pwa/app/lib/eventUtils.test.ts
  pwa/app/lib/eventUtils.ts
  pwa/app/routes/webcasts.tsx
  pwa/package.json
  pwa/pnpm-lock.yaml
Due: none

WIP on better awards setup
  pwa/app/routes/district.$districtAbbreviation.stats.tsx
Due: none

Add tooltips for awards
  pwa/app/routes/district.$districtAbbreviation.stats.tsx
Due: none

Better sorting, better splitting
  pwa/app/routes/district.$districtAbbreviation.stats.tsx
Due: none

Remove dupe awards
  pwa/app/routes/district.$districtAbbreviation.stats.tsx
Due: none

Remove dupe "District Championship" text in name
  pwa/app/routes/district.$districtAbbreviation.stats.tsx
Due: none

Add more tooltips
  pwa/app/routes/district.$districtAbbreviation.stats.tsx
Due: none

Cleanup old, unused vars
  pwa/app/routes/district.$districtAbbreviation.stats.tsx
Due: none

Hide RP fields from match breakdown display for playoff matches (#9362)
  src/backend/web/templates/match_partials/match_breakdown/match_breakdown_2026.html
Due: none

Fix district championship count being wrong in district insights
  src/backend/common/helpers/insights_districts_helper.py
  src/backend/common/helpers/tests/insights_districts_helper_test.py
  src/backend/common/queries/event_query.py
  src/backend/common/queries/tests/district_cmp_divisions_in_year_query_test.py
Due: py3-type, py3-lint, py3-test

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
