Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

Add PR description parsing for extra screenshot pages
  .github/workflows/pwa_screenshots.yml
  ops/pwa/take-screenshots.mjs
  pwa/AGENTS.md
  pwa/README.md
Due: node-lint, node-test

Fix PR description parsing to skip fenced code blocks
  .github/workflows/pwa_screenshots.yml
Due: none

Fix Prettier formatting and add Screenshot Pages to PR template
  .github/PULL_REQUEST_TEMPLATE.md
  pwa/AGENTS.md
  pwa/README.md
Due: none

PWA: Add screenshot comparison workflow for PRs (#9070)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pwa_screenshots.yml
  ops/pwa/generate-screenshot-comment.mjs
  ops/pwa/take-screenshots.mjs
  pwa/AGENTS.md
  pwa/README.md
  pwa/app/components/tba/doubleElim4TeamBracket.tsx
  pwa/app/routes/event.$eventKey.tsx
Due: node-lint, node-test

chore: trigger screenshot workflow
  pwa/app/routes/hall-of-fame.tsx
Due: none

Link FIRST Sync Code to frc-events on offseason review page
  src/backend/web/templates/event_partials/suggest_event_info.html
Due: none

Link FIRST Sync Code to frc-events on offseason review page (#9095)
  src/backend/web/templates/event_partials/suggest_event_info.html
Due: none

Only screenshot pages specified in PR description
  .github/workflows/pwa_screenshots.yml
  ops/pwa/take-screenshots.mjs
  pwa/AGENTS.md
  pwa/README.md
Due: node-lint, node-test

PWA screenshots: opt-in only, no default pages (#9096)
  .github/workflows/pwa_screenshots.yml
  ops/pwa/take-screenshots.mjs
  pwa/AGENTS.md
  pwa/README.md
Due: node-lint, node-test

chore: trigger CI for screenshot workflow
  pwa/app/components/tba/traditionalBracket.tsx
Due: none

Clarify auth error message when all_official_events is set (#9076)
  src/backend/api/handlers/tests/trustedapi_auth_test.py
  src/backend/api/trusted_api_auth_helper.py
Due: py3-type, py3-lint, py3-test

Add blue banners to Hall of Fame page
  pwa/app/routes/hall-of-fame.tsx
Due: none

Add avatar to seed_test_team bootstrap
  src/backend/web/local/dev_tools.py
  src/backend/web/local/test_data/reindeer_avatar.png
Due: py3-type, py3-lint, py3-test

Add avatar to seed_test_team bootstrap (#9097)
  src/backend/web/local/dev_tools.py
  src/backend/web/local/test_data/reindeer_avatar.png
Due: py3-type, py3-lint, py3-test

Fix order of red/blue teams in scouting csv export (#9073)
  src/backend/web/handlers/event.py
Due: py3-type, py3-lint, py3-test

Add Android Digital Asset Links for deep linking
  src/backend/web/static/well-known/assetlinks.json
Due: none

better integration with cloud logging
  src/backend/common/logging.py
  src/backend/common/tests/logging_test.py
Due: py3-type, py3-lint, py3-test

Support Custom Request-Level Properties Passed to Google Cloud Logging (#9077)
  .gitignore
  src/backend/common/logging.py
  src/backend/common/middleware.py
  src/backend/common/tests/logging_test.py
  src/backend/common/tests/middleware_test.py
Due: py3-type, py3-lint, py3-test

raise jest timeout
  ops/tests/client_api_fullstack.test.js
  ops/tests/fullstack.test.js
Due: node-lint, node-test

raise jest timeout (#9099)
  ops/tests/client_api_fullstack.test.js
  ops/tests/fullstack.test.js
Due: node-lint, node-test

fix structured google cloud logging
  src/backend/common/logging.py
  src/backend/common/tests/logging_test.py
Due: py3-type, py3-lint, py3-test

fix structured google cloud logging (#9100)
  src/backend/common/logging.py
  src/backend/common/tests/logging_test.py
Due: py3-type, py3-lint, py3-test

Add API key to logging metadata
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/auth_logging_test.py
  src/backend/api/trusted_api_auth_helper.py
Due: py3-type, py3-lint, py3-test

Add link to GCP console for an API key
  src/backend/web/handlers/admin/api_auth.py
  src/backend/web/templates/admin/api_manage_auth.html
  src/backend/web/templates/admin/partials/api_write_table.html
Due: py3-type, py3-lint, py3-test

Add API Auth Key IDs to logging context (#9101)
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/auth_logging_test.py
  src/backend/api/trusted_api_auth_helper.py
  src/backend/web/handlers/admin/api_auth.py
  src/backend/web/templates/admin/api_manage_auth.html
  src/backend/web/templates/admin/partials/api_write_table.html
Due: py3-type, py3-lint, py3-test

Update PWA logs to use GCP-compatible format in prod
  pwa/app/lib/utils.tsx
  pwa/package-lock.json
Due: none

Update PWA logs to use GCP-compatible format in prod (#9102)
  pwa/app/lib/utils.tsx
  pwa/package-lock.json
Due: none

rm rogue package lock
  pwa/package-lock.json
Due: none

rm rogue package lock (#9103)
  pwa/package-lock.json
Due: none

Frequently Asked Questions Page
  src/backend/web/handlers/static.py
  src/backend/web/main.py
  src/backend/web/templates/faq.html
  src/backend/web/templates/index_partials/index_lhc.html
  src/backend/web/templates/index_partials/index_lhc_offseason.html
Due: py3-type, py3-lint, py3-test

Fix linting issues
  src/backend/web/main.py
Due: py3-type, py3-lint, py3-test

Add Android Digital Asset Links for deep linking (#9098)
  src/backend/web/static/well-known/assetlinks.json
Due: none

Support renaming of Dean's list
  src/backend/common/consts/award_matching_strings.py
  src/backend/common/consts/award_type.py
  src/backend/common/helpers/tests/award_helper_test.py
  src/backend/common/models/award.py
  src/backend/common/models/tests/award_test.py
Due: py3-type, py3-lint, py3-test

Add trace points to api auth
  docs/Developing/Query-API-Auth-Logs.md
  src/backend/api/handlers/decorators.py
  src/backend/common/profiler.py
Due: py3-type, py3-lint, py3-test

Add trace points to api auth (#9123)
  docs/Developing/Query-API-Auth-Logs.md
  src/backend/api/handlers/decorators.py
  src/backend/common/profiler.py
Due: py3-type, py3-lint, py3-test

fix: remove trigger comment and fix prettier formatting
  pwa/app/components/tba/traditionalBracket.tsx
Due: none

Update frc api types
  src/backend/common/frc_api/types.py
Due: py3-type, py3-lint, py3-test

Update frc api types (#9125)
  src/backend/common/frc_api/types.py
Due: py3-type, py3-lint, py3-test

Support rich webcast details from frc-api
  src/backend/common/frc_api/frc_api.py
  src/backend/common/frc_api/tests/frcapi_test.py
  src/backend/common/helpers/tests/webcast_helper_test.py
  src/backend/common/helpers/webcast_helper.py
  src/backend/tasks_io/datafeeds/datafeed_fms_api.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/fms_api_event_list_parser.py
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/data/2025nyny_v33.json
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/data/2026week0.json
  src/backend/tasks_io/datafeeds/parsers/fms_api/tests/fms_api_event_list_parser_test.py
  uv.lock
Due: py3-type, py3-lint, py3-test

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
