Repository the-blue-alliance/the-blue-alliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: py3-type, py3-lint, py3-test, node-lint, node-test

py3-type:
  name: '[py3] Type Checking'
  entry: ./ops/typecheck_py3.sh
  language: script
  stages:
  - pre-commit

py3-lint:
  name: '[py3] Formatting & Linting'
  entry: ./ops/lint_py3.sh --fix
  language: script
  stages:
  - pre-commit

py3-test:
  name: '[py3] Testing'
  entry: ./ops/test_py3.sh --relevant
  language: script
  stages:
  - pre-commit

node-lint:
  name: '[node] Formatting & Linting'
  entry: ./ops/lint_node.sh --fix
  language: script
  stages:
  - pre-commit

node-test:
  name: '[node] Testing'
  entry: ./ops/test_node.sh
  language: script
  stages:
  - pre-commit

[pwa] Bump pnpm
  pwa/mise.lock
  pwa/mise.toml
  pwa/package.json
  pwa/pnpm-lock.yaml
Due: none

[pwa] Bump pnpm (#10576)
  pwa/mise.lock
  pwa/mise.toml
  pwa/package.json
  pwa/pnpm-lock.yaml
Due: none

[pwa] Right/left align einstein and hide rankings tab
  pwa/app/routes/event.$eventKey.tsx
Due: none

[pwa] Right/left align einstein and hide rankings tab (#10579)
  pwa/app/routes/event.$eventKey.tsx
Due: none

[pwa] Add round robin rankings/advancement
  pwa/app/api/tba/read/@tanstack/react-query.gen.ts
  pwa/app/api/tba/read/index.ts
  pwa/app/api/tba/read/sdk.gen.ts
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  pwa/app/components/tba/roundRobinRankingsTable.tsx
  pwa/app/lib/api/PlayoffType.ts
  pwa/app/routes/event.$eventKey.tsx
  pwa/tests/round-robin-rankings.spec.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

[pwa] Add round robin rankings/advancement (#10581)
  pwa/app/api/tba/read/@tanstack/react-query.gen.ts
  pwa/app/api/tba/read/index.ts
  pwa/app/api/tba/read/sdk.gen.ts
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  pwa/app/components/tba/roundRobinRankingsTable.tsx
  pwa/app/lib/api/PlayoffType.ts
  pwa/app/routes/event.$eventKey.tsx
  pwa/tests/round-robin-rankings.spec.ts
  src/backend/web/static/swagger/api_v3.json
Due: none

[pwa] Revert pnpm bump to 12.3.4 (GAE buildpack incompatible)
  pwa/mise.lock
  pwa/mise.toml
  pwa/package.json
  pwa/pnpm-lock.yaml
Due: none

[pwa] Revert pnpm 12.3.4 bump — breaks GAE deploy (#10582)
  pwa/mise.lock
  pwa/mise.toml
  pwa/package.json
  pwa/pnpm-lock.yaml
Due: none

Fix data oddity with onshape model_created timestamps
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/common/queries/dict_converters/media_converter.py
  src/backend/common/queries/dict_converters/tests/media_converter_test.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

Fix data oddity with onshape model_created timestamps (#10583)
  pwa/app/api/tba/read/types.gen.ts
  pwa/app/api/tba/read/zod.gen.ts
  src/backend/common/queries/dict_converters/media_converter.py
  src/backend/common/queries/dict_converters/tests/media_converter_test.py
  src/backend/web/static/swagger/api_v3.json
Due: py3-type, py3-lint, py3-test

[api] Optimize coldstart startup time and add benchmarking tool
  Makefile
  ops/benchmark_coldstart.py
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/eventwizard_internal.py
  src/backend/common/auth.py
  src/backend/common/cloudrun/__init__.py
  src/backend/common/firebase.py
  src/backend/common/helpers/firebase_pusher.py
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/models/notifications/requests/fcm_request.py
  src/backend/common/profiler.py
Due: py3-type, py3-lint, py3-test

[api] Optimize coldstart startup time and add benchmarking tool (#10584)
  Makefile
  ops/benchmark_coldstart.py
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/eventwizard_internal.py
  src/backend/common/auth.py
  src/backend/common/cloudrun/__init__.py
  src/backend/common/firebase.py
  src/backend/common/helpers/firebase_pusher.py
  src/backend/common/helpers/tbans_helper.py
  src/backend/common/models/notifications/requests/fcm_request.py
  src/backend/common/profiler.py
Due: py3-type, py3-lint, py3-test

[api] Ensure 404 responses return 404 instead of 304 on matching ETag
  src/backend/api/handlers/tests/decorator_order_test.py
  src/backend/common/decorators.py
  src/backend/common/tests/decorator_test.py
Due: py3-type, py3-lint, py3-test

[api] Ensure 404 responses return 404 instead of 304 on matching ETag (#10585)
  src/backend/api/handlers/tests/decorator_order_test.py
  src/backend/common/decorators.py
  src/backend/common/tests/decorator_test.py
Due: py3-type, py3-lint, py3-test

[api] Add thread-safe in-memory cache for API key authentication
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/apiv3_auth_test.py
  src/backend/common/cache/instance_cache.py
  src/backend/common/cache/tests/instance_cache_test.py
  src/backend/conftest.py
Due: py3-type, py3-lint, py3-test

[api] Add positive and negative in-memory key existence caching in validate_keys
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/apiv3_auth_test.py
  src/backend/api/handlers/tests/test_validate_etag.py
  src/backend/conftest.py
Due: py3-type, py3-lint, py3-test

[api] Add in-memory L1 304 short-circuit cache in validate_etag
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/test_validate_etag.py
  src/backend/conftest.py
Due: py3-type, py3-lint, py3-test

[api] Add positive and negative in-memory key existence caching in validate_keys (#10587)
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/apiv3_auth_test.py
  src/backend/api/handlers/tests/test_validate_etag.py
  src/backend/conftest.py
Due: py3-type, py3-lint, py3-test

[api] Add in-memory cache for API key authentication (#10586)
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/apiv3_auth_test.py
  src/backend/common/cache/instance_cache.py
  src/backend/common/cache/tests/instance_cache_test.py
  src/backend/conftest.py
Due: py3-type, py3-lint, py3-test

[api] Add in-memory L1 304 short-circuit cache in validate_etag (#10589)
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/tests/test_validate_etag.py
  src/backend/conftest.py
Due: py3-type, py3-lint, py3-test

Swap match suggestions from opr to smart predictions
  src/backend/common/helpers/match_suggestion_helper.py
  src/backend/common/helpers/tests/match_suggestion_helper_test.py
Due: py3-type, py3-lint, py3-test

Swap match suggestions from opr to smart predictions (#10595)
  src/backend/common/helpers/match_suggestion_helper.py
  src/backend/common/helpers/tests/match_suggestion_helper_test.py
Due: py3-type, py3-lint, py3-test

Mint API keys and trusted-API secrets with the secrets module
  src/backend/common/models/api_auth_access.py
  src/backend/common/models/tests/api_auth_access_test.py
  src/backend/common/models/user.py
  src/backend/common/suggestions/suggestion_reviewer.py
  src/backend/web/handlers/admin/api_auth.py
  src/backend/web/handlers/suggestions/suggest_apiwrite_review_controller.py
Due: py3-type, py3-lint, py3-test

Add Subresource Integrity to every pinned CDN script and stylesheet
  src/backend/tasks_io/templates/datafeeds/base.html
  src/backend/web/templates/account_login_required.html
  src/backend/web/templates/admin/base.html
  src/backend/web/templates/apiwrite.html
  src/backend/web/templates/base.html
  src/backend/web/templates/event_insights.html
  src/backend/web/templates/eventwizard.html
  src/backend/web/templates/gameday2.html
  src/backend/web/templates/match_details.html
  src/backend/web/templates/match_suggestion.html
  src/backend/web/templates/match_timeseries.html
  sri_current.txt
Due: none

[ci] Add Docker layer caching to Ops Fullstack Test via docker/bake-action
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  docker-compose.ci.yml
Due: none

Upgrade the public site to jQuery 3.7.1 and Bootstrap 3.4.1; drop unused fancybox
  src/backend/web/static/css/precompiled_css/jquery.fancybox.css
  src/backend/web/static/images/icons/fancybox_loading.gif
  src/backend/web/static/images/icons/fancybox_sprite.png
  src/backend/web/static/javascript/tba_js/tba.js
  src/backend/web/templates/base.html
  webpack.config.js
Due: node-lint, node-test

Upgrade admin and tasks-service pages to jQuery 3.7.1 and Bootstrap 3.4.1
  src/backend/tasks_io/templates/datafeeds/base.html
  src/backend/web/templates/admin/base.html
Due: none

Upgrade the Firebase web SDK from 8.10.0 to the 10.14.1 compat build
  src/backend/web/templates/account_login_required.html
  src/backend/web/templates/base.html
Due: none

Fix firebaseDatabaseEmulatorHost ReferenceError on every prod login page
  ops/build/run_buildweb.sh
  src/backend/web/static/javascript/tba_js/tba_firebase.js
Due: node-lint, node-test

[ci] Optimize Ops Fullstack Test startup and pre-pulling
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  docker-compose.ci.yml
  ops/dev/webpack/entrypoint.sh
  ops/test_docker_startup.py
Due: py3-type, py3-lint, py3-test

[common] Add span hierarchy, log correlation, and domain labels to Cloud Trace
  src/backend/api/handlers/decorators.py
  src/backend/api/handlers/helpers/profiled_jsonify.py
  src/backend/common/logging.py
  src/backend/common/middleware.py
  src/backend/common/profiler.py
  src/backend/common/queries/database_query.py
  src/backend/common/tests/logging_test.py
  src/backend/common/tests/profiler_test.py
  src/backend/web/profiled_render.py
Due: py3-type, py3-lint, py3-test

[ci] Add Docker layer caching to Ops Fullstack Test (#10598)
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  docker-compose.ci.yml
  ops/dev/webpack/entrypoint.sh
  ops/test_docker_startup.py
Due: py3-type, py3-lint, py3-test

Support span hierarchy and nesting in profiler
  src/backend/common/profiler.py
  src/backend/common/tests/profiler_test.py
Due: py3-type, py3-lint, py3-test

Support span hierarchy and nesting in profiler (#10604)
  src/backend/common/profiler.py
  src/backend/common/tests/profiler_test.py
Due: py3-type, py3-lint, py3-test

[models] Hardcode season first event start dates and fix falsy week check
  pytest.ini
  src/backend/common/helpers/season_helper.py
  src/backend/common/helpers/tests/season_helper_test.py
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
  src/backend/conftest.py
Due: py3-type, py3-lint, py3-test

[common] Enable bi-directional Cloud Trace log correlation
  src/backend/common/logging.py
  src/backend/common/tests/logging_test.py
Due: py3-type, py3-lint, py3-test

[models] Hardcode season first event start dates and fix falsy week check (#10606)
  pytest.ini
  src/backend/common/helpers/season_helper.py
  src/backend/common/helpers/tests/season_helper_test.py
  src/backend/common/models/event.py
  src/backend/common/models/tests/event_test.py
  src/backend/conftest.py
Due: py3-type, py3-lint, py3-test

[common] Enable bi-directional Cloud Trace log correlation (#10605)
  src/backend/common/logging.py
  src/backend/common/tests/logging_test.py
Due: py3-type, py3-lint, py3-test

[ci] Optimize Ops Fullstack Test startup and dependencies
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  docker-compose.ci.yml
  ops/dev/scripts/dev_appserver.sh
  ops/dev/webpack/entrypoint.sh
  ops/test_docker_startup.py
  ops/tests/fullstack.test.js
  package.json
Due: py3-type, py3-lint, py3-test, node-lint, node-test

[ci] Further optimize Ops Fullstack Test container startup and screenshots
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  docker-compose.yml
  ops/dev/docker/Dockerfile
  ops/dev/webpack/entrypoint.sh
  ops/pr_screenshots/capture_screenshots.js
  ops/pr_screenshots/capture_screenshots.py
Due: py3-type, py3-lint, py3-test, node-lint, node-test

Path conditions:
  py3-type: any of: \.py$
  py3-lint: any of: \.py$
  py3-test: any of: \.py$
  node-lint: any of: \.(js|mjs|cjs)$
  node-test: any of: \.(js|mjs|cjs)$
